-(linkedscrape)-dealerships-t7eCasOXQ9PlfPvq.json
{"createdAt":"2025-05-19T13:34:38.327Z","updatedAt":"2025-06-18T14:18:18.413Z","id":"t7eCasOXQ9PlfPvq","name":"2.5 | APOLLO // (LinkedScrape) Dealerships","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[520,-4840],"id":"8cfe80a3-fd71-423c-92cd-8686b54da009","name":"When clicking ‘Test workflow’"},{"parameters":{},"id":"05b2ee7d-3cbc-4f45-bfd1-082879c8894b","name":"Remove Duplicate URLs","type":"n8n-nodes-base.removeDuplicates","position":[2520,-1800],"typeVersion":1.1},{"parameters":{"fieldToSplitOut":"links","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2320,-2060],"id":"a4d78ac1-e443-4478-898d-a4d5322a94c0","name":"Split Out","alwaysOutputData":true},{"parameters":{"url":"={{ $('Batch ').item.json.organization_website_url }}{{ $json.cleanLink }}","options":{}},"id":"55a9976d-1882-413d-850b-69a24bcce8a8","name":"Request web page for URL","type":"n8n-nodes-base.httpRequest","position":[1800,-1520],"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"html":"={{ $json.data ? $json.data : \"<div>empty</div>\" }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1980,-1560],"id":"d92b3b27-b7fc-4c95-9983-bd258dcdd3e0","name":"Markdown"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're a helpful, intelligent website scraping assistant.","role":"system"},{"content":"=You're provided a Markdown scrape of a website page. Your task is to provide a two-paragraph abstract of what this page is about.\n\n\n#Output\nReturn in this JSON format:\n\n{\"abstract\":\"your abstract goes here\"}\n\n\n#Rules:\n- Include speficic details about {{ $('newLead').item.json.first_name }} {{ $('newLead').item.json.last_name }}, that could be used personalization to indicate that we know them well.\n- Your extract should be comprehensive—similar level of detail as an abstract to a published paper.\n- Use a straightforward, spartan tone of voice.\n- If it's empty, just say \"no content\"."},{"content":"={{ $json.data }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2220,-1520],"id":"0025dae2-ca04-4b89-84cd-ebdabbb14636","name":"Summarize Website Page","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"message.content.abstract","renameField":true,"outputFieldName":"websiteAbstract"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2580,-1520],"id":"58cf1af6-24bd-4a43-8939-84b84c83e59a","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"eb5ae341-0082-47fc-bebe-1c799770a162","name":"cleanLink","value":"={{ $json.message.content.cleanLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2320,-1800],"id":"6e943c2d-dbb2-457d-acc7-f7efdfd918ff","name":"Edit Fields1"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"links","cssSelector":"a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true,"cleanUpText":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1920,-2060],"id":"bd061553-71d2-4eb6-99dc-b2de90443296","name":"Scrape Links"},{"parameters":{"maxItems":15},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1740,-1800],"id":"b8f98490-bc4f-4509-a29d-6d66e18c7db0","name":"15 Links Only"},{"parameters":{"url":"={{ $('newLead').item.json.organization_website_url }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"1bea7502-cb8b-4520-b7e3-705e0c187b36","name":"Scrape Home1","type":"n8n-nodes-base.httpRequest","position":[1720,-2060],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"40fd7130-c65d-4826-a713-ecca24d23b07","name":"links","value":"={{ $json.links }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2120,-2060],"id":"ead2ef43-3c6a-4413-877d-296735daccb1","name":"Edit Fields2"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are an intelligent and helpful assistant.","role":"system"},{"content":"You're task is to take the links and extract only the relative URL.\n\n#Examples: \n\nInput: https://www.patriotfreightgroup.com/customers/\nOutput: /customers\n\nInput: /\nOutput: /\n\nInput: #content\nOutput: Null\n\nInput: https://www.ebthree.com/signup/enterprise+-101\nOutput: /signup\n\n\n#Rules:\n- Always output in JSON format in this format: \"cleanLink\":\"output\"\n- If input is a single / then output a single /\n- Remove the trailing /\n- Only \"error\" if there are 0 items in the \"success branch\""},{"content":"={{ $json.links }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1940,-1800],"id":"f3313ba1-8a37-4244-90e9-74666eecbdd1","name":"Clean up links","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"Prospect Offer: Update","height":320,"width":300},"type":"n8n-nodes-base.stickyNote","position":[1720,-4520],"typeVersion":1,"id":"44194cf2-0a3b-4f84-bd60-e3c1bffc3ee7","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/VhxlqQXRwhW8H5hNV/runs","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"username\": \"{{ $('newLead').item.json.linkedin_url }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2180,-4420],"id":"93e08fca-e917-407e-9b6c-2d2f4df70a88","name":"Run Apify Actor1","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"waitForFinish","value":"60"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2380,-4420],"id":"26367b3b-9d1b-482c-9dc8-0eba849e3c6b","name":"Get Actor Run1","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2560,-4420],"id":"078c4887-174a-4340-bc39-0a4eb4946eaa","name":"get Dataset1","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1180,-4700],"id":"64e80cc2-964b-4251-a14b-d174ee87bac9","name":"Batch "},{"parameters":{"url":"={{ $('newLead').item.json.organization_linkedin_url }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"fb06cb75-5f79-40fe-9db4-1683df4ed636","name":"Company Linkedin1","type":"n8n-nodes-base.httpRequest","position":[3160,-4420],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"content":"Personal LinkedIn profile","height":320,"width":860,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2100,-4520],"typeVersion":1,"id":"536a7f79-4b8f-4e65-9e53-cb8764c28ddb","name":"Sticky Note2"},{"parameters":{"content":"Company LinkedIn profile","height":320,"width":1140,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3040,-4520],"typeVersion":1,"id":"c063fed5-a481-44cb-b8a0-04a05e88d51d","name":"Sticky Note7"},{"parameters":{"content":"Company website","height":400,"width":1060,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1740,-4100],"typeVersion":1,"id":"35bd2250-3b55-498b-898a-e1fec4cb5954","name":"Sticky Note11"},{"parameters":{"url":"={{ $('newLead').item.json.organization_website_url }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"72ca8ff3-4970-4043-9876-82f3b53260e8","name":"Scrape Home2","type":"n8n-nodes-base.httpRequest","position":[1880,-3980],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're a helpful, intelligent website scraping assistant.","role":"system"},{"content":"=You're provided a scrape of a LinkedIn company page. Your task is to extract the \"About Us\" section and any posts or content from the last 2 weeks.\n\nReturn in this JSON format:\n\n{\"companyLinkedin\":\"about goes here\"}\n{\"recentPost\":\"Posts and content goes here\"}\n\nRules:\n- If either is companyLinkedin or recentPost has no data, then output \"no content\"\n- Include date with and posts or content\n\nLinkedIn Company Page: \n{{ $json.text }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[3540,-4420],"id":"5edd456f-34d2-4f11-b94c-2e663f3b1372","name":"Extract company LinkedIn data1","retryOnFail":true,"credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're a helpful, intelligent website scraping assistant.","role":"system"},{"content":"=You're provided a scrape of a company homepage. Your task is to extract the content in a clear and easy to read format.\n\nGuidelines\n- Remove repetaive content\n- Focus on core sections\n\n\nRules:\n- If empty, just output \"no content\".\n\n\nHomepage Content:\n{{ $json.text }}\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2260,-3980],"id":"07195736-19c1-4f04-a70d-88636ffa3f89","name":"Extract company homepage data1","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"jsCode":"const data = $json.data;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  if (typeof html !== 'string') {\n    return '';\n  }\n  return html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nlet extractedText = extractTextFromHTML(data);\n\n// Limit to 4000 words\nconst words = extractedText.split(' ');\nif (words.length > 4000) {\n  extractedText = words.slice(0, 4000).join(' ');\n}\n\nreturn { text: extractedText };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2060,-3980],"id":"f37e7d51-40d7-4834-b7de-61b6fac0599d","name":"Text extract (<4k words)2","alwaysOutputData":true},{"parameters":{"jsCode":"const data = $json.data;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  if (typeof html !== 'string') {\n    return '';\n  }\n  return html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nlet extractedText = extractTextFromHTML(data);\n\n// Limit to 4000 words\nconst words = extractedText.split(' ');\nif (words.length > 4000) {\n  extractedText = words.slice(0, 4000).join(' ');\n}\n\nreturn { text: extractedText };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3360,-4420],"id":"00231c6b-26ec-4a9e-af1a-370f809ee314","name":"Text extract (<4k words)3","alwaysOutputData":false,"retryOnFail":true},{"parameters":{"content":"Company Website","height":860,"width":1120,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1600,-2180],"typeVersion":1,"id":"717abbec-2f76-4d76-a4eb-ee7e05fec953","name":"Sticky Note12"},{"parameters":{"assignments":{"assignments":[{"id":"7dfc456e-3637-4f12-8d9b-7f7278d4ace1","name":"leadResearch","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3000,-3240],"id":"42f54b3f-30a4-40fe-bea7-2bf63aff8820","name":"leadResearch1"},{"parameters":{"content":"19.00 - 02.00\n75% off R1\n50% off V3","height":100},"type":"n8n-nodes-base.stickyNote","position":[2640,-3360],"typeVersion":1,"id":"f839ff93-7e86-4e09-a676-7e93990c2dd4","name":"Sticky Note13"},{"parameters":{"promptType":"define","text":"=Your task is to support the outbound sales/marketing team by conducting deep-dive research into assigned leads to uncover relevant, timely, and personalized insights that can be used to tailor cold outreach.\n\n\nYour job is to help us personalize each outreach email by finding compelling, relevant details about the dealership or key contact — things that show we've done our homework and understand their business.\n\nThe better your research, the more likely our email is to be opened, read, and taken seriously.\n\n\n\n#Our Offer:\n{{ $json.dealershipOffer }}\n\n\n\n#Workflow\n1. Review lead data sources, including Personal Bio, Company About, Recent Company Posts, Company Homepage and anything else provided.\n\n2. Identify compelling details that show we’ve “done our homework” and will help connect the lead to \"Our Offer\" in a natural way.\n\n3. Provide a highly detailed report in bullet points of the best ways to connect with the lead. It must show that we understand them as a person, the business, and position us as an ally. This may include:\n- Compelling insights\n- Quotes\n- Powerful angles to frame our offer\n- Tap into the lead's pain points\n- Align with their beliefs\n- Do not explicitly reference \"AI\" or \"SMS\", instead refer to it as the offer\n\n4. At the end of the report, include a brief recommendations section to provide nuanced insights from your research. \n\n\n\n\n#Notes:\n- Non-negotiable: Do not use — (em dash)\n- Don't assume the business belongs to the lead (unless their title is \"owner\", or they share the same name as the business, other other clear indication.)\n\n\n\n#Guidelines: \n- Each key insight should be concise and include brief context, details, and why it would be valuable in our outreach.\n- Keep each insight actionable, and relevant. Prioritize recency, relevance, and uniqueness.\n- If/when referencing \"Current experience\" ensure \n that \"Current Experience\":\"True\" (not \"False\")\n (Unless they are the owner, or share the same name as the business)\n- Remain objective and avoid making assumptions (e.g \"lead cuold free up 20+ hours/month\", but no hard evidence to support it)\n- As an industry expert, pick up on details (e.g. Prospects for EVs  often require 2-3x more follow-up due to longer decision cycles about charging infrastructure and new technology)\n\n\n\n#Rules:\n- Include small, non-obvious things to paraphrase. The idea is to make people think we *really* dove deep into their LinkedIn and company, so don't use something obvious.\n- Only include post that are under 4 weeks old from todays date: {{ $now }}\n- Avoid stating if something is \"new\" or \"recent\" unless it is explicitly under 3 months old.\n- Only include info that is genuinely useful for personalizing a message\n- Avoid fluff (e.g. “loves dogs” from LinkedIn bio, unless it's genuinely relevant)\n\n\n\n\n#Output\n- Provide 4-5 insights in a formatted document:\n\n\n#Lead Research: (Lead Name goes here)\n\nInsight {1}: {\"Overview of the insight. Context of why it's important to mention in our outreach. Distilled, accurate and valuable\" goes here}\nRelevance: {\"high - reason why, medium - reason why, low - reason why\" goes here}\nSource: {\"Personal bio, company website, company Linkedin\"}\n\n\n\n\n<examples>\n\n#Relevance examples\nBelow are some examples of how the insights should be ranked for relevance.\n\nHigh Relevance:\n- Promotion/new job (Must be under <3 months to state it's \"new\" or  \"recent\")\n- Launched a new initiative\n- Has the pain points we solve\n- Lead change and adoption of new tech, process, mindset\n- Hiring highly relevant department such as sales, marketing, customer service, etc\n\n\nMedium Relevance:\n- Got award\n- Long time in the job (10+ years)\n- Family owned\n- Based in X location\n- Loves dogs\n- Has a specific hobby\n\n\nLow Relevance:\n- Does team training\n- Good at customer service\n- Hiring in unreleated departments \n\n</examples>\n\n\n\n---------\n\n\n#Lead Data Sources\n\nLead Name: {{ $json.firstName }} {{ $json.lastName }}\n\nLead Title/Position: {{ $json.title }}\n\nLead Headline: {{ $json.headline }}\n\nOrganization Name: {{ $json.organizationName }}\n\n\n---------\n\n\n#Lead Personal LinkedIn\n\nLead Basic Info:\n{{ $json.personalLinkedinData }}\n\nLead Experience0:\n{{ $json.experience[0] }}\n\nLead Experience1:\n{{ $json.experience[0] }}\n\n\n---------\n\n\n#Company LinkedIn Page\n\nCompany About Section: \n{{ $json.companyLinkedinAbout }}\n\nCompany Recent Posts: \n{{ $json.companyLinkedinRecentPost }}\n\n\n\n---------\n\n\n#Company Website:\n\nHomepage: \n{{ $json.companyHomepage }}\n\nAbstract of Additioanl Website Pages:\n{{ $json.websiteAbstract }}\n\n","options":{"systemMessage":"You are a helpful and intelligent Personalization Research Specialist with a background in business and psychology."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2640,-3240],"id":"4a8ee62b-9a41-413c-b75c-7d103035855f","name":"Research Specialist1"},{"parameters":{"content":"1. Add industry filter in research specilist - or before, then filter out companies that aren't a good fit (ecom)\n\n2. Add variable to research agent: you are  {niche} expert\n\n3. Rank order of links - examples","height":280,"width":260},"type":"n8n-nodes-base.stickyNote","position":[3700,-3440],"typeVersion":1,"id":"7d478352-db98-4f81-85cf-9132bc97650d","name":"Sticky Note14"},{"parameters":{"assignments":{"assignments":[{"id":"aace4e97-ee03-4062-b207-7b84ec87cb14","name":"dealershipOffer","value":"We partner with companies to help them streamline their sales process and increase revenue with smart automation and AI solutions.\n\nWe're reaching out to car dealerships and helping them turn their old leads into new qualified sales opportunities using AI-powered SMS.\n\nSome benefits include:\n- Recovering lost revenue from leads they already paid for\n- Reducing their need to keep buying new leads\n- Freeing up time for their sales and marketing team by automating follow-ups\n- Done-for-you solution with no learning required\n- Connects to their existing tools and software (CRM)","type":"string"},{"id":"11ef7927-2dfa-4e51-80e6-b66f7a0b8709","name":"niche","value":"dealership","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1820,-4420],"id":"a13101e2-b362-4e3a-98d0-60a9c516ba05","name":"dealershipOffer"},{"parameters":{"content":"Add IF node (if merged data is less than x length) AND homepage scrapewas successful\n\nClean up with \"executed by other workflow\"?","height":380,"width":280},"type":"n8n-nodes-base.stickyNote","position":[2780,-2180],"typeVersion":1,"id":"c43633fc-83f2-48e0-a0bb-4d2b710ebe48","name":"Sticky Note16"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d2401250-c4f2-4fb4-8d6d-a6853129f27b","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2840,-2020],"id":"60b7022a-49f3-4cd3-acc9-5e56d43198fd","name":"If2"},{"parameters":{"model":"deepseek-reasoner","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[2580,-3060],"id":"330242a0-a29b-4e11-8fa6-fe9529110109","name":"DeepSeek R1","credentials":{"deepSeekApi":{"id":"iaFBuMVfZL8OMDAx","name":"DeepSeek account"}}},{"parameters":{"documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1537180211,"mode":"list","cachedResultName":"Dealerships","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1537180211"},"filtersUI":{"values":[{"lookupColumn":"status","lookupValue":"Draft Email"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[940,-4700],"id":"7fac2c91-fe35-49af-8d84-d8f16f9310f4","name":"Apollo - Dealership","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"field":"months","monthsInterval":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[520,-4580],"id":"9d8b70b7-4f03-4def-a082-7ef82e913a1c","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[740,-4700],"id":"3f4fe8a0-58e6-4df0-b8c7-52f48e1640e0","name":"No Op3"},{"parameters":{"content":"Run daily at 6.35pm"},"type":"n8n-nodes-base.stickyNote","position":[840,-4400],"typeVersion":1,"id":"4d5d0d44-a882-420f-9b27-6080fbc0cc4a","name":"Sticky Note"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4660,-3700],"id":"9c61fd57-e971-4b67-b2fc-d32deafabe12","name":"Wait","webhookId":"7b27ff8d-1196-4561-a0e2-ce17701f9991"},{"parameters":{"assignments":{"assignments":[{"id":"d3fb705a-987d-4deb-adfe-0bbb86147add","name":"row_number","value":"={{ $json.row_number }}","type":"number"},{"id":"9c3eca80-242b-4976-a3db-0f91e24ab538","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"f57b4fee-33bf-4532-9dc9-cd2976a4909e","name":"first_name","value":"={{ $json.first_name }}","type":"string"},{"id":"c3bfeffb-1b32-4f84-a775-5d624c7efdfc","name":"last_name","value":"={{ $json.last_name }}","type":"string"},{"id":"049ff9ac-40b6-4a78-8150-1f44d82c3649","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"2eee14e9-6974-4c8e-ac11-f66ab0a86657","name":"headline","value":"={{ $json.headline }}","type":"string"},{"id":"118794b1-8286-4132-9405-06c675832b82","name":"linkedin_url","value":"={{ $json.linkedin_url }}","type":"string"},{"id":"506f86ef-9298-449e-89c9-7bd87ad17acf","name":"organization_name","value":"={{ $json.organization_name }}","type":"string"},{"id":"f95075c2-e72d-4826-ab1a-ab8587727849","name":"organization_website_url","value":"={{ $json.organization_website_url }}","type":"string"},{"id":"f5ec6555-c6e9-472e-a182-8374e09e83c1","name":"organization_linkedin_url","value":"={{ $json.organization_linkedin_url }}","type":"string"},{"id":"abab887a-aad5-4f43-8d67-bead33043ab5","name":"location","value":"={{ $json.city }}, {{ $json.country }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,-4700],"id":"4326bead-8c82-4105-9352-b25c9db61776","name":"newLead"},{"parameters":{"assignments":{"assignments":[{"id":"64b6f1c3-073f-4064-8ef8-dc98881104cf","name":"personalLinkedinInfo","value":"={{ Object.entries($json.basic_info).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"34563b47-133c-49e4-91be-43aea1afe6a3","name":"linkedinExperience0","value":"={{ Object.entries($json.experience[0]).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"129dcb32-dbab-44a5-b08a-31cf4638eb5d","name":"linkedinExperience1","value":"={{ Object.entries($json.experience[1]).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2760,-4420],"id":"6136e022-55c8-4b8e-a139-099490af2fb8","name":"personalLinkedinData"},{"parameters":{"assignments":{"assignments":[{"id":"dc6149c4-32ed-4d9f-ae29-9fda0d436e5e","name":"companyLinkedinAbout","value":"={{ $json.message.content.companyLinkedin }}","type":"string"},{"id":"aea51ab5-6bc5-47e8-bfee-38da2c5adda0","name":"CompanyLinkedinRecentPost","value":"={{ $json.message.content.recentPost }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3880,-4420],"id":"48932fc3-28ab-48c1-850c-c5b6aea9e519","name":"CompanyLinkedinData"},{"parameters":{"assignments":{"assignments":[{"id":"5fd80695-f63d-4477-86da-e7000e3cbec8","name":"companyHomepage","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2580,-3980],"id":"740ff93b-0282-40a0-b3b0-f648f0050a71","name":"companyHomepage"},{"parameters":{"assignments":{"assignments":[{"id":"96bb845c-3de1-4af0-9112-732f3c44593b","name":"firstName","value":"={{ $('newLead').item.json.first_name }}","type":"string"},{"id":"a11272a9-a7f3-413e-8a39-1a2fd59b789d","name":"lastName","value":"={{ $('newLead').item.json.last_name }}","type":"string"},{"id":"9a88381e-4243-4f4c-a140-94de247d4159","name":"title","value":"={{ $('newLead').item.json.title }}","type":"string"},{"id":"fbc50e54-7b2e-4217-b063-5e65c86d081c","name":"headline","value":"={{ $('newLead').item.json.headline }}","type":"string"},{"id":"1861684f-a941-46d3-8d8b-5f4337a609fa","name":"organizationName","value":"={{ $('newLead').item.json.organization_name }}","type":"string"},{"id":"54bcecb6-3f64-4881-a563-18b2ce198221","name":"dealershipOffer","value":"={{ $('dealershipOffer').item.json.dealershipOffer }}","type":"string"},{"id":"d54a1a8a-8345-4f28-89e2-729dd9c9dd2a","name":"personalLinkedinData","value":"={{ $('personalLinkedinData').item.json.personalLinkedinInfo }}","type":"string"},{"id":"0b89eacf-a0e7-4e19-a6d1-e1ca7578eb1a","name":"experience[0]","value":"={{ $('personalLinkedinData').item.json.linkedinExperience0 }}","type":"string"},{"id":"f97ca959-457e-4e8f-a0e0-b7eeaa317d28","name":"experience[1]","value":"={{ $('personalLinkedinData').item.json.linkedinExperience1 }}","type":"string"},{"id":"6f636fff-f186-47e5-8fa3-57883d8eb17d","name":"companyLinkedinAbout","value":"={{ $('CompanyLinkedinData').item.json.companyLinkedinAbout }}","type":"string"},{"id":"a2a45dd3-651d-4d64-a1b3-d79748044059","name":"companyLinkedinRecentPost","value":"={{ $('CompanyLinkedinData').item.json.CompanyLinkedinRecentPost }}","type":"string"},{"id":"b145142c-d6ae-48e6-83c5-370c73b627a8","name":"companyHomepage","value":"={{ $json.companyHomepage }}","type":"string"},{"id":"6c00f863-4e3a-4e6e-b369-6c5b876f80e7","name":"websiteAbstract","value":"={{ $json.websiteAbstract }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3000,-3980],"id":"a4aa1f71-3b20-48aa-9969-1171e2639ebd","name":"researchData"},{"parameters":{"assignments":{"assignments":[{"id":"42909e00-d069-4614-bdb7-9bef202dcda7","name":"subjectLine","value":"={{ $json.message.content.subjectLine }}","type":"string"},{"id":"a50f44d1-ed94-4079-803e-58910eba3343","name":"emailBody","value":"={{ $json.message.content.emailBody }}","type":"string"},{"id":"6f2751b2-5d5b-4658-a410-0ebccd366ed5","name":"leadSummary","value":"={{ $json.message.content.leadSummary }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3560,-3980],"id":"66e296cf-f985-4ad4-a7f8-347dc61c0494","name":"finalEmail"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1537180211,"mode":"list","cachedResultName":"Dealerships","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1537180211"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('newLead').item.json.email }}","status":"Proof Read Email","subjectLine":"={{ $json.subjectLine }}","emailBody":"={{ $json.emailBody }}","personalLinkedinAbout":"={{ $('personalLinkedinData').item.json.personalLinkedinInfo }} // {{ $('personalLinkedinData').item.json.linkedinExperience0 }} // {{ $('personalLinkedinData').item.json.linkedinExperience1 }}","companyLinkedinAbout":"={{ $('researchData').item.json.companyLinkedinAbout }}","companyHomepage":"={{ $('researchData').item.json.companyHomepage }}","leadResearch":"={{ $('leadResearch1').item.json.leadResearch }}","leadSummary":"={{ $json.leadSummary }}","companyPosts":"={{ $('researchData').item.json.companyLinkedinRecentPost }}","websiteAbstract":"={{ $('researchData').item.json.websiteAbstract }}"},"matchingColumns":["email"],"schema":[{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailBody","displayName":"emailBody","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadSummary","displayName":"leadSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadResearch","displayName":"leadResearch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"personalLinkedinAbout","displayName":"personalLinkedinAbout","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinAbout","displayName":"companyLinkedinAbout","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyPosts","displayName":"companyPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyHomepage","displayName":"companyHomepage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"websiteAbstract","displayName":"websiteAbstract","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3760,-3980],"id":"61f43394-20f8-4279-816d-81968a9e3732","name":"Update: Final Email","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"content":"#Example Email Output\n\n\nsubjectLine: hey shiraz, think I have something for your ev & hybrid lead strategy\n\n\nemailBody: I know you're doing a killer job expanding CardinaleWay's EV lineup with 17+ electric/hybrid models, and love how you're prioritizing relationships that outlast the car.\n\nCurious, do have any old leads at Cardinale who fell through the cracks and didn't buy? \n\nTLDR: We can re-engage them 24/7 and hand you back qualified buyers and booked appts with a few automation - no extra effort from your team. Could be a great way to way to increase revenue for those longer EV/hybrid decision cycles.\n\njust helped a similar luxury generate 46 extra appointments and 8 sales last month + saved over 50 hours of manual follow up.\n\nI know this is out of left field, but would this be of any value to you?\n\nWouldn't cost you anything upfront, I'd cover costs myself - if it works then when can sort out a deal later (but no pressure).\n\nPs - even if we just chat I'd love to hear about your journey balancing Tovu ownership and GM role at Cardinale\n\n\nleadSummary: Either way, love how Cardinale prioritizes family values in a modern setting. It really shows true commitment to the community.","height":680,"width":460,"color":7},"type":"n8n-nodes-base.stickyNote","position":[4320,-3420],"typeVersion":1,"id":"1bae4746-89b4-401e-a7a6-900b8c22c0c4","name":"Sticky Note4"},{"parameters":{"content":"Research and Email Generation","height":400,"width":1300,"color":7},"type":"n8n-nodes-base.stickyNote","position":[2880,-4100],"typeVersion":1,"id":"bca2a23c-a2d1-46d3-973a-c8ec9ce1ed3a","name":"Sticky Note15"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a Cold Email Writing Specialist with expertise in business, sales persuasion, and psychology.","role":"system"},{"content":"=Your task is to use the lead research and templates provided to create cold emails that feel personal, relevant, and authentic, just for them.\n\n\n#Workflow:\n1. Review lead research\n2. Use the provided cold email templates.\n3. Adapt to match the lead’s persona and insights. Ensure every email feels personal and relevant - no lazy “just reaching out” vibes. Avoid using — (em dash), as it looks automated.\n4. Always output 3 items in JSON format.\n\n{\n\t\"subjectLine\": \"subject goes here\",\n\t\"emailBody\": \"email body goes here\",\n\t\"leadSummary\": \"lead summary goes here\"\n\n}\n\n\n\n\n#Templates:\n\n{\"subjectLine\": \"hey {firstName}, think I have something for you re: {shortBusinessInsightFromResearch (don't say \"leads\", \"sales\", \"cash\", \"revenue\" or anything salesy or that could trigger a spam filter\")}\n\n\n{emailBody: \"Love {thing} - also {doing/like/a fan} of {otherThing}. Wanted to run something by you.\n\\n\\nCurious, do have any old {leads} at {shortenedLowercaseCompanyName} who and didn't buy? \n\\n\\nI think I can re-engage and convert them into qualified buyers and booked appointments with a few automations. Very high converting, and I think it's {in line with/would help} {relevantBeliefOrProblemTheyHaveFromInsights/somethingRevenueOrSalesRelated/and runs 24/7)}.\n\n\\n\\njust helped a similar {dealershipNiche} generate 46 extra appts and 8 sales last month + saved over 50 hours of manual follow up. \n\\n\\nI know this is out of left field, but would this be of any value to you?\n\\n\\nWouldn't cost you anything upfront, I'd cover costs myself. If you're happy with results, then we can sort out a deal later (but no pressure).\n\\n\\nPs - even if we just chat I'd love to hear about {somethingSpecific - personalThing/Insight,Interest,TheyMentioned, Lifestyle, Hobby}\"}\n\n\n{\"leadSummary\":\"Either way, love {specificThingBeliefIdeaInsightTheyHave}\"}\n\n\n----------\n\n\n\n#Notes:\n- Non-Negotiable: Never use — (em dash)\n- When referencing Linkedin posts, make sure they're from with 2-4weeks of todays Date: {{ $now }}. Newer is better.\n- The email should feel genuinely personal and tightly relevant\n- Your tone of voice should be \"casual bar conversation\" and very spartan. No fancy language.\n- Keep variables SHORT and punchy\n- Never mention \"database\"\n- Don't change 'subjectLine' from the template, make sure {thingAboutThem} is about them and KEEP the \"re:\" (Don't reference the offer or sound salesy - such as, \"leads\", \"AI\", \"SMS\",\"follow-ups\" etc.)\n- Always start with \"Love {thing}\"\n- Always include the proof: \"just helped a similar dealership generate {46} extra appointments and {8} sales last month + saved over {50} hours of manual follow-up.\"\n- Always include: {someImpliedBeliefTheyHave}\n- Don't use wimisical phrases (e.g. \"It makes me wonder: What if every missed lead was a neighbor we failed?\")\n\n\n#Guidelines:\n- Personalization should be tight, but not creepy.\n- Try to connect the subjectLine to the intro so the email flows naturally.\n- Prioritize higher-relevance insights for variables\n- Try and avoid low relevance insights \n- {personalThing} should be something unique about them them or their life ideally from \"Personal Bio\"\n- {leadSummary} is a used in a follow up email and should stand out and being highly personal and relevant.\n- Weave in multiple insights from the lead research\n- Try avoid using the same insight more than twice in the \"emailBody\"\n- Pick up on industry knowledge (e.g. EV's in dealership have longer sales cycle, etc)\n\n\n\n#Rules:\n- Make sure to use the above templates when constructing your the email. We wrote it this way on purpose.\n- Don't assume the business belongs to the lead (unless their title is \"owner\", or they share the same name as the business, other other clear indication.)\n- Shorten the company name wherever possible (say, \"XYZ\" instead of \"XYZ Agency\"). More examples: \"Love AMS\" instead of \"Love AMS Professional Services\", \"Love Mayo\" instead of \"Love Mayo Inc\", \"Claremont\" insted of \"Claremont Insurance Services\" etc.\n- Do the same with locations. \"San Fran\" instead of \"San Francisco\", \"BC\" instead of \"British Columbia\", etc.\n- Do not just repeat the input data verbatim. Paraphrase, so they think a human wrote it.\n- Make sure the \"subjectLine\" is non-capitalized, even if it’s grammatically incorrect. This makes the email seem more human.\n- Avoid using superscript, subscript or ™, ©, ;, and other signs that look copy and pasted.\n- Avoid suggesting we should have a \"call\"\n- Use shortened abbreviation and lowercase for {Position/Title} (e.g. Director of Business Development = director of BD. CEO = CEO)\n- Avoid congratulations for promotions, unless it was less than 3 months ago.\n- Avoid calculating potentional savings and sales.\n"},{"content":"=#Lead Details:\n\nLead Name: {{ $('researchData').item.json.firstName }} {{ $('researchData').item.json.lastName }}\n\nLead Title: {{ $('researchData').item.json.title }}\n\nLead Headline: {{ $('researchData').item.json.headline }}\n\nOrganization Name: {{ $('researchData').item.json.organizationName }}\n\nThe following lead research has been put together by your research team:\n{{ $json.leadResearch }}\n"},{"content":"#Example Email Output\n\n\nsubjectLine: hey shiraz, think I have something for your ev & hybrid lead strategy\n\n\nemailBody: I know you're doing a killer job expanding CardinaleWay's EV lineup with 17+ electric/hybrid models, and love how you're prioritizing relationships that outlast the car. Wanted to run something by you.\n\nCurious, do have any old leads at Cardinale who fell through the cracks and didn't buy? \n\nI think I can re-engage and convert them into qualified buyers and booked appointments with a few automations. - no extra effort from your team. Very high converting and could be a great way to way to increase revenue for those longer EV/hybrid decision cycles.\n\nJust helped a similar luxury generate 46 extra appointments and 8 sales last month + saved over 50 hours of manual follow up.\n\nI know this is out of left field, but would this be of any value to you?\n\nWouldn't cost you anything upfront, I'd cover costs myself - if it works then when can sort out a deal later (but no pressure).\n\nPs - even if we just chat I'd love to hear about your journey balancing Tovu ownership and GM role at Cardinale\n\n\nleadSummary: Either way, love how Cardinale prioritizes family values in a modern setting. It really shows true commitment to the community."}]},"jsonOutput":true,"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3180,-3240],"id":"e09e70be-c1d1-4960-926f-7a88cc79c4be","name":"Cold Email v2","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"content":"#Examples Insights\n\n\n<exampleInsight01>\n\nInsight: EV/Hybrid-Focused Inventory Strategy: Cardinale's homepage shows 17+ electric/hybrid models across 6 brands (including Hummer EV, IONIQ 5/6, and ID.4), representing nearly 20% of their total new inventory. Prospects for these vehicles often require 2-3x more follow-up due to longer decision cycles about charging infrastructure and new technology\nRelevance: High - directly ties to high-value leads needing specialized nurturing\nSource: Company LinkedIn  \n\n\n</exampleInsight01>\n\n\n<exampleInsight02>\n\nInsight: \"Outstanding Relationships\" Operationalization: The CardinaleWay explicitly prioritizes \"developing outstanding relationships that outlast your car\" over transactions. Automated lead re-engagement could protect this philosophy at scale - 26 locations risk inconsistent follow-up, which our solution standardizes while maintaining human-centric messaging.\nRelevance: High - core to their stated identity\nSource: Company Website Homepage  \n\n</exampleInsight02>","height":680,"width":460,"color":7},"type":"n8n-nodes-base.stickyNote","position":[4960,-3420],"typeVersion":1,"id":"6a526fbb-6cf4-410e-9c63-0db9d34e4315","name":"Sticky Note5"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a Cold Email Writing Specialist with expertise in business, subtle persuasion, and psychology.","role":"system"},{"content":"=Your task is to use the lead research and templates provided to create cold emails variables that feel personal, relevant, and authentic, just for them.\n\n\n\n#Workflow:\n1. Review lead research\n2. Use the provided templates.\n3. Adapt to match the lead’s persona and insights. Ensure every email feels personal and relevant - no lazy “just reaching out” vibes. Avoid using — (em dash), as it looks automated.\n\n\n\n\n#Output\nAlways output in the following JSON format.\n\n{\n\n\t\"subjectLine\": \"subject line goes here\",\n\t\"iceBreaker\": \"email body goes here\",\n    \"ps\": \"personal insight goes here\",\n\t\"leadSummary\": \"lead summary goes here\"\n\n}\n\n\n\n\n#Templates:\n\n{iceBreaker\": \"Hi {Name}, love {thing} - {otherThing}.\n\n/n/nAs you've been {paraphrasePosition} at {shortenedCompanyName} for {years} - figured you'd be a good person to talk with.\n\n{\"ps\": \"P.S. {somethingSpecific - personalThing/Insight,Interest,TheyMentioned, Lifestyle, Hobby}\"}\n\n{\"leadSummary\":\"Either way, {love/awesome} {specificThingBeliefIdeaInsightTheyHave}\"}\n\n\n\n----------\n\n\n\n#Notes:\n- Non-Negotiable: Never use — (em dash)\n- When referencing Linkedin posts, make sure they're from with 2-4weeks of todays Date: {{ $now }}. Newer is better.\n- The email should feel genuinely personal and tightly relevant\n- Your tone of voice should be \"casual bar conversation\" and very spartan. No fancy language.\n- Keep variables SHORT and punchy\n- Always start with \"Love {thing}\"\n- Don't use wimisical phrases\n- Don't change 'subjectLine' from the template, make sure {thingAboutThem} is about them and KEEP the \"re:\" (Don't reference the offer or sound salesy - such as, \"leads\", \"AI\", \"SMS\",\"follow-ups\" etc.)\n\n\n#Guidelines:\n- Personalization should be tight, but not creepy.\n- Prioritize higher-relevance insights for variables\n- For the \"ps\" weave in testimonial quotes if possible.\n- Try and avoid low relevance insights \n- {personalThing} should be something unique about them them or their life ideally from \"Personal Bio\"\n- {leadSummary} is a used in a follow up email and should stand out and being highly personal and relevant.\n- Weave in multiple insights from the lead research\n- Try avoid using the same insight more than twice in the \"emailBody\"\n- Avoid repeating the company name multiple times\n- Try to connect the subjectLine to the intro so the email flows naturally.\n\n\n\n#Rules:\n- Make sure to use the above templates when constructing your the email. We wrote it this way on purpose.\n- Don't assume the business belongs to the lead (unless their title is \"owner\", or they share the same name as the business, other other clear indication.)\n- Shorten the company name wherever possible (say, \"XYZ\" instead of \"XYZ Agency\"). More examples: \"Love AMS\" instead of \"Love AMS Professional Services\", \"Love Mayo\" instead of \"Love Mayo Inc\", \"Claremont\" insted of \"Claremont Insurance Services\" etc.\n- Do the same with locations. \"San Fran\" instead of \"San Francisco\", \"BC\" instead of \"British Columbia\", etc.\n- Do not just repeat the input data verbatim. Paraphrase, so they think a human wrote it.\n- Avoid using superscript, subscript or ™, ©, ;, and other signs that look copy and pasted.\n- Make sure the \"subjectLine\" is non-capitalized, even if it’s grammatically incorrect. This makes the email seem more human.\n- Avoid suggesting we should have a \"call\"\n- Use shortened abbreviation and lowercase for {Position/Title} (e.g. Director of Business Development = director of BD. CEO = CEO)\n- Avoid congratulations for promotions, unless it was less than 3 months ago.\n- If referencing testimonials use first and last name, or only first name only.\n- Avoid using the word \"admire\"\n"},{"content":"=#Lead Details:\n\nLead Name: {{ $('researchData1').item.json.firstName }} {{ $('researchData1').item.json.lastName }}\n\nLead Title: {{ $('researchData1').item.json.title }}\n\nCompany Name: {{ $('currentLead').item.json.companyName }}\n\nThe following lead research has been put together by your research team:\n\n\n---------\n\n\n#Company LinkedIn Page\n\nCompany Linkedin Overview: \n{{ $json.companyLinkedinOverview }}\n\nCompany Recent Posts: \n{{ $json.companyLinkedinRecentPost }}\n\n\n---------\n\n\n#Lead Personal LinkedIn\n\nLead Basic Info:\n{{ $json.personalLinkedinAbout }}\n\nLead Experience0:\n{{ $json.experience[0] }}\n\nLead Experience1:\n{{ $json.experience[1] }}\n\n\n\n---------\n\n\n\n#Company Homepage Insights:\n{{ $('Company Homepage Insights').item.json.homepageInsights }}"},{"content":"#Example 1\n\n\n{iceBreaker\": \"Hi Joe, love your focus on high-quality service - with 35 years with Greystone, you’re clearly doing something right!\n\nAs the owner, I figured you'd be a good person to talk with.\"}\n\n{\"ps\": \"P.S. that testimonial from Alice Baker is awesome - sounds like you and team really goes the extra mile.\"}\n\n{\"leadSummary\":\"Either way, it’s great to see another small business in the benefits space making a real difference - here's to another decade!\"}\n\n\n\n\n#Example 2\n{iceBreaker\": \"Hi Lauren, love the glowing testimonial from from James - you and the team must be proud of that one.\n\nAs you've been the the co-founder at Benefits Made Simple for 9 year - I figured you'd be the right person to talk with.\n\n{\"ps\": \"P.S. Amazing work with charity run last week, the Cancer Research  Foundation is such a great cause - kudos to you!\"}\n\n{\"leadSummary\":\"Either way, it's awesome to see another small business in the benefits space making a real difference.\"}"}]},"jsonOutput":true,"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3200,-3980],"id":"5a9ebf24-09af-41f8-b362-fbd9591284d9","name":"Personalized Email Variables","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"content":"Needs to be edited for dealerships. Currently from EB3"},"type":"n8n-nodes-base.stickyNote","position":[3200,-3820],"typeVersion":1,"id":"93ceb2b1-b1f7-441d-8a54-87e1b6a4ade0","name":"Sticky Note3"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"No Op3","type":"main","index":0}]]},"Remove Duplicate URLs":{"main":[[{"node":"Request web page for URL","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"15 Links Only","type":"main","index":0}]]},"Request web page for URL":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Summarize Website Page","type":"main","index":0}]]},"Summarize Website Page":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[]]},"Edit Fields1":{"main":[[{"node":"Remove Duplicate URLs","type":"main","index":0}]]},"Scrape Links":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"15 Links Only":{"main":[[{"node":"Clean up links","type":"main","index":0}]]},"Scrape Home1":{"main":[[{"node":"Scrape Links","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Clean up links":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Run Apify Actor1":{"main":[[{"node":"Get Actor Run1","type":"main","index":0}]]},"Get Actor Run1":{"main":[[{"node":"get Dataset1","type":"main","index":0}]]},"get Dataset1":{"main":[[{"node":"personalLinkedinData","type":"main","index":0}]]},"Batch ":{"main":[[],[{"node":"newLead","type":"main","index":0}]]},"Company Linkedin1":{"main":[[{"node":"Text extract (<4k words)3","type":"main","index":0}]]},"Scrape Home2":{"main":[[{"node":"Text extract (<4k words)2","type":"main","index":0}],[]]},"Extract company LinkedIn data1":{"main":[[{"node":"CompanyLinkedinData","type":"main","index":0}]]},"Extract company homepage data1":{"main":[[{"node":"companyHomepage","type":"main","index":0}]]},"Text extract (<4k words)2":{"main":[[{"node":"Extract company homepage data1","type":"main","index":0}]]},"Text extract (<4k words)3":{"main":[[{"node":"Extract company LinkedIn data1","type":"main","index":0}]]},"leadResearch1":{"main":[[{"node":"Cold Email v2","type":"main","index":0}]]},"Research Specialist1":{"main":[[{"node":"leadResearch1","type":"main","index":0}]]},"dealershipOffer":{"main":[[{"node":"Run Apify Actor1","type":"main","index":0}]]},"DeepSeek R1":{"ai_languageModel":[[{"node":"Research Specialist1","type":"ai_languageModel","index":0}]]},"Apollo - Dealership":{"main":[[{"node":"Batch ","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Op3","type":"main","index":0}]]},"No Op3":{"main":[[{"node":"Apollo - Dealership","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Batch ","type":"main","index":0}]]},"newLead":{"main":[[{"node":"dealershipOffer","type":"main","index":0}]]},"personalLinkedinData":{"main":[[{"node":"Company Linkedin1","type":"main","index":0}]]},"CompanyLinkedinData":{"main":[[{"node":"Scrape Home2","type":"main","index":0}]]},"companyHomepage":{"main":[[{"node":"researchData","type":"main","index":0}]]},"researchData":{"main":[[{"node":"Personalized Email Variables","type":"main","index":0}]]},"finalEmail":{"main":[[{"node":"Update: Final Email","type":"main","index":0}]]},"Update: Final Email":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Cold Email v2":{"main":[[]]},"Personalized Email Variables":{"main":[[{"node":"finalEmail","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Test workflow’":[{"json":{}}],"No Op3":[{"json":{}}],"Apollo - Dealership":[{"json":{"row_number":608,"ELV Result":"ok","status":"Draft Email","email":"rmancini@piazzahonda.com","first_name":"Ray","last_name":"Mancini","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"GENERAL MANAGER","headline":"General Manager","organization_name":"Piazza Honda of Springfield","linkedin_url":"http://www.linkedin.com/in/ray-mancini-3382b596","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/piazza-honda-of-drexel-hill","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.piazzahondaspringfield.com","companyHomepage":"","websiteAbstract":"","city":"Springfield","country":"United States"}},{"json":{"row_number":609,"ELV Result":"ok","status":"Draft Email","email":"michael@scmg.com","first_name":"Michael","last_name":"Mandery","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager at Sun Country Marine Group - San Jose/Campbell","organization_name":"Sun Country Marine Group","linkedin_url":"http://www.linkedin.com/in/michael-mandery-475b46184","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/suncountrymarinegroup","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.suncountrymarinegroup.com","companyHomepage":"","websiteAbstract":"","city":"Campbell","country":"United States"}},{"json":{"row_number":610,"ELV Result":"ok","status":"Draft Email","email":"jillm@heidebreicht.com","first_name":"Jill","last_name":"Maniaci","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager at Heidebreicht Chevrolet","organization_name":"Heidebreicht Chevrolet","linkedin_url":"http://www.linkedin.com/in/jill-maniaci-45b02a77","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/heidebreicht-chevrolet","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.heidebreicht.com","companyHomepage":"","websiteAbstract":"","city":"Washington","country":"United States"}},{"json":{"row_number":611,"ELV Result":"ok","status":"Draft Email","email":"bmanly@manlyauto.com","first_name":"Brian","last_name":"Manly","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Pres.","headline":"Pres at Manly Automotive","organization_name":"Manly Honda","linkedin_url":"http://www.linkedin.com/in/brian-manly-48b4b09","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/manly-honda","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.manlyhonda.com","companyHomepage":"","websiteAbstract":"","city":"Santa Rosa","country":"United States"}},{"json":{"row_number":612,"ELV Result":"ok","status":"Draft Email","email":"rmanning@monroevillechryslerjeep.com","first_name":"Robert","last_name":"Manning","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"GM","headline":"GM at Monroeville Chrysler Jeep","organization_name":"Monroeville Chrysler Jeep","linkedin_url":"http://www.linkedin.com/in/robert-manning-6351a9106","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/monroeville-chrysler-jeep","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.monroevillechryslerjeep.com","companyHomepage":"","websiteAbstract":"","city":"Valencia","country":"United States"}},{"json":{"row_number":613,"ELV Result":"ok","status":"Draft Email","email":"mike@carconnection1.com","first_name":"Michael","last_name":"Mansour","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Owner-Operator","headline":"Car Connection Superstore, Bridges Extended Stay Suites, Maple Heights Condos, Elaine's Estates LLC","organization_name":"Car Connection Superstore","linkedin_url":"http://www.linkedin.com/in/michael-mansour-02770236","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/car-connection-superstore","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.carconnection1.com","companyHomepage":"","websiteAbstract":"","city":"Pittsburgh","country":"United States"}},{"json":{"row_number":614,"ELV Result":"ok","status":"Draft Email","email":"rony@towbinmotorcars.com","first_name":"Rony","last_name":"Mansour","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager at Towbin Motorcars","organization_name":"Towbin Motorcars","linkedin_url":"http://www.linkedin.com/in/rony-mansour-24537595","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/towbin-motorcars","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.towbinmotorcars.com","companyHomepage":"","websiteAbstract":"","city":"Las Vegas","country":"United States"}},{"json":{"row_number":615,"ELV Result":"ok","status":"Draft Email","email":"tmanzano@ttruck.com","first_name":"Timothy","last_name":"Manzano","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Vice President of Sales","headline":"Vice President of Sales at Tom's Truck Center","organization_name":"Tom's Truck Center","linkedin_url":"http://www.linkedin.com/in/timothy-manzano-80809a62","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/tom's-truck-center","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.ttruck.com","companyHomepage":"","websiteAbstract":"","city":"","country":"United States"}},{"json":{"row_number":616,"ELV Result":"ok","status":"Draft Email","email":"dave.maraj@gmail.com","first_name":"Dave","last_name":"Maraj","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Owner","headline":"Owner at Champion Porsche","organization_name":"Champion Porsche","linkedin_url":"http://www.linkedin.com/in/dave-maraj-841740114","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/champion-porsche","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.champion-porsche.com","companyHomepage":"","websiteAbstract":"","city":"Deerfield Beach","country":"United States"}},{"json":{"row_number":617,"ELV Result":"ok","status":"Draft Email","email":"paul@monarch-place.com","first_name":"Paul","last_name":"Marcelina","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Executive Vice President & Asset Manager","headline":"--","organization_name":"Monarch Enterprises","linkedin_url":"http://www.linkedin.com/in/paul-marcelina-601bba233","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/monarch-enterprises-ltd","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.monarchenterprises.co.uk","companyHomepage":"","websiteAbstract":"","city":"Springfield","country":"United States"}},{"json":{"row_number":618,"ELV Result":"ok","status":"Draft Email","email":"marknordrum@mnequip.com","first_name":"Nordrum","last_name":"Mark","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Co-Owner","headline":"Co-Owner at Minnesota Equipment","organization_name":"Minnesota Equipment","linkedin_url":"http://www.linkedin.com/in/nordrum-mark-605a68146","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/minnesota-equipment","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.minnesotaequipment.com","companyHomepage":"","websiteAbstract":"","city":"Pine City","country":"United States"}},{"json":{"row_number":619,"ELV Result":"ok","status":"Draft Email","email":"zmarks@lee-smith.com","first_name":"Zach","last_name":"Marks","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Vice President of Fixed Operations","headline":"Vice President of Fixed Operations","organization_name":"Lee-Smith, Inc","linkedin_url":"http://www.linkedin.com/in/zach-marks-4a572680","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/lee-smith-inc","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.lee-smith.com","companyHomepage":"","websiteAbstract":"","city":"Chattanooga","country":"United States"}},{"json":{"row_number":620,"ELV Result":"ok","status":"Draft Email","email":"dmarshalek@chesacorv.com","first_name":"Dina","last_name":"Marshalek","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager at Chesaco RV","organization_name":"Chesaco RV","linkedin_url":"http://www.linkedin.com/in/dina-marshalek-14944030","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/chesaco-rv","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.chesacorv.com","companyHomepage":"","websiteAbstract":"","city":"Columbia","country":"United States"}},{"json":{"row_number":621,"ELV Result":"ok","status":"Draft Email","email":"emarshall@knealtbc.com","first_name":"Everett","last_name":"Marshall","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"Digital Marketing Manager at K. Neal Truck and Bus Center","organization_name":"K. Neal Truck and Bus Center","linkedin_url":"http://www.linkedin.com/in/everett-marshall-257751177","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/kneal","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.knealtbc.com","companyHomepage":"","websiteAbstract":"","city":"Baltimore","country":"United States"}},{"json":{"row_number":622,"ELV Result":"ok","status":"Draft Email","email":"bertmartinjr@martinspeterbilt.com","first_name":"Bert","last_name":"Martin","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Owner","headline":"","organization_name":"Martin's Peterbilt","linkedin_url":"http://www.linkedin.com/in/bert-martin-jr-martin-68b50642","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/martin-s-peterbilt","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.martinspeterbilt.com","companyHomepage":"","websiteAbstract":"","city":"London","country":"United States"}},{"json":{"row_number":623,"ELV Result":"ok","status":"Draft Email","email":"dannydmartin@gmail.com","first_name":"Danny","last_name":"Martin","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"Internet Director at Jay Wolfe Acura","organization_name":"Jay Wolfe Acura","linkedin_url":"http://www.linkedin.com/in/danny-martin-991551138","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/jay-wolfe-acura","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.jaywolfeacura.com","companyHomepage":"","websiteAbstract":"","city":"Prairie Village","country":"United States"}},{"json":{"row_number":624,"ELV Result":"ok","status":"Draft Email","email":"dominic@covideo.com","first_name":"Dominic","last_name":"Martin","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Sales Manager","headline":"Retail Automotive professional","organization_name":"Unlimited Motors","linkedin_url":"http://www.linkedin.com/in/dominicmartin","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/unlimited-motors","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.indysunlimitedmotors.com","companyHomepage":"","websiteAbstract":"","city":"Westfield","country":"United States"}},{"json":{"row_number":625,"ELV Result":"ok","status":"Draft Email","email":"jarodmartin@martinspeterbilt.com","first_name":"Terry","last_name":"Martin","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Vice-President","headline":"Vice-President at Martins Peterbilt","organization_name":"Martin's Peterbilt","linkedin_url":"http://www.linkedin.com/in/terry-martin-56559275","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/martin-s-peterbilt","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.martinspeterbilt.com","companyHomepage":"","websiteAbstract":"","city":"London","country":"United States"}},{"json":{"row_number":626,"ELV Result":"ok","status":"Draft Email","email":"jmartin@donohooauto.com","first_name":"Jay","last_name":"Martin","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"Sales Manager at DonohooAuto","organization_name":"DonohooAuto","linkedin_url":"http://www.linkedin.com/in/jay-martin-b9891a1b","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/donohooauto","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.donohooauto.com","companyHomepage":"","websiteAbstract":"","city":"Pelham","country":"United States"}},{"json":{"row_number":627,"ELV Result":"ok","status":"Draft Email","email":"garymartin@leomartin.com","first_name":"Gary","last_name":"Martin","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Owner | Dealer Principal","headline":"Owner | Dealer Principal at Leo Martin Chevrolet","organization_name":"Leo Martin Chevrolet","linkedin_url":"http://www.linkedin.com/in/gary-martin-7190b015","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/leo-martin-chevrolet","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.leomartinchevrolet.com","companyHomepage":"","websiteAbstract":"","city":"Houston","country":"United States"}},{"json":{"row_number":628,"ELV Result":"ok","status":"Draft Email","email":"arnold@ocmotorsdirect1.com","first_name":"Arnold","last_name":"Martinez","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"California Motors Direct","organization_name":"California Motors Direct","linkedin_url":"http://www.linkedin.com/in/arnold-martinez-jr-6b3a2728","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/california-motors-direct","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"","companyHomepage":"","websiteAbstract":"","city":"Corona","country":"United States"}},{"json":{"row_number":629,"ELV Result":"ok","status":"Draft Email","email":"julian@formulaimports.com","first_name":"Julian","last_name":"Martinez","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager Formula Imports","headline":"General Manager Formula Imports","organization_name":"Formula  Imports","linkedin_url":"http://www.linkedin.com/in/julian-martinez-558a95117","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/formula-one-imports","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.formulaimports.com","companyHomepage":"","websiteAbstract":"","city":"Charlotte","country":"United States"}},{"json":{"row_number":630,"ELV Result":"ok","status":"Draft Email","email":"jmassarelli@libertyautocity.com","first_name":"Joe","last_name":"Massarelli","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Owner","headline":"President at Liberty Autocity","organization_name":"Liberty Automotive","linkedin_url":"http://www.linkedin.com/in/joe-massarelli-236b4118","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/liberty-automotive","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.driveliberty.com","companyHomepage":"","websiteAbstract":"","city":"Libertyville","country":"United States"}},{"json":{"row_number":631,"ELV Result":"ok","status":"Draft Email","email":"kmassie@napaford.com","first_name":"Kevin","last_name":"Massie","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"President","headline":"President at Napa Ford Lincoln","organization_name":"Napa Ford Lincoln","linkedin_url":"http://www.linkedin.com/in/kevin-massie-ab59969","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/napa-ford-lincoln","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.napaford.com","companyHomepage":"","websiteAbstract":"","city":"Napa","country":"United States"}},{"json":{"row_number":632,"ELV Result":"ok","status":"Draft Email","email":"sushant@stuckeyauto.com","first_name":"Sushant","last_name":"Mathen","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Regional Sales Director","headline":"Regional Sales Director at Stuckey Automotive","organization_name":"Stuckey Automotive","linkedin_url":"http://www.linkedin.com/in/sushant-mathen-69853b2a9","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/stuckey-automotive","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.stuckeyautomotive.com","companyHomepage":"","websiteAbstract":"","city":"Altoona","country":"United States"}},{"json":{"row_number":633,"ELV Result":"ok","status":"Draft Email","email":"kent@seelye.com","first_name":"Kent","last_name":"Matthews","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager at Seelye Auto Group","organization_name":"Seelye Auto Group","linkedin_url":"http://www.linkedin.com/in/kent-matthews-7a8927109","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/seelye-auto-group","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.betterseeseelye.com","companyHomepage":"","websiteAbstract":"","city":"Kalamazoo","country":"United States"}},{"json":{"row_number":634,"ELV Result":"ok","status":"Draft Email","email":"darrin@ptwhwy49.com","first_name":"Darrin","last_name":"Mauffray","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Owner Performance Tire & Wheel, Inc. / PTW","headline":"President/Owner","organization_name":"Performance Tire and Wheel","linkedin_url":"http://www.linkedin.com/in/darrin-mauffray-7022a470","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/performance-tire-and-wheel","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.ptwhwy49.com","companyHomepage":"","websiteAbstract":"","city":"Gulfport","country":"United States"}},{"json":{"row_number":635,"ELV Result":"ok","status":"Draft Email","email":"addison@nxtlvlmarine.com","first_name":"Addison","last_name":"May","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Managing Partner","headline":"NXTLVL Marine - New Braunfels, Lake LBJ, Austin, Dallas, Ft. Worth","organization_name":"NXTLVL Marine","linkedin_url":"http://www.linkedin.com/in/addison-chase-may-609a4b18a","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/nxtlvl-marine","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.nxtlvlmarine.com","companyHomepage":"","websiteAbstract":"","city":"San Antonio","country":"United States"}},{"json":{"row_number":636,"ELV Result":"ok","status":"Draft Email","email":"cmccann@wcao.net","first_name":"Charles","last_name":"McCann","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Executive Vice President - Corporate","headline":"Executive VP at Reed Family Enterprises | World Class Automotive Group","organization_name":"World Class Automotive Group","linkedin_url":"http://www.linkedin.com/in/charles-mccann-mba-1478a336","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/world-class-automotive-group","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.reedhasit.com","companyHomepage":"","websiteAbstract":"","city":"Dallas","country":"United States"}},{"json":{"row_number":637,"ELV Result":"ok","status":"Draft Email","email":"marissam@heidebreicht.com","first_name":"Marissa","last_name":"McCoy","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager at Heidebreicht Chevrolet","organization_name":"Heidebreicht Chevrolet","linkedin_url":"http://www.linkedin.com/in/marissa-sens","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/heidebreicht-chevrolet","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.heidebreicht.com","companyHomepage":"","websiteAbstract":"","city":"Washington","country":"United States"}},{"json":{"row_number":638,"ELV Result":"ok","status":"Draft Email","email":"david@rdinc.us","first_name":"David","last_name":"McDaniel","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Vice President - Equipment Division","headline":"Vice President - Equipment Division at Reeder Distributors, Inc.","organization_name":"Reeder Distributors, Inc.","linkedin_url":"http://www.linkedin.com/in/david-mcdaniel-4718bb120","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/reeder-distributors-inc-","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.reederdistributors.com","companyHomepage":"","websiteAbstract":"","city":"Fort Worth","country":"United States"}},{"json":{"row_number":639,"ELV Result":"ok","status":"Draft Email","email":"cmcdonald@bkford.com","first_name":"Claire","last_name":"McDonald","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"President","headline":"President","organization_name":"Bird Kultgen Ford","linkedin_url":"http://www.linkedin.com/in/claire-mcdonald-831406a","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/bird-kultgen-ford","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.bkford.com","companyHomepage":"","websiteAbstract":"","city":"Frederick","country":"United States"}},{"json":{"row_number":640,"ELV Result":"ok","status":"Draft Email","email":"dusty@brechbuhlertrucks.com","first_name":"Dusty","last_name":"McDonald","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"GENERAL MANAGER OF SALES","headline":"GENERAL MANAGER OF SALES @ BRECHBUHLER TRUCK SALES, LLC and BTS TRUCK LEASING, LLC.","organization_name":"Brechbuhler Truck Sales, LLC","linkedin_url":"http://www.linkedin.com/in/dusty-mcdonald-6264a413","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/brechbuhler-truck-sales-llc","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.brechbuhlertrucks.com","companyHomepage":"","websiteAbstract":"","city":"Canton","country":"United States"}},{"json":{"row_number":641,"ELV Result":"ok","status":"Draft Email","email":"cmcdonough@oxmoorautogroup.com","first_name":"Chuck","last_name":"McDonough","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager at Oxmoor Auto Group","organization_name":"Oxmoor Auto Group","linkedin_url":"http://www.linkedin.com/in/chuck-mcdonough-398888132","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/oxmoor-auto-group","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.oxmoorautogroup.com","companyHomepage":"","websiteAbstract":"","city":"Louisville","country":"United States"}},{"json":{"row_number":642,"ELV Result":"ok","status":"Draft Email","email":"emcdougall@gabriellitruck.com","first_name":"Ed","last_name":"McDougall","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Regional Vice President","headline":"Truck Parts Sales and Distribution Expert","organization_name":"Allegiance Trucks","linkedin_url":"http://www.linkedin.com/in/ed-mcdougall-738a16aa","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/allegiance-trucks","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.allegiancetrucks.com","companyHomepage":"","websiteAbstract":"","city":"","country":"United States"}},{"json":{"row_number":643,"ELV Result":"ok","status":"Draft Email","email":"jmcgovern@fordoflondonderry.com","first_name":"Jim","last_name":"McGovern","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Owner Principal","headline":"Owner Principal at FORD OF LONDONDERRY","organization_name":"Ford of Londonderry","linkedin_url":"http://www.linkedin.com/in/jim-mcgovern-60a731109","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/ford-of-londonderry","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.fordoflondonderry.com","companyHomepage":"","websiteAbstract":"","city":"Boston","country":"United States"}},{"json":{"row_number":644,"ELV Result":"ok","status":"Draft Email","email":"jmcgrath@fckerbeck.net","first_name":"Joe","last_name":"McGrath","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"GENERAL MANAGER","headline":"GENERAL MANAGER at FC KERBECK","organization_name":"FC Kerbeck & Sons","linkedin_url":"http://www.linkedin.com/in/joe-mcgrath-6309115a","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/fc-kerbeck-&-sons","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.kerbeckcars.com","companyHomepage":"","websiteAbstract":"","city":"Palmyra","country":"United States"}},{"json":{"row_number":645,"ELV Result":"ok","status":"Draft Email","email":"angelamckeever@volvomarin.com","first_name":"Angela","last_name":"McKeever","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Sales Manager","headline":"--","organization_name":"Volvo Cars Marin","linkedin_url":"http://www.linkedin.com/in/angela-mckeever-a9650319","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/volvo-marin","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.volvocarsmarin.com","companyHomepage":"","websiteAbstract":"","city":"San Francisco","country":"United States"}},{"json":{"row_number":646,"ELV Result":"ok","status":"Draft Email","email":"randy@qepusa.com","first_name":"Randy","last_name":"McKenzie","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Chief Executive Officer","headline":"President at Quality Equipment & Parts","organization_name":"Quality Equipment & Parts","linkedin_url":"http://www.linkedin.com/in/randy-mckenzie-2a4204287","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/qepusa","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.qepusa.com","companyHomepage":"","websiteAbstract":"","city":"Lake City","country":"United States"}},{"json":{"row_number":647,"ELV Result":"ok","status":"Draft Email","email":"billm@tflauto.com","first_name":"Bill","last_name":"McKinney","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Managing Partner","headline":"Managing Partner","organization_name":"Tallahassee Ford Lincoln","linkedin_url":"http://www.linkedin.com/in/bill-mckinney-4a515a57","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/tallahassee-ford-lincoln","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.tallahasseefordlincoln.com","companyHomepage":"","websiteAbstract":"","city":"","country":"United States"}},{"json":{"row_number":648,"ELV Result":"ok","status":"Draft Email","email":"lynn.mclaren@l2source.com","first_name":"Lynn","last_name":"McLaren","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Vice President Human Resources Operations","headline":"Head of People Operations, Championing Talent Development, Culture & Operational Excellence","organization_name":"American Glass Professionals","linkedin_url":"http://www.linkedin.com/in/mclarenlynn","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/american-glass-professionals","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.americanglasspros.com","companyHomepage":"","websiteAbstract":"","city":"Cincinnati","country":"United States"}},{"json":{"row_number":649,"ELV Result":"ok","status":"Draft Email","email":"k.mcqueen@trueautoprotection.com","first_name":"Khristen","last_name":"McQueen","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"President at True Auto, LLC","headline":"President @ True Auto, LLC | Home and Auto Warranties","organization_name":"True Auto, LLC","linkedin_url":"http://www.linkedin.com/in/khristen-williams-mcqueen-678a565b","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/true-auto","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.trueautoprotection.com","companyHomepage":"","websiteAbstract":"","city":"Azle","country":"United States"}},{"json":{"row_number":650,"ELV Result":"ok","status":"Draft Email","email":"bmcshane@bsc-supply.com","first_name":"Brian","last_name":"McShane","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"President","headline":"President at BSC Supply","organization_name":"BSC Supply","linkedin_url":"http://www.linkedin.com/in/brian-mcshane-0721156","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/bsc-supply","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.bsc-supply.com","companyHomepage":"","websiteAbstract":"","city":"Belmont","country":"United States"}},{"json":{"row_number":651,"ELV Result":"ok","status":"Draft Email","email":"blake@exoticcartrader.com","first_name":"Blake","last_name":"Meacham","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Founder and CEO","headline":"Founder and CEO at Exotic Car Trader","organization_name":"Exotic Car Trader","linkedin_url":"http://www.linkedin.com/in/blakemeacham","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/exoticcartrader","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.exoticcartrader.com","companyHomepage":"","websiteAbstract":"","city":"Fort Lauderdale","country":"United States"}},{"json":{"row_number":652,"ELV Result":"ok","status":"Draft Email","email":"rmeador@summit-ap.com","first_name":"Robert","last_name":"Meador","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Vice President Operations","headline":"Former Market President/Partner with Summit Automotive Partners","organization_name":"Summit Automotive Partners","linkedin_url":"http://www.linkedin.com/in/robmeador","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/summit-automotive-partners","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.summit-ap.com","companyHomepage":"","websiteAbstract":"","city":"Englewood","country":"United States"}},{"json":{"row_number":653,"ELV Result":"ok","status":"Draft Email","email":"ralph@ralphscars.com","first_name":"Ralph","last_name":"Medeiros","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Dealer Principal","headline":"Dealer Principal at Ralph's Auto Center","organization_name":"Ralph's Auto Center","linkedin_url":"http://www.linkedin.com/in/ralph-medeiros-26308035","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/ralph's-auto-center","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.ralphscars.com","companyHomepage":"","websiteAbstract":"","city":"New Bedford","country":"United States"}},{"json":{"row_number":654,"ELV Result":"ok","status":"Draft Email","email":"pmeegan@joeperillo.com","first_name":"Paul","last_name":"Meegan","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Finance Director & General Sales Manager","headline":"#paulmeegan #exoticcarsales #Lamborghini #Bugatti #Ferrari #Rolls-Royce #Bentley","organization_name":"Perillo Motor Cars Inc","linkedin_url":"http://www.linkedin.com/in/paulmeegan","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/perillo-motor-cars-inc","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.joeperillo.com","companyHomepage":"","websiteAbstract":"","city":"Sarasota","country":"United States"}},{"json":{"row_number":655,"ELV Result":"ok","status":"Draft Email","email":"mmeisinger@mauerauto.com","first_name":"Michael","last_name":"Meisinger","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Chief Executive Officer","headline":"Chief Executive Officer","organization_name":"Mauer Automotive Group","linkedin_url":"http://www.linkedin.com/in/michaelmeisinger","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/mauer-auto-group","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.mauerauto.com","companyHomepage":"","websiteAbstract":"","city":"Minneapolis","country":"United States"}},{"json":{"row_number":656,"ELV Result":"ok","status":"Draft Email","email":"jmeixner@centennialtoyota.com","first_name":"Jason","last_name":"Meixner","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager at Centennial Toyota","organization_name":"Centennial Toyota","linkedin_url":"http://www.linkedin.com/in/jason-meixner-002198239","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/centennial-toyota","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.centennialtoyota.com","companyHomepage":"","websiteAbstract":"","city":"Las Vegas","country":"United States"}},{"json":{"row_number":657,"ELV Result":"ok","status":"Draft Email","email":"imendelson@toyotacarlsbad.com","first_name":"Ivan","last_name":"Mendelson","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager at Toyota Carlsbad","organization_name":"Toyota Carlsbad","linkedin_url":"http://www.linkedin.com/in/ivan-mendelson-90449235","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/toyota-carlsbad","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.toyotacarlsbad.com","companyHomepage":"","websiteAbstract":"","city":"Laguna Niguel","country":"United States"}},{"json":{"row_number":658,"ELV Result":"ok","status":"Draft Email","email":"bmendes@puentehillsford.com","first_name":"Bryan","last_name":"Mendes","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Internet Sales Director/Manager","headline":"Automotive Sales Director","organization_name":"Puente Hills Ford","linkedin_url":"http://www.linkedin.com/in/bryan-mendes-814734b5","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/puentehillsford","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.puentehillsford.com","companyHomepage":"","websiteAbstract":"","city":"Ontario","country":"United States"}},{"json":{"row_number":659,"ELV Result":"ok","status":"Draft Email","email":"lmenuzzo@eagny.com","first_name":"Leo","last_name":"Menuzzo","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager Audi Brooklyn","organization_name":"Empire Automotive Group","linkedin_url":"http://www.linkedin.com/in/leo-menuzzo-90212a88","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/empire-automotive-group1","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.shopempireauto.com","companyHomepage":"","websiteAbstract":"","city":"Smithtown","country":"United States"}},{"json":{"row_number":660,"ELV Result":"ok","status":"Draft Email","email":"gmertes@allegiancetrucks.com","first_name":"Geoffrey","last_name":"Mertes","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Vice President, Lease & Rental","headline":"Vice President, Lease & Rental at Allegiance Trucks","organization_name":"Allegiance Trucks","linkedin_url":"http://www.linkedin.com/in/geoffrey-mertes-b9670438","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/allegiance-trucks","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.allegiancetrucks.com","companyHomepage":"","websiteAbstract":"","city":"Boston","country":"United States"}},{"json":{"row_number":661,"ELV Result":"ok","status":"Draft Email","email":"dave@stgautogroup.com","first_name":"Dave","last_name":"Meschon","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager","organization_name":"STG Auto Group","linkedin_url":"http://www.linkedin.com/in/dave-meschon-5ab829195","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/stg-auto-group","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.stgautogroup.com","companyHomepage":"","websiteAbstract":"","city":"Los Angeles","country":"United States"}},{"json":{"row_number":662,"ELV Result":"ok","status":"Draft Email","email":"theresa.messink@gmail.com","first_name":"Theresa","last_name":"Messink","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Personal Asst. to V.P.","headline":"Personal Asst. to V.P. at Camargo Cadillac","organization_name":"Camargo Cadillac","linkedin_url":"http://www.linkedin.com/in/theresa-a-messink-12a87015","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/camargo-cadillac","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.camargocadillac.com","companyHomepage":"","websiteAbstract":"","city":"Cincinnati","country":"United States"}},{"json":{"row_number":663,"ELV Result":"ok","status":"Draft Email","email":"remon@carpros.com","first_name":"Remon","last_name":"Mikhael","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Sales Manager","headline":"General Sales Manager","organization_name":"Car Pros Automotive Group","linkedin_url":"http://www.linkedin.com/in/remon-mikhael-350744132","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/car-pros-automotive-group","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.carpros.com","companyHomepage":"","websiteAbstract":"","city":"Glendale","country":"United States"}},{"json":{"row_number":664,"ELV Result":"ok","status":"Draft Email","email":"kmilan@whiteplainshonda.com","first_name":"Kevin","last_name":"Milan","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Director Of Sales in Service","headline":"Director of sales in service","organization_name":"White Plains Honda","linkedin_url":"http://www.linkedin.com/in/kevin-milan-aa1a3933","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/whiteplainshonda","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.whiteplainshonda.com","companyHomepage":"","websiteAbstract":"","city":"","country":"United States"}},{"json":{"row_number":665,"ELV Result":"ok","status":"Draft Email","email":"randy.milejski@sihonda.com","first_name":"Randy","last_name":"Milejski","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Sales Manager","headline":"General Sales Manager","organization_name":"Honda of Staten Island","linkedin_url":"http://www.linkedin.com/in/randy-milejski-414a501a","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/honda-of-staten-island","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.sihonda.com","companyHomepage":"","websiteAbstract":"","city":"New York","country":"United States"}},{"json":{"row_number":666,"ELV Result":"ok","status":"Draft Email","email":"jeffm@mmsubaru.com","first_name":"Jeffrey","last_name":"Miller","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"CEO & General Manager","headline":"Owner/General Manager at Mark Miller Subaru","organization_name":"Mark Miller Subaru","linkedin_url":"http://www.linkedin.com/in/jeffrey-miller-a1703810","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/mark-miller-subaru","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.markmillersubaru.com","companyHomepage":"","websiteAbstract":"","city":"Salt Lake City","country":"United States"}},{"json":{"row_number":667,"ELV Result":"ok","status":"Draft Email","email":"jmiller@edschmidt.com","first_name":"Justin","last_name":"Miller","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Cronin Commercial Trucks Sales Director","headline":"Cronin Commercial Trucks Sales Director at Perrysburg Automall and Cronin Hillsdale Chrysler, Dodge, Jeep, RAM","organization_name":"Perrysburg Auto Mall","linkedin_url":"http://www.linkedin.com/in/myautoguy","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/ed-schmidt-automotive-group-inc","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.perrysburgautomall.com","companyHomepage":"","websiteAbstract":"","city":"Toledo","country":"United States"}},{"json":{"row_number":668,"ELV Result":"ok","status":"Draft Email","email":"kevin@sutherlinautomotive.com","first_name":"Kevin","last_name":"Miner","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Internet Sales Director","headline":"Internet Sales Director","organization_name":"Sutherlin Automotive Group","linkedin_url":"http://www.linkedin.com/in/kevin-miner-9a7610266","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/sutherlin-automotive-group","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.sutherlinautomotive.com","companyHomepage":"","websiteAbstract":"","city":"Douglasville","country":"United States"}},{"json":{"row_number":669,"ELV Result":"ok","status":"Draft Email","email":"clminor@verizon.net","first_name":"Cindy","last_name":"Minor","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"VP of Claims and Operations","headline":"Vice President of Operations","organization_name":"North American Auto Care-NAAC","linkedin_url":"http://www.linkedin.com/in/cindyminor","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/north-american-auto-care-naac","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.northamericanautocare.co","companyHomepage":"","websiteAbstract":"","city":"Rowlett","country":"United States"}},{"json":{"row_number":670,"ELV Result":"ok","status":"Draft Email","email":"cmitchell@kerryautomotive.com","first_name":"Chris","last_name":"Mitchell","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Executive Vice President","headline":"Executive Vice President at Kerry Automotive Group","organization_name":"Kerry Automotive Group","linkedin_url":"http://www.linkedin.com/in/chris-mitchell-b79ba750","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/kerry-automotive-group","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.kerryautomotive.com","companyHomepage":"","websiteAbstract":"","city":"Cincinnati","country":"United States"}},{"json":{"row_number":671,"ELV Result":"ok","status":"Draft Email","email":"jmitchell@dallastrailer.com","first_name":"Jay","last_name":"Mitchell","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Vice President of Operations at Dallas Trailer","headline":"Vice President of Operations at Dallas Trailer","organization_name":"Dallas Trailer Repair Co Inc.","linkedin_url":"http://www.linkedin.com/in/jaymitchell1","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/dallas-trailer-repair-co","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.dallastrailer.com","companyHomepage":"","websiteAbstract":"","city":"Keller","country":"United States"}},{"json":{"row_number":672,"ELV Result":"ok","status":"Draft Email","email":"brandyn@freightlinerofaugusta.com","first_name":"Brandyn","last_name":"Miville","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager","organization_name":"Freightliner of Augusta","linkedin_url":"http://www.linkedin.com/in/brandyn-miville-659297b1","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/freightliner-of-augusta","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.freightlinerofaugusta.com","companyHomepage":"","websiteAbstract":"","city":"Grovetown","country":"United States"}},{"json":{"row_number":673,"ELV Result":"ok","status":"Draft Email","email":"wendym@siouxcityford.com","first_name":"Wendy","last_name":"Modlin","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Sales Manager","headline":"General Sales Manager at Sioux City Ford Lincoln","organization_name":"Sioux City Ford Lincoln","linkedin_url":"http://www.linkedin.com/in/wendy-modlin-9385109","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/sioux-city-ford","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.siouxcityford.com","companyHomepage":"","websiteAbstract":"","city":"Sioux City","country":"United States"}},{"json":{"row_number":674,"ELV Result":"ok","status":"Draft Email","email":"gerald.moille@drivenstyle.com","first_name":"Gerald","last_name":"Moille","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Franchise Owner","headline":"--","organization_name":"Drive N Style","linkedin_url":"http://www.linkedin.com/in/gerald-moille-123036154","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/drive-n-style","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.drivenstyle.com","companyHomepage":"","websiteAbstract":"","city":"","country":"United States"}},{"json":{"row_number":675,"ELV Result":"ok","status":"Draft Email","email":"michael@moixrv.com","first_name":"Michael","last_name":"Moix","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Co-Owner","headline":"Co-Owner at Moix RV","organization_name":"Moix RV","linkedin_url":"http://www.linkedin.com/in/michael-moix-064651135","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/moixrv","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.moixrv.com","companyHomepage":"","websiteAbstract":"","city":"Conway","country":"United States"}},{"json":{"row_number":676,"ELV Result":"ok","status":"Draft Email","email":"paul@baydos.com","first_name":"Paul","last_name":"Monson","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager at Baydo's RV Center","organization_name":"Baydo's RV Center","linkedin_url":"http://www.linkedin.com/in/paulmonsonrv","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/baydo's-rv-center","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.baydosrvcenter.com","companyHomepage":"","websiteAbstract":"","city":"Tacoma","country":"United States"}},{"json":{"row_number":677,"ELV Result":"ok","status":"Draft Email","email":"amontalvo@pureproductiveservices.com","first_name":"Alfonso","last_name":"Montalvo","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Founder-Chief Executive Officer","headline":"Founder-Chief Executive Officer at Pure Productive Services","organization_name":"Pure Productive Services","linkedin_url":"http://www.linkedin.com/in/alfonso-e-montalvo-6a52482a","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/pure-productive-services-llc.","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.pureproductiveservices.com","companyHomepage":"","websiteAbstract":"","city":"Philadelphia","country":"United States"}},{"json":{"row_number":678,"ELV Result":"ok","status":"Draft Email","email":"jmontalvo@eagny.com","first_name":"Jason","last_name":"Montalvo","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager at Empire Automotive Group","organization_name":"Empire Automotive Group","linkedin_url":"http://www.linkedin.com/in/jason-montalvo-416740141","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/empire-automotive-group1","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.shopempireauto.com","companyHomepage":"","websiteAbstract":"","city":"West Islip","country":"United States"}},{"json":{"row_number":679,"ELV Result":"ok","status":"Draft Email","email":"andrea@universalimports.com","first_name":"Andrea","last_name":"Montante","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Vice President","headline":"Vice President at Universal Imports of Rochester","organization_name":"Universal Imports Of Rochester","linkedin_url":"http://www.linkedin.com/in/andrea-montante-59686158","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/universal-imports-of-rochester","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.universalimports.com","companyHomepage":"","websiteAbstract":"","city":"Macedon","country":"United States"}},{"json":{"row_number":680,"ELV Result":"ok","status":"Draft Email","email":"steve@americanboatcenter.com","first_name":"Steve","last_name":"Moore","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Owner","headline":"American Boat Center","organization_name":"American Boat Center","linkedin_url":"http://www.linkedin.com/in/steve-moore-887459a","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/american-boat-center","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.americanboatcenter.com","companyHomepage":"","websiteAbstract":"","city":"Knoxville","country":"United States"}},{"json":{"row_number":681,"ELV Result":"ok","status":"Draft Email","email":"m.moots@karlchevrolet.com","first_name":"Mike","last_name":"Moots","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Sales Manager","headline":"General Sales Manager","organization_name":"Karl Auto Group","linkedin_url":"http://www.linkedin.com/in/mike-moots-10933735","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/karl-chevrolet-inc-","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.karlauto.com","companyHomepage":"","websiteAbstract":"","city":"Ankeny","country":"United States"}},{"json":{"row_number":682,"ELV Result":"ok","status":"Draft Email","email":"andrew@moramoto.com","first_name":"Andrew","last_name":"Mora","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Business founder","headline":"Founder","organization_name":"Moramoto","linkedin_url":"http://www.linkedin.com/in/andrew-mora-a3066b107","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/moramoto-llc","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.moramoto.com","companyHomepage":"","websiteAbstract":"","city":"","country":"United States"}},{"json":{"row_number":683,"ELV Result":"ok","status":"Draft Email","email":"amorales@ridenowmotors.com","first_name":"Alicia","last_name":"Morales","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager","organization_name":"Ride Now Motors","linkedin_url":"http://www.linkedin.com/in/alicia-morales-7b435999","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/ridenowmotors","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.ridenowmotors.com","companyHomepage":"","websiteAbstract":"","city":"Charlotte","country":"United States"}},{"json":{"row_number":684,"ELV Result":"ok","status":"Draft Email","email":"mikem@hudsonbussales.com","first_name":"Mike","last_name":"Moreau","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"Do onto others as you would want done to you!","organization_name":"Hudson Bus Sales","linkedin_url":"http://www.linkedin.com/in/mike-moreau-1a909646","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/hudsonbussales","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.hudsonbussales.com","companyHomepage":"","websiteAbstract":"","city":"Covington","country":"United States"}},{"json":{"row_number":685,"ELV Result":"ok","status":"Draft Email","email":"smorley@sunriseford.com","first_name":"Seth","last_name":"Morley","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Internet Sales Director","headline":"Internet Sales Director at Sunrise Ford","organization_name":"Sunrise Ford","linkedin_url":"http://www.linkedin.com/in/seth-morley-94a7b461","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/sunrise-ford","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.sunriseford.ca","companyHomepage":"","websiteAbstract":"","city":"Fontana","country":"United States"}},{"json":{"row_number":686,"ELV Result":"ok","status":"Draft Email","email":"dmortier@cardinaleway.com","first_name":"Donny","last_name":"Mortier","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Sales Manager","headline":"General Sales Manager at CardinaleWay Automotive","organization_name":"Cardinale Automotive Group","linkedin_url":"http://www.linkedin.com/in/donny-mortier-a93467a0","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/cardinale-automotive-group","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.cardinaleway.com","companyHomepage":"","websiteAbstract":"","city":"Anaheim","country":"United States"}},{"json":{"row_number":687,"ELV Result":"ok","status":"Draft Email","email":"rmoss@wilkinsrv.com","first_name":"Robert","last_name":"Moss","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager","organization_name":"Wilkins Recreational Vehicles","linkedin_url":"http://www.linkedin.com/in/robert-moss-03a557106","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/wilkins-rv","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.wilkinsrv.com","companyHomepage":"","websiteAbstract":"","city":"Rochester","country":"United States"}},{"json":{"row_number":688,"ELV Result":"ok","status":"Draft Email","email":"bretm@karlchevrolet.com","first_name":"Bret","last_name":"Moyer","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager at Karl Chevrolet Inc.","organization_name":"Karl Auto Group","linkedin_url":"http://www.linkedin.com/in/bret-moyer-b43943112","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/karl-chevrolet-inc-","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.karlauto.com","companyHomepage":"","websiteAbstract":"","city":"Ankeny","country":"United States"}},{"json":{"row_number":689,"ELV Result":"ok","status":"Draft Email","email":"robert.mueller@streetsideclassics.com","first_name":"Robert","last_name":"Mueller","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Co-Owner & Vice President","headline":"Co-Owner & Vice President at Streetside Classics","organization_name":"Streetside Classics","linkedin_url":"http://www.linkedin.com/in/robert-mueller-b3364028","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/streetside-classics","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.streetsideclassics.com","companyHomepage":"","websiteAbstract":"","city":"","country":"United States"}},{"json":{"row_number":690,"ELV Result":"ok","status":"Draft Email","email":"jamie.muldoon@gmail.com","first_name":"Jamie","last_name":"Muldoon","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Sales Manager - AutoNation","headline":"","organization_name":"Mercedes-Benz of Sarasota","linkedin_url":"http://www.linkedin.com/in/jamie-muldoon-3841623b","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/mercedes-benz-of-sarasota","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.mercedesbenzofsarasota.com","companyHomepage":"","websiteAbstract":"","city":"North Port","country":"United States"}},{"json":{"row_number":691,"ELV Result":"ok","status":"Draft Email","email":"em@wanada.org","first_name":"Ed","last_name":"Mullaney","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Vice President, Insurance Operations","headline":"Vice President, Insurance Operations at Washington Area New Automobile Dealers Association","organization_name":"Washington Area New Automobile Dealers Association (WANADA)","linkedin_url":"http://www.linkedin.com/in/ed-mullaney-4a7b3a31","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/washington-area-new-automobile-dealers-association","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.wanada.org","companyHomepage":"","websiteAbstract":"","city":"Bethesda","country":"United States"}},{"json":{"row_number":692,"ELV Result":"ok","status":"Draft Email","email":"frank@alrvsales.com","first_name":"Frank","last_name":"Mullins","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager at A & L RV Sales, LLC","organization_name":"A & L RV Sales, LLC","linkedin_url":"http://www.linkedin.com/in/frank-mullins-30205593","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/a-&-l-rv-sales-llc","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.alrvsales.com","companyHomepage":"","websiteAbstract":"","city":"Lake Park","country":"United States"}},{"json":{"row_number":693,"ELV Result":"ok","status":"Draft Email","email":"mike@ozogauto.com","first_name":"Mike","last_name":"Murphy","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Automotive Mergers and Acquisitions Specialist| Founder","headline":"M&A Specialist","organization_name":"Ozog Consulting Group","linkedin_url":"http://www.linkedin.com/in/mikemurphydirectpointlogistics","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/ozog-automotive","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.ozogauto.com","companyHomepage":"","websiteAbstract":"","city":"Scottsdale","country":"United States"}},{"json":{"row_number":694,"ELV Result":"ok","status":"Draft Email","email":"mikemurphyaz@gmail.com","first_name":"Mike","last_name":"Murphy","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Automotive Mergers and Acquisitions Specialist| Founder","headline":"M&A Specialist","organization_name":"Ozog Consulting Group","linkedin_url":"http://www.linkedin.com/in/mikemurphydirectpointlogistics","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/ozog-automotive","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.ozogauto.com","companyHomepage":"","websiteAbstract":"","city":"Scottsdale","country":"United States"}},{"json":{"row_number":695,"ELV Result":"ok","status":"Draft Email","email":"chris@regatl.com","first_name":"Chris","last_name":"Musson","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager","organization_name":"Rocco's European Garage","linkedin_url":"http://www.linkedin.com/in/chris-musson-488b85271","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/rocco-s-european-garage","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.roccoseuropeangarage.com","companyHomepage":"","websiteAbstract":"","city":"Marietta","country":"United States"}},{"json":{"row_number":696,"ELV Result":"ok","status":"Draft Email","email":"mmustafa@blautogroup.com","first_name":"Moe","last_name":"Mustafa","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager, Northside Toyota (Chicago)","headline":"General Manager at Chicago Northside Toyota","organization_name":"Bob Loquercio Auto Group","linkedin_url":"http://www.linkedin.com/in/moe-mustafa-2a0827210","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/bob-loquercio-auto-group","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.blautogroup.com","companyHomepage":"","websiteAbstract":"","city":"Streamwood","country":"United States"}},{"json":{"row_number":697,"ELV Result":"ok","status":"Draft Email","email":"cmuszynski@graskpeterbilt.com","first_name":"Chad","last_name":"Muszynski","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Executive Vice President","headline":"Vice President GTG Peterbilt","organization_name":"GTG Peterbilt","linkedin_url":"http://www.linkedin.com/in/chad-muszynski-1548863b","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/gtg-peterbilt","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.gtgpeterbilt.com","companyHomepage":"","websiteAbstract":"","city":"Cedar Rapids","country":"United States"}},{"json":{"row_number":698,"ELV Result":"ok","status":"Draft Email","email":"bmyers@jdbnow.com","first_name":"Barry","last_name":"Myers","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"General Manager","headline":"General Manager at JDBNOW Wooster","organization_name":"JDBNOW","linkedin_url":"http://www.linkedin.com/in/barry-myers-a23170153","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/jdbnow","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.jdbnow.com","companyHomepage":"","websiteAbstract":"","city":"Akron","country":"United States"}},{"json":{"row_number":699,"ELV Result":"ok","status":"Draft Email","email":"johnnyred@fleetco.net","first_name":"John","last_name":"Myrick","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"V.P. Sales","headline":"V.P. Sales at Fleetco Inc","organization_name":"Fleetco Inc","linkedin_url":"http://www.linkedin.com/in/john-myrick-b10a7446","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/fleetco-inc","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.fleetco.net","companyHomepage":"","websiteAbstract":"","city":"Memphis","country":"United States"}},{"json":{"row_number":700,"ELV Result":"ok","status":"Draft Email","email":"christopher.narcisse@secureautoshipping.com","first_name":"Christopher","last_name":"Narcisse","subjectLine":"","emailBody":"","leadSummary":"","leadResearch":"","title":"Chief Executive Officer","headline":"Chief Executive Officer at Secure Auto Shipping Inc","organization_name":"Secure Auto Shipping Inc","linkedin_url":"http://www.linkedin.com/in/christopher-narcisse-1206b62a","personalLinkedinAbout":"","organization_linkedin_url":"http://www.linkedin.com/company/secure-auto-shipping-inc","companyLinkedinAbout":"","companyPosts":"","organization_website_url":"http://www.secureautoshipping.com","companyHomepage":"","websiteAbstract":"","city":"Pompano Beach","country":"United States"}}],"newLead":[{"json":{"row_number":608,"email":"rmancini@piazzahonda.com","first_name":"Ray","last_name":"Mancini","title":"GENERAL MANAGER","headline":"General Manager","linkedin_url":"http://www.linkedin.com/in/ray-mancini-3382b596","organization_name":"Piazza Honda of Springfield","organization_website_url":"http://www.piazzahondaspringfield.com","organization_linkedin_url":"http://www.linkedin.com/company/piazza-honda-of-drexel-hill","location":"Springfield, United States"}}],"dealershipOffer":[{"json":{"dealershipOffer":"We partner with companies to help them streamline their sales process and increase revenue with smart automation and AI solutions.\n\nWe're reaching out to car dealerships and helping them turn their old leads into new qualified sales opportunities using AI-powered SMS.\n\nSome benefits include:\n- Recovering lost revenue from leads they already paid for\n- Reducing their need to keep buying new leads\n- Freeing up time for their sales and marketing team by automating follow-ups\n- Done-for-you solution with no learning required\n- Connects to their existing tools and software (CRM)","niche":"dealership"}}]},"versionId":"bffa86ec-da46-400b-b535-80f6829bcd92","triggerCount":1,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"},{"createdAt":"2025-05-08T16:20:55.248Z","updatedAt":"2025-05-08T16:20:55.248Z","id":"KPOFVI2VTTHvP5On","name":"Apollo"}]}