-b2b-finance---(website-scrape)-icebreaker-system-dLF0srM3DP5xol8R.json
{"createdAt":"2025-05-14T10:40:47.813Z","updatedAt":"2025-05-17T09:35:08.205Z","id":"dLF0srM3DP5xol8R","name":"2.3 APOLLO // B2B Finance - (Website Scrape) Icebreaker System","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"7d5fd8f1-6267-4609-8291-2f8e6da22d0c","name":"Remove Duplicate URLs","type":"n8n-nodes-base.removeDuplicates","position":[2260,300],"typeVersion":1.1},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-780,80],"id":"a5ebada7-f0b3-4d02-8baf-639a40479569","name":"When clicking ‘Test workflow’"},{"parameters":{"fieldToSplitOut":"links","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[980,200],"id":"e1f2dc4d-79f3-40b8-b237-2d4027990670","name":"Split Out","alwaysOutputData":true},{"parameters":{"url":"={{ $('Batch 1').item.json.organization_website_url }}{{ $json.cleanLink }}","options":{}},"id":"e199de6e-d25a-4648-bfd4-4626603f4f4b","name":"Request web page for URL","type":"n8n-nodes-base.httpRequest","position":[2500,300],"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"html":"={{ $json.data ? $json.data : \"<div>empty</div>\" }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[2700,300],"id":"d94dc299-c8a2-4805-9db6-beb609c2e25a","name":"Markdown"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're a helpful, intelligent website scraping assistant.","role":"system"},{"content":"You're provided a Markdown scrape of a website page. Your task is to provide a two-paragraph abstract of what this page is about.\n\nReturn in this JSON format:\n\n{\"abstract\":\"your abstract goes here\"}\n\nRules:\n- Your extract should be comprehensive—similar level of detail as an abstract to a published paper.\n- Use a straightforward, spartan tone of voice.\n- If it's empty, just say \"no content\"."},{"content":"={{ $json.data }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2880,300],"id":"a325d12f-4a81-4e5c-adae-ed1c957bb7da","name":"Summarize Website Page","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"url":"={{ $json.organization_website_url }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"c085d528-45e0-49a8-9bbd-f46cb7814415","name":"Scrape Home","type":"n8n-nodes-base.httpRequest","position":[380,200],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"message.content.abstract"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3240,300],"id":"b62739ea-207a-4057-89eb-68e3dbe00e86","name":"Aggregate"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/jljBwyyQakqrL1wae/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_dU25BFJr2bBW36ZQRKMi8w26Rk8bKf2IwUkf"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"getPersonalEmails\": true,\n    \"getWorkEmails\": true,\n    \"totalRecords\": 500,\n    \"url\": \"{{ $json.URL }}\"\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,-420],"id":"13d136bf-33b9-4f0f-8f40-20c4fd00763f","name":"Call Apify Scraper"},{"parameters":{"assignments":{"assignments":[{"id":"04f91b88-bb42-46d3-8695-4694bd1cec72","name":"id","value":"={{ $('Apollo - B2B Finance').item.json.id }}","type":"string"},{"id":"e7737c7a-b5b6-44a1-9f0d-361f0ac7a459","name":"first_name","value":"={{ $('Lead Filter').item.json.first_name }}","type":"string"},{"id":"e867e03d-60e6-4dee-b1ac-12c517fd8d6c","name":"last_name","value":"={{ $('Lead Filter').item.json.last_name }}","type":"string"},{"id":"9ccf7442-97cc-4840-aff0-7919e4119027","name":"title","value":"={{ $('Lead Filter').item.json.title }}","type":"string"},{"id":"d522ec31-e21e-417e-ab78-f4a49019e544","name":"email","value":"={{ $('Lead Filter').item.json.email }}","type":"string"},{"id":"8f1ddf8d-7df8-433e-a687-c1a81cced4e1","name":"website_url","value":"={{ $('Lead Filter').item.json.organization_website_url }}","type":"string"},{"id":"40fd7130-c65d-4826-a713-ecca24d23b07","name":"links","value":"={{ $json.links }}","type":"array"},{"id":"d2eb1588-87d2-43b2-8356-7bfe754c7707","name":"location","value":"={{ $('Lead Filter').item.json.city }} {{ $('Lead Filter').item.json.country }}","type":"string"},{"id":"b9ca5dad-9733-4b62-aeb8-c5675bc423d9","name":"organization_name","value":"={{ $('Lead Filter').item.json.organization_name }}","type":"string"},{"id":"ecd11fc8-130e-498e-8b0b-c995d37e963e","name":"industry","value":"={{ $('Lead Filter').item.json.industry }}","type":"string"},{"id":"5d583ba4-4d9a-481d-af5b-b6f423e61fb3","name":"organization_linkedin_url","value":"={{ $('Lead Filter').item.json.organization_linkedin_url }}","type":"string"},{"id":"bd23f72f-2077-4307-a5bd-5a4166deee4c","name":"estimated_num_employees","value":"={{ $('Lead Filter').item.json.estimated_num_employees }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,200],"id":"9d301dda-b1bb-4eca-93df-0b26350418c9","name":"Edit Fields"},{"parameters":{"content":"Modify to run Apollo scraper from here (need Apify subscription)","height":280,"width":280},"type":"n8n-nodes-base.stickyNote","position":[-20,-520],"typeVersion":1,"id":"08eae2f1-e08a-4008-96c4-aa869fe97eb7","name":"Sticky Note"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1789725,"mode":"list","cachedResultName":"Finance","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1789725"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('Batch 1').item.json.email }}","status":"Proof Read Email","subjectLine":"={{ $json.message.content.subjectLine }}","emailBody":"={{ $json.message.content.emailBody }}"},"matchingColumns":["email"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailBody","displayName":"emailBody","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estimated_num_employees","displayName":"estimated_num_employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3800,300],"id":"7924b241-bd72-4233-ac74-b43fd772a94c","name":"Update Row","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"eb5ae341-0082-47fc-bebe-1c799770a162","name":"cleanLink","value":"={{ $json.message.content.cleanLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2040,300],"id":"507982dd-ebdd-4f7e-83fb-72196ab7a1e6","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc44a289-8c50-4682-8b50-c2e63cfc6514","leftValue":"={{ $json.organization_website_url }}","rightValue":"/","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f8e675e8-99cc-4c30-92e3-e08a659cff9b","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"b8cd2584-c38a-4b2d-840b-a46fde6fa884","leftValue":"={{ $json['ELV Result'] }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5fcae317-58b4-4c2d-bd03-16da74bd0c0b","leftValue":"={{ $json.status }}","rightValue":"Email Address Valid","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-340,80],"id":"bbbea7d7-773a-4d8e-963c-455df7286590","name":"Lead Filter"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1789725,"mode":"list","cachedResultName":"Finance","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1789725"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('Batch 1').item.json.email }}","status":"Scrape LinkedIn Business"},"matchingColumns":["email"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailBody","displayName":"emailBody","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estimated_num_employees","displayName":"estimated_num_employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2120,600],"id":"d6d1c4f1-502b-4f44-abdb-12f23d682a1e","name":"Status: Scrape LinkedIn Business","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[140,80],"id":"33637910-317a-4104-8faa-88c109851142","name":"Batch 1"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"links","cssSelector":"a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true,"cleanUpText":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[580,200],"id":"292d5e1d-d283-407c-b165-7b824b22a81a","name":"Scrape Links"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful and intelligent writing assistant. ","role":"system"},{"content":"=Using the provided lead data, your task is to return a subject line and email boy in a JSON format using the templates below.\n\n\nTemplates:\n\n{\"subjectLine\": \"{FirstName} - q re: {ShortenedCompanyName}\"\n\n{\"emailBody\":\"hey {FirstName}, love {thing} - also {like/a fan} of {otherThing}. Wanted to run something by you.\n\nI've been doing some digging and understand that {anotherThing} is important to you guys (or at least I'm assuming this given the focus on {thisRelevantThing}). A few months ago I put together something interesting that's been working well.\n\nLong story short, it's a system that can turn your old prospects into new qualified oppertunities using smart automation. It can outreach, qualifiy, handle objections, book appointments and send live transfers - all 24/7. Basically means you can recover lost revenue.\n\nI know this is completely out of left field, but I just did this for a similar {paraphraseCompanyIndustry} company and they also do {relatedThing} and we're generating an extra 5-18 appointments per week that they'd written off + nice increase in revenue, so I'm fairly confident it could work for you.\n\nI know this is out of left field, but you were one of the first people I came across. Would this be of any value to you at all?\n\nWouldn't cost you anything, I'd cover costs myself - if it works then when can sort out a deal later (but up to you).\n\nWould love to hear your thoughts when you have a sec!}\"\n\n\n\nGuidelines:\n- Look for plausible (but vague) connections wherever possible.\n- When possible try to connect the subjectLine to the iceBreaker to make the email flow naturally.\n- For your variables, focus on small, non-obvious things to paraphrase. The idea is to make people think we *really* dove deep into their website, so don't use something obvious. Do not say cookie-cutter stuff like \"Love your website!\" or \"Love your take on marketing!\".\n\n\nNotes:\n- Always avoid using — (em dash)\n\n\nRules:\n- Avoid changing the core 'subjectLine' from the template\n- Use their real first name (e.g \"Cap't Jim = Jim\", \"Iron Mike = Mike\"\n- Your tone of voice should be \"casual bar conversation\" and very spartan. No fancy language.\n- Make sure to use the above format when constructing the email. We wrote it this way on purpose.\n- Shorten the company name wherever possible (say, \"XYZ\" instead of \"XYZ Agency\"). More examples: \"Love AMS\" instead of \"Love AMS Professional Services\", \"Love Mayo\" instead of \"Love Mayo Inc.\", etc.\n- Shorten the location names. (e.g. \"San Fran\" instead of \"San Francisco\", \"BC\" instead of \"British Columbia\", etc.)\n- Do not just repeat the input data verbatim. Paraphrase, so they think a human wrote it.\n- Avoid using superscript, subscript or ™, ©, ;, and other signs that look copy and pasted.\n- Avoid suggesting we should have a \"call\"\n\n"},{"content":"=Lead Data:\n\nProfile: {{ $('Batch 1').item.json.first_name }}{{ $('Batch 1').item.json.last_name }}, {{ $('Batch 1').item.json.title }} - {{ $('Batch 1').item.json.headline }}\n\nCompany: {{ $('Batch 1').item.json.organization_name }}\n\nLocation: {{ $('Batch 1').item.json.city }}, {{ $('Batch 1').item.json.country }}\n\nWebsite: {{ $json.abstract.join(\"/n\") }}\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3440,300],"id":"1cd9cb02-da2b-4b8d-914f-c9b2f848dee0","name":"SubjectLine + icebreaker","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"You are an intelligent and helpful assistant.","role":"system"},{"content":"You're task is to take the links and extract only the relative URL.\n\nExample: \n\nInput: https://www.patriotfreightgroup.com/customers/\nOutput: /customers\n\nInput: /\nOutput: /\n\nInput: #content\nOutput: Null\n\nRules:\n- Always output in JSON format in this format: \"cleanLink\":\"output\"\n- If input is a single / then output a single /\n- Remove the trailing /\n- Only \"error\" if there are 0 items in the \"success branch\""},{"content":"={{ $json.links }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1660,300],"id":"0bd7deaf-cafb-49f4-9655-d37918c2f7c4","name":"Clean up links | 3.5 Turbo","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cbe6415-5a55-43b1-95b4-9f67ca3adf2d","leftValue":"={{ $json.subjectLine }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"d23ec040-25b6-43d7-bf6a-a1f1117b2065","leftValue":"={{ $json.emailBody }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[360,-20],"id":"07a6b2f1-904a-4a85-a939-b8dcf73d7f43","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1789725,"mode":"list","cachedResultName":"Finance","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1789725"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('Batch 1').item.json.email }}","status":"Proof Read Email","subjectLine":"={{ $json.subjectLine }}","emailBody":"={{ $json.emailBody }}"},"matchingColumns":["email"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailBody","displayName":"emailBody","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estimated_num_employees","displayName":"estimated_num_employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[600,-100],"id":"da96a638-f5f7-4cad-b016-07326ecb26e6","name":"Update Row1","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"maxItems":15},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1460,300],"id":"c2732b40-ab8f-4430-8877-18b1351d311b","name":"15 Links Only"},{"parameters":{"documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1789725,"mode":"list","cachedResultName":"Finance","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1789725"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-560,80],"id":"14a825f5-e2c0-4a58-a0e2-6348e8a6e766","name":"Apollo - B2B Finance","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"maxItems":35},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-120,80],"id":"a19452ac-f30a-42bb-b827-1d7012379b99","name":"Limit 35 Results"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Apollo - B2B Finance","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"15 Links Only","type":"main","index":0}]]},"Request web page for URL":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Remove Duplicate URLs":{"main":[[{"node":"Request web page for URL","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Summarize Website Page","type":"main","index":0}]]},"Summarize Website Page":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Scrape Home":{"main":[[{"node":"Scrape Links","type":"main","index":0}],[{"node":"Status: Scrape LinkedIn Business","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"SubjectLine + icebreaker","type":"main","index":0}]]},"Call Apify Scraper":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Update Row":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Remove Duplicate URLs","type":"main","index":0}]]},"Lead Filter":{"main":[[{"node":"Limit 35 Results","type":"main","index":0}]]},"Batch 1":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Scrape Home","type":"main","index":0}]]},"Scrape Links":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Status: Scrape LinkedIn Business":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"SubjectLine + icebreaker":{"main":[[{"node":"Update Row","type":"main","index":0}]]},"Clean up links | 3.5 Turbo":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Status: Scrape LinkedIn Business","type":"main","index":0}]]},"If":{"main":[[{"node":"Update Row1","type":"main","index":0}]]},"15 Links Only":{"main":[[{"node":"Clean up links | 3.5 Turbo","type":"main","index":0}]]},"Apollo - B2B Finance":{"main":[[{"node":"Lead Filter","type":"main","index":0}]]},"Limit 35 Results":{"main":[[{"node":"Batch 1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"497e8b9a-ae41-485e-9268-bca03a2926ef","triggerCount":0,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"},{"createdAt":"2025-05-08T16:20:55.248Z","updatedAt":"2025-05-08T16:20:55.248Z","id":"KPOFVI2VTTHvP5On","name":"Apollo"}]}