-brokers---(website-scrape)-icebreaker-system-dAf8I5zzCW5C3ZrW.json
{"createdAt":"2025-05-16T15:50:06.172Z","updatedAt":"2025-06-18T14:06:27.426Z","id":"dAf8I5zzCW5C3ZrW","name":"DELETE 2.4 APOLLO // Brokers - (Website Scrape) Icebreaker System","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"464380f5-f0f5-4a9e-972a-2e31a8299276","name":"Remove Duplicate URLs","type":"n8n-nodes-base.removeDuplicates","position":[2260,300],"typeVersion":1.1},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-780,80],"id":"896beb7b-28cf-468b-ba34-718db7427139","name":"When clicking ‘Test workflow’"},{"parameters":{"fieldToSplitOut":"links","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[980,200],"id":"56582ed3-8e03-4fba-a116-46370598b4cb","name":"Split Out","alwaysOutputData":true},{"parameters":{"url":"={{ $('Batch 1').item.json.organization_website_url }}{{ $json.cleanLink }}","options":{}},"id":"406755c8-2839-4f7b-a5fc-3a72f8e93efc","name":"Request web page for URL","type":"n8n-nodes-base.httpRequest","position":[2500,300],"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"html":"={{ $json.data ? $json.data : \"<div>empty</div>\" }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[2700,300],"id":"8a29e807-3b1b-4f4b-8fdd-5952a7fb7e86","name":"Markdown"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're a helpful, intelligent website scraping assistant.","role":"system"},{"content":"You're provided a Markdown scrape of a website page. Your task is to provide a two-paragraph abstract of what this page is about.\n\nReturn in this JSON format:\n\n{\"abstract\":\"your abstract goes here\"}\n\nRules:\n- Your extract should be comprehensive—similar level of detail as an abstract to a published paper.\n- Use a straightforward, spartan tone of voice.\n- If it's empty, just say \"no content\"."},{"content":"={{ $json.data }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2880,300],"id":"a002744d-eebe-4e67-8e58-fad3792e8240","name":"Summarize Website Page","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"url":"={{ $json.organization_website_url }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"04b7bc22-9612-459c-8b9e-15f85fc79506","name":"Scrape Home","type":"n8n-nodes-base.httpRequest","position":[380,200],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"message.content.abstract"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3240,300],"id":"b1e873b0-82f0-4846-8732-45559561c9a4","name":"Aggregate"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/jljBwyyQakqrL1wae/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_dU25BFJr2bBW36ZQRKMi8w26Rk8bKf2IwUkf"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"getPersonalEmails\": true,\n    \"getWorkEmails\": true,\n    \"totalRecords\": 500,\n    \"url\": \"{{ $json.URL }}\"\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,-420],"id":"cb6d458a-eebe-4186-8363-3bfa04e8b19f","name":"Call Apify Scraper"},{"parameters":{"assignments":{"assignments":[{"id":"04f91b88-bb42-46d3-8695-4694bd1cec72","name":"id","value":"={{ $('Apollo - Brokers').item.json.id }}","type":"string"},{"id":"e7737c7a-b5b6-44a1-9f0d-361f0ac7a459","name":"first_name","value":"={{ $('Lead Filter').item.json.first_name }}","type":"string"},{"id":"e867e03d-60e6-4dee-b1ac-12c517fd8d6c","name":"last_name","value":"={{ $('Lead Filter').item.json.last_name }}","type":"string"},{"id":"9ccf7442-97cc-4840-aff0-7919e4119027","name":"title","value":"={{ $('Lead Filter').item.json.title }}","type":"string"},{"id":"d522ec31-e21e-417e-ab78-f4a49019e544","name":"email","value":"={{ $('Lead Filter').item.json.email }}","type":"string"},{"id":"8f1ddf8d-7df8-433e-a687-c1a81cced4e1","name":"website_url","value":"={{ $('Lead Filter').item.json.organization_website_url }}","type":"string"},{"id":"40fd7130-c65d-4826-a713-ecca24d23b07","name":"links","value":"={{ $json.links }}","type":"array"},{"id":"d2eb1588-87d2-43b2-8356-7bfe754c7707","name":"location","value":"={{ $('Lead Filter').item.json.city }} {{ $('Lead Filter').item.json.country }}","type":"string"},{"id":"b9ca5dad-9733-4b62-aeb8-c5675bc423d9","name":"organization_name","value":"={{ $('Lead Filter').item.json.organization_name }}","type":"string"},{"id":"ecd11fc8-130e-498e-8b0b-c995d37e963e","name":"industry","value":"={{ $('Lead Filter').item.json.industry }}","type":"string"},{"id":"5d583ba4-4d9a-481d-af5b-b6f423e61fb3","name":"organization_linkedin_url","value":"={{ $('Lead Filter').item.json.organization_linkedin_url }}","type":"string"},{"id":"bd23f72f-2077-4307-a5bd-5a4166deee4c","name":"estimated_num_employees","value":"={{ $('Lead Filter').item.json.estimated_num_employees }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,200],"id":"a6a66265-d0cd-44bb-b755-d63fecebadcf","name":"Edit Fields"},{"parameters":{"content":"Modify to run Apollo scraper from here (need Apify subscription)","height":280,"width":280},"type":"n8n-nodes-base.stickyNote","position":[-20,-520],"typeVersion":1,"id":"54919773-bc16-461e-b8bd-8c5900ec1f1a","name":"Sticky Note"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1667316659,"mode":"list","cachedResultName":"Brokers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1667316659"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('Batch 1').item.json.email }}","status":"Proof Read Email","subjectLine":"={{ $json.message.content.subjectLine }}","emailBody":"={{ $json.message.content.emailBody }}"},"matchingColumns":["email"],"schema":[{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailBody","displayName":"emailBody","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estimated_num_employees","displayName":"estimated_num_employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3800,300],"id":"cc4c2b0e-9479-47f5-a9af-f5327f4f19a2","name":"Update Row","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"eb5ae341-0082-47fc-bebe-1c799770a162","name":"cleanLink","value":"={{ $json.message.content.cleanLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2040,300],"id":"b6586594-ba82-484e-b4a0-3765439fc07e","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc44a289-8c50-4682-8b50-c2e63cfc6514","leftValue":"={{ $json.organization_website_url }}","rightValue":"/","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f8e675e8-99cc-4c30-92e3-e08a659cff9b","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"b8cd2584-c38a-4b2d-840b-a46fde6fa884","leftValue":"={{ $json['ELV Result'] }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5fcae317-58b4-4c2d-bd03-16da74bd0c0b","leftValue":"={{ $json.status }}","rightValue":"Email Address Valid","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-340,80],"id":"eb0fa03b-e5e8-487d-81ca-34bd4a190cc6","name":"Lead Filter"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1667316659,"mode":"list","cachedResultName":"Brokers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1667316659"},"columns":{"mappingMode":"defineBelow","value":{"status":"Scrape LinkedIn Business","email":"={{ $('Batch 1').item.json.email }}"},"matchingColumns":["email"],"schema":[{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailBody","displayName":"emailBody","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estimated_num_employees","displayName":"estimated_num_employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2120,600],"id":"df7721af-86e6-41b1-aeab-a6f576b90b23","name":"Status: Scrape LinkedIn Business","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[140,80],"id":"25273471-d991-4cc2-8e5f-795ef1d7ef55","name":"Batch 1"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"links","cssSelector":"a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true,"cleanUpText":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[580,200],"id":"3a294332-313a-45fe-b92d-a08fb704ca71","name":"Scrape Links"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful and intelligent writing assistant. ","role":"system"},{"content":"=Using the provided lead data, your task is to return a subject line and email boy in a JSON format using the templates below.\n\n\nTemplates:\n\n{\"subjectLine\": \"hey {firstName}, think I have something for you re: {thingAboutThem}\"\n\n{\"emailBody\":\"Hope you don't mind, but I've been digging into {shortenedCompany}, and saw you're {the/a} {shortenedLowercasePosition/Title} - love the focus on {thing}.\n\nI know you're doing {anotherThing} and I've been {followingInterested} in {relatedThing} for a while so I figured it made sense to chat.\n\nCurious, do you have any old leads that we could convert for you on a pay per result basis?\n\njust did this for a similar {paraphraseCompanyIndustry} company and they also do {serviceRelatedThing} and we're converting 9% of their old leads into new sales 24/7 with smart automation.\n\nI know this is out of left field, but you were one of the first people I came across. Would this be of any value to you at all?\n\nWouldn't cost you anything upfront, I'd cover costs myself - if it works then when can sort out a deal later (but no pressure).\n\nLet me know your thoughts when you have a sec!}\"\n\n\n\n\nGuidelines:\n- Look for plausible (but vague) connections wherever possible, but do not reference specific location names.\n- When possible try to connect the subjectLine to the iceBreaker to make the email flow naturally.\n- For your variables, focus on small, non-obvious things to paraphrase. The idea is to make people think we *really* dove deep into their website, so don't use something obvious. Do not say cookie-cutter stuff like \"Love your website!\" or \"Love your take on marketing!\".\n\n\nNotes:\n- Always avoid using — (em dash)\n\n\nRules:\n- Avoid changing the core 'subjectLine' from the template, make sure {thingAboutThem} is about them (not generic or about 'old leads', etc.)\n- Use their real first name (e.g \"Cap't Jim = jim\", \"Iron Mike = mike\"\n- Your tone of voice should be \"casual bar conversation\" and very spartan. No fancy language.\n- Make sure to use the above format when constructing your icebreakers. We wrote it this way on purpose.\n- Shorten the company name wherever possible (say, \"XYZ\" instead of \"XYZ Agency\"). More examples: \"Love AMS\" instead of \"Love AMS Professional Services\", \"Love Mayo\" instead of \"Love Mayo Inc\", \"Claremont\" insted of \"Claremont Insurance Services\" etc.\n- Do the same with locations. \"San Fran\" instead of \"San Francisco\", \"BC\" instead of \"British Columbia\", etc.\n- Do not just repeat the input data verbatim. Paraphrase, so they think a human wrote it.\n- Make sure the \"subjectLine\" is non-capitalized, even if it’s grammatically incorrect. This makes the email seem more human.\n- Avoid using superscript, subscript or ™, ©, ;, and other signs that look copy and pasted.\n- Avoid suggesting we should have a \"call\"\n- Use shortened abbreviation and lowercase for {Position/Title} (e.g. Director of Business Development = director of BD. CEO = ceo)\n\n"},{"content":"=Lead Data:\n\nProfile: {{ $('Batch 1').item.json.first_name }}{{ $('Batch 1').item.json.last_name }}, {{ $('Batch 1').item.json.title }} - {{ $('Batch 1').item.json.headline }}\n\nCompany: {{ $('Batch 1').item.json.organization_name }}\n\nLocation: {{ $('Batch 1').item.json.city }}, {{ $('Batch 1').item.json.country }}\n\nWebsite: {{ $json.abstract.join(\"/n\") }}\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3440,300],"id":"a594b39b-0f68-4b4f-9c7d-cb9081661b04","name":"SubjectLine + icebreaker","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"You are an intelligent and helpful assistant.","role":"system"},{"content":"You're task is to take the links and extract only the relative URL.\n\nExample: \n\nInput: https://www.patriotfreightgroup.com/customers/\nOutput: /customers\n\nInput: /\nOutput: /\n\nInput: #content\nOutput: Null\n\nRules:\n- Always output in JSON format in this format: \"cleanLink\":\"output\"\n- If input is a single / then output a single /\n- Remove the trailing /\n- Only \"error\" if there are 0 items in the \"success branch\""},{"content":"={{ $json.links }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1660,300],"id":"4a5cac74-24bc-4f0d-96ac-6896dad2de8a","name":"Clean up links | 3.5 Turbo","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cbe6415-5a55-43b1-95b4-9f67ca3adf2d","leftValue":"={{ $json.subjectLine }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"d23ec040-25b6-43d7-bf6a-a1f1117b2065","leftValue":"={{ $json.emailBody }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[360,-20],"id":"2baed27f-e577-4b5a-b8f8-2620f2635613","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1667316659,"mode":"list","cachedResultName":"Brokers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1667316659"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('Batch 1').item.json.email }}","status":"Proof Read Email","subjectLine":"={{ $json.subjectLine }}","emailBody":"={{ $json.emailBody }}"},"matchingColumns":["email"],"schema":[{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailBody","displayName":"emailBody","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estimated_num_employees","displayName":"estimated_num_employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[600,-100],"id":"19a600ac-ffab-4bde-8b73-8fa48076cc71","name":"Update Row1","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"maxItems":15},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1460,300],"id":"f95cabee-76eb-4093-a6de-84efb2b621e8","name":"15 Links Only"},{"parameters":{"documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1667316659,"mode":"list","cachedResultName":"Brokers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1667316659"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-560,80],"id":"368e1821-491b-4fa7-816a-8f7cf10b15be","name":"Apollo - Brokers","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"maxItems":45},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-120,80],"id":"7028011f-9832-4298-bc7b-005c844667fb","name":"Limit 45 Results"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Apollo - Brokers","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"15 Links Only","type":"main","index":0}]]},"Request web page for URL":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Remove Duplicate URLs":{"main":[[{"node":"Request web page for URL","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Summarize Website Page","type":"main","index":0}]]},"Summarize Website Page":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Scrape Home":{"main":[[{"node":"Scrape Links","type":"main","index":0}],[{"node":"Status: Scrape LinkedIn Business","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"SubjectLine + icebreaker","type":"main","index":0}]]},"Call Apify Scraper":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Update Row":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Remove Duplicate URLs","type":"main","index":0}]]},"Lead Filter":{"main":[[{"node":"Limit 45 Results","type":"main","index":0}]]},"Batch 1":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Scrape Home","type":"main","index":0}]]},"Scrape Links":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Status: Scrape LinkedIn Business":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"SubjectLine + icebreaker":{"main":[[{"node":"Update Row","type":"main","index":0}]]},"Clean up links | 3.5 Turbo":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Status: Scrape LinkedIn Business","type":"main","index":0}]]},"If":{"main":[[{"node":"Update Row1","type":"main","index":0}]]},"15 Links Only":{"main":[[{"node":"Clean up links | 3.5 Turbo","type":"main","index":0}]]},"Apollo - Brokers":{"main":[[{"node":"Lead Filter","type":"main","index":0}]]},"Limit 45 Results":{"main":[[{"node":"Batch 1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a4bce74a-2105-406a-9fbd-b0ee73231995","triggerCount":0,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"},{"createdAt":"2025-05-08T16:20:55.248Z","updatedAt":"2025-05-08T16:20:55.248Z","id":"KPOFVI2VTTHvP5On","name":"Apollo"}]}