-coaches---(website-scrape)-icebreaker-system-JdHjouIUh5Az2VV4.json
{"createdAt":"2025-05-13T15:50:23.360Z","updatedAt":"2025-05-17T08:46:46.918Z","id":"JdHjouIUh5Az2VV4","name":"2.2 APOLLO // Coaches - (Website Scrape) Icebreaker System","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"5d729dcc-0d35-4841-a353-87f6966647a2","name":"Remove Duplicate URLs","type":"n8n-nodes-base.removeDuplicates","position":[2260,300],"typeVersion":1.1},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-780,80],"id":"a543daab-dde3-45f5-b77e-d0f8e002e9e3","name":"When clicking ‘Test workflow’"},{"parameters":{"fieldToSplitOut":"links","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[980,200],"id":"e579b06f-b129-4613-90e2-a68a52da51e5","name":"Split Out","alwaysOutputData":true},{"parameters":{"url":"={{ $('Batch 1').item.json.organization_website_url }}{{ $json.cleanLink }}","options":{}},"id":"eb89bdba-5497-4aa7-9401-4f1e42987585","name":"Request web page for URL","type":"n8n-nodes-base.httpRequest","position":[2500,300],"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"html":"={{ $json.data ? $json.data : \"<div>empty</div>\" }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[2700,300],"id":"0554aea4-9e39-4247-9773-806cb1687c17","name":"Markdown"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're a helpful, intelligent website scraping assistant.","role":"system"},{"content":"You're provided a Markdown scrape of a website page. Your task is to provide a two-paragraph abstract of what this page is about.\n\nReturn in this JSON format:\n\n{\"abstract\":\"your abstract goes here\"}\n\nRules:\n- Your extract should be comprehensive—similar level of detail as an abstract to a published paper.\n- Use a straightforward, spartan tone of voice.\n- If it's empty, just say \"no content\"."},{"content":"={{ $json.data }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2880,300],"id":"a0e648d4-73e0-445a-a2a6-9cdcbb8b0efa","name":"Summarize Website Page","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"url":"={{ $json.organization_website_url }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"5416088e-f85a-4789-ac42-3a1ce2261a1d","name":"Scrape Home","type":"n8n-nodes-base.httpRequest","position":[380,200],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"message.content.abstract"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3240,300],"id":"1c4de7d9-df77-42c4-b026-29dd8071f015","name":"Aggregate"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/jljBwyyQakqrL1wae/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_dU25BFJr2bBW36ZQRKMi8w26Rk8bKf2IwUkf"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"getPersonalEmails\": true,\n    \"getWorkEmails\": true,\n    \"totalRecords\": 500,\n    \"url\": \"{{ $json.URL }}\"\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,-420],"id":"e85d1e32-dd46-45c8-9234-19b64d226c30","name":"Call Apify Scraper"},{"parameters":{"assignments":{"assignments":[{"id":"04f91b88-bb42-46d3-8695-4694bd1cec72","name":"id","value":"={{ $('Apollo - Coaches').item.json.id }}","type":"string"},{"id":"e7737c7a-b5b6-44a1-9f0d-361f0ac7a459","name":"first_name","value":"={{ $('Lead Filter').item.json.first_name }}","type":"string"},{"id":"e867e03d-60e6-4dee-b1ac-12c517fd8d6c","name":"last_name","value":"={{ $('Lead Filter').item.json.last_name }}","type":"string"},{"id":"9ccf7442-97cc-4840-aff0-7919e4119027","name":"title","value":"={{ $('Lead Filter').item.json.title }}","type":"string"},{"id":"d522ec31-e21e-417e-ab78-f4a49019e544","name":"email","value":"={{ $('Lead Filter').item.json.email }}","type":"string"},{"id":"8f1ddf8d-7df8-433e-a687-c1a81cced4e1","name":"website_url","value":"={{ $('Lead Filter').item.json.organization_website_url }}","type":"string"},{"id":"40fd7130-c65d-4826-a713-ecca24d23b07","name":"links","value":"={{ $json.links }}","type":"array"},{"id":"d2eb1588-87d2-43b2-8356-7bfe754c7707","name":"location","value":"={{ $('Lead Filter').item.json.city }} {{ $('Lead Filter').item.json.country }}","type":"string"},{"id":"b9ca5dad-9733-4b62-aeb8-c5675bc423d9","name":"organization_name","value":"={{ $('Lead Filter').item.json.organization_name }}","type":"string"},{"id":"ecd11fc8-130e-498e-8b0b-c995d37e963e","name":"industry","value":"={{ $('Lead Filter').item.json.industry }}","type":"string"},{"id":"5d583ba4-4d9a-481d-af5b-b6f423e61fb3","name":"organization_linkedin_url","value":"={{ $('Lead Filter').item.json.organization_linkedin_url }}","type":"string"},{"id":"bd23f72f-2077-4307-a5bd-5a4166deee4c","name":"estimated_num_employees","value":"={{ $('Lead Filter').item.json.estimated_num_employees }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,200],"id":"81a55a9a-b9c3-4a24-a5e6-d689b8bcc09c","name":"Edit Fields"},{"parameters":{"content":"Modify to run Apollo scraper from here (need Apify subscription)","height":280,"width":280},"type":"n8n-nodes-base.stickyNote","position":[-20,-520],"typeVersion":1,"id":"b0112a43-0bb5-4b23-a06c-2f513250a72d","name":"Sticky Note"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1333475617,"mode":"list","cachedResultName":"Coaches","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1333475617"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('Batch 1').item.json.email }}","status":"Proof Read Email","subjectLine":"={{ $json.message.content.subjectLine }}","emailBody":"={{ $json.message.content.emailBody }}","businessSummary":"={{ $json.message.content.businessSummary }}","travelOffer":"={{ $json.message.content.travelOffer }}"},"matchingColumns":["email"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailBody","displayName":"emailBody","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"businessSummary","displayName":"businessSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"travelOffer","displayName":"travelOffer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estimated_num_employees","displayName":"estimated_num_employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3800,300],"id":"63504bd9-f4f2-49a6-808c-a824a4a428b2","name":"Update Row","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"eb5ae341-0082-47fc-bebe-1c799770a162","name":"cleanLink","value":"={{ $json.message.content.cleanLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2040,300],"id":"0efd694c-4dfa-42e3-908e-fa97bfd68dca","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc44a289-8c50-4682-8b50-c2e63cfc6514","leftValue":"={{ $json.organization_website_url }}","rightValue":"/","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f8e675e8-99cc-4c30-92e3-e08a659cff9b","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"b8cd2584-c38a-4b2d-840b-a46fde6fa884","leftValue":"={{ $json['ELV Result'] }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5fcae317-58b4-4c2d-bd03-16da74bd0c0b","leftValue":"={{ $json.status }}","rightValue":"Email Address Valid","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-340,80],"id":"4f6d85a7-ca8e-4e0f-921e-9c5559268799","name":"Lead Filter"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1333475617,"mode":"list","cachedResultName":"Coaches","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1333475617"},"columns":{"mappingMode":"defineBelow","value":{"status":"Scrape LinkedIn Business","email":"={{ $('Batch 1').item.json.email }}"},"matchingColumns":["email"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailBody","displayName":"emailBody","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estimated_num_employees","displayName":"estimated_num_employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2120,600],"id":"98dd80e4-4afa-4a81-bdb6-a9f1bd78cffd","name":"Status: Scrape LinkedIn Business","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[140,80],"id":"e33a2165-6906-4455-9a08-77031b81080e","name":"Batch 1"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"links","cssSelector":"a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true,"cleanUpText":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[580,200],"id":"3d547822-2351-44c8-b204-160a3c4fd0e7","name":"Scrape Links"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful and intelligent writing assistant. ","role":"system"},{"content":"=Using the provided lead data, your task is to return a \"subjectLine\", \"emailBody\", \"businessSummary\", and \"travelOffer\" in a JSON format using the templates below.\n\n\nTemplates:\n\n{\"subjectLine\": \"hey {firstName}, think I have something for you re: {thingAboutThem}\"\"\n\n{\"emailBody\":\"Love {thing} - also {doing/like/a fan} of {otherThing}. Wanted to run something by you.\n\nHope you don't mind, but I've been digging into {shortCompany} a bit, and know that {anotherThing} is important to you (or at least I'm assuming this given the focus on {fourthLogicalThing}).\n\nA short while ago, I built a system that helps {paraphraseIndustry} {businesses/companies} convert old leads into new sales oppertunityes automatically. It handles outreach, qualification, objections, and booking calls. \n\nBasically means you can recover lost revenue from your list - such past webinar attendees, past customers, and other folks who didn't convert to your high ticket offer.\n\njust did this for a similar {paraphraseCompanyIndustry} {business/company} and they also do {relatedThing} and it's saving them a ton of outreach time, generates 10-40 qualified appts every week + recovers a chunk of revenue from old leads they already had.\n\nI know this is out of left field, but you were one of the first people I came across. Would this be of any value to you at all?\n\nWouldn't cost you anything, I'd cover costs myself - if it works then when can sort out a deal later (but up to you).\n\nPs - even if we just chat I'd love to hear about what you're doing with {personalThingTheyMentioned}\"}\n\n{\"businessSummary\": \"Either way, love what you're doing with {ShortParaphrasedSummary} and {detailAboutTheirPersonalExperience}\"}\n\n{\"travelOffer\"}: \"I know it's a little random, but thought it might be a good fit with your {SpecificLeadNiche} clients - could be awesome for them to {ReaslisticValueableNicheReason} while in Italy :)\"}\n\n\nGuidelines:\n- Look for plausible (but vague) connections wherever possible.\n- When possible try to connect the subjectLine to the iceBreaker to make the email flow naturally.\n- {fourthLogicalThing} should be a logical continuation from {anotherThing} that makes sense\n\n\n\nNotes:\n- Always avoid using — (em dash)\n- Don't change the wording for \"like past webinar attendees and other folks who didn't convert to your high ticket offer\"\n- For your variables, focus on small, non-obvious things to paraphrase. The idea is to make people think we *really* dove deep into their website, so don't use something obvious. Do not say cookie-cutter stuff like \"Love your website!\" or \"Love your take on marketing!\".\n- Avoid talking about data privacy or protection\n- Avoid using superscript, subscript or ™, ©,®, ;, and other signs/symbols that look copy and pasted.\n\n\nRules:\n- Avoid changing the core 'subjectLine' from the template, make sure {thingAboutThem} is not generic.\n- Use their real first name (e.g \"Cap't Jim = jim\", \"Iron Mike = mike\"\n- Your tone of voice should be \"casual bar conversation\" and very spartan. No fancy language.\n- Make sure to use the above format when constructing your icebreakers. We wrote it this way on purpose.\n- Shorten the company name wherever possible (e.g. \"XYZ\" instead of \"XYZ Agency\". \"Love AMS\" instead of \"Love AMS Professional Services\", \"Love Mayo\" instead of \"Love Mayo Inc.\", \"TCD\" not \"The Change Doctor Intl.\", \"Nyman\" not \"Nyman Group\", etc.)\n- Do the same with locations. \"San Fran\" instead of \"San Francisco\", \"BC\" instead of \"British Columbia\", etc.\n- Mirror their language but do not just repeat the lead data verbatim. Paraphrase, so they think a human wrote it.\n- Make sure the \"subjectLine\" is non-capitalized, even if it’s grammatically incorrect. This makes the email seem more human.\n- Avoid suggesting we should have a \"call\"\n- Avoid using the \"companyName\" in the \"Ps\" line\n- Avoid using '' or \"\" (e.g. also a fan of your book Choosing Greatness. Instead of, also a fan of your book 'Choosing Greatness').\n\n"},{"content":"=Lead Data:\n\nProfile: {{ $('Batch 1').item.json.first_name }}{{ $('Batch 1').item.json.last_name }}, {{ $('Batch 1').item.json.title }} - {{ $('Batch 1').item.json.headline }}\n\nCompany: {{ $('Batch 1').item.json.organization_name }}\n\nLocation: {{ $('Batch 1').item.json.city }}, {{ $('Batch 1').item.json.country }}\n\nWebsite: {{ $json.abstract.join(\"/n\") }}\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3440,300],"id":"045ef3a1-b31c-4c70-b96b-f80448e41134","name":"SubjectLine + icebreaker","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"You are an intelligent and helpful assistant.","role":"system"},{"content":"You're task is to take the links and extract only the relative URL.\n\nExample: \n\nInput: https://www.patriotfreightgroup.com/customers/\nOutput: /customers\n\nInput: /\nOutput: /\n\nInput: #content\nOutput: Null\n\nRules:\n- Always output in JSON format in this format: \"cleanLink\":\"output\"\n- If input is a single / then output a single /\n- Remove the trailing /\n- Only \"error\" if there are 0 items in the \"success branch\""},{"content":"={{ $json.links }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1660,300],"id":"7914ed3c-5097-4f46-b035-e030b3f4d572","name":"Clean up links | 3.5 Turbo","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"Test DeepSeek"},"type":"n8n-nodes-base.stickyNote","position":[1660,80],"typeVersion":1,"id":"ca76878a-74ad-400d-bc22-0d64909d6246","name":"Sticky Note2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cbe6415-5a55-43b1-95b4-9f67ca3adf2d","leftValue":"={{ $json.subjectLine }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"d23ec040-25b6-43d7-bf6a-a1f1117b2065","leftValue":"={{ $json.emailBody }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[360,-20],"id":"1ae0cd1c-8c90-400d-9741-06def40e41fd","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1333475617,"mode":"list","cachedResultName":"Coaches","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1333475617"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('Batch 1').item.json.email }}","status":"Proof Read Email","subjectLine":"={{ $json.subjectLine }}","emailBody":"={{ $json.emailBody }}"},"matchingColumns":["email"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailBody","displayName":"emailBody","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estimated_num_employees","displayName":"estimated_num_employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[600,-100],"id":"33ca894a-1a3a-4b9c-be59-69a991c675ac","name":"Update Row1","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"maxItems":15},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1460,300],"id":"337a3410-2608-4f83-8c65-7d650de1d00c","name":"15 Links Only"},{"parameters":{"documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1333475617,"mode":"list","cachedResultName":"Coaches","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1333475617"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-560,80],"id":"476ba539-8c13-45fa-b46e-5d319e0c24b9","name":"Apollo - Coaches","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"maxItems":3},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-120,80],"id":"3a656345-c0e5-4569-a002-3b92605d1ed9","name":"Limit 3 Results"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Apollo - Coaches","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"15 Links Only","type":"main","index":0}]]},"Request web page for URL":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Remove Duplicate URLs":{"main":[[{"node":"Request web page for URL","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Summarize Website Page","type":"main","index":0}]]},"Summarize Website Page":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Scrape Home":{"main":[[{"node":"Scrape Links","type":"main","index":0}],[{"node":"Status: Scrape LinkedIn Business","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"SubjectLine + icebreaker","type":"main","index":0}]]},"Call Apify Scraper":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Update Row":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Remove Duplicate URLs","type":"main","index":0}]]},"Lead Filter":{"main":[[{"node":"Limit 3 Results","type":"main","index":0}]]},"Batch 1":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Scrape Home","type":"main","index":0}]]},"Scrape Links":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Status: Scrape LinkedIn Business":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"SubjectLine + icebreaker":{"main":[[{"node":"Update Row","type":"main","index":0}]]},"Clean up links | 3.5 Turbo":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Status: Scrape LinkedIn Business","type":"main","index":0}]]},"If":{"main":[[{"node":"Update Row1","type":"main","index":0}]]},"15 Links Only":{"main":[[{"node":"Clean up links | 3.5 Turbo","type":"main","index":0}]]},"Apollo - Coaches":{"main":[[{"node":"Lead Filter","type":"main","index":0}]]},"Limit 3 Results":{"main":[[{"node":"Batch 1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0683f6d6-3bec-4b55-878f-a9e6b880eeea","triggerCount":0,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"},{"createdAt":"2025-05-08T16:20:55.248Z","updatedAt":"2025-05-08T16:20:55.248Z","id":"KPOFVI2VTTHvP5On","name":"Apollo"}]}