-draft-email-+-info-extraction-A060N8TN6rvsOmKp.json
{"createdAt":"2025-03-23T15:37:42.370Z","updatedAt":"2025-05-07T12:53:29.951Z","id":"A060N8TN6rvsOmKp","name":"5.1 | COLD EMAIL // Draft Email + Info Extraction","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"event":"rowUpdate","options":{"columnsToWatch":["leadStatus"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[0,0],"id":"262544c0-5b7b-4ba3-858d-1dee68019911","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"tREYvs7IdQO92OC6","name":"Google Sheets Trigger account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"columns":{"mappingMode":"defineBelow","value":{"leadStatus":"Proof Read Email","lastUpdate":"={{ $now }}","subjectLine":"={{ $json.message.content.subjectLine }}","iceBreaker":"={{ $json.message.content.icebreaker }}","pain":"={{ $json.message.content.pain }}","elevatorPitch":"={{ $json.message.content.elevatorPitch }}","cta":"={{ $json.message.content.callToAction }}","ps":"={{ $json.message.content.ps }}","firstName":"={{ $json.message.content.firstName }}","memberId":"={{ $('Loop Over 1').item.json.memberId }}","lastName":"={{ $json.message.content.lastName }}","currentCompany":"={{ $json.message.content.companyName }}","businessSummary":"={{ $json.message.content.businessSummary }}","travelOffer":"={{ $json.message.content.travelOffer }}"},"matchingColumns":["memberId"],"schema":[{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadStatus","displayName":"leadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"idPath","displayName":"idPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tag","displayName":"tag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"memberId","displayName":"memberId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastUpdate","displayName":"lastUpdate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadTitle","displayName":"leadTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchPosition","displayName":"searchPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadDescription","displayName":"leadDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedinFullName","displayName":"LinkedinFullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadQualified","displayName":"leadQualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qualificationReason","displayName":"qualificationReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinHeadline","displayName":"linkedinHeadline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinSummary","displayName":"linkedinSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompany","displayName":"currentCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"currentCompanyPosition","displayName":"currentCompanyPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"positionDescription1","displayName":"positionDescription1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website1","displayName":"website1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website2","displayName":"website2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mainEmail","displayName":"mainEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail01","displayName":"thirdPartyEmail01","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail02","displayName":"thirdPartyEmail02","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail03","displayName":"thirdPartyEmail03","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail04","displayName":"thirdPartyEmail04","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"validEmail","displayName":"validEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailValid","displayName":"emailValid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"iceBreaker","displayName":"iceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pain","displayName":"pain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"elevatorPitch","displayName":"elevatorPitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cta","displayName":"cta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ps","displayName":"ps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"businessSummary","displayName":"businessSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"travelOffer","displayName":"travelOffer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1000,100],"id":"cfca1fca-a508-4abf-96a9-c496490d6b0d","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5fa77e43-c7c6-4ac2-87b6-5640ed93b29e","leftValue":"={{ $json.leadStatus }}","rightValue":"=Draft Email","operator":{"type":"string","operation":"contains"}},{"id":"17b01f41-b655-46e4-b716-f93a84034500","leftValue":"={{ $json.emailValid }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[200,0],"id":"cbe9567b-bcfc-44b0-9a4d-b2b51ccb1640","name":"Lead & Email Status"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful and intelligent writing assistant. ","role":"system"},{"content":"Your task is to personalize an email.\n\nYou'll do this by taking, as input, lead data and then editing five templates for different sections of the email: first name, last name, company name , subject line, icebreaker, pain, elevator pitch, call to action, PS field, business summary, and travel offer.\n\nYour templates are below:\n\nSubject Line: \"hey {firstName}, think I have something for you re: {thingAboutThem}\" \n\nIcebreaker: \"I know you're doing {thing} and I've been {followingInterested} in {relatedThing} for a while so I figured it made sense to chat.\"\n\nPain: “Curious - do you have old {leads}, who didn’t convert to your high ticket offer? Like webinar attendees, low-ticket customers, or other campaigns.\n\nElevator Pitch: \"The TLDR: I think I can convert them into 10-40 qualified appts every 7 days to {BoostRevenueLessTime} with a few automated systems.\"\n\nCall to Action: \"Just did this for a very similar {Industry} company and they do {relatedThing} and got great results, so am very confident this would work for you.\n\nMost partners get first qualified appts in a few days and reach ROI in 14 days.”\n\nPS: \"Ps - even if we just chat I'd love to hear about what you're doing with {thing}\"\n\nBusiness Summary: \"Either way, love what you're doing with {ShortParaphrasedSummary} and {PersonalExperienceDetail}\"\n\nItaly Travel Offer: \"I know it's a little out of left field, but thought it might be a good fit with your {SpecificLeadNiche} clients - could be awesome for them to {ReaslisticValueableNicheReason} while in Italy :)\"\n\n\nGuidelines:\n- Your tone of voice should be \"casual bar conversation\" and very spartan. No fancy language.\n- Look for plausible (but vague) connections wherever possible.\n- When possible try to connect the subjectLine to the iceBreaker to make the email flow naturally.\n- Try not to use generic subjectLine (e.g. re:leads, re:lead generation, etc)\n- Use their real first name (e.g \"Cap't Jim = jim\", \"Iron Mike = mike\"\n- Our ideal niche is in coaching and consulting, so tailor your email to relevant parts of the lead lead data.\n\n\nRules:\n- Avoid changing the core 'pain' point and 'subjectLine' from the template.\n- If the lead has multiple businesses, always focus on the closest match to consulting and coaching.\n- Do not just repeat data from the LinkedIn profile verbatim. Paraphrase, so they think a human wrote it.\n- Make sure the \"subjectLine\" is non-capitalized, even if it’s grammatically incorrect. This makes the email seem more human.\n- \"firstName\" should be capitalized \n- Avoid using ™, ©, ;, or other signs that look copy and pasted.\n- Never use — (em dash)\n- Avoid referencing time sensitive information (e.g \"upcoming book launch\")\n- Avoid suggesting we should have a \"call\"\n- We're working with coaches and consultants, so use your best judgment for \"companyName\" if more than one.\n- Respond in JSON using this format:\n\n{\"firstName\":\"\",\"lastName\":\"\",\"companyName\":\"\",\"subjectLine\":\"\",\"icebreaker\":\"\",\"pain\":\"\",\"elevatorPitch\":\"\",\"callToAction\":\"\",\"ps\":\"\"\",\"businessSummary\":\"\", \"travelOffer\":\"\"}\n"},{"content":"=#Lead Data\n\nFull Name: {{ $('Google Sheets Trigger').item.json.LinkedinFullName }}\nGoogle Description: {{ $json.leadDescription }}\nDescription: {{ $json.leadDescription }}\nLinkedIn Headline: {{ $json.linkedinHeadline }}\nLinkedinIn Summary: {{ $('Google Sheets Trigger').item.json.linkedinSummary }}\nCurrent Company: {{ $('Google Sheets Trigger').item.json.currentCompany }}\nPosition at current company: {{ $('Google Sheets Trigger').item.json.currentCompanyPosition }}\nPosition Description: {{ $('Google Sheets Trigger').item.json.positionDescription1 }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[640,100],"id":"d910b6f8-413e-4e05-a594-6595f906e182","name":"Email Writer","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[420,0],"id":"cefd76a6-5d2c-425f-b5d3-5954cc53dfd4","name":"Loop Over 1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1220,220],"id":"d771725c-673a-4274-a2e1-c892da556a53","name":"Wait 2 sec","webhookId":"9f8eef72-fc07-4b52-ae4a-8cbae9a8ac14"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Lead & Email Status","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Wait 2 sec","type":"main","index":0}]]},"Lead & Email Status":{"main":[[{"node":"Loop Over 1","type":"main","index":0}]]},"Email Writer":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Loop Over 1":{"main":[[],[{"node":"Email Writer","type":"main","index":0}]]},"Wait 2 sec":{"main":[[{"node":"Loop Over 1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Zurich","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8xhzkyv362CgoE4n"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","sheetId":1431579973,"lastRevision":12724,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc&revision=12724&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"17029b6e-f5b8-4fd1-9b4b-6bd5d1edf5e4","triggerCount":1,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"}]}