-draft-dm-+-info-extraction-copy-aLYZ5xJyUu9nhyNi.json
{"createdAt":"2025-05-06T12:42:27.610Z","updatedAt":"2025-05-06T16:49:55.521Z","id":"aLYZ5xJyUu9nhyNi","name":"3 | LINKEDHELPER // Draft DM + Info Extraction copy","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ","mode":"list","cachedResultName":"LinkedHelper | Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":422849710,"mode":"list","cachedResultName":"LinkedHelper | CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ/edit#gid=422849710"},"event":"rowUpdate","options":{"columnsToWatch":["leadStatus"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[0,0],"id":"72561a71-3267-4de2-965f-4452a57eee68","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"tREYvs7IdQO92OC6","name":"Google Sheets Trigger account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ","mode":"list","cachedResultName":"LinkedHelper | Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":422849710,"mode":"list","cachedResultName":"LinkedHelper | CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ/edit#gid=422849710"},"columns":{"mappingMode":"defineBelow","value":{"leadStatus":"Proof Read DM","lastUpdate":"={{ $now }}","iceBreaker":"={{ $json.message.content.iceBreaker }}","memberId":"={{ $('Loop Over 1').item.json.memberId }}","uniqueID":"={{ $('Loop Over 1').item.json.uniqueID }}"},"matchingColumns":["uniqueID"],"schema":[{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadStatus","displayName":"leadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"uniqueID","displayName":"uniqueID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"idPath","displayName":"idPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"memberId","displayName":"memberId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastUpdate","displayName":"lastUpdate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadTitle","displayName":"leadTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchPosition","displayName":"searchPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadDescription","displayName":"leadDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedinFullName","displayName":"LinkedinFullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadQualified","displayName":"leadQualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qualificationReason","displayName":"qualificationReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinHeadline","displayName":"linkedinHeadline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinSummary","displayName":"linkedinSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompany","displayName":"currentCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompanyPosition","displayName":"currentCompanyPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"positionDescription1","displayName":"positionDescription1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website1","displayName":"website1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website2","displayName":"website2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post01Text","displayName":"post01Text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post01Type","displayName":"post01Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post01Time","displayName":"post01Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post01Url","displayName":"post01Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post02Text","displayName":"post02Text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post02Type","displayName":"post02Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post02Time","displayName":"post02Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post02Url","displayName":"post02Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"iceBreaker","displayName":"iceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dm01","displayName":"dm01","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"dm02","displayName":"dm02","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"dm03","displayName":"dm03","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1160,100],"id":"7c46edc6-5955-456b-b972-6011925588ac","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[420,0],"id":"976e5a09-af28-4bc4-a1ed-da9a1b443aef","name":"Loop Over 1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1360,220],"id":"39a55f94-24a1-4b75-9a76-404b3d11ebec","name":"Wait 2 sec","webhookId":"b2111936-ffd8-43c4-90c5-f5f2949a8408"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5fa77e43-c7c6-4ac2-87b6-5640ed93b29e","leftValue":"={{ $json.leadStatus }}","rightValue":"=Draft DM","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[200,0],"id":"ac93f8b7-fb84-45f0-b8f1-b461bcebb9c1","name":"Status"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"Your are a helpful and intelligent assistant who's an expert and LinkedIn cold messaging.","role":"system"},{"content":"Your task is to generate a punchy, personalize and relevant Icebreaker for a cold LinkedIn DM.\n\nYou will do this by reviewing the prospect's LinkedIn post provided.\n\n\n\n\nGuidelines:\n- If post is over 4 weeks old, make sure your writing suggests that you're aware of that (e.g \"...I saw a while back...\")\n- Your tone of voice should be very \"casual bar conversation\" and very spartan. No fancy language.\n- Paraphrase their language\n- Clearly paraphrase the post so it's clear what you're referring to\n- Be positive or a little cheeky but professional \n- Talk in the first person as if continuing the conversation they started\n- If relevant, include an idea or insight\n\n\n\nRules:\n- Only use emoji if there's one in their post\n- Icebreaker should be less than 15 words\n- Do not use em dashes (—) under any circumstances. Use commas instead.\n- Don't end in a question (?)\n- If the are no posts, then write a single sentence icebreaker based on lead description.\n- Don't use their Name in the icebreaker\n- Avoid generic compliments or cheesy phrases.\n\n\nOutput:\n- Always output in JSON in this format {\"iceBreaker\":\"\"}\n"},{"content":"Example Icebreakers:\n\n- Sunday Jitters are real 😅\n- Your list of possible lies cracked me up 😄\n- Love your take on 1-1s as an onboarding tool. Strong relationships upfront for the win! 😊\n- Your list of possible lies cracked me up 😄\n- I totally agree, mid-career pros deserve more recognition and growth opportunities\n- Congrats on joining the action figure crew, that's pretty epic! 😂\n- Your thoughts on legacy are spot on, especially in today's world.\n- For sure sales is always evolving, love your take on ethical selling.\n- Workplace etiquette is so crucial for smoother team vibes 😌\n- I love that you're empowering leaders without training 👌\n- I hear you on the sun fear! 😅\n- Love the long-term thinking! Not sure about the next generation through...\n- Supercharging Sales Impact sounds like a game changer for sales leaders!\n- Great tips on handling overwhelm 👌\n- Cultivating relationships and faith is so vital these days, love your perspective!\n- Firefighting 👀 Not here..! 😅\n- Great thoughts on office redesigns - it's about time for inclusivity 👌\n- Your take on local reform and budget constraints really hits home.\n- Love the title of Chief Energist Officer 👌\n- Taking that leap of faith is tough for sure 😅\n- Love your take on interviews, they really set the tone for leadership!"},{"content":"=Lead Title: {{ $('Loop Over 1').item.json.leadTitle }}\n\nLead Description: {{ $('Loop Over 1').item.json.leadDescription }}\n\nProspect post: {{ $json.mostRecentText }}\nPost date: {{ $json.mostRecentTimeReadable }}\n\nNo Post: {{ $json.message }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[820,100],"id":"25e842bc-6b42-4cd9-bbf2-63ee94df5187","name":"Icebreaker","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful and intelligent assistant ","role":"system"},{"content":"Your task is to find the 1 most relevant post.\n\nConsiderations:\n1. Avoid 'reposted' content\n2. Prioritize the most recently published content\n3. Is 'lead description' real, or a placeholder from LinkedIn\n\nOutput:\nOnly output 1 post in JSON in this format: {\"relevantPost\": \"Inlcude post content and date\"}"},{"content":"=Prospect Title: {{ $json.leadTitle }}\nProspect Description: {{ $json.leadDescription }}\n\nProspect Posts:\n\nPost01 Type: {{ $json.post01Type }}\nPost01 Time: {{ $json.post01Time }}\nPost01 Content: {{ $json.post01Text }}\n\nPost02 Type: {{ $json.post02Type }}\nPost02 Time: {{ $json.post02Time }}\nPost02 Content: {{ $json.post02Text }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[620,800],"id":"f58ddaf0-e5bb-4402-9f54-92c8b4c3f125","name":"Relevance Filter","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Build an array of post objects, excluding 'repost' and 'quote' types\nconst posts = [];\n\nfunction isValidType(type) {\n  return type !== 'repost' && type !== 'quote';\n}\n\nif ($json.post01Time && isValidType($json.post01Type)) {\n  posts.push({\n    time: $json.post01Time,\n    text: $json.post01Text,\n    type: $json.post01Type\n  });\n}\n\nif ($json.post02Time && isValidType($json.post02Type)) {\n  posts.push({\n    time: $json.post02Time,\n    text: $json.post02Text,\n    type: $json.post02Type\n  });\n}\n\n// Handle case where nothing valid remains\nif (posts.length === 0) {\n  return [{\n    json: {\n      message: 'No valid posts found (all were reposts or quotes).'\n    }\n  }];\n}\n\n// Find the most recent post\nlet mostRecent = posts[0];\nfor (let i = 1; i < posts.length; i++) {\n  if (posts[i].time > mostRecent.time) {\n    mostRecent = posts[i];\n  }\n}\n\n// Convert Excel serial to ISO date\nfunction excelSerialToDate(serial) {\n  const utcDays = Math.floor(serial - 25569);\n  const utcValue = utcDays * 86400;\n  const fractionalDay = serial - Math.floor(serial);\n  const totalSeconds = Math.floor(utcValue + fractionalDay * 86400);\n  return new Date(totalSeconds * 1000);\n}\n\nconst readableDate = excelSerialToDate(mostRecent.time).toISOString();\n\n// Return result\nreturn [{\n  json: {\n    mostRecentTimeRaw: mostRecent.time,\n    mostRecentTimeReadable: readableDate,\n    mostRecentText: mostRecent.text,\n    mostRecentType: mostRecent.type\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,100],"id":"f80dbefe-7782-4850-ae0d-5e26621ddb1c","name":"Sort Most Recent"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Status","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Wait 2 sec","type":"main","index":0}]]},"Loop Over 1":{"main":[[],[{"node":"Sort Most Recent","type":"main","index":0}]]},"Wait 2 sec":{"main":[[{"node":"Loop Over 1","type":"main","index":0}]]},"Status":{"main":[[{"node":"Loop Over 1","type":"main","index":0}]]},"Icebreaker":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Relevance Filter":{"main":[[]]},"Sort Most Recent":{"main":[[{"node":"Icebreaker","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Zurich","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8xhzkyv362CgoE4n"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","sheetId":1431579973,"lastRevision":12724,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc&revision=12724&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fefeb785-e302-4910-8d56-da3cc38658d3","triggerCount":1,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:51:51.885Z","updatedAt":"2025-05-02T08:51:51.885Z","id":"wZCP1OBnOaDaUxGo","name":"Linked-Helper"}]}