-eb3---find-domain-m6FnbIHPzaSI9nR8.json
{"createdAt":"2025-06-06T16:52:10.809Z","updatedAt":"2025-06-06T17:56:17.898Z","id":"m6FnbIHPzaSI9nR8","name":"5 // EB3 - Find domain","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-60,-900],"id":"ec3b0da8-f092-48f7-92cd-f1e0cad58272","name":"DELETE"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-720,-900],"id":"a271d393-69bd-4ad9-a288-20664c55a031","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-500,-780],"id":"44a7cddd-e798-4aaa-b1cf-117d90c0613e","name":"Pull raw leads","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-720,-580],"id":"ac16bd9d-59e1-4e95-bf99-de15ba387c01","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/563JCPLOqM1kMmbbP/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_0JMczG9Mud0RKCpIcA5p8HQQWhb37N3mBzny"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"country\": \"US\",\n    \"keyword\": \"{{ $json.fullName }} {{ $json.companyName }}\",\n    \"limit\": \"20\",\n    \"page\": 1\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1000,-460],"id":"82918245-60db-434b-8292-fc9be15f3d64","name":"Apify - Google Company Search"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful and intelligent search assistant.","role":"system"},{"content":"=Your task is to go through the Google search results and find the correct company website for this lead:\n\nCompany Name: {{ $('Current Lead').item.json.companyName }}\nLead Name: {{ $('Current Lead').item.json.fullName }}\nTitle: {{ $('Current Lead').item.json.title }}\n\n\nRules:\n- Return 1 clean URL for the homepage without /path\n- It must not be Linkedin, Facebook, or other social platform.\n- If none can be found, output searchURL as  \"None\"\n- Always output in this formant\n\n{\"website\":\"URL goes here\"}\n\n\n"},{"content":"=Google Search Results:\n\n{{ \n  $json.results.map(result => \n    `Title: ${result.title}\\nURL: ${result.url}\\nDescription: ${result.description}`\n  ).join('\\n\\n') \n}}"}]},"jsonOutput":true,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1200,-460],"id":"40070263-fec3-42c9-a435-8ed85dfda481","name":"Relevant Google Result","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c30795a-4246-4e07-b7a2-377739875e4c","leftValue":"={{ $json.website }}","rightValue":"None","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1760,-460],"id":"b0a776ae-2333-4874-90f4-046445cdc6d5","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,-780],"id":"6bdf8179-6a46-4053-8522-39b29ee5251a","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"b23fd0b7-6eb8-49e9-9258-638241a761a0","name":"companyName","value":"={{ $json.companyName }}","type":"string"},{"id":"56b10891-5357-4c01-9967-951e5d2b2a1e","name":"fullName","value":"={{ $json.fullName }}","type":"string"},{"id":"f22f7fb9-cab5-42fe-9f5e-3a6c0782b696","name":"website","value":"={{ $json.website }}","type":"string"},{"id":"8df8786a-5497-4c9f-89ea-fe6d9da7101c","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"9080eddc-98af-42c7-bd4a-c1a8f9dd2f18","name":"linkedIdPath","value":"={{ $json.linkedIdPath }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,-660],"id":"3161d977-6cdd-45bd-b0e9-4e4eee44c946","name":"Current Lead"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Current Lead').item.json.linkedIdPath }}","email":"=None","timeStamp":"={{ $now }}","status":"Qualifed - No website  or email","emailStatus":"No company website found","website":"None"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2100,-280],"id":"f008ad54-0b0c-49b8-a592-6795fcae6d82","name":"Update Raw Tab - emailFromWebsite1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2e73ad88-8fe8-42e9-bf01-e9dc18e7d02a","name":"website","value":"={{ $json.message.content.website }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1560,-460],"id":"bcfe8751-090f-4647-87c8-1ab98fada42f","name":"Found Website"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2080,-680],"id":"cbc77f31-cdf3-4689-92f8-66b99e39144d","name":"No Op"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3400,-280],"id":"a41b011a-271c-43ed-85da-6b4470802310","name":"Return to loop"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('personalLinkedinData').item.json.linkedIdPath }}","status":"Qualified - Error sending to FindyMail","reason":"={{ $('Lead Qualification').item.json.message.content.reason }}","leadScore":"={{ $('Lead Qualification').item.json.message.content.leadScore }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","about":"={{ $('personalLinkedinData').item.json.about }}","linkedinExperience":"={{ $('Company Relevance').item.json.message.content.linkedinExperience }}","firstName":"={{ $('personalLinkedinData').item.json.firstName }}","lastName":"={{ $('personalLinkedinData').item.json.lastName }}","emailStatus":"Error sending to FindyMail","timeStamp":"={{$now}}","website":"={{ $('Edit Fields').item.json.website }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3020,-560],"id":"4edae10a-5cec-479f-ab80-66cd1fe51090","name":"Update Raw Tab - Error1","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Current Lead').item.json.linkedIdPath }}","status":"Qualified - Email Not Found","emailStatus":"2/3 - No email (Name+Domain)","timeStamp":"={{ $now }}","website":"={{ $('Edit Fields').item.json.website }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3020,-800],"id":"3594dd88-3ca9-4c88-a7b6-8a1ffc0b5054","name":"Update Raw Tab - Success (email not found)1","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d4f2d13-8834-4971-8ab6-39a9016ba729","leftValue":"={{ $json.status }}","rightValue":"success","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2740,-680],"id":"998ed60e-cbde-471d-8b9b-d9a89f996ad0","name":"Linkedin URL Sent1"},{"parameters":{"assignments":{"assignments":[{"id":"d61af15b-2fd8-4de3-a0fc-a9612ff88847","name":"website","value":"={{ $json.website }}","type":"string"},{"id":"cf73af65-2b11-434e-b2e8-47d957762bde","name":"companyName","value":"={{ $('Current Lead').item.json.companyName }}","type":"string"},{"id":"2e4a87f9-c86c-4422-824e-2ea2b2090612","name":"fullName","value":"={{ $('Current Lead').item.json.fullName }}","type":"string"},{"id":"4adafc52-3090-4366-9423-634d215acb0e","name":"title","value":"={{ $('Current Lead').item.json.title }}","type":"string"},{"id":"3d054bd4-ab54-4b3f-b613-66de245252f8","name":"linkedIdPath","value":"={{ $('Current Lead').item.json.linkedIdPath }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2300,-680],"id":"90ae23e6-15d8-4f26-89f0-900b621fc5a4","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://app.findymail.com/api/search/name","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer AOWzuUkSYe1V6uzquaTGZcyTp08y5LuUx1aAep048ce22042"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.fullName }}"},{"name":"domain","value":"={{ $json.website }}"},{"name":"webhook_url","value":"=https://primary-production-5653.up.railway.app/webhook/findymail-callback?{{ $('Edit Fields').item.json.linkedIdPath }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2520,-680],"id":"a36af29e-44ee-4f95-9d24-317f8ac3e511","name":"Email from (Name/Company)"},{"parameters":{"content":"The sheets are updated with \"email not found\" - if the webhook returns with valid email this will be overwritten"},"type":"n8n-nodes-base.stickyNote","position":[3300,-680],"typeVersion":1,"id":"08923373-81c6-463c-b8ab-6d946d865ce2","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"110eb1ce-85b5-4dfc-9380-e9d249d0f129","leftValue":"={{ $json.website }}","rightValue":"http","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,-660],"id":"b1ed80f8-b8fd-4018-93d7-ea44599fe6a0","name":"Valid domain (http)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"5fa77e43-c7c6-4ac2-87b6-5640ed93b29e","leftValue":"={{ $json.status }}","rightValue":"=Qualified - Email Not Found","operator":{"type":"string","operation":"contains"}},{"id":"5b4771e9-5f51-4c9e-85d0-0d4e941de486","leftValue":"={{ new Date().getTime() - new Date($json.timeStamp).getTime() }}","rightValue":60000,"operator":{"type":"number","operation":"gt"}},{"id":"14b3eb64-098b-48e3-9b71-bad8e876fe66","leftValue":"={{ $json.emailStatus }}","rightValue":"Name+Domain","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-280,-780],"id":"d9786331-0b02-4132-926d-d130ef5e7b33","name":"Status, time, emailStatus"},{"parameters":{"content":"run on a schedule"},"type":"n8n-nodes-base.stickyNote","position":[-480,-1020],"typeVersion":1,"id":"e14988f0-2e9d-4b66-84da-fcc2685c1f1e","name":"Sticky Note1"}],"connections":{"DELETE":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Pull raw leads","type":"main","index":0}]]},"Pull raw leads":{"main":[[{"node":"Status, time, emailStatus","type":"main","index":0}]]},"Schedule Trigger":{"main":[[]]},"Apify - Google Company Search":{"main":[[{"node":"Relevant Google Result","type":"main","index":0}]]},"Relevant Google Result":{"main":[[{"node":"Found Website","type":"main","index":0}]]},"If":{"main":[[{"node":"No Op","type":"main","index":0}],[{"node":"Update Raw Tab - emailFromWebsite1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Current Lead","type":"main","index":0}]]},"Current Lead":{"main":[[{"node":"Valid domain (http)","type":"main","index":0}]]},"Found Website":{"main":[[{"node":"If","type":"main","index":0}]]},"No Op":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Update Raw Tab - emailFromWebsite1":{"main":[[{"node":"Return to loop","type":"main","index":0}]]},"Return to loop":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Linkedin URL Sent1":{"main":[[{"node":"Update Raw Tab - Success (email not found)1","type":"main","index":0}],[{"node":"Update Raw Tab - Error1","type":"main","index":0}]]},"Update Raw Tab - Error1":{"main":[[{"node":"Return to loop","type":"main","index":0}]]},"Update Raw Tab - Success (email not found)1":{"main":[[{"node":"Return to loop","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Email from (Name/Company)","type":"main","index":0}]]},"Email from (Name/Company)":{"main":[[{"node":"Linkedin URL Sent1","type":"main","index":0}]]},"Valid domain (http)":{"main":[[{"node":"No Op","type":"main","index":0}],[{"node":"Apify - Google Company Search","type":"main","index":0}]]},"Status, time, emailStatus":{"main":[[{"node":"DELETE","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Zurich","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8xhzkyv362CgoE4n"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","sheetId":293223305,"lastRevision":9459,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc&revision=9459&exportFormat=xlsx"},"node:Pull Raw Leads":{"documentId":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","sheetId":1035816780,"lastRevision":818,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA&revision=818&exportFormat=xlsx"},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"03e2cf21-ea21-4c2d-b01e-39392194198a","triggerCount":1,"tags":[{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"},{"createdAt":"2025-05-31T13:54:34.864Z","updatedAt":"2025-05-31T13:54:34.864Z","id":"0izNGdR9nZqKab3U","name":"EB3"}]}