-eb3---remove-duplicates-(current-apollo-workflow)-SNxsVxHF9YyPdiJk.json
{"createdAt":"2025-06-10T13:19:16.283Z","updatedAt":"2025-06-15T15:02:31.807Z","id":"SNxsVxHF9YyPdiJk","name":"1 // EB3 - Remove Duplicates (Current Apollo Workflow)","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-740,-1880],"id":"c72a6a8e-d57d-4150-9e82-a9dc93c89fe5","name":"When clicking ‘Test workflow’"},{"parameters":{"rule":{"interval":[{"field":"months","monthsInterval":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-740,-1600],"id":"db938f6c-792b-4366-85a4-8dabaf7c0a1f","name":"Schedule Trigger1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-500,-1720],"id":"5fc02eb0-9f85-41b0-946b-359dcef6b6bc","name":"No Op1"},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":907693743,"mode":"list","cachedResultName":"clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=907693743"},"options":{}},"id":"132639e3-99a2-4772-a963-48e58ab9ee77","name":"Read Current Clients","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-100,-2020],"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1331597024,"mode":"list","cachedResultName":"crm","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1331597024"},"options":{}},"id":"6142666f-ef13-41d5-bea1-49eee483202a","name":"Read CRM Leads","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-100,-1840],"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{},"id":"d9c10539-c8a3-4dce-8873-2f93cffa6851","name":"Merge with New Leads","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1060,-1640]},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[620,-1840],"id":"6ea0638d-f9d5-4be4-a502-182af34d1c6d","name":"Merge"},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2069109070,"mode":"list","cachedResultName":"Apollo: RAW","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=2069109070"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-120,-1460],"id":"8bcedeb9-ccaa-4d15-ab0d-ce9f169defda","name":"EB3 - Apollo RAW Leads","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"222409b6-4726-4b05-b8de-d8a5901012fe","leftValue":"={{ $json.website }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"fd384b77-df25-49ca-9d84-665c80a4f77e","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[120,-2020],"id":"1c6fe6ff-c555-42a8-b154-0ecd33c58ec7","name":"Filter2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"222409b6-4726-4b05-b8de-d8a5901012fe","leftValue":"={{ $json.website }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"fd384b77-df25-49ca-9d84-665c80a4f77e","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[120,-1840],"id":"b755be53-4571-47c5-9c9c-2690a4baee18","name":"Filter3"},{"parameters":{"assignments":{"assignments":[{"id":"d3fb705a-987d-4deb-adfe-0bbb86147add","name":"rowNumber","value":"={{ $json.row_number }}","type":"number"},{"id":"9c3eca80-242b-4976-a3db-0f91e24ab538","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"f57b4fee-33bf-4532-9dc9-cd2976a4909e","name":"firstName","value":"={{ $json.first_name }}","type":"string"},{"id":"c3bfeffb-1b32-4f84-a775-5d624c7efdfc","name":"lastName","value":"={{ $json.last_name }}","type":"string"},{"id":"049ff9ac-40b6-4a78-8150-1f44d82c3649","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"2eee14e9-6974-4c8e-ac11-f66ab0a86657","name":"headline","value":"={{ $json.headline }}","type":"string"},{"id":"118794b1-8286-4132-9405-06c675832b82","name":"linkedinUrl","value":"={{ $json.linkedin_url }}","type":"string"},{"id":"506f86ef-9298-449e-89c9-7bd87ad17acf","name":"companyName","value":"={{ $json.organization_name }}","type":"string"},{"id":"f95075c2-e72d-4826-ab1a-ab8587727849","name":"companyWebsiteUrl","value":"={{ $json.organization_website_url }}","type":"string"},{"id":"f5ec6555-c6e9-472e-a182-8374e09e83c1","name":"companyLinkedinUrl","value":"={{ $json.organization_linkedin_url }}","type":"string"},{"id":"abab887a-aad5-4f43-8d67-bead33043ab5","name":"location","value":"={{ $json.city }}, {{ $json.country }}","type":"string"},{"id":"17df6886-9fec-4f5c-91c5-075564baaadd","name":"idPath","value":"={{ $json.linkedin_url.split('/in/')[1].split('/')[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,-1460],"id":"2c01fd8d-62e9-4455-a939-7f7617748b8e","name":"currentLead1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7255c03a-663f-4f94-bce1-a764926dd669","leftValue":"={{ $json[\"ELV Result\"] }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6da7b3c4-e053-48fe-b4d7-4416ed5c7032","leftValue":"={{ $json.status }}","rightValue":"Remove Duplicates","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[120,-1460],"id":"ef644a0a-cdaa-4a39-9add-59760a3c6fc1","name":"Status: Remove Duplicates1"},{"parameters":{"assignments":{"assignments":[{"id":"7cf17c5f-ad85-4264-8461-bce5287a346e","name":"=website","value":"={{ $json.website.replace(/(^\\w+:|^)\\/\\//, '').replace(/^www\\./, '').split('/')[0] }}","type":"string"},{"id":"80e71601-7b5f-427f-a406-fe14d9a0a9b9","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"186c0ef1-36b5-4dc7-bc2a-eb6644fbd3bc","name":"Source","value":"Lead is current client","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,-2020],"id":"2439d798-411b-4f17-8036-ad6c7cec3c2e","name":"Lead is current client1"},{"parameters":{"assignments":{"assignments":[{"id":"7cf17c5f-ad85-4264-8461-bce5287a346e","name":"=website","value":"={{ $json.website.replace(/(^\\w+:|^)\\/\\//, '').replace(/^www\\./, '').split('/')[0] }}","type":"string"},{"id":"80e71601-7b5f-427f-a406-fe14d9a0a9b9","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"087054d4-df6d-48d4-a030-4255aefbae53","name":"Source","value":"Lead in CRM","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,-1840],"id":"0503275e-a1cc-4aba-b459-e0af22937b8e","name":"Lead in CRM1"},{"parameters":{"assignments":{"assignments":[{"id":"7cf17c5f-ad85-4264-8461-bce5287a346e","name":"=website","value":"={{ $json.companyWebsiteUrl.replace(/(^\\w+:|^)\\/\\//, '').replace(/^www\\./, '').split('/')[0] }}","type":"string"},{"id":"80e71601-7b5f-427f-a406-fe14d9a0a9b9","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"087054d4-df6d-48d4-a030-4255aefbae53","name":"Source","value":"New scraped leads","type":"string"},{"id":"66dc9a13-39c4-4417-93af-e91c86d3c103","name":"rowNumber","value":"={{ $json.rowNumber }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,-1460],"id":"1cf80138-30c7-47d1-bdf3-cac3a8cec458","name":"New scraped leads1"},{"parameters":{"batchSize":25,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[380,-1460],"id":"2239e0d6-d943-4a5b-8379-888fc214ed52","name":"Batch 25"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2180,-1380],"id":"1f5819a1-3e02-4a03-a848-60e51d91e214","name":"7 sec","webhookId":"bbf53dbb-c3b8-418f-8950-0b15892190ed"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1280,-1640],"id":"c1dc9245-3456-4a7f-9488-516867756a05","name":"2 sec","webhookId":"922104bc-30a9-4955-8b4e-fd3e1b240bec"},{"parameters":{"amount":7},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1700,-1640],"id":"3f2afc14-6b59-4852-a737-c1176617f684","name":"7 sec1","webhookId":"e5ef20b0-4904-4109-9bad-7edc12a69dc7"},{"parameters":{"jsCode":"// n8n Code Node - Check new scraped leads for duplicates\n// Block if website OR email exists in CRM/clients, or email duplicated internally\n// Returns ALL leads with duplicate status for CRM updates\nconst data = $input.all();\n\n// Get new scraped leads to process\nconst newScrapedLeads = data.filter(item => item.json.Source === \"New scraped leads\");\n\n// Get existing leads from CRM and current clients\nconst existingLeads = data.filter(item => \n  item.json.Source === \"Lead in CRM\" || item.json.Source === \"Lead is current client\"\n);\n\n// Create lookup sets for existing leads (O(1) performance)\nconst existingEmailSet = new Set();\nconst existingWebsiteSet = new Set();\n\nexistingLeads.forEach(lead => {\n  if (lead.json.email) {\n    existingEmailSet.add(lead.json.email.toLowerCase());\n  }\n  if (lead.json.website) {\n    existingWebsiteSet.add(lead.json.website.toLowerCase());\n  }\n});\n\n// Process all new scraped leads and track internal duplicates\nconst processedEmailSet = new Set();\nconst results = [];\n\nnewScrapedLeads.forEach(lead => {\n  const email = lead.json.email?.toLowerCase();\n  const website = lead.json.website?.toLowerCase();\n  \n  // Check if exists in CRM/clients\n  const emailExistsInDB = email && existingEmailSet.has(email);\n  const websiteExistsInDB = website && existingWebsiteSet.has(website);\n  \n  // Check if email already processed in this batch (prevent duplicate emails)\n  const emailAlreadyProcessed = email && processedEmailSet.has(email);\n  \n  // Block if: website in DB OR email in DB OR email already processed\n  const isDuplicate = websiteExistsInDB || emailExistsInDB || emailAlreadyProcessed;\n  \n  // Determine duplicate type\n  let duplicateType = \"none\";\n  if (websiteExistsInDB && emailExistsInDB && emailAlreadyProcessed) {\n    duplicateType = \"website_email_in_db_and_email_internal\";\n  } else if (websiteExistsInDB && emailExistsInDB) {\n    duplicateType = \"website_and_email_in_db\";\n  } else if (websiteExistsInDB && emailAlreadyProcessed) {\n    duplicateType = \"website_in_db_and_email_internal\";\n  } else if (emailExistsInDB && emailAlreadyProcessed) {\n    duplicateType = \"email_in_db_and_internal\";\n  } else if (websiteExistsInDB) {\n    duplicateType = \"website_in_db\";\n  } else if (emailExistsInDB) {\n    duplicateType = \"email_in_db\";\n  } else if (emailAlreadyProcessed) {\n    duplicateType = \"email_internal\";\n  }\n  \n  // Add to results - preserving ALL original fields including rowNumber\n  const isNewLead = !isDuplicate;\n  results.push({\n    json: {\n      ...lead.json, // This spreads ALL original fields including rowNumber\n      isDuplicate: isDuplicate,\n      isNewLead: isNewLead,\n      result: !isDuplicate, // false if blocked, true if allowed\n      duplicateType: duplicateType,\n      status: isNewLead ? \"Process Lead\" : \"Duplicate\"\n    }\n  });\n  \n  // Track this email for internal duplicate detection\n  if (email) processedEmailSet.add(email);\n});\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,-1640],"id":"0dde746e-f070-4718-9e81-314b28e71315","name":"Code1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2069109070,"mode":"list","cachedResultName":"Apollo: RAW","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=2069109070"},"columns":{"mappingMode":"defineBelow","value":{"status":"={{ $json.status }}","row_number":"={{ $json.rowNumber }}","reason":"={{ $json.duplicateType !== \"none\" ? $json.duplicateType : \"\" }}"},"matchingColumns":["row_number"],"schema":[{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"personalLinkedinAbout","displayName":"personalLinkedinAbout","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinAbout","displayName":"companyLinkedinAbout","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyPosts","displayName":"companyPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyHomepage","displayName":"companyHomepage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"websiteAbstract","displayName":"websiteAbstract","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"numEmployees","displayName":"numEmployees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1900,-1640],"id":"ae021b91-e06f-4b75-b35b-9b1d53da4613","name":"Update Status","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"content":"## need way to filter out existing raw leads (not just those tagged as \"remove duolicates\") move to different  sheet after dedupe?","height":220,"width":380},"type":"n8n-nodes-base.stickyNote","position":[-280,-840],"typeVersion":1,"id":"bc5b74ff-054b-4129-afc2-13f48529fe3d","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7255c03a-663f-4f94-bce1-a764926dd669","leftValue":"={{ $json[\"ELV Result\"] }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6da7b3c4-e053-48fe-b4d7-4416ed5c7032","leftValue":"={{ $json.status }}","rightValue":"Remove Duplicates","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[120,-1640],"id":"7af36a51-654b-4156-b8bf-4033315c3cf0","name":"All other leads"},{"parameters":{"assignments":{"assignments":[{"id":"7cf17c5f-ad85-4264-8461-bce5287a346e","name":"=website","value":"={{ $json.website.replace(/(^\\w+:|^)\\/\\//, '').replace(/^www\\./, '').split('/')[0] }}","type":"string"},{"id":"80e71601-7b5f-427f-a406-fe14d9a0a9b9","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"087054d4-df6d-48d4-a030-4255aefbae53","name":"Source","value":"Lead in CRM","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,-1640],"id":"56a7a279-83e0-457d-a503-b89bc6844eec","name":"Lead in RAW"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"No Op1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"No Op1","type":"main","index":0}]]},"No Op1":{"main":[[{"node":"EB3 - Apollo RAW Leads","type":"main","index":0},{"node":"Read Current Clients","type":"main","index":0},{"node":"Read CRM Leads","type":"main","index":0}]]},"Read Current Clients":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Read CRM Leads":{"main":[[{"node":"Filter3","type":"main","index":0}]]},"Merge with New Leads":{"main":[[{"node":"2 sec","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Merge with New Leads","type":"main","index":0}]]},"EB3 - Apollo RAW Leads":{"main":[[{"node":"Status: Remove Duplicates1","type":"main","index":0},{"node":"All other leads","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Lead is current client1","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"Lead in CRM1","type":"main","index":0}]]},"currentLead1":{"main":[[{"node":"New scraped leads1","type":"main","index":0}]]},"Status: Remove Duplicates1":{"main":[[{"node":"Batch 25","type":"main","index":0}]]},"Lead is current client1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Lead in CRM1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"New scraped leads1":{"main":[[{"node":"Merge with New Leads","type":"main","index":1}]]},"Batch 25":{"main":[[],[{"node":"currentLead1","type":"main","index":0}]]},"7 sec":{"main":[[{"node":"Batch 25","type":"main","index":0}]]},"2 sec":{"main":[[{"node":"Code1","type":"main","index":0}]]},"7 sec1":{"main":[[{"node":"Update Status","type":"main","index":0}]]},"Code1":{"main":[[{"node":"7 sec1","type":"main","index":0}]]},"Update Status":{"main":[[{"node":"7 sec","type":"main","index":0}]]},"All other leads":{"main":[[{"node":"Lead in RAW","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"44a20d15-a7bf-4633-9b60-23d61a2a86b7","triggerCount":1,"tags":[{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"},{"createdAt":"2025-05-31T13:54:34.864Z","updatedAt":"2025-05-31T13:54:34.864Z","id":"0izNGdR9nZqKab3U","name":"EB3"}]}