-eb3---valid-email-+-client-lookup-5EuZMz2GVDPeWUDB.json
{"createdAt":"2025-06-04T09:42:50.145Z","updatedAt":"2025-06-06T17:40:17.256Z","id":"5EuZMz2GVDPeWUDB","name":"4 // EB3 - Valid Email + Client Lookup","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Pull lead data from raw tab').item.json.linkedIdPath }}","status":"Qualified - Sent to CRM","website":"={{ $json.website }}","email":"={{ $json.email }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1960,5620],"id":"71e5fdb5-68a4-4f80-8618-5d3d2e5a9274","name":"Update Raw Tab","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1331597024,"mode":"list","cachedResultName":"crm","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1331597024"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $json.linkedIdPath }}","status":"Generate email","companyName":"={{ $json.companyName }}","firstName":"={{ $json.firstName }}","lastName":"={{ $json.lastName }}","website":"={{ $('New Lead1').item.json.website }}","email":"={{ $('New Lead1').item.json.email }}","leadScore":"={{ $json.leadScore }}","reason":"={{ $json.reason }}","serpRank":"={{ $json.serpRank }}","followers":"={{ $json.followers }}","title":"={{ $json.title }}","linkedinUrl":"={{ $json.linkedinUrl }}","source":"={{ $json.source }}","location":"={{ $json.location }}","searchString":"={{ $json.searchString }}","about":"={{ $json.about }}","linkedinExperience":"={{ $json.linkedinExperience }}","companySize":"={{ $json.companySize }}","companyFollowers":"={{ $json.companyFollowers }}","companySubtitle":"={{ $json.companySubtitle }}","companyLinkedinOverview":"={{ $json.companyLinkedinOverview }}","companyRecentPosts":"={{ $json.companyRecentPosts }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"icebreaker","displayName":"icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailBody","displayName":"emailBody","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadSummary","displayName":"leadSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1740,5620],"id":"d45e56c7-f650-4757-bcc7-0089a7aa5118","name":"Add to CRM","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"content":"New data","height":260,"width":620,"color":4},"type":"n8n-nodes-base.stickyNote","position":[280,5660],"typeVersion":1,"id":"e08ebf0c-7239-4dac-ad74-2347c2b8fc27","name":"Sticky Note2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1100,5120],"id":"f0e85d4b-7e21-4967-ba1e-9b14551eb6f9","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"86d4a766-952a-4b27-b5b2-8170ff96e7d6","name":"existingLeads","value":"={{ $json.website }}","type":"string"},{"id":"4cdfa6fe-2c88-4522-8910-6018173841a6","name":"source","value":"={{ $json.source }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,5340],"id":"f5e7d880-7fea-4b45-9887-113a1b6b940d","name":"existingLeads"},{"parameters":{"content":"Remove duplicates","height":900,"width":400,"color":6},"type":"n8n-nodes-base.stickyNote","position":[980,5020],"typeVersion":1,"id":"144171b1-c40e-470d-9e4c-a683e5266981","name":"Sticky Note13"},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":907693743,"mode":"list","cachedResultName":"clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=907693743"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[340,5100],"id":"6e8f4dca-893f-4c54-adb7-782e14a31ab5","name":"Current Clients1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"jsCode":"return items.filter(item => item.json['website']);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[540,5100],"id":"075b482c-6b53-4fa7-b91c-34fe818bcc55","name":"Only cells w/data2"},{"parameters":{"content":"Existing Client (based on doamin)","height":260,"width":620,"color":7},"type":"n8n-nodes-base.stickyNote","position":[280,5020],"typeVersion":1,"id":"ff17f9fc-e435-40b1-8791-116a965239c6","name":"Sticky Note3"},{"parameters":{"jsCode":"return items.filter(item => item.json['website']);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[540,5420],"id":"22f09aa2-e505-4a5b-9c07-5f917da19b19","name":"Only cells w/data3"},{"parameters":{"content":"Company domain in CRM","height":260,"width":620,"color":7},"type":"n8n-nodes-base.stickyNote","position":[280,5340],"typeVersion":1,"id":"d1370bb5-12de-422b-929c-e5cfc817402b","name":"Sticky Note4"},{"parameters":{"mergeByFields":{"values":[{"field1":"existingLeads","field2":"website"}]},"resolve":"preferInput1","options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[1100,5560],"id":"8c02a88a-b8a0-4e43-b8cb-98539b1dd5b3","name":"Compare Datasets1"},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1331597024,"mode":"list","cachedResultName":"crm","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1331597024"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[360,5420],"id":"3e89c76c-d889-42a4-b592-b2f0769290d3","name":"Pull from CRM","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[520,5740],"id":"d023c25b-7249-44b0-90ac-d50eb37d6704","name":"No Op"},{"parameters":{"assignments":{"assignments":[{"id":"f5c7c1d8-18de-4a37-805e-b8219e3785a3","name":"source","value":"Existing Client","type":"string"},{"id":"d55933d9-2ada-45d9-b3f0-dfe6c1305263","name":"website","value":"={{ $json.website }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,5100],"id":"5aa084a4-2701-4d1d-8641-3da99a36efda","name":"Existing Client"},{"parameters":{"assignments":{"assignments":[{"id":"42b83890-461f-45ef-a584-c8486eccc13e","name":"source","value":"Lead in CRM","type":"string"},{"id":"bdee62ce-7f93-4068-aa85-2cbb4219c494","name":"website","value":"={{ $json.website }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,5420],"id":"29793f46-2775-41af-a989-a6b30938143b","name":"Lead in CRM"},{"parameters":{"assignments":{"assignments":[{"id":"e5615b2f-8c62-4da2-bb83-3f31fb78e0d8","name":"email","value":"={{ $json.body.payload.contact.email }}","type":"string"},{"id":"976f623d-08b7-410d-bc16-d943bc72375b","name":"website","value":"={{ $json.body.payload.contact.domain }}","type":"string"},{"id":"78724414-1522-4439-888c-f031d0287366","name":"fullName","value":"={{ $json.body.payload.contact.name }}","type":"string"},{"id":"f90eb470-f34b-4105-876e-2e9dba3b1293","name":"LinkedinUrl","value":"={{ $json.body.payload.contact.linkedin_url }}","type":"string"},{"id":"4dac90dd-ac5b-46e0-900f-a382b9ad6c08","name":"linkedinIdPath","value":"={{ Object.keys($json.query)[0] }}","type":"string"},{"id":"2f0e9c6b-5fdc-4287-b147-3460c6bbe3fd","name":"webhookUrl","value":"={{ $json.webhookUrl }}","type":"string"},{"id":"bdeaaedc-39d5-419e-b866-2f12055c9ebb","name":"source","value":"New Lead","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,5740],"id":"4747c147-3977-4d24-abda-aec1b6d270ce","name":"New Lead1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('New Lead1').item.json.linkedinIdPath }}","status":"Qualified - Existing Lead","reason":"=Existing lead: {{ $json.source }}","email":"={{ $('New Lead1').item.json.email }}","website":"={{ $('New Lead1').item.json.website }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1520,5360],"id":"2cfbb2a0-d6eb-401c-b69a-6cb97fdada1a","name":"Update Raw Tab - Existing Lead","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"filtersUI":{"values":[{"lookupColumn":"linkedIdPath","lookupValue":"={{ $json.linkedinIdPath }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1520,5620],"id":"95f44d0d-1227-42cd-b7c1-962585544738","name":"Pull lead data from raw tab","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"content":"Add emaillistqualify as additional check if many emails are wrong"},"type":"n8n-nodes-base.stickyNote","position":[-160,5440],"typeVersion":1,"id":"93e1839f-25d9-4ea1-b21b-ec67faf9c015","name":"Sticky Note"},{"parameters":{"content":"Update lead status","height":640,"width":780,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1440,5280],"typeVersion":1,"id":"c9a293d7-82ae-4b9f-b857-744f451f63df","name":"Sticky Note5"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Pull lead data from raw tab1').item.json.linkedIdPath }}","status":"Qualified - Sent to CRM","website":"={{ $json.website }}","email":"={{ $json.email }}","timeStamp":"={{ $now }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3080,3020],"id":"07c333a0-71dc-4e00-b587-6118a16496ec","name":"Update Raw Tab1","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1331597024,"mode":"list","cachedResultName":"crm","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1331597024"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $json.linkedIdPath }}","status":"Generate email","companyName":"={{ $json.companyName }}","firstName":"={{ $json.firstName }}","lastName":"={{ $json.lastName }}","website":"={{ $('New Lead').item.json.website }}","email":"={{ $('New Lead').item.json.email }}","leadScore":"={{ $json.leadScore }}","reason":"={{ $json.reason }}","serpRank":"={{ $json.serpRank }}","followers":"={{ $json.followers }}","title":"={{ $json.title }}","linkedinUrl":"={{ $json.linkedinUrl }}","source":"={{ $json.source }}","location":"={{ $json.location }}","searchString":"={{ $json.searchString }}","about":"={{ $json.about }}","linkedinExperience":"={{ $json.linkedinExperience }}","companySize":"={{ $json.companySize }}","companyFollowers":"={{ $json.companyFollowers }}","companySubtitle":"={{ $json.companySubtitle }}","companyLinkedinOverview":"={{ $json.companyLinkedinOverview }}","companyRecentPosts":"={{ $json.companyRecentPosts }}","timeStamp":"={{ $now }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"icebreaker","displayName":"icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailBody","displayName":"emailBody","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadSummary","displayName":"leadSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2860,3020],"id":"21ed6236-43a9-4171-ba76-8c772a8458cf","name":"Add to CRM1","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":907693743,"mode":"list","cachedResultName":"clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=907693743"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[220,3340],"id":"443c0134-5a0d-4692-9799-60ab1e2c1f54","name":"Current Clients","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"jsCode":"return items.filter(item => item.json['website']);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[420,3340],"id":"0e52b253-afba-48aa-8234-496616db906c","name":"Only cells w/data"},{"parameters":{"content":"Existing Client (based on doamin)","height":260,"width":620,"color":7},"type":"n8n-nodes-base.stickyNote","position":[160,3260],"typeVersion":1,"id":"1a1c2f0b-f90d-46e7-8795-cd0e3be514e3","name":"Sticky Note7"},{"parameters":{"jsCode":"return items.filter(item => item.json['email']);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,3340],"id":"03087165-467d-4f65-970b-831ea0207395","name":"Only cells w/data4"},{"parameters":{"content":"Lead (email) in CRM","height":260,"width":620,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1420,3260],"typeVersion":1,"id":"a05643ba-3fcd-4397-a552-8d105ab20ddc","name":"Sticky Note8"},{"parameters":{"httpMethod":"POST","path":"findymail-callback","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-580,3060],"id":"cdbc55ac-d521-48e1-bcf1-f57c427ab21c","name":"Webhook","webhookId":"1ad7f4a9-a13e-41a4-8fdf-5b5e913306d2"},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1331597024,"mode":"list","cachedResultName":"crm","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1331597024"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1480,3340],"id":"265e9904-c5b0-41ca-a97c-00b26234cf72","name":"Pull from CRM1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f5c7c1d8-18de-4a37-805e-b8219e3785a3","name":"source","value":"Existing Client","type":"string"},{"id":"d55933d9-2ada-45d9-b3f0-dfe6c1305263","name":"website","value":"={{ $json.website }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[620,3340],"id":"67332973-0fcf-4428-8f7e-0132797926f2","name":"Existing Client1"},{"parameters":{"assignments":{"assignments":[{"id":"42b83890-461f-45ef-a584-c8486eccc13e","name":"source","value":"Lead in CRM","type":"string"},{"id":"bdee62ce-7f93-4068-aa85-2cbb4219c494","name":"website","value":"={{ $json.website }}","type":"string"},{"id":"d1e1197b-fb51-4233-abbb-432516c27bea","name":"email","value":"={{ $json.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1880,3340],"id":"5819d70b-b0f3-44dd-b81c-a238a6ea9ae5","name":"Lead in CRM1"},{"parameters":{"assignments":{"assignments":[{"id":"e5615b2f-8c62-4da2-bb83-3f31fb78e0d8","name":"email","value":"={{ $json.body.payload.contact.email }}","type":"string"},{"id":"976f623d-08b7-410d-bc16-d943bc72375b","name":"website","value":"={{ $json.body.payload.contact.domain }}","type":"string"},{"id":"78724414-1522-4439-888c-f031d0287366","name":"fullName","value":"={{ $json.body.payload.contact.name }}","type":"string"},{"id":"f90eb470-f34b-4105-876e-2e9dba3b1293","name":"LinkedinUrl","value":"={{ $json.body.payload.contact.linkedin_url }}","type":"string"},{"id":"4dac90dd-ac5b-46e0-900f-a382b9ad6c08","name":"linkedinIdPath","value":"={{ Object.keys($json.query)[0] }}","type":"string"},{"id":"2f0e9c6b-5fdc-4287-b147-3460c6bbe3fd","name":"webhookUrl","value":"={{ $json.webhookUrl }}","type":"string"},{"id":"bdeaaedc-39d5-419e-b866-2f12055c9ebb","name":"source","value":"New Lead","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-340,3060],"id":"f58c9698-ec4f-422b-9203-01c99259038e","name":"New Lead"},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"filtersUI":{"values":[{"lookupColumn":"linkedIdPath","lookupValue":"={{ $json.linkedinIdPath }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2640,3020],"id":"69dbbb1c-d576-4416-8a3e-e1621a1e0163","name":"Pull lead data from raw tab1","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"content":"Add emaillistqualify as additional check if many emails are wrong"},"type":"n8n-nodes-base.stickyNote","position":[-560,2700],"typeVersion":1,"id":"337193fe-fc64-492d-b9d4-0f0398cdff6c","name":"Sticky Note1"},{"parameters":{"mergeByFields":{"values":[{"field1":"website","field2":"website"}]},"resolve":"preferInput1","options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[1020,3060],"id":"807859ec-f300-42fd-ac14-404c64713e14","name":"Compare Datasets2"},{"parameters":{"mergeByFields":{"values":[{"field1":"email","field2":"email"}]},"resolve":"preferInput1","options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[2320,3040],"id":"bf6787ac-2d91-498e-be90-bf982f44b2ee","name":"Compare Datasets4"},{"parameters":{"method":"POST","url":"=https://primary-production-5653.up.railway.app/webhook/690930d9-cff5-4247-9306-1bb2807c55eb","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,2780],"id":"f9668634-599a-46a3-bb2c-dfba1497fb1f","name":"Callback to Wait Node"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('New Lead').item.json.linkedinIdPath }}","status":"Qualified - Existing Lead","reason":"=Existing client","email":"={{ $('New Lead').item.json.email }}","website":"={{ $('New Lead').item.json.website }}","timeStamp":"={{$now}}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1020,3360],"id":"86b868ad-c20a-407d-87e4-981da7a61063","name":"Update Raw Tab - Existing Client","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('New Lead').item.json.linkedinIdPath }}","status":"Qualified - Existing Lead","reason":"=Existing lead in CRM","email":"={{ $('New Lead').item.json.email }}","website":"={{ $('New Lead').item.json.website }}","timeStamp":"={{$now}}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2320,3340],"id":"0ee23a4c-8759-476c-bff2-930fdde95638","name":"Update Raw Tab - Existing Lead in CRM","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51fcbf02-2875-4be7-9b01-25f908f85b74","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-120,3060],"id":"e9c7ab41-a57a-4948-9f07-b0ecd79b655d","name":"Email not empty"}],"connections":{"Update Raw Tab":{"main":[[]]},"Add to CRM":{"main":[[{"node":"Update Raw Tab","type":"main","index":0}]]},"Merge":{"main":[[{"node":"existingLeads","type":"main","index":0}]]},"existingLeads":{"main":[[{"node":"Compare Datasets1","type":"main","index":0}]]},"Current Clients1":{"main":[[{"node":"Only cells w/data2","type":"main","index":0}]]},"Only cells w/data2":{"main":[[{"node":"Existing Client","type":"main","index":0}]]},"Only cells w/data3":{"main":[[{"node":"Lead in CRM","type":"main","index":0}]]},"Compare Datasets1":{"main":[[],[],[{"node":"Update Raw Tab - Existing Lead","type":"main","index":0}],[{"node":"Pull lead data from raw tab","type":"main","index":0}]]},"Pull from CRM":{"main":[[{"node":"Only cells w/data3","type":"main","index":0}]]},"No Op":{"main":[[{"node":"Compare Datasets1","type":"main","index":1}]]},"Existing Client":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Lead in CRM":{"main":[[{"node":"Merge","type":"main","index":1}]]},"New Lead1":{"main":[[{"node":"Current Clients1","type":"main","index":0},{"node":"Pull from CRM","type":"main","index":0},{"node":"No Op","type":"main","index":0}]]},"Pull lead data from raw tab":{"main":[[{"node":"Add to CRM","type":"main","index":0}]]},"Add to CRM1":{"main":[[{"node":"Update Raw Tab1","type":"main","index":0}]]},"Current Clients":{"main":[[{"node":"Only cells w/data","type":"main","index":0}]]},"Only cells w/data":{"main":[[{"node":"Existing Client1","type":"main","index":0}]]},"Only cells w/data4":{"main":[[{"node":"Lead in CRM1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"New Lead","type":"main","index":0}]]},"Pull from CRM1":{"main":[[{"node":"Only cells w/data4","type":"main","index":0}]]},"Existing Client1":{"main":[[{"node":"Compare Datasets2","type":"main","index":1}]]},"Lead in CRM1":{"main":[[{"node":"Compare Datasets4","type":"main","index":1}]]},"New Lead":{"main":[[{"node":"Email not empty","type":"main","index":0}]]},"Pull lead data from raw tab1":{"main":[[{"node":"Add to CRM1","type":"main","index":0}]]},"Compare Datasets2":{"main":[[{"node":"Pull from CRM1","type":"main","index":0},{"node":"Compare Datasets4","type":"main","index":0}],[],[{"node":"Update Raw Tab - Existing Client","type":"main","index":0}],[]]},"Compare Datasets4":{"main":[[{"node":"Pull lead data from raw tab1","type":"main","index":0}],[],[{"node":"Update Raw Tab - Existing Lead in CRM","type":"main","index":0}]]},"Callback to Wait Node":{"main":[[]]},"Email not empty":{"main":[[{"node":"Compare Datasets2","type":"main","index":0},{"node":"Current Clients","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"82c9093e-5323-43f5-ab3a-20afca7d69ab","triggerCount":1,"tags":[{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"},{"createdAt":"2025-05-31T13:54:34.864Z","updatedAt":"2025-05-31T13:54:34.864Z","id":"0izNGdR9nZqKab3U","name":"EB3"}]}