-eb3---apollo-d8moNzpiMiaTHKlY.json
{"createdAt":"2025-06-09T10:27:14.329Z","updatedAt":"2025-06-30T09:16:49.567Z","id":"d8moNzpiMiaTHKlY","name":"2 // EB3 - Apollo","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-4300,140],"id":"361b182a-29b1-4088-aebf-c8bf3c46d4aa","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3200,240],"id":"6624bd0f-571e-4698-bbf2-63f50c24a2b5","name":"Batch "},{"parameters":{"content":"## Scrape Company Linkedin","height":580,"width":1780,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2460,80],"typeVersion":1,"id":"f97f763a-d089-4a6d-b2bc-a72bda64c74c","name":"Sticky Note7"},{"parameters":{"assignments":{"assignments":[{"id":"7dfc456e-3637-4f12-8d9b-7f7278d4ace1","name":"leadResearch","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2020,960],"id":"2e8008eb-bf50-4bab-866d-3b31330e23e1","name":"leadResearch1"},{"parameters":{"promptType":"define","text":"=Your task is to support the outbound sales/marketing team by conducting deep-dive research into assigned leads to uncover relevant, timely, and personalized insights that can be used to tailor cold outreach.\n\nYour job is to help us personalize each outreach email by finding compelling, relevant details about the company and lead - things that show we've done our homework and understand their business.\n\n\n\n\n#Our Offer:\nEB3 (Employee Benefits Booklet Builder) is a cloud-based platform designed to help employee benefits agencies and brokers efficiently create professional, customized benefit booklets and compliance documents for their clients.\n- An intuitive process to build benefit booklets and over 20 compliance documents, including WRAP SPDs, POP documents, and broker compensation forms.\n- Features: Pre-built templates for various insurance coverages (e.g., health, dental, vision), customizable color schemes matching client branding, and options to add professional cover pages and themes.  \n- Automation Tools: Features like SBC data scraping, employee deduction calculators, dynamic tables of contents, and automatic formatting to reduce manual data entry and formatting time. \n- Multilingual Support: One-click Spanish translation to cater to diverse employee populations. \n- Flexible Output Options: Export booklets as PDFs, links, QR codes, or digital flipbooks for easy distribution.\n\n\n\n#Workflow\n1. Review lead data sources.\n\n2. Identify compelling details that show we’ve “done our homework” and will help connect the lead to our offer in a natural way.\n\n3. Provide a highly detailed report in bullet points of the best ways to connect with the lead. It must show that we understand them as a person, the business, and position us as an ally. This may include:\n- Compelling insights\n- Any quotes\n- Powerful angles to frame our offer\n- Tap into the lead's pain points\n- Align with their beliefs\n- Personal likes/dislikes, hobbies and lifestyle\n\n\n#Guidelines: \n- Each key insight should be concise and include brief context, details, and why it would be valuable in our outreach.\n- Keep each insight actionable, and relevant. Prioritize recency, relevance, and uniqueness.\n- Your context should explain the insight, quote and why it matters for outreach.\n- If/when referencing \"Current experience\" ensure \n that \"Current Experience\":\"True\" (not \"False\")\n\n\n\n#Rules:\n- Your insights must be factual, not fabricated.\n- Include small, non-obvious things to paraphrase. The idea is to make people think we *really* dove deep into their LinkedIn and company, so don't use something obvious.\n- Prioritize recent posts from the (last 30–60 days) over older posts\n- Avoid stating if something is \"new\" or \"recent\" unless it is explicitly under 3 months old.\n- Only include info that is genuinely useful for personalizing a message\n- Avoid fluff (e.g. “loves dogs” from LinkedIn bio, unless it's genuinely relevant)\n\n \n\n\n#Output\n- Provide 4-6 insights in a formatted document:\n- Then at the bottom of the document inlcude:\n  - \"Personal Lead Insights\" \n  - \"Recommendations\"\n\n\n\n#Lead Research: (Lead Name goes here)\n\n#Insight#: (distilled, accurate and valuable insights with context goes here.)\nRelevance: (Relevance tag - \"high\", \"medium\", \"low\" goes here)\nSource: (Source tags - \"Personal bio\", \"company website\", \"company Linkedin\", etc goes here)\n\n#Personal Lead Insights: (Speciifc insights about the lead we can use to build rapport.)\n\n#Recommendations: (How best to connect with lead)\n\n(Don't add example hook)\n\n\n\n<#Relevance examples>\n\nBelow are some examples of how the insights should be ranked for relevance.\n\nHigh Relevance:\n- Promotion/new job (Must be under <3 months to state it's \"new\" or  \"recent\")\n- Launched a new initiative\n- Has the pain points we solve\n- Lead change and adoption of new tech, process, mindset\n\n\nMedium Relevance:\n- Got award\n- Long time in the job (10+ years)\n- Family owned\n- Based in X location\n- Loves dogs\n- Has a specific hobby\n\n\nLow Relevance:\n- Does team training\n- Good at customer service\n- Hiring in unreleated departments \n\n</examples>\n\n\n\n---------\n\n\n#Lead Data\n\nLead Name: {{ $json.firstName }} {{ $json.lastName }}\n\nLead Title/Position: {{ $json.title }}\n\nCompany Name: {{ $json.companyName }}\n\n\n---------\n\n\n#Company LinkedIn Page\n\nCompany Linkedin Overview: \n{{ $json.companyLinkedinOverview }}\n\nCompany Recent Posts: \n{{ $json.companyLinkedinRecentPost }}\n\n\n---------\n\n\n#Lead Personal LinkedIn\n\nLead Basic Info:\n{{ $json.personalLinkedinAbout }}\n\nLead Experience0:\n{{ $json.experience[0] }}\n\nLead Experience1:\n{{ $json.experience[1] }}\n\n\n\n---------\n\n\n\n#Company Homepage Insights:\n{{ $json.homepageInsights }}\n\n\n\n","options":{"systemMessage":"You are a helpful and intelligent Personalization Research Specialist with a background in business and psychology."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1640,960],"id":"24fc9271-7663-492a-9075-3fd7b88b991c","name":"Research Specialist1"},{"parameters":{"model":"deepseek-reasoner","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[1580,1140],"id":"eb96149e-5d74-4305-a748-52eb6d642073","name":"DeepSeek R1","credentials":{"deepSeekApi":{"id":"iaFBuMVfZL8OMDAx","name":"DeepSeek account"}}},{"parameters":{"rule":{"interval":[{"field":"months","monthsInterval":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4300,360],"id":"1d037bb6-96a7-42c0-9e22-2ec10562ac56","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4080,240],"id":"6c8a202f-9f18-4213-8485-c3d4d7c2bce5","name":"No Op3"},{"parameters":{"assignments":{"assignments":[{"id":"96bb845c-3de1-4af0-9112-732f3c44593b","name":"firstName","value":"={{ $('currentLead').item.json.firstName }}","type":"string"},{"id":"a11272a9-a7f3-413e-8a39-1a2fd59b789d","name":"lastName","value":"={{ $('currentLead').item.json.lastName }}","type":"string"},{"id":"9a88381e-4243-4f4c-a140-94de247d4159","name":"title","value":"={{ $('currentLead').item.json.title }}","type":"string"},{"id":"534f1013-bc29-4bcb-85a5-8d769758e4c4","name":"companyName","value":"={{ $('currentLead').item.json.companyName }}","type":"string"},{"id":"6f636fff-f186-47e5-8fa3-57883d8eb17d","name":"companyLinkedinOverview","value":"={{ $('CompanyLinkedinData1').item.json.companyLinkedinOverview }}","type":"string"},{"id":"a2a45dd3-651d-4d64-a1b3-d79748044059","name":"companyLinkedinRecentPost","value":"={{ $('CompanyLinkedinData1').item.json.recentPost }}","type":"string"},{"id":"b145142c-d6ae-48e6-83c5-370c73b627a8","name":"homepageInsights","value":"={{ $('Company Homepage Insights').item.json.homepageInsights }}","type":"string"},{"id":"d54a1a8a-8345-4f28-89e2-729dd9c9dd2a","name":"personalLinkedinAbout","value":"={{ $json.about }}","type":"string"},{"id":"0b89eacf-a0e7-4e19-a6d1-e1ca7578eb1a","name":"experience[0]","value":"={{ $json.linkedinExperience0 }}","type":"string"},{"id":"f97ca959-457e-4e8f-a0e0-b7eeaa317d28","name":"experience[1]","value":"={{ $json.linkedinExperience1 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2380,220],"id":"b5474d64-54a3-401d-a50c-3852bda34c8b","name":"researchData"},{"parameters":{"content":"## Generate  Variables","height":600,"width":1880,"color":7},"type":"n8n-nodes-base.stickyNote","position":[2300,60],"typeVersion":1,"id":"fd3266ee-d72c-434d-84a1-441678a76f4f","name":"Sticky Note15"},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2069109070,"mode":"list","cachedResultName":"Apollo: RAW","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=2069109070"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-3880,240],"id":"0e3de6d7-c868-46ec-8ead-d77d7f57354a","name":"EB3 - Apollo Leads","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7255c03a-663f-4f94-bce1-a764926dd669","leftValue":"={{ $json[\"ELV Result\"] }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6da7b3c4-e053-48fe-b4d7-4416ed5c7032","leftValue":"={{ $json.status }}","rightValue":"Process Lead","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3660,240],"id":"1c52aea0-0d18-44bd-87d3-7bab373a844a","name":"Status: Process Lead"},{"parameters":{"assignments":{"assignments":[{"id":"d3fb705a-987d-4deb-adfe-0bbb86147add","name":"rowNumber","value":"={{ $json.row_number }}","type":"number"},{"id":"9c3eca80-242b-4976-a3db-0f91e24ab538","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"f57b4fee-33bf-4532-9dc9-cd2976a4909e","name":"firstName","value":"={{ $json.first_name }}","type":"string"},{"id":"c3bfeffb-1b32-4f84-a775-5d624c7efdfc","name":"lastName","value":"={{ $json.last_name }}","type":"string"},{"id":"049ff9ac-40b6-4a78-8150-1f44d82c3649","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"2eee14e9-6974-4c8e-ac11-f66ab0a86657","name":"headline","value":"={{ $json.headline }}","type":"string"},{"id":"118794b1-8286-4132-9405-06c675832b82","name":"linkedinUrl","value":"={{ $json.linkedin_url }}","type":"string"},{"id":"506f86ef-9298-449e-89c9-7bd87ad17acf","name":"companyName","value":"={{ $json.organization_name }}","type":"string"},{"id":"f95075c2-e72d-4826-ab1a-ab8587727849","name":"companyWebsiteUrl","value":"={{ $json.organization_website_url }}","type":"string"},{"id":"f5ec6555-c6e9-472e-a182-8374e09e83c1","name":"companyLinkedinUrl","value":"={{ $json.organization_linkedin_url }}","type":"string"},{"id":"abab887a-aad5-4f43-8d67-bead33043ab5","name":"location","value":"={{ $json.city }}, {{ $json.country }}","type":"string"},{"id":"17df6886-9fec-4f5c-91c5-075564baaadd","name":"idPath","value":"={{ $json.linkedin_url.split('/in/')[1].split('/')[0] }}","type":"string"},{"id":"d56d1c93-d8c6-4541-ae47-ffdeb24ce6e9","name":"source","value":"={{ $json.source }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2960,240],"id":"ed5ffaef-d768-4f9c-95df-f70fbb08e828","name":"currentLead"},{"parameters":{"jsCode":"const data = $json.data;\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  if (typeof html !== 'string') {\n    return '';\n  }\n  return html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\nlet extractedText = extractTextFromHTML(data);\n// Check if extracted text is empty and return \"no content\" if so\nreturn { text: extractedText || \"no content\" };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2180,240],"id":"5f9de6ea-e392-41dd-86ed-54fa4c8ed023","name":"Text extract (<4k words)","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e91f9b71-fa1d-4c35-9ecd-952a2b3d6aed","leftValue":"={{ $json.companyTooBig }}","rightValue":"True","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-940,240],"id":"9d028de5-d17a-4f9a-b8ac-ec82526c04cb","name":"Company Size 50+"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.benefitsIndustry }}","rightValue":7,"operator":{"type":"number","operation":"gte"},"id":"9edb5a57-7f29-4e5b-b9da-179bab88eb58"}],"combinator":"and"},"renameOutput":true,"outputKey":"7+ Fit"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"119445ce-4ace-4ca3-ac5c-b499a60b5c55","leftValue":"={{ $json.benefitsIndustry }}","rightValue":6,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"renameOutput":true,"outputKey":"<6 No Fit"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1200,240],"id":"799aa14a-db69-4f6d-8b29-b3be3bf2fa26","name":"In benefits industry"},{"parameters":{"url":"={{ $json.companyLinkedinUrl }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"2a862c29-c487-4794-a803-37f5d9a31a2d","name":"Scrape Company Linkedin1","type":"n8n-nodes-base.httpRequest","position":[-2380,240],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're a helpful, intelligent business analyst.","role":"system"},{"content":"=Analyze the company LinkedIn page to determine the following:\n\n1. What industry are they in? Score from 1-10, output as: \"benefitsIndustry\"\n\nIndustry Scoring (1-10 scale)\n\n*10*: Company in the group or employee benefits industry, commercial or business insurance industry, brokerage/consulting industry\n*7-9*: Wealth/finance and others that help businesses buy employee benefits (including insurance if they offer businesss/commercial)\n*4-6*: Different industry\n*1-3*: No relevant info\n\n\n2. Provide a brief reason for your industry score. Output as \"reason\"\n\n3. Company size (number of employees). Output \"companySize\"\n\n4. Does the company have more than 51 employees. Output \"companyTooBig\"\n\n5. Company country location. Output \"companyCountry\"\n\n6. Company overview. Output as \"companyLinkedinOverview\"\n\n7. Any recent posts. Output as \"recentPost\"\n\n8. If the page is not from a profile, such as 404, login page, etc then output \"validLinkedinPage\" as \"False\"\n\n\n\n\n## Output\nReturn in this JSON format:\n{\"benefitsIndustry\":\"Score from 1-10\"}\n{\"reason\":\"Reason for your score\"}\n{\"companySize\":\"Number of employees goes here\"}\n{\"companyTooBig\":\"True or False\"}\n{\"companyCountry\":\"What country are they located\"}\n{\"companyLinkedinOverview\":\"company overview goes here\"}\n{\"recentPost\":\"Posts content and date goes here\"}\n{\"validLinkedinPage\":\"True or False\"}\n{\"companyWebsite\":\"Full domain including http or https\"}\n\n## Rules:\n\n- The company must not be a tech vendor or insurance carrier (actual insurers that underwrite policies).\n- Insurance brokers, benefit consultants, and benefit administration companies ARE eligible for high scores.\n- If company has more than 51 employees, then output \"companyTooBig\" as \"True\". Anything 51 or smaller is \"False\"\n- Include the employee range in \"companySize\"\n- If any companyLinkedinOverview or recentPost has no data, then output: \"No Content\"\n- Posts must be no older than 4 weeks old from today's date: {{ $now }}\n- Include date with any posts or content\n\n## LinkedIn Company Page:\n{{ $json.text }}"}]},"jsonOutput":true,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-1980,240],"id":"b9b0913b-0da1-4752-8f14-3aac8d536917","name":"Company Qualification","retryOnFail":true,"credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"72b8524b-7857-41ba-9b9d-fd53673c0824","name":"benefitsIndustry","value":"={{ $json.message.content.benefitsIndustry }}","type":"string"},{"id":"cd763458-3186-41e0-bcc7-966fedbe123e","name":"companySize","value":"={{ $json.message.content.companySize }}","type":"string"},{"id":"45d28614-b15c-4c39-ac58-01419523112c","name":"companyTooBig","value":"={{ $json.message.content.companyTooBig }}","type":"string"},{"id":"c8d62176-9455-42f8-9554-089ffb283dc9","name":"companyWebsite","value":"={{ $json.message.content.companyWebsite }}","type":"string"},{"id":"680f5bcd-0ec7-419f-b83e-e1903e659c01","name":"companyLinkedinOverview","value":"={{ $json.message.content.companyLinkedinOverview }}","type":"string"},{"id":"8c661797-09cc-4c04-a3b4-e707562206a0","name":"recentPost","value":"={{ $json.message.content.recentPost }}","type":"string"},{"id":"eb677704-a73d-4bab-8286-cc35d9c4dfdc","name":"validLinkedinPage","value":"={{ $json.message.content.validLinkedinPage }}","type":"string"},{"id":"7fe877b9-2ea3-4e5e-9316-02816f35ef66","name":"companyCountry","value":"={{ $json.message.content.companyCountry }}","type":"string"},{"id":"fadb30e2-6fbb-450a-9491-457223063fda","name":"reason","value":"={{ $json.message.content.reason }}","type":"string"},{"id":"0c926ace-7db9-4acc-8900-4d36018d65e1","name":"CompanyLinkedinPage","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1620,240],"id":"2c7f508e-aea9-4d1e-81b1-953fc6e7667f","name":"CompanyLinkedinData1","alwaysOutputData":true},{"parameters":{"url":"={{ $('currentLead').item.json.companyWebsiteUrl }}","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"9fcd7c0c-927a-497f-a84f-7e3fcf3f0dad","name":"Scrape Company Homepage","type":"n8n-nodes-base.httpRequest","position":[-460,300],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"199cf425-1625-48c6-9456-0a86bc98f32d","name":"homepageInsights","value":"={{ $json.message.content.homepageInsights }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,200],"id":"2251271a-8fc4-4410-ae6c-1c5fd64f8234","name":"Company Homepage Insights"},{"parameters":{"content":"## Scrape Company Website","height":580,"width":2140,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-560,80],"typeVersion":1,"id":"ea801a7f-ff8b-4618-877c-30f52462d4d8","name":"Sticky Note17"},{"parameters":{"jsCode":"const data = $json.data;\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  if (typeof html !== 'string') {\n    return '';\n  }\n  return html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\nlet extractedText = extractTextFromHTML(data);\n// Check if extracted text is empty and return \"no content\" if so\nreturn { text: extractedText || \"no content\" };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-220,440],"id":"9714b69b-c77f-4ace-af5d-7a04c3da2de8","name":"Text extract","alwaysOutputData":true,"retryOnFail":true},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/VhxlqQXRwhW8H5hNV/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_0JMczG9Mud0RKCpIcA5p8HQQWhb37N3mBzny"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"username\": \"{{ $('currentLead').item.json.linkedinUrl }}\"\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,220],"id":"4942ba7f-3aab-40a1-a531-67b3323c8d96","name":"Apify - Personal Linkedin"},{"parameters":{"content":"## Scrape personal Linkedin profile","height":580,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1640,80],"typeVersion":1,"id":"f32a08bf-d078-4470-af99-b6aabe3b73dd","name":"Sticky Note3"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a Cold Email Writing Specialist with expertise in business, subtle persuasion, and psychology.","role":"system"},{"content":"=Your task is to use the lead research and templates provided to create cold emails variables that feel personal, relevant, and authentic, just for them.\n\n\n\n#Workflow:\n1. Review lead research\n2. Use the provided templates.\n3. Adapt to match the lead’s persona and insights. Ensure every email feels personal and relevant - no lazy “just reaching out” vibes. Avoid using — (em dash), as it looks automated.\n\n\n\n\n#Output\nAlways output in the following JSON format.\n\n{\n\n\t\"iceBreaker\": \"email body goes here\",\n    \"ps\": \"personal insight goes here\",\n\t\"leadSummary\": \"lead summary goes here\"\n\n}\n\n\n\n\n#Templates:\n\n{iceBreaker\": \"Hi {Name}, love {thing} - {compliment otherThing}.\n\n/n/nHope you don't mind, but I saw you've been {paraphrasePosition} at {shortenedCompanyName} for {years} - figured you'd be a good person to talk with.\n\n{\"ps\": \"P.S. {somethingSpecific - personalThing/Insight,Interest,TheyMentioned, Lifestyle, Hobby}\"}\n\n{\"leadSummary\":\"Either way, love {specificThingBeliefIdeaInsightTheyHave}\"}\n\n\n\n----------\n\n\n\n#Notes:\n- Non-Negotiable: Never use — (em dash)\n- When referencing Linkedin posts, make sure they're from with 2-4weeks of todays Date: {{ $now }}. Newer is better.\n- The email should feel genuinely personal and tightly relevant\n- Your tone of voice should be \"casual bar conversation\" and very spartan. No fancy language.\n- Keep variables SHORT and punchy\n- Always start with \"Love {thing}\"\n- Don't use wimisical phrases\n- Do not reference anything to do with benefits booklets, such as design.\n\n\n#Guidelines:\n- Personalization should be tight, but not creepy.\n- Prioritize higher-relevance insights for variables\n- For the \"ps\" weave in testimonial quotes if possible.\n- Try and avoid low relevance insights \n- {personalThing} should be something unique about them them or their life ideally from \"Personal Bio\"\n- {leadSummary} is a used in a follow up email and should stand out and being highly personal and relevant.\n- Weave in multiple insights from the lead research\n- Try avoid using the same insight more than twice in the \"emailBody\"\n\n\n\n#Rules:\n- Make sure to use the above templates when constructing your the email. We wrote it this way on purpose.\n- Don't assume the business belongs to the lead (unless their title is \"owner\", or they share the same name as the business, other other clear indication.)\n- Shorten the company name wherever possible (say, \"XYZ\" instead of \"XYZ Agency\"). More examples: \"Love AMS\" instead of \"Love AMS Professional Services\", \"Love Mayo\" instead of \"Love Mayo Inc\", \"Claremont\" insted of \"Claremont Insurance Services\" etc.\n- Do the same with locations. \"San Fran\" instead of \"San Francisco\", \"BC\" instead of \"British Columbia\", etc.\n- Do not just repeat the input data verbatim. Paraphrase, so they think a human wrote it.\n- Avoid using superscript, subscript or ™, ©, ;, and other signs that look copy and pasted.\n- Avoid suggesting we should have a \"call\"\n- Use shortened abbreviation and lowercase for {Position/Title} (e.g. Director of Business Development = director of BD. CEO = CEO)\n- Avoid congratulations for promotions, unless it was less than 3 months ago.\n- Avoid calculating potentional savings and sales.\n"},{"content":"=#Lead Details:\n\nLead Name: {{ $('researchData').item.json.firstName }} {{ $('researchData').item.json.lastName }}\n\nLead Title: {{ $('researchData').item.json.title }}\n\nCompany Name: {{ $('currentLead').item.json.companyName }}\n\nThe following lead research has been put together by your research team:\n{{ $json.leadResearch }}\n"},{"content":"#Example 1\n\n\n{iceBreaker\": \"Hi Joe, love your focus on high-quality service - with 35 years in the business, you’re clearly doing something right!\n\nAs you're the owner at Greystone, I figured you'd be a good person to talk with.\"}\n\n{\"ps\": \"P.S. that testimonial from Alice Baker is awesome - sounds like you and team really goes the extra mile.\"}\n\n{\"leadSummary\":\"Either way, it’s great to see another small business in the benefits space making a real difference - here's to another decade!\"}\n\n\n\n\n#Example 2\n{iceBreaker\": \"Hi Lauren, love the glowing testimonial from from James - you and the team must be proud of that one.\n\nHope you don't mind me reaching out, but as you're the co-founder at Benefits Made Simple I figured you'd be the right person to talk with.\n\n{\"ps\": \"P.S. Amazing work with charity run last week, the Cancer Research  Foundation is such a great cause - kudos to you!\"}\n\n{\"leadSummary\":\"Either way, it's awesome to see another small business in the benefits space making a real difference.\"}"}]},"jsonOutput":true,"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2220,960],"id":"4858b9ed-adeb-4074-8d9f-a59a519ec46c","name":"Cold Email v2","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"42909e00-d069-4614-bdb7-9bef202dcda7","name":"iceBreaker","value":"={{ $json.message.content.iceBreaker }}","type":"string"},{"id":"3b1b2610-c734-4490-b837-7736a9c9c1f9","name":"ps","value":"={{ $json.message.content.ps }}","type":"string"},{"id":"6f2751b2-5d5b-4658-a410-0ebccd366ed5","name":"leadSummary","value":"={{ $json.message.content.leadSummary }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2940,220],"id":"7e7f67b4-1052-4a1b-9e47-b128b8b9731c","name":"variables"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a Cold Email Writing Specialist with expertise in business, subtle persuasion, and psychology.","role":"system"},{"content":"=Your task is to use the lead research and templates provided to create cold emails variables that feel personal, relevant, and authentic, just for them.\n\n\n\n#Workflow:\n1. Review lead research\n2. Use the provided templates.\n3. Adapt to match the lead’s persona and insights. Ensure every email feels personal and relevant - no lazy “just reaching out” vibes. Avoid using — (em dash), as it looks automated.\n\n\n\n\n#Output\nAlways output in the following JSON format.\n\n{\n\n\t\"iceBreaker\": \"email body goes here\",\n    \"ps\": \"personal insight goes here\",\n\t\"leadSummary\": \"lead summary goes here\"\n\n}\n\n\n\n\n#Templates:\n\n{iceBreaker\": \"Hi {Name}, love {thing} - {otherThing}.\n\n/n/nAs you've been {paraphrasePosition} at {shortenedCompanyName} for {years} - figured you'd be a good person to talk with.\n\n{\"ps\": \"P.S. {somethingSpecific - personalThing/Insight,Interest,TheyMentioned, Lifestyle, Hobby}\"}\n\n{\"leadSummary\":\"Either way, {love/awesome} {specificThingBeliefIdeaInsightTheyHave}\"}\n\n\n\n----------\n\n\n\n#Notes:\n- Non-Negotiable: Never use — (em dash)\n- When referencing Linkedin posts, make sure they're from with 2-4weeks of todays Date: {{ $now }}. Newer is better.\n- The email should feel genuinely personal and tightly relevant\n- Your tone of voice should be \"casual bar conversation\" and very spartan. No fancy language.\n- Keep variables SHORT and punchy\n- Always start with \"Love {thing}\"\n- Don't use wimisical phrases\n- Do not reference anything to do with benefits booklets, such as design.\n\n\n#Guidelines:\n- Personalization should be tight, but not creepy.\n- Prioritize higher-relevance insights for variables\n- For the \"ps\" weave in testimonial quotes if possible.\n- Try and avoid low relevance insights \n- {personalThing} should be something unique about them them or their life ideally from \"Personal Bio\"\n- {leadSummary} is a used in a follow up email and should stand out and being highly personal and relevant.\n- Weave in multiple insights from the lead research\n- Try avoid using the same insight more than twice in the \"emailBody\"\n- Avoid repeating the company name multiple times\n\n\n\n#Rules:\n- Make sure to use the above templates when constructing your the email. We wrote it this way on purpose.\n- Don't assume the business belongs to the lead (unless their title is \"owner\", or they share the same name as the business, other other clear indication.)\n- Shorten the company name wherever possible (say, \"XYZ\" instead of \"XYZ Agency\"). More examples: \"Love AMS\" instead of \"Love AMS Professional Services\", \"Love Mayo\" instead of \"Love Mayo Inc\", \"Claremont\" insted of \"Claremont Insurance Services\" etc.\n- Do the same with locations. \"San Fran\" instead of \"San Francisco\", \"BC\" instead of \"British Columbia\", etc.\n- Do not just repeat the input data verbatim. Paraphrase, so they think a human wrote it.\n- Avoid using superscript, subscript or ™, ©, ;, and other signs that look copy and pasted.\n- Avoid suggesting we should have a \"call\"\n- Use shortened abbreviation and lowercase for {Position/Title} (e.g. Director of Business Development = director of BD. CEO = CEO)\n- Avoid congratulations for promotions, unless it was less than 3 months ago.\n- If referencing testimonials use first and last name, or only first name only.\n- Avoid using the word \"admire\"\n- When referencing a 'post', say 'the company post' (It's not theirs)\n"},{"content":"=#Lead Details:\n\nLead Name: {{ $('researchData').item.json.firstName }} {{ $('researchData').item.json.lastName }}\n\nLead Title: {{ $('researchData').item.json.title }}\n\nCompany Name: {{ $('currentLead').item.json.companyName }}\n\nThe following lead research has been put together by your research team:\n\n\n---------\n\n\n#Company LinkedIn Page\n\nCompany Linkedin Overview: \n{{ $json.companyLinkedinOverview }}\n\nCompany Recent Posts: \n{{ $json.companyLinkedinRecentPost }}\n\n\n---------\n\n\n#Lead Personal LinkedIn\n\nLead Basic Info:\n{{ $json.personalLinkedinAbout }}\n\nLead Experience0:\n{{ $json.experience[0] }}\n\nLead Experience1:\n{{ $json.experience[1] }}\n\n\n\n---------\n\n\n\n#Company Homepage Insights:\n{{ $('Company Homepage Insights').item.json.homepageInsights }}"},{"content":"#Example 1\n\n\n{iceBreaker\": \"Hi Joe, love your focus on high-quality service - with 35 years with Greystone, you’re clearly doing something right!\n\nAs the owner, I figured you'd be a good person to talk with.\"}\n\n{\"ps\": \"P.S. that testimonial from Alice Baker is awesome - sounds like you and team really goes the extra mile.\"}\n\n{\"leadSummary\":\"Either way, it’s great to see another small business in the benefits space making a real difference - here's to another decade!\"}\n\n\n\n\n#Example 2\n{iceBreaker\": \"Hi Lauren, love the glowing testimonial from from James - you and the team must be proud of that one.\n\nAs you've been the the co-founder at Benefits Made Simple for 9 year - I figured you'd be the right person to talk with.\n\n{\"ps\": \"P.S. Amazing work with charity run last week, the Cancer Research  Foundation is such a great cause - kudos to you!\"}\n\n{\"leadSummary\":\"Either way, it's awesome to see another small business in the benefits space making a real difference.\"}"}]},"jsonOutput":true,"options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2580,220],"id":"8030c08c-84bd-4ef9-b378-ec9339698b3b","name":"Personalized Email Variables","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"content":"If using deepseek, run after 6.30pm for 75% off token price"},"type":"n8n-nodes-base.stickyNote","position":[1880,1220],"typeVersion":1,"id":"80ba6bb2-0cd7-4a54-b6ba-51e071059043","name":"Sticky Note"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3660,480],"id":"831f21fa-8f5c-4602-8b8c-157b5bfe50e5","name":"3 sec","webhookId":"1d032c94-65a1-49a7-bf99-9d41e032ffcb"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1331597024,"mode":"list","cachedResultName":"crm","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1331597024"},"columns":{"mappingMode":"defineBelow","value":{"status":"Check Variables","companyName":"={{ $('currentLead').item.json.companyName }}","title":"={{ $('currentLead').item.json.title }}","firstName":"={{ $('currentLead').item.json.firstName }}","lastName":"={{ $('currentLead').item.json.lastName }}","website":"={{ $('currentLead').item.json.companyWebsiteUrl }}","email":"={{ $('currentLead').item.json.email }}","timeStamp":"={{ $now }}","linkedIdPath":"={{ $('currentLead').item.json.idPath }}","location":"={{ $('currentLead').item.json.location }}","personalLinkedinUrl":"={{ $('currentLead').item.json.linkedinUrl }}","companyLinkedinUrl":"={{ $('currentLead').item.json.companyLinkedinUrl }}","homepageInsights":"={{ $('Company Homepage Insights').item.json.homepageInsights }}","personalLinkedinAbout":"={{ $('personalLinkedinData').item.json.about }}","personalExperience0":"={{ $('personalLinkedinData').item.json.linkedinExperience0 }}","personalExperience2":"={{ $('personalLinkedinData').item.json.linkedinExperience1 }}","companySize":"={{ $('CompanyLinkedinData1').item.json.companySize }}","companyLinkedinOverview":"={{ $('CompanyLinkedinData1').item.json.companyLinkedinOverview }}","companyRecentPosts":"={{ $('CompanyLinkedinData1').item.json.recentPost }}","source":"={{ $('currentLead').item.json.source }}","icebreaker":"={{ $json.iceBreaker }}","ps":"={{ $json.ps }}","leadSummary":"={{ $json.leadSummary }}","searchString":"-"},"matchingColumns":[],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"icebreaker","displayName":"icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ps","displayName":"ps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadSummary","displayName":"leadSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"personalLinkedinUrl","displayName":"personalLinkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinUrl","displayName":"companyLinkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"homepageInsights","displayName":"homepageInsights","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"personalLinkedinAbout","displayName":"personalLinkedinAbout","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"personalExperience0","displayName":"personalExperience0","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"personalExperience2","displayName":"personalExperience2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3160,220],"id":"852a2e8c-e40e-41fe-bfe5-de82e41fbde0","name":"Send to CRM","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2069109070,"mode":"list","cachedResultName":"Apollo: RAW","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=2069109070"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $json.email }}","status":"Sent to CRM"},"matchingColumns":["email"],"schema":[{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"personalLinkedinAbout","displayName":"personalLinkedinAbout","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinAbout","displayName":"companyLinkedinAbout","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyPosts","displayName":"companyPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyHomepage","displayName":"companyHomepage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"websiteAbstract","displayName":"websiteAbstract","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"numEmployees","displayName":"numEmployees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3380,220],"id":"e7cd3df6-c373-4f50-910e-c96bc46886bd","name":"Update RAW Status","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"maxItems":100},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-3420,60],"id":"20b6430a-ce2a-445c-83bc-f7981b3c31cc","name":"DELETE"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2069109070,"mode":"list","cachedResultName":"Apollo: RAW","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=2069109070"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('currentLead').item.json.email }}","reason":"={{ $('CompanyLinkedinData1').item.json.reason }}","status":"No Fit"},"matchingColumns":["email"],"schema":[{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"numEmployees","displayName":"numEmployees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1200,480],"id":"30a5d0a7-3fb7-4e06-9bc8-e4629fb78675","name":"No Fit - Not in benefits industry","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2069109070,"mode":"list","cachedResultName":"Apollo: RAW","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=2069109070"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('currentLead').item.json.email }}","reason":"=Company too big: {{ $json.companySize }}","status":"No Fit"},"matchingColumns":["email"],"schema":[{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"numEmployees","displayName":"numEmployees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-940,480],"id":"c5ac5301-f4c6-436d-ac64-32b5165ffe35","name":"No Fit - Company too big","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9d5dfdab-8b56-419b-8c05-3d0c02536373","name":"about","value":"={{ $json.basic_info.about }}","type":"string"},{"id":"7c935c46-35c4-4f72-9aac-609f87792cfb","name":"companyLinkedinUrlCurrent","value":"={{ $json.basic_info.current_company_url }}","type":"string"},{"id":"34563b47-133c-49e4-91be-43aea1afe6a3","name":"linkedinExperience0","value":"={{ Object.entries($json.experience[0]).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"b3847017-ebc1-4dab-98fc-6c14abc0c60d","name":"companyLinkedinUrl0","value":"={{ $json.experience[0].company_linkedin_url }}","type":"string"},{"id":"129dcb32-dbab-44a5-b08a-31cf4638eb5d","name":"linkedinExperience1","value":"={{ Object.entries($json.experience[1]).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"deb710e4-621a-4d06-a440-387e63455edf","name":"companyLinkedinUrl1","value":"={{ $json.experience[1].company_linkedin_url }}","type":"string"},{"id":"3f1b6dea-024c-437e-bd1a-06c286ae6c73","name":"personalLinkedin","value":"Valid","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1980,220],"id":"944c5fbe-b53b-42d2-bf63-94af06b9b053","name":"personalLinkedinData"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.message.content.benefitsIndustry }}","rightValue":7,"operator":{"type":"number","operation":"gte"},"id":"9edb5a57-7f29-4e5b-b9da-179bab88eb58"}],"combinator":"and"},"renameOutput":true,"outputKey":"7+ Fit"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"119445ce-4ace-4ca3-ac5c-b499a60b5c55","leftValue":"={{ $json.message.content.benefitsIndustry }}","rightValue":6,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"renameOutput":true,"outputKey":"<6 No Fit"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1160,200],"id":"a1b58504-b6b8-485a-bd07-ed1ef91cf827","name":"In benefits industry1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2069109070,"mode":"list","cachedResultName":"Apollo: RAW","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=2069109070"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('currentLead').item.json.email }}","reason":"={{ $json.message.content.reason }}","status":"No Fit"},"matchingColumns":["email"],"schema":[{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"numEmployees","displayName":"numEmployees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1160,480],"id":"37dfcf27-838b-4e4b-9002-1676ab21cde2","name":"No Fit - Not in benefits industry1","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{},"id":"2e335757-d49f-454c-9c12-a0033943116a","name":"Remove Duplicate URLs","type":"n8n-nodes-base.removeDuplicates","position":[420,200],"typeVersion":1.1,"alwaysOutputData":true},{"parameters":{"fieldToSplitOut":"links","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-20,200],"id":"480c6120-1dad-4bd1-a5ac-84cb0c738b62","name":"Split Out1","alwaysOutputData":true},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"links","cssSelector":"a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true,"cleanUpText":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-220,200],"id":"74cde749-04cf-4831-8650-e09f25a7ec32","name":"Scrape Links1","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[540,420],"id":"8732bc42-de1a-496a-b76a-161ca06d41e3","name":"Merge","alwaysOutputData":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"links"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[640,200],"id":"c2497ba1-96c2-4199-be85-aaa7410a2383","name":"Aggregate","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"d962d4ef-afb9-4dae-89c0-713d8bad2688","name":"websiteLinks","value":"={{ $json.links }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[840,200],"id":"fd6730a7-6fef-4f14-999f-48436c9764fe","name":"websiteLinks","alwaysOutputData":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are an intelligent and  helpful business analyst.","role":"system"},{"content":"=Your task is to use the company homepage content and links to provide the following:\n\n1. Understand if the company is an agency/broker providing:\n- Group benefits \n- Group insurance\n- Employee benefits\n\nThen score from 1–10. With 10 being highly relevent and 1 not referencing the above. Output as \"benefitsIndustry\"\n\n\n2. Summarize the homepage contnet, highlighting what would be relevant for generating a personalised cold email variables.\n\nHighlights could include:\n- Growth ststistics\n- Great testimonials (include exact quotes)\n- Interesting details about comapny\n- Particualar services\n\n\n#Notes\n- The company should not be tech vendor or insurance carrier.\n- Group health, group insurance, employee benefits or similar must be explicity refernced on the homepage (inc the menu/navigation), or links. If nothing, then score <7.\n- Hoever, if there's less than 100 words or no homepage content or links, then output score as 8\n\n\n#Rules:\n- If referecing testimonials, include quotes. \n- Use a straightforward, spartan tone of voice.\n- If no website links, then score on the homepage\n\n\n\n#Output:\n{\"benefitsIndustry\":\"1-10 score\"}\n{\"reason\":\"brief reason for your score - include direct quote or reference\"}\n{\"homepageInsights\":\"Insights go here\"}\n\n\n#Homepage Content:\n{{ $json.text }}\n\n#Website Links:\n{{ $json.websiteLinks }}\n\n"}]},"jsonOutput":true,"options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[740,840],"id":"924e6a6a-5fdc-4818-840a-2c4401ec91a5","name":"v1 Company Homepage Research","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a intelligent and helpful researcher","role":"system"},{"content":"=## Task\nAnalyze the company homepage and website links to determine if they are a fit based on the following:\n\n## Scoring (1-10 scale)\n- **10**: agency/broker offering group benefits/insurance/employee benefits\n- **7-9**: Employee/group benefits mentioned and adjacent employee services such as Workplace Retirement Plans\n- **4-6**: No relevant services\n- **1-3**: Wrong industry\n- **8**: Default score when homepage content is insufficient (<100 words or empty)\n\n## Requirements\n- Company must be an agency/broker (NOT a tech vendor or insurance carrier)\n- Check homepage content, navigation menus, and website links\n\n\n## Guidelines\n- You do not need the exact details of the types of employee benefits or group insurance offered, only that they offer it.\n- If the company has website links indicating benefits, that would be a strong indicator.\n\n\n## Homepage Summary & Analysis\nSummarise the homepage with the key sections, and identify relevant details for personalized outreach that may inlcude:\n- Growth statistics or achievements\n- Client testimonials (always include exact quots and first name from person providing quote when avaliable)\n- Unique company details or differentiators (may include reference to team members, awards, etc)\n- Specific services offered\n- Industry expertise or specializations\n\n\n## Output Format\n```json\n{\n  \"benefitsIndustry\": \"score (1-10)\",\n  \"reason\": \"Brief explanation with specific evidence or quotes\",\n  \"homepageInsights\": \"homepage summary with key insight\"\n}\n```\n\n## Content to Analyze\n**Homepage Content:**\n{{ $json.text }}\n\n**Website Links:**\n{{ $json.websiteLinks }}"}]},"jsonOutput":true,"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[760,420],"id":"bb4ac24d-550b-4304-bf98-348734c83c4b","name":"v2 Company Homepage Research","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f3e7115-7523-4711-aad2-336d64968e19","leftValue":"={{ $json.links.replace(/(^\\w+:|^)\\/\\//, '').replace(/^www\\./, '').split('/').slice(1).join('/') }}","rightValue":"=group","operator":{"type":"string","operation":"contains"}},{"id":"6fb04f84-b53e-4518-889d-f8b4d4c2a8f3","leftValue":"={{ $json.links.replace(/(^\\w+:|^)\\/\\//, '').replace(/^www\\./, '').split('/').slice(1).join('/') }}","rightValue":"employee","operator":{"type":"string","operation":"contains"}},{"id":"e1136bfd-9ac4-4291-8b50-de3c2c5aaa4e","leftValue":"={{ $json.links.replace(/(^\\w+:|^)\\/\\//, '').replace(/^www\\./, '').split('/').slice(1).join('/') }}","rightValue":"benefit","operator":{"type":"string","operation":"contains"}},{"id":"06594bef-a94e-493b-a489-656b0a14485f","leftValue":"={{ $json.links.replace(/(^\\w+:|^)\\/\\//, '').replace(/^www\\./, '').split('/').slice(1).join('/') }}\n","rightValue":"benefits","operator":{"type":"string","operation":"contains"}},{"id":"48dd253a-7170-47b9-ba08-3697e4398ff1","leftValue":"={{ $json.links.replace(/(^\\w+:|^)\\/\\//, '').replace(/^www\\./, '').split('/').slice(1).join('/') }}","rightValue":"business","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[200,200],"id":"02761a89-f850-4ddc-8003-de12f438b470","name":"Keywords in link path","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3925cdad-6236-4ab5-8b3b-3eb3e083b716","leftValue":"={{ $json.title.toLowerCase() }}","rightValue":"commercial lines","operator":{"type":"string","operation":"notContains"}},{"id":"316a883c-cecb-4c71-8142-739fd1bb90f8","leftValue":"={{ $json.title.toLowerCase() }}","rightValue":"personal lines","operator":{"type":"string","operation":"notContains"}},{"id":"30c20367-a11b-4510-8347-33cdcd514916","leftValue":"={{ $json.title.toLowerCase() }}","rightValue":"recruiting","operator":{"type":"string","operation":"notContains"}},{"id":"600e760a-c9b0-4a57-ae83-f1f1d667b27b","leftValue":"={{ $json.title.toLowerCase() }}","rightValue":"events","operator":{"type":"string","operation":"notContains"}},{"id":"86b1f374-2cd2-44ab-89c4-4c8fe758fed6","leftValue":"={{ $json.title.toLowerCase() }}","rightValue":"underwriting","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2740,240],"id":"00c69023-5430-4250-a083-27022bc6b304","name":"Title keyword filter"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2069109070,"mode":"list","cachedResultName":"Apollo: RAW","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=2069109070"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $json.email }}","reason":"=Wrong title/position: {{ $json.title }}","status":"No Fit"},"matchingColumns":["email"],"schema":[{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"numEmployees","displayName":"numEmployees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2740,480],"id":"086f750f-5159-4c6c-8fa5-5f88b57a7073","name":"No Fit - Wrong title/position","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1107c24d-92ba-4c3b-b331-bdd959c10ce3","leftValue":"={{ $json.validLinkedinPage }}","rightValue":"False","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1400,240],"id":"262cb756-e4b9-4c32-98bd-d54255dd53f8","name":"Content Exists"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1400,-20],"id":"4d388024-f818-4d8b-8519-0ed5e1cacdbb","name":"No Content"},{"parameters":{"content":"filter + scrape additional pages\n\nBusiness\nProducts\nServices"},"type":"n8n-nodes-base.stickyNote","position":[140,-100],"typeVersion":1,"id":"e0f367a4-7c62-4397-aa42-6e21d7cedb07","name":"Sticky Note1"},{"parameters":{"content":"Are they an insurance carrier: true/false\n\nAdd another IF node to filter"},"type":"n8n-nodes-base.stickyNote","position":[-1980,-40],"typeVersion":1,"id":"49fbfe03-94c2-4f83-93f9-a9a6e685c502","name":"Sticky Note2"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"No Op3","type":"main","index":0}]]},"Batch ":{"main":[[],[{"node":"currentLead","type":"main","index":0}]]},"leadResearch1":{"main":[[{"node":"Cold Email v2","type":"main","index":0}]]},"Research Specialist1":{"main":[[{"node":"leadResearch1","type":"main","index":0}]]},"DeepSeek R1":{"ai_languageModel":[[{"node":"Research Specialist1","type":"ai_languageModel","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Op3","type":"main","index":0}]]},"No Op3":{"main":[[{"node":"EB3 - Apollo Leads","type":"main","index":0}]]},"researchData":{"main":[[{"node":"Personalized Email Variables","type":"main","index":0}]]},"EB3 - Apollo Leads":{"main":[[{"node":"Status: Process Lead","type":"main","index":0}]]},"Status: Process Lead":{"main":[[{"node":"DELETE","type":"main","index":0}]]},"currentLead":{"main":[[{"node":"Title keyword filter","type":"main","index":0}]]},"Text extract (<4k words)":{"main":[[{"node":"Company Qualification","type":"main","index":0}]]},"Company Size 50+":{"main":[[{"node":"Scrape Company Homepage","type":"main","index":0}],[{"node":"No Fit - Company too big","type":"main","index":0}]]},"In benefits industry":{"main":[[{"node":"Company Size 50+","type":"main","index":0}],[{"node":"No Fit - Not in benefits industry","type":"main","index":0}]]},"Scrape Company Linkedin1":{"main":[[{"node":"Text extract (<4k words)","type":"main","index":0}]]},"Company Qualification":{"main":[[{"node":"CompanyLinkedinData1","type":"main","index":0}]]},"CompanyLinkedinData1":{"main":[[{"node":"Content Exists","type":"main","index":0}]]},"Scrape Company Homepage":{"main":[[{"node":"Text extract","type":"main","index":0},{"node":"Scrape Links1","type":"main","index":0}]]},"Company Homepage Insights":{"main":[[{"node":"Apify - Personal Linkedin","type":"main","index":0}]]},"Text extract":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Apify - Personal Linkedin":{"main":[[{"node":"personalLinkedinData","type":"main","index":0}]]},"Cold Email v2":{"main":[[]]},"variables":{"main":[[{"node":"Send to CRM","type":"main","index":0}]]},"Personalized Email Variables":{"main":[[{"node":"variables","type":"main","index":0}]]},"3 sec":{"main":[[{"node":"Batch ","type":"main","index":0}]]},"Send to CRM":{"main":[[{"node":"Update RAW Status","type":"main","index":0}]]},"Update RAW Status":{"main":[[{"node":"3 sec","type":"main","index":0}]]},"DELETE":{"main":[[{"node":"Batch ","type":"main","index":0}]]},"No Fit - Not in benefits industry":{"main":[[{"node":"Batch ","type":"main","index":0}]]},"No Fit - Company too big":{"main":[[{"node":"Batch ","type":"main","index":0}]]},"personalLinkedinData":{"main":[[{"node":"researchData","type":"main","index":0}]]},"In benefits industry1":{"main":[[{"node":"Company Homepage Insights","type":"main","index":0}],[{"node":"No Fit - Not in benefits industry1","type":"main","index":0}]]},"No Fit - Not in benefits industry1":{"main":[[{"node":"Batch ","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Keywords in link path","type":"main","index":0}]]},"Scrape Links1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Remove Duplicate URLs":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Merge":{"main":[[{"node":"v2 Company Homepage Research","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"websiteLinks","type":"main","index":0}]]},"websiteLinks":{"main":[[{"node":"Merge","type":"main","index":0}]]},"v1 Company Homepage Research":{"main":[[]]},"v2 Company Homepage Research":{"main":[[{"node":"In benefits industry1","type":"main","index":0}]]},"Keywords in link path":{"main":[[{"node":"Remove Duplicate URLs","type":"main","index":0}]]},"Title keyword filter":{"main":[[{"node":"Scrape Company Linkedin1","type":"main","index":0}],[{"node":"No Fit - Wrong title/position","type":"main","index":0}]]},"No Fit - Wrong title/position":{"main":[[{"node":"Batch ","type":"main","index":0}]]},"Content Exists":{"main":[[{"node":"In benefits industry","type":"main","index":0}],[{"node":"No Content","type":"main","index":0}]]},"No Content":{"main":[[{"node":"Scrape Company Homepage","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Research Specialist1":[{"json":{"output":"### Lead Research: Joseph Vogt, Owner at Greystone Benefits  \n\n#### Insight #1:  \n**Detail:** Greystone Benefits positions itself as the \"backroom to your Human Resources\" (LinkedIn description), handling day-to-day administrative tasks like enrollment and communication. This implies heavy manual paperwork for client-specific benefit materials.  \n**Relevance:** High  \n**Source:** Lead Personal LinkedIn  \n**Why valuable:** EB3 automates booklet creation and compliance docs (e.g., WRAP SPDs), directly reducing their administrative burden. Outreach can frame it as \"freeing your team to focus on strategic client partnerships instead of formatting documents.\"  \n\n#### Insight #2:  \n**Detail:** A client testimonial highlights Joseph’s \"strategic plan designs\" (Anthony Adami, Becket & Lee) and how they drive employee satisfaction. Yet, Greystone’s website lacks examples of modern, visually branded benefit materials.  \n**Relevance:** High  \n**Source:** Company Homepage (Testimonials)  \n**Why valuable:** EB3’s customizable templates and branding tools (e.g., client color schemes) can elevate their deliverables. Position it as \"enhancing your strategic designs with polished, on-brand booklets that impress HR clients and employees.\"  \n\n#### Insight #3:  \n**Detail:** Their homepage cites industry stats: 83% of employees value health insurance when job-hunting, and 72% want better benefits. However, Greystone offers no multilingual support—critical in their multi-state footprint (PA, NJ, NY, MA).  \n**Relevance:** High  \n**Source:** Company Homepage (Industry Insights)  \n**Why valuable:** EB3’s one-click Spanish translation addresses diverse workforces. Outreach could note: \"Turn complex benefit details into accessible Spanish materials to boost enrollment—no extra effort.\"  \n\n#### Insight #4:  \n**Detail:** Joseph has owned Greystone since 1990 (35+ years), emphasizing long-term relationships (e.g., 25-year partnership with McKee Risk Management). Testimonials consistently praise \"service,\" not efficiency.  \n**Relevance:** Medium  \n**Source:** Lead Personal LinkedIn + Company Homepage  \n**Why valuable:** EB3’s automation (e.g., SBC data scraping) can strengthen client loyalty by ensuring accuracy and speed. Angle: \"Help legacy clients like McKee feel even more valued with error-free, instant updates.\"  \n\n#### Insight #5:  \n**Detail:** They handle compliance docs like POP forms and SPDs but rely on generic descriptions—no mention of digital distribution (e.g., QR codes/flipbooks).  \n**Relevance:** Medium  \n**Source:** Company Homepage (Services)  \n**Why valuable:** EB3’s QR code/flipbook exports modernize their delivery. Suggest: \"Replace static PDFs with interactive formats employees actually engage with.\"  \n\n---  \n### Personal Lead Insights  \n- **Tenure-Driven Pride:** Joseph’s 35-year ownership shows deep commitment to stability and trust. Reference his \"decades of refining client partnerships\" to resonate.  \n- **Service-Obsessed:** Testimonials highlight his \"extraordinary service\" ethos. Avoid hard-sell; position EB3 as a \"service multiplier.\"  \n- **Quiet Innovator:** No social posts suggest discretion. Focus on practical, understated tools over flashy tech.  \n\n### Recommendations  \n1. **Open with Legacy:** Start with respect for his 30+ years in benefits, then pivot: *\"Your focus on lasting client partnerships is why we built EB3—to give brokers like you back hours spent on admin.\"*  \n2. **Solve Silent Pains:** Target unspoken struggles:  \n   - *\"Reduce compliance risks like outdated WRAP SPDs with auto-updating templates.\"*  \n   - *\"Turn Spanish translations from a half-day task into one click.\"*  \n3. **Leverage Testimonials:** Mirror client praise: *\"Anthony Adami praised your strategic designs—imagine pairing that with branded booklets that enroll 20% faster.\"*  \n4. **Avoid Tech Jargon:** Emphasize outcomes (e.g., \"cut booklet creation from 3 hours to 20 minutes\") over features."}}],"leadResearch1":[{"json":{"leadResearch":"### Lead Research: Joseph Vogt, Owner at Greystone Benefits  \n\n#### Insight #1:  \n**Detail:** Greystone Benefits positions itself as the \"backroom to your Human Resources\" (LinkedIn description), handling day-to-day administrative tasks like enrollment and communication. This implies heavy manual paperwork for client-specific benefit materials.  \n**Relevance:** High  \n**Source:** Lead Personal LinkedIn  \n**Why valuable:** EB3 automates booklet creation and compliance docs (e.g., WRAP SPDs), directly reducing their administrative burden. Outreach can frame it as \"freeing your team to focus on strategic client partnerships instead of formatting documents.\"  \n\n#### Insight #2:  \n**Detail:** A client testimonial highlights Joseph’s \"strategic plan designs\" (Anthony Adami, Becket & Lee) and how they drive employee satisfaction. Yet, Greystone’s website lacks examples of modern, visually branded benefit materials.  \n**Relevance:** High  \n**Source:** Company Homepage (Testimonials)  \n**Why valuable:** EB3’s customizable templates and branding tools (e.g., client color schemes) can elevate their deliverables. Position it as \"enhancing your strategic designs with polished, on-brand booklets that impress HR clients and employees.\"  \n\n#### Insight #3:  \n**Detail:** Their homepage cites industry stats: 83% of employees value health insurance when job-hunting, and 72% want better benefits. However, Greystone offers no multilingual support—critical in their multi-state footprint (PA, NJ, NY, MA).  \n**Relevance:** High  \n**Source:** Company Homepage (Industry Insights)  \n**Why valuable:** EB3’s one-click Spanish translation addresses diverse workforces. Outreach could note: \"Turn complex benefit details into accessible Spanish materials to boost enrollment—no extra effort.\"  \n\n#### Insight #4:  \n**Detail:** Joseph has owned Greystone since 1990 (35+ years), emphasizing long-term relationships (e.g., 25-year partnership with McKee Risk Management). Testimonials consistently praise \"service,\" not efficiency.  \n**Relevance:** Medium  \n**Source:** Lead Personal LinkedIn + Company Homepage  \n**Why valuable:** EB3’s automation (e.g., SBC data scraping) can strengthen client loyalty by ensuring accuracy and speed. Angle: \"Help legacy clients like McKee feel even more valued with error-free, instant updates.\"  \n\n#### Insight #5:  \n**Detail:** They handle compliance docs like POP forms and SPDs but rely on generic descriptions—no mention of digital distribution (e.g., QR codes/flipbooks).  \n**Relevance:** Medium  \n**Source:** Company Homepage (Services)  \n**Why valuable:** EB3’s QR code/flipbook exports modernize their delivery. Suggest: \"Replace static PDFs with interactive formats employees actually engage with.\"  \n\n---  \n### Personal Lead Insights  \n- **Tenure-Driven Pride:** Joseph’s 35-year ownership shows deep commitment to stability and trust. Reference his \"decades of refining client partnerships\" to resonate.  \n- **Service-Obsessed:** Testimonials highlight his \"extraordinary service\" ethos. Avoid hard-sell; position EB3 as a \"service multiplier.\"  \n- **Quiet Innovator:** No social posts suggest discretion. Focus on practical, understated tools over flashy tech.  \n\n### Recommendations  \n1. **Open with Legacy:** Start with respect for his 30+ years in benefits, then pivot: *\"Your focus on lasting client partnerships is why we built EB3—to give brokers like you back hours spent on admin.\"*  \n2. **Solve Silent Pains:** Target unspoken struggles:  \n   - *\"Reduce compliance risks like outdated WRAP SPDs with auto-updating templates.\"*  \n   - *\"Turn Spanish translations from a half-day task into one click.\"*  \n3. **Leverage Testimonials:** Mirror client praise: *\"Anthony Adami praised your strategic designs—imagine pairing that with branded booklets that enroll 20% faster.\"*  \n4. **Avoid Tech Jargon:** Emphasize outcomes (e.g., \"cut booklet creation from 3 hours to 20 minutes\") over features."}}]},"versionId":"8c911092-6423-4940-b616-c86151aba75a","triggerCount":1,"tags":[{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"},{"createdAt":"2025-05-08T16:20:55.248Z","updatedAt":"2025-05-08T16:20:55.248Z","id":"KPOFVI2VTTHvP5On","name":"Apollo"},{"createdAt":"2025-05-31T13:54:34.864Z","updatedAt":"2025-05-31T13:54:34.864Z","id":"0izNGdR9nZqKab3U","name":"EB3"}]}