-eb3---search-strings-k0oWpqM58gCRGZKA.json
{"createdAt":"2025-06-03T13:22:30.648Z","updatedAt":"2025-06-08T13:58:51.397Z","id":"k0oWpqM58gCRGZKA","name":"1 // EB3 - Search Strings","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-300,100],"id":"fe465bfc-f8cf-4471-aced-aec27eb53394","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"3119c000-2b23-495d-9ef9-314feead834b","name":"searchString","value":"=site:linkedin.com/in (\\\"employee benefits\\\" OR \\\"employee benefit\\\" OR \\\"group benefits\\\" OR \\\"group benefit\\\") (\\\"owner\\\" OR \\\"principal\\\" OR \\\"founder\\\" OR \\\"president\\\" OR \\\"partner\\\" OR \\\"vp\\\" OR \\\"managing partner\\\") -vendor -carrier -software -platform -provider -recruiter -hiring \\\"{{ $json.location }}\\\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,100],"id":"31ec19d8-cc7e-4127-bcd6-c73a58da3b40","name":"searchString"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":325547854,"mode":"list","cachedResultName":"strings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=325547854"},"columns":{"mappingMode":"defineBelow","value":{"Status":"SERP Scrape","state":"={{ $('Pull Locations').item.json.state }}","searchString":"={{ $json.searchString }}","location":"={{ $('Pull Locations').item.json.location }}","timeStamp":"={{ $now }}"},"matchingColumns":["zipCode"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"totalSum","displayName":"totalSum","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"newLeads","displayName":"newLeads","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[400,100],"id":"cca69afe-c29f-40f3-abf1-9cfa86acb739","name":"Update Strings","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1068691439,"mode":"list","cachedResultName":"locations","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1068691439"},"filtersUI":{"values":[{"lookupColumn":"status","lookupValue":"Generate String"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-60,100],"id":"2a1fbcb7-c1e1-4f16-a978-1055d4562bdb","name":"Pull Locations","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1068691439,"mode":"list","cachedResultName":"locations","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1068691439"},"columns":{"mappingMode":"defineBelow","value":{"location":"={{ $json.location }}","status":"Complete","timeStamp":"={{ $now }}"},"matchingColumns":["location"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[640,100],"id":"2f76e712-5557-447c-a8a1-96e26d5188b3","name":"Update Location","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Pull Locations","type":"main","index":0}]]},"searchString":{"main":[[{"node":"Update Strings","type":"main","index":0}]]},"Pull Locations":{"main":[[{"node":"searchString","type":"main","index":0}]]},"Update Strings":{"main":[[{"node":"Update Location","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e12b33e-66ec-4844-8910-3d64665aae6f","triggerCount":0,"tags":[{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"},{"createdAt":"2025-05-31T13:54:34.864Z","updatedAt":"2025-05-31T13:54:34.864Z","id":"0izNGdR9nZqKab3U","name":"EB3"}]}