-eb3---serp-scrape-cxptZmfVEFnGyf3Q.json
{"createdAt":"2025-06-03T13:37:44.429Z","updatedAt":"2025-06-07T15:41:04.667Z","id":"cxptZmfVEFnGyf3Q","name":"2 // EB3 - SERP Scrape","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5fa77e43-c7c6-4ac2-87b6-5640ed93b29e","leftValue":"={{ $json.Status }}","rightValue":"=SERP Scrape","operator":{"type":"string","operation":"contains"}},{"id":"9033196f-9df7-4be6-b76d-4781200e929c","leftValue":"={{ $json.searchString }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[160,460],"id":"27aa6d69-ecdf-4f32-aac5-0ac0a9371c73","name":"Filter"},{"parameters":{"fieldToSplitOut":"results","include":"selectedOtherFields","fieldsToInclude":"searchQuery.term","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1060,600],"id":"3378f636-cfad-43c7-9ebd-a3efd61e27c9","name":"Split Out"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":325547854,"mode":"list","cachedResultName":"strings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=325547854"},"event":"rowUpdate","options":{"columnsToWatch":["Status"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-60,460],"id":"7a7c4999-7232-4ff7-8c2d-ac93a7cb9c08","name":"Pull Search Strings","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"tREYvs7IdQO92OC6","name":"Google Sheets Trigger account"}}},{"parameters":{"jsCode":"const queries = items.map(item => item.json.searchString).join('\\n'); // newline-separated string\n\nconst apifyPayload = {\n  countryCode: \"us\",\n  forceExactMatch: false,\n  includeIcons: false,\n  includeUnfilteredResults: false,\n  languageCode: \"en\",\n  maxPagesPerQuery: 1,\n  mobileResults: false,\n  queries: queries,\n  resultsPerPage: 40,\n  saveHtml: false,\n  saveHtmlToKeyValueStore: true,\n  searchLanguage: \"en\",\n  wordsInTitle: [],\n  wordsInText: [],\n  wordsInUrl: []\n};\n\nreturn [\n  {\n    json: apifyPayload\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,1440],"id":"dcae0103-a0d3-4b2f-a39a-57551622ed73","name":"Aggregate w/json"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"status":"Enrich + Qualify","source":"SERP Scrape Linkedin","linkedIdPath":"={{ $('Lead Data + idPath').item.json.idPath }}","searchString":"={{ $('Current String').item.json.searchString }}","timeStamp":"={{ $now }}","title":"={{ $('Lead Data + idPath').item.json.title }}","description":"={{ $('Lead Data + idPath').item.json.description }}","serpRank":"={{ $('Lead Data + idPath').item.json.serpRank }}","linkedinUrl":"={{ $('Lead Data + idPath').item.json.linkedinUrl }}"},"matchingColumns":["location"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinUrl","displayName":"companyLinkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2240,580],"id":"ee0105d6-5cdf-42db-b57f-52b34896c8c2","name":"Update Raw Tab","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"compare":"selectedFields","fieldsToCompare":"idPath","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1460,600],"id":"3bdf00df-8a5a-40ae-93a3-8c12ba0d7640","name":"Remove Current Duplicates"},{"parameters":{"mergeByFields":{"values":[{"field1":"idPath","field2":"linkedIdPath"}]},"resolve":"preferInput1","fuzzyCompare":true,"options":{}},"type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[1920,600],"id":"d5efbda7-2ae7-4db0-94de-d74812466f6e","name":"Compare Datasets","alwaysOutputData":true},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1700,780],"id":"391819e2-fa67-4fd2-89ac-89fde4074735","name":"Current Leads - Raw Tab","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":325547854,"mode":"list","cachedResultName":"strings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=325547854"},"columns":{"mappingMode":"defineBelow","value":{"Status":"Complete","searchString":"={{ $('Current String').item.json.searchString }}","newLeads":"=","timeStamp":"={{ $now }}"},"matchingColumns":["searchString"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"totalSum","displayName":"totalSum","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"newLeads","displayName":"newLeads","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2460,580],"id":"b7c84f51-c042-4b95-9800-c2c7ee07f520","name":"Update Strings - Complete","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"fieldsToSummarize":{"values":[{"field":"organicResults"}]},"options":{"outputFormat":"separateItems"}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1280,380],"id":"010adfed-7307-47ab-964c-6ae96619a881","name":"totalSum"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/nFJndFXA5zjCTuudP/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_0JMczG9Mud0RKCpIcA5p8HQQWhb37N3mBzny"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,1440],"id":"0721e535-a274-4863-a128-26bd5a051204","name":"Previous ($3.50 per 1k) Call Apify Scraper"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/563JCPLOqM1kMmbbP/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_0JMczG9Mud0RKCpIcA5p8HQQWhb37N3mBzny"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"country\": \"US\",\n    \"keyword\": \"{{ $json.searchString }}\",\n    \"limit\": \"50\",\n    \"page\": 1\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,600],"id":"2da21a36-fcc8-4a17-91b9-5c49bef0209a","name":"Apify - Google Company Search"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2740,780],"id":"55a69832-d2c3-43e2-b396-5deb31740e29","name":"Wait","webhookId":"c4c32f01-4388-4c9b-a8a4-60402fd2ba6f"},{"parameters":{"assignments":{"assignments":[{"id":"6861e146-8ec8-4ac5-8b8e-ddb95ca23d5c","name":"title","value":"={{ $json.results.title }}","type":"string"},{"id":"bcc99d7c-92c1-4744-9e2e-d4eea27ec557","name":"description","value":"={{ $json.results.description }}","type":"string"},{"id":"ec270cb0-7e57-44ac-9533-533f9624a4fc","name":"serpRank","value":"={{ $json.results.position }}","type":"number"},{"id":"32a41cb0-067e-4fb7-b412-cff97f211148","name":"linkedinUrl","value":"={{ $json.results.url }}","type":"string"},{"id":"26997506-ffd6-4fdb-9eaa-6d024b14ea15","name":"idPath","value":"={{ $json.results.url.split('/in/')[1].split('/')[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1260,600],"id":"a35a0f2b-fd14-4bc6-b15a-87bcc15d6c5c","name":"Lead Data + idPath"},{"parameters":{"assignments":{"assignments":[{"id":"2bf292eb-25d2-42ef-9c4e-63cde6a44f08","name":"searchString","value":"={{ $json.searchString }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,600],"id":"8a17fd58-306c-4f69-b333-b1255e27c4fb","name":"Current String"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[400,460],"id":"27c9ac21-919f-481b-81cc-29d78b1ef4f0","name":"Loop Over Items"}],"connections":{"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Lead Data + idPath","type":"main","index":0}]]},"Pull Search Strings":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Aggregate w/json":{"main":[[]]},"Remove Current Duplicates":{"main":[[{"node":"Current Leads - Raw Tab","type":"main","index":0},{"node":"Compare Datasets","type":"main","index":0}]]},"Compare Datasets":{"main":[[{"node":"Update Raw Tab","type":"main","index":0}],[],[],[]]},"Current Leads - Raw Tab":{"main":[[{"node":"Compare Datasets","type":"main","index":1}]]},"Update Raw Tab":{"main":[[{"node":"Update Strings - Complete","type":"main","index":0}]]},"Update Strings - Complete":{"main":[[{"node":"Wait","type":"main","index":0}]]},"totalSum":{"main":[[]]},"Previous ($3.50 per 1k) Call Apify Scraper":{"main":[[]]},"Apify - Google Company Search":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Lead Data + idPath":{"main":[[{"node":"Remove Current Duplicates","type":"main","index":0}]]},"Current String":{"main":[[{"node":"Apify - Google Company Search","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Current String","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Zurich","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8xhzkyv362CgoE4n"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","sheetId":293223305,"lastRevision":9459,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc&revision=9459&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a80a3f40-7df9-443d-b9f3-866e9fb46dca","triggerCount":1,"tags":[{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"},{"createdAt":"2025-05-31T13:54:34.864Z","updatedAt":"2025-05-31T13:54:34.864Z","id":"0izNGdR9nZqKab3U","name":"EB3"}]}