-eb3---enrich-+-qualify-(v3)-xQjXRnNqpva4AdwQ.json
{"createdAt":"2025-06-07T08:15:12.004Z","updatedAt":"2025-06-08T14:03:35.974Z","id":"xQjXRnNqpva4AdwQ","name":"3 // EB3 - Enrich + Qualify (v3)","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5fa77e43-c7c6-4ac2-87b6-5640ed93b29e","leftValue":"={{ $json.status }}","rightValue":"=Enrich + Qualify","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[0,460],"id":"f5860f7b-6283-40c5-a107-21aa74a566fb","name":"Filter"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[240,340],"id":"c5640bcb-e13a-4e09-900a-196b53c12649","name":"DELETE"},{"parameters":{"jsCode":"const keywords = [\n  // Carriers\n  \"UnitedHealthcare\", \"UHC\", \"Cigna\", \"Aetna\", \"Blue Cross\", \"BCBS\", \"Guardian\", \"MetLife\", \"Humana\", \"Anthem\", \"Kaiser\", \"CBIZ\", \"Lincoln Financial\", \"Sun Life\", \"Hartford\", \"Assurant\", \"Ameritas\", \"PSA\", \"BenefitMall\", \"Jones Junction\", \"USI Insurance\", \"USI Insurance\",\"Weyrich Cronin\", \"Acentria\", \"Lockton\", \"NFP\", \"AON\", \"Christensen Group\", \"HUB\", \"Gallagher\", \"Marsh McLennan\", \"Mercer\", \"AssuredPartners\",\n\n  // Vendors\n  \"Gusto\", \"Zenefits\", \"Rippling\", \"Ease\", \"Namely\", \"Employee Navigator\", \"Paychex\", \n  \"ADP\", \"Benefitfocus\", \"Workday\", \"BambooHR\", \"TriNet\", \"Justworks\", \"Insperity\", \n  \"UKG\", \"Ceridian\", \"Paylocity\", \"Paycor\", \"Bswift\", \"Businessolver\",\n\n  // Industry descriptors\n  \"carrier\", \"insurance provider\", \"benefits platform\", \"HRIS\", \"HR platform\", \"payroll provider\",\n\n  // General categories\n  \"retired\", \"stay at home\", \"homemaker\", \"freelancer\", \"self-employed\"\n];\n\nfor (const item of items) {\n  const title = (item.json.title || \"\").toLowerCase();\n  const description = (item.json.description || \"\").toLowerCase();\n\n  const matchedKeyword = keywords.find(keyword => {\n    const lowerKeyword = keyword.toLowerCase();\n    const pattern = new RegExp(`\\\\b${lowerKeyword.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&')}\\\\b`, 'i');\n    return pattern.test(title) || pattern.test(description);\n  });\n\n  if (matchedKeyword) {\n    throw new Error(`Disqualified due to keyword match: \"${matchedKeyword}\" in \"${item.json.title}\"`);\n  }\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,560],"id":"7a93006f-01d4-471d-97b9-4470b6fe7ed7","name":"Keyword Filter","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/VhxlqQXRwhW8H5hNV/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_0JMczG9Mud0RKCpIcA5p8HQQWhb37N3mBzny"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"username\": \"{{ $json.linkedinUrl }}\"\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,580],"id":"43fb061a-0288-402e-8ed4-32e8668ef631","name":"Apify - Personal Linkedin"},{"parameters":{"content":"## Scrape Company LinkedIn profile","height":560,"width":2700},"type":"n8n-nodes-base.stickyNote","position":[9520,460],"typeVersion":1,"id":"4ca0a652-65ea-4ded-8ea4-cd45e0474d7c","name":"Sticky Note7"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[500,440],"id":"07dbc57b-9492-439f-9ebb-a03ed17023c2","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"ada4cf12-5ca0-43db-9e9b-87b6454f9080","name":"title","value":"={{ $('Loop Over Items').item.json.title }}","type":"string"},{"id":"2882a166-d8e0-4d3e-bce2-05212bb8b67f","name":"description","value":"={{ $('Loop Over Items').item.json.description }}","type":"string"},{"id":"d362ff3f-5645-45eb-a8fc-7c35e63877ec","name":"linkedinUrl","value":"={{ $('Loop Over Items').item.json.linkedinUrl }}","type":"string"},{"id":"79c04d5c-bb4a-431f-84e3-183dbcfb4449","name":"linkedIdPath","value":"={{ $json.linkedIdPath }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,560],"id":"57bef7a2-2016-4c94-b90e-f3c12dc6bdb4","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b6568805-6de4-4f3f-9b9a-e917475cad6b","leftValue":"={{ $json.error }}","rightValue":"ERR","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[9900,580],"id":"5dcc51a6-c707-490d-b47c-c19bf0a2052b","name":"Company Exists"},{"parameters":{"content":"## Scrape lead profile","height":560,"width":1020,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1640,460],"typeVersion":1,"id":"7d0b9147-3adb-4de4-afeb-ff87f0457429","name":"Sticky Note"},{"parameters":{"content":"## Qualify Lead","height":560,"width":1200,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2740,460],"typeVersion":1,"id":"23823395-2440-464d-a596-53718c0e8117","name":"Sticky Note8"},{"parameters":{"assignments":{"assignments":[{"id":"b2ac9506-b03a-4108-b3f9-6fdad33c469e","name":"firstName","value":"={{ $json.basic_info.first_name }}","type":"string"},{"id":"ac5a0efc-c7ee-4590-b06e-c3017a18fab9","name":"lastName","value":"={{ $json.basic_info.last_name }}","type":"string"},{"id":"ff07bf69-ef91-4547-ba50-283ae4b52c04","name":"fullName","value":"={{ $json.basic_info.fullname }}","type":"string"},{"id":"9d5dfdab-8b56-419b-8c05-3d0c02536373","name":"about","value":"={{ $json.basic_info.about }}","type":"string"},{"id":"b6aaa9ae-4c9a-4d12-aa2f-e4de725c24c3","name":"linkedinUrl","value":"={{ $('Edit Fields').item.json.linkedinUrl }}","type":"string"},{"id":"c4616f7a-97d0-4423-83d0-1ac868b5d945","name":"linkedIdPath","value":"={{ $('Edit Fields').item.json.linkedIdPath }}","type":"string"},{"id":"64b6f1c3-073f-4064-8ef8-dc98881104cf","name":"personalLinkedinInfo","value":"={{ Object.entries($json.basic_info).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"7c935c46-35c4-4f72-9aac-609f87792cfb","name":"companyLinkedinUrlCurrent","value":"={{ $json.basic_info.current_company_url }}","type":"string"},{"id":"34563b47-133c-49e4-91be-43aea1afe6a3","name":"linkedinExperience0","value":"={{ Object.entries($json.experience[0]).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"b3847017-ebc1-4dab-98fc-6c14abc0c60d","name":"companyLinkedinUrl0","value":"={{ $json.experience[0].company_linkedin_url }}","type":"string"},{"id":"129dcb32-dbab-44a5-b08a-31cf4638eb5d","name":"linkedinExperience1","value":"={{ Object.entries($json.experience[1]).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"deb710e4-621a-4d06-a440-387e63455edf","name":"companyLinkedinUrl1","value":"={{ $json.experience[1].company_linkedin_url }}","type":"string"},{"id":"e59192ca-a7cf-4f3f-be8a-927e3e20334f","name":"=linkedinExperience2","value":"={{ Object.entries($json.experience[2]).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"0974cca0-1476-4956-9dc3-a6b3725512ac","name":"companyLinkedinUrl2","value":"={{ $json.experience[2].company_linkedin_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1960,580],"id":"69545ee3-3ad6-4c96-8611-c0bf06480e46","name":"personalLinkedinData"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.leadScore }}","rightValue":7,"operator":{"type":"number","operation":"gte"},"id":"9edb5a57-7f29-4e5b-b9da-179bab88eb58"}],"combinator":"and"},"renameOutput":true,"outputKey":"7+ Fit"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"119445ce-4ace-4ca3-ac5c-b499a60b5c55","leftValue":"={{ $json.leadScore }}","rightValue":6,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"renameOutput":true,"outputKey":"<6 No Fit"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3400,580],"id":"312f2c24-21de-4e54-a687-eeb5ee80f8a0","name":"Switch"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"No Fit","leadScore":"={{ $json.leadScore }}","reason":"={{ $json.leadQualificationReason }}","firstName":"={{ $('Apify - Personal Linkedin').item.json.basic_info.first_name }}","lastName":"={{ $('Apify - Personal Linkedin').item.json.basic_info.last_name }}","title":"={{ $('Apify - Personal Linkedin').item.json.basic_info.headline }}","description":"={{ $('Apify - Personal Linkedin').item.json.basic_info.about }}","companyName":"={{ $json.companyName }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","about":"={{ $('personalLinkedinData').item.json.about }}","linkedinExperience":"={{ $json.linkedinExperience }}","timeStamp":"={{ $now }}","companyLinkedinUrl":"={{ $json.companyLinkedinUrl }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinUrl","displayName":"companyLinkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3400,840],"id":"44b5cca9-6faa-4e74-9c14-f9d60f82f91b","name":"Update Raw Tab - No Fit","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"content":"## Send Linkedin URL to find email","height":560,"width":1280,"color":4},"type":"n8n-nodes-base.stickyNote","position":[12360,460],"typeVersion":1,"id":"8e80fd92-976e-43ee-ae61-ea053437ff7b","name":"Sticky Note15"},{"parameters":{"content":"Future: Add domain only seach from findymail?","height":240,"width":560},"type":"n8n-nodes-base.stickyNote","position":[1600,2880],"typeVersion":1,"id":"7f5e55c5-e0ca-4573-ae51-7b11ff9281c0","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"https://app.findymail.com/api/search/name","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer AOWzuUkSYe1V6uzquaTGZcyTp08y5LuUx1aAep048ce22042"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('personalLinkedinData').item.json.fullName }}"},{"name":"domain","value":"={{ $('Company Relevance').item.json.message.content.companyName }}"},{"name":"webhook_url","value":"=https://primary-production-5653.up.railway.app/webhook/findymail-callback?{{ $('Edit Fields').item.json.linkedIdPath }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,2940],"id":"dbe38eb8-e3ab-4ee8-b820-48f2460509a1","name":"Email from (Name/Company)"},{"parameters":{"method":"POST","url":"https://app.findymail.com/api/search/linkedin","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer AOWzuUkSYe1V6uzquaTGZcyTp08y5LuUx1aAep048ce22042"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"linkedin_url","value":"={{ $('personalLinkedinData').item.json.linkedinUrl }}"},{"name":"webhook_url","value":"=https://primary-production-5653.up.railway.app/webhook/findymail-callback?{{ $('Edit Fields').item.json.linkedIdPath }}"},{"name":"linkedinIdPath","value":"={{ $('personalLinkedinData').item.json.linkedIdPath }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[12600,640],"id":"affb24be-dd91-409e-8104-c9553a283242","name":"Email from (LinkedIn URL)"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-440,340],"id":"1b3f5a4e-dc21-4e3d-870a-a2cd9a634d9d","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-220,460],"id":"b629b732-f23d-42c8-9102-4f19c631adf7","name":"Pull raw leads","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d4f2d13-8834-4971-8ab6-39a9016ba729","leftValue":"={{ $json.status }}","rightValue":"success","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,2940],"id":"5708fbf1-ad53-41db-b952-9e58d18afd11","name":"Email Found2"},{"parameters":{"content":"## Pre-Filter","height":560,"width":800,"color":3},"type":"n8n-nodes-base.stickyNote","position":[760,460],"typeVersion":1,"id":"90e9e40c-601b-428f-a319-330ca61685ed","name":"Sticky Note3"},{"parameters":{"jsCode":"const data = $json.data;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  if (typeof html !== 'string') {\n    return '';\n  }\n  return html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nlet extractedText = extractTextFromHTML(data);\n\n// Limit to 4000 words\nconst words = extractedText.split(' ');\nif (words.length > 4000) {\n  extractedText = words.slice(0, 4000).join(' ');\n}\n\nreturn { text: extractedText };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[10140,580],"id":"de2d0a87-b8cd-433a-a8de-bc88a8fa629c","name":"Text extract (<4k words)","alwaysOutputData":false,"retryOnFail":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're a helpful, intelligent business analyst.","role":"system"},{"content":"=You're provided a scrape of a LinkedIn company page. Your task is to extract the following information.\n\nReturn in this JSON format:\n{\"benefitsIndustry\":\"Score from 1-10\"}\n{\"companyName\":\"company name goes here\"}\n{\"companySubtitle\":\"subtitle below company name goes here\"}\n{\"companySize:\":\"Company size goes here\"}\n{\"companyTooBig\":\"True or False\"}\n{\"linkedinFollowers\":\"followers count goes here\"}\n{\"companyWebsite\":\"company website goes here\"}\n{\"companyLinkedinOverview\":\"company overview goes here\"}\n{\"recentPost\":\"Posts and content goes here\"}\n{\"validLinkedinPage\":\"True or False\"}\n\nRules:\n- Understand if the company is in the group benefits industry (ideally an agency or broker) and score from 1–10 — with 10 being a perfect fit and 1 being minimally relevant. Note: The company should not be tech vendor or insurance carrier.\n- If any companyLinkedin or recentPost has no data, then output \"No content (Valid Page)\"\n- If company size is 51 people or bigger, then output \"companyTooBig\" as \"True\". Anything smaller is \"False\"\n- If the page is not from a profile, as as 404, login page, etc then output \"validLinkedinPage\" as \"False\"\n- Output \"companyWebsite\" with full domain including http or https\n- Post must be no older than 4 weeks old from todays date: {{ $now }}\n- Include date with and posts or content\n\nLinkedIn Company Page: \n{{ $json.text }}"}]},"jsonOutput":true,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[10340,580],"id":"467fcddf-074e-4336-8275-fd001d9e3888","name":"Extract company LinkedIn data","retryOnFail":true,"credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-440,580],"id":"9ccba2b5-5d7c-4081-9de9-ce523b3e1514","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d4f2d13-8834-4971-8ab6-39a9016ba729","leftValue":"={{ $json.status }}","rightValue":"success","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[12820,640],"id":"59de2dff-79cd-4ebc-bcf1-3295c226591b","name":"Linkedin URL Sent"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $json.linkedIdPath }}","status":"Processing..."},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[860,560],"id":"34fd3abf-9945-40ac-8053-4205629c539b","name":"Update Raw Tab - Processing","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"Error","reason":"=Personal Linkedin 404","leadScore":"0","timeStamp":"={{ $now }}","firstName":"={{ $('personalLinkedinData').item.json.firstName }}","lastName":"={{ $('personalLinkedinData').item.json.lastName }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinUrl","displayName":"companyLinkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyHomepage","displayName":"companyHomepage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2180,840],"id":"689fb417-1e1d-461c-9ba5-9e953018af45","name":"Update Raw Tab - 404","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d205698b-4064-4c78-ac7d-eaf6df1e1ac7","leftValue":"={{ $json.firstName }}","rightValue":"null ,","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"d409bcb2-20a6-4fde-b70f-99d3978b6426","leftValue":"={{ $json.lastName }}","rightValue":"null ,","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2180,580],"id":"caa6fe87-b084-45ad-a755-4c415f7e08ed","name":"Personal Linkedin Exists"},{"parameters":{"assignments":{"assignments":[{"id":"72b8524b-7857-41ba-9b9d-fd53673c0824","name":"benefitsIndustry","value":"={{ $json.message.content.benefitsIndustry }}","type":"string"},{"id":"68c04b89-fde2-4482-87f8-64fb70244f08","name":"companyLinkedinUrl","value":"={{ $('Send URL to web scraper').item.json.companyLinkedinUrl }}","type":"string"},{"id":"1dafd5d1-e51c-494d-a344-e4009681c0d1","name":"companyName","value":"={{ $json.message.content.companyName }}","type":"string"},{"id":"55afccf0-c84c-4d3f-9a0c-77fac36ef8af","name":"companySubtitle","value":"={{ $json.message.content.companySubtitle }}","type":"string"},{"id":"cd763458-3186-41e0-bcc7-966fedbe123e","name":"companySize","value":"={{ $json.message.content.companySize }}","type":"string"},{"id":"45d28614-b15c-4c39-ac58-01419523112c","name":"companyTooBig","value":"={{ $json.message.content.companyTooBig }}","type":"string"},{"id":"41b494e7-b5f7-4bf1-911c-bf95590a4bd6","name":"linkedinFollowers","value":"={{ $json.message.content.linkedinFollowers }}","type":"string"},{"id":"c8d62176-9455-42f8-9554-089ffb283dc9","name":"companyWebsite","value":"={{ $json.message.content.companyWebsite }}","type":"string"},{"id":"680f5bcd-0ec7-419f-b83e-e1903e659c01","name":"companyLinkedinOverview","value":"={{ $json.message.content.companyLinkedinOverview }}","type":"string"},{"id":"8c661797-09cc-4c04-a3b4-e707562206a0","name":"recentPost","value":"={{ $json.message.content.recentPost }}","type":"string"},{"id":"eb677704-a73d-4bab-8286-cc35d9c4dfdc","name":"validLinkedinPage","value":"={{ $json.message.content.validLinkedinPage }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[10700,580],"id":"13d95acd-dbb3-4cec-b847-be3fcbd135db","name":"CompanyLinkedinData","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8abf1b41-b3b2-45cd-80ae-5b9705dcee42","leftValue":"={{ $json.validLinkedinPage }}","rightValue":"False","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[10920,580],"id":"c99f5f33-d12a-451e-85bb-a3524ab5370b","name":"Valid LinkedIn Page"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e91f9b71-fa1d-4c35-9ecd-952a2b3d6aed","leftValue":"={{ $json.companyTooBig }}","rightValue":"True","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[11420,580],"id":"1d229d63-a509-4039-b63a-1e7d081d9936","name":"Company Size 50+"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"No Fit","reason":"=Company too big: {{ $json.companySize }}","leadScore":"0","timeStamp":"={{ $now }}","companyLinkedinUrl":"={{ $('CompanyLinkedinData').item.json.companyLinkedinUrl }}","companyName":"={{ $('CompanyLinkedinData').item.json.companyName }}","companySubtitle":"={{ $('CompanyLinkedinData').item.json.companySubtitle }}","companySize":"={{ $('CompanyLinkedinData').item.json.companySize }}","companyFollowers":"={{ $('CompanyLinkedinData').item.json.linkedinFollowers }}","website":"={{ $('CompanyLinkedinData').item.json.companyWebsite }}","companyLinkedinOverview":"={{ $('CompanyLinkedinData').item.json.companyLinkedinOverview }}","companyRecentPosts":"={{ $('CompanyLinkedinData').item.json.recentPost }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","firstName":"={{ $('personalLinkedinData').item.json.firstName }}","lastName":"={{ $('personalLinkedinData').item.json.lastName }}","linkedinExperience":"={{ $('leadQualification').item.json.linkedinExperience }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinUrl","displayName":"companyLinkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[11420,840],"id":"ca17831d-841b-4e0b-b778-d1bf29d52e3c","name":"Update Raw Tab - Company Too Big","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"No Fit","reason":"=Keyword match: {{ $json.error }}","leadScore":"0","timeStamp":"={{ $now }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1300,840],"id":"13b5aadf-e40e-4dcf-9658-7202a4594844","name":"Update Raw Tab - No Fit2","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful and intelligent lead sorting assistant","role":"system"},{"content":"=Your task is to use the lead data provided and output the following:\n\n\n1. On a score out of 10, rate the likelihood that this lead is a decision maker working in a group benefit agency. With 10 being perfect fit and 1 being no fit. Output as \"leadScore\"\n\n2. Generate a short and concise reason for your \"leadScore\", with evidence. Output as \"leadQualificationReason\"\n\n2. Determine which current company is most relevant for group insurance benefits industry, ideally an agency. Output as \"companyName\"\n\n4. Find the Linkedin company URL for \"companyName\". This will be a linkedin.com domain and the path usually contains a version of the companyName. Output as \"companyLinkedinUrl\"\n\n5. Based on the relevant companyName, extract an exact copy of the leads Linkedin experience but in a string format without \\n.\n\n\n#Decision Makers include:\n- CEO\n- Founder\n- Owner\n- Director\n- Principal\n- President\n- VP\n- COO\n- Operations manager\n- Managing partner\n- Consultant or advisor (if self employeed)\n\n\n#Rules\n- The company should not be tech vendor or insurance carrier.\n- The \"companyLinkedinUrl\" path must not be random numbers or a search string. If you cannot find it, output as \"companyLinkedinUrl\" as \"None\" (Do not fabricate the URL)\n- Always output clean company name without legal suffixes or entity designators such as LLC, INC, CORP, LTD, LP, LLP, S-CORP, etc\n\n\n#Output\nAlways output in JSON format:\n\n{\n\"leadScore\":\"1-10\",\n\"leadQualificationReason\":\"lead qualification reason goes here\",\n\"companyName\":\"relevant company name goes here\",\n\"companyLinkedinUrl\":\"corrosponding company linkedin url goes here\",\n\"linkedinExperience\":\"\"\n}"},{"content":"=#Personal Linkedin Data: \n\nBasic info\n{{ $('personalLinkedinData').item.json.personalLinkedinInfo }}\n\nExperience 0\n{{ $('personalLinkedinData').item.json.linkedinExperience0 }}\n\nExperience 1\n{{ $('personalLinkedinData').item.json.linkedinExperience1 }}\n\nExperience 2\n{{ $('personalLinkedinData').item.json.linkedinExperience2 }}"}]},"jsonOutput":true,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2800,580],"id":"3d16198f-163c-49fe-95ec-c72ba2845c9f","name":"Lead Qualification AI","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('personalLinkedinData').item.json.linkedIdPath }}","status":"Qualified - Error sending to FindyMail","reason":"={{ $('Lead Qualification AI').item.json.message.content.leadQualificationReason }}","leadScore":"={{ $('Lead Qualification AI').item.json.message.content.leadScore }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","about":"={{ $('personalLinkedinData').item.json.about }}","linkedinExperience":"={{ $('Company Relevance').item.json.message.content.linkedinExperience }}","firstName":"={{ $('personalLinkedinData').item.json.firstName }}","lastName":"={{ $('personalLinkedinData').item.json.lastName }}","companySize":"={{ $('Send to qualification 2').item.json.companySize }}","companyFollowers":"={{ $('Send to qualification 2').item.json.linkedinFollowers }}","companySubtitle":"={{ $('Send to qualification 2').item.json.companySubtitle }}","companyLinkedinOverview":"={{ $('Send to qualification 2').item.json.companyLinkedinOverview }}","companyRecentPosts":"={{ $('Send to qualification 2').item.json.recentPost }}","website":"={{ $('Send to qualification 2').item.json.companyWebsite }}","companyName":"={{ $('Company Relevance').item.json.message.content.companyName }}","timeStamp":"={{ $now }}","emailStatus":"Error sending to FindyMail"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[13080,760],"id":"27ff9501-4047-409c-a785-8326ca8aae33","name":"Update Raw Tab - Error sending to FindyMail","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"content":"The sheets are updated with \"email not found\" - if the webhook returns with valid email this will be overwritten"},"type":"n8n-nodes-base.stickyNote","position":[13340,520],"typeVersion":1,"id":"35db57aa-ece4-44f3-bc1d-1db2e1ee2aca","name":"Sticky Note4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5a8e2e1-ff9f-4276-a17a-24e6b576b668","leftValue":"={{$json[\"personalLinkedinInfo\"] && $json[\"personalLinkedinInfo\"].toLowerCase().includes(\"benefit\")}}","rightValue":"benefit","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"1bdbe46b-5613-4b1e-8fc9-1ffca7989a8f","leftValue":"={{$json[\"linkedinExperience0\"] && $json[\"linkedinExperience0\"].toLowerCase().includes(\"benefit\")}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"053f8fab-c275-41cc-b3a2-013098b824dd","leftValue":"={{$json[\"linkedinExperience1\"] && $json[\"linkedinExperience1\"].toLowerCase().includes(\"benefit\")}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"3a64951d-52e0-4915-bede-ec4ec0a32fed","leftValue":"={{$json[\"linkedinExperience2\"] && $json[\"linkedinExperience2\"].toLowerCase().includes(\"benefit\")}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2440,580],"id":"69e0009f-5406-45b1-a2cf-81c42b5afec5","name":"Profile contains \"benefit\""},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"No Fit","reason":"=\"benefit\" keyword not in personal Linkedin profile","leadScore":"0","timeStamp":"={{ $now }}","firstName":"={{ $json.firstName }}","lastName":"={{ $json.lastName }}","fullName":"={{ $json.fullName }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinUrl","displayName":"companyLinkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyHomepage","displayName":"companyHomepage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2440,840],"id":"3368f059-e061-40c9-883d-4d34545fbb1d","name":"Update Raw Tab - \"benefit\" keyword not found","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8a20e695-f828-4f90-b0f5-44f9ffbd6095","name":"leadScore","value":"={{ $json.message.content.leadScore }}","type":"string"},{"id":"bb5ba475-5172-41ce-a7c3-d46a381db2ff","name":"leadQualificationReason","value":"={{ $json.message.content.leadQualificationReason }}","type":"string"},{"id":"6cc22d55-6afd-44a2-9ab8-9ffea9f3b299","name":"companyName","value":"={{ $json.message.content.companyName }}","type":"string"},{"id":"995738a8-97f8-492a-b072-c9bd8def015b","name":"companyLinkedinUrl","value":"={{ $json.message.content.companyLinkedinUrl }}","type":"string"},{"id":"94317551-567f-42a3-ab12-8ef0fe7d0155","name":"linkedinExperience","value":"={{ $json.message.content.linkedinExperience }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3180,580],"id":"7c75cf92-f7f9-47ad-a4c8-4c582cb7e8db","name":"leadQualification"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful and intelligent search assistant.","role":"system"},{"content":"=Your task is to go through the Google search results and find the correct linkedin profile for {{ $('leadQualification').item.json.companyName }}\n\n\nRules:\n- Given multiple valid options, give a bias to higher ranksings\n- It must be a Linkedin domain\n- If none can be found, output companyLinkedinUrl as  \"None\"\n- Provide a confidence score from 1-10, with 10 being 100% confident.\n\n\n- Always output in this formant\n\n{\"companyLinkedinUrl\":\"URL goes here\", \"confidenceScore\":\"1-10\"}"},{"content":"=Google Search Results:\n\n{{ \n  $json.results.map(result => \n    `Title: ${result.title}\\nURL: ${result.url}\\nDescription: ${result.description}`\n  ).join('\\n\\n') \n}}"}]},"jsonOutput":true,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[4640,720],"id":"4602ce98-5739-4261-b455-37403455f376","name":"Find Relevant Google Result","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2e73ad88-8fe8-42e9-bf01-e9dc18e7d02a","name":"companyLinkedinUrl","value":"={{ $json.message.content.companyLinkedinUrl }}","type":"string"},{"id":"5e3ae6d2-26b5-42bb-8853-e711c1173027","name":"confidenceScore","value":"={{ $json.message.content.confidenceScore }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5000,720],"id":"fb62f8b4-ab19-42e1-adc3-fe7a7d4f1a91","name":"companyLinkedinUrl"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5460,460],"id":"6998595b-1355-498e-8077-ccdd6a09e456","name":"Send URL to web scraper"},{"parameters":{"content":"## Find Linkedin company profile","height":560,"width":1340,"color":2},"type":"n8n-nodes-base.stickyNote","position":[4320,460],"typeVersion":1,"id":"d3075c7f-03e0-4482-bf2d-6a28becf1b0e","name":"Sticky Note9"},{"parameters":{"url":"={{ $json.companyLinkedinUrl }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"29baaa42-d944-472a-a7b0-61dc5e46aca7","name":"Scrape Company Linkedin","type":"n8n-nodes-base.httpRequest","position":[9660,460],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"No Fit","leadScore":"={{ $('leadQualification').item.json.leadScore }}","reason":"=Company Linkedin URL not valid","firstName":"={{ $('personalLinkedinData').item.json.firstName }}","lastName":"={{ $('personalLinkedinData').item.json.lastName }}","title":"={{ $('Apify - Personal Linkedin').item.json.basic_info.headline }}","description":"={{ $('personalLinkedinData').item.json.about }}","companyName":"={{ $('leadQualification').item.json.companyName }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","about":"={{ $('personalLinkedinData').item.json.about }}","linkedinExperience":"={{ $('leadQualification').item.json.linkedinExperience }}","timeStamp":"={{ $now }}","companyLinkedinUrl":"={{ $('Send URL to web scraper').item.json.companyLinkedinUrl }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinUrl","displayName":"companyLinkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[9900,840],"id":"cbf06250-9801-4adb-95da-ffe99b1af59f","name":"Update Raw Tab - Company Linkedin URL not valid","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"Qualified - Email Not Found","reason":"={{ $('leadQualification').item.json.leadQualificationReason }}","timeStamp":"={{ $now }}","companyLinkedinUrl":"={{ $('Send URL to web scraper').item.json.companyLinkedinUrl }}","companyName":"={{ $('CompanyLinkedinData').item.json.companyName }}","companySubtitle":"={{ $('CompanyLinkedinData').item.json.companySubtitle }}","companySize":"={{ $('CompanyLinkedinData').item.json.companySize }}","companyFollowers":"={{ $('CompanyLinkedinData').item.json.linkedinFollowers }}","website":"={{ $('CompanyLinkedinData').item.json.companyWebsite }}","companyLinkedinOverview":"={{ $('CompanyLinkedinData').item.json.companyLinkedinOverview }}","companyRecentPosts":"={{ $('CompanyLinkedinData').item.json.recentPost }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","firstName":"={{ $('personalLinkedinData').item.json.firstName }}","lastName":"={{ $('personalLinkedinData').item.json.lastName }}","linkedinExperience":"={{ $('leadQualification').item.json.linkedinExperience }}","leadScore":"={{ $('leadQualification').item.json.leadScore }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinUrl","displayName":"companyLinkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[11680,580],"id":"8e4ebfda-855b-4fa9-aec2-b8638b12b10b","name":"Update Raw Tab - Lead Qualified","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"content":"Fall back option when company qualifed, but lead email can't be found. Scrape domain for ceo/founder email"},"type":"n8n-nodes-base.stickyNote","position":[11580,260],"typeVersion":1,"id":"31dcd5a8-bbb1-428b-994c-251c5bfbcef2","name":"Sticky Note1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.benefitsIndustry }}","rightValue":8,"operator":{"type":"number","operation":"gte"},"id":"9edb5a57-7f29-4e5b-b9da-179bab88eb58"}],"combinator":"and"},"renameOutput":true,"outputKey":"8+ Fit"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"119445ce-4ace-4ca3-ac5c-b499a60b5c55","leftValue":"={{ $json.benefitsIndustry }}","rightValue":7,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"renameOutput":true,"outputKey":"<7 No Fit"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[11160,580],"id":"dc3eeb85-485f-488a-b875-c0cddc1cbdc0","name":"In benefits industry"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"No Fit","reason":"=Company not in benefits industry","leadScore":"0","timeStamp":"={{ $now }}","companyLinkedinUrl":"={{ $('CompanyLinkedinData').item.json.companyLinkedinUrl }}","companyName":"={{ $('CompanyLinkedinData').item.json.companyName }}","companySubtitle":"={{ $('CompanyLinkedinData').item.json.companySubtitle }}","companySize":"={{ $('CompanyLinkedinData').item.json.companySize }}","companyFollowers":"={{ $('CompanyLinkedinData').item.json.linkedinFollowers }}","website":"={{ $('CompanyLinkedinData').item.json.companyWebsite }}","companyLinkedinOverview":"={{ $('CompanyLinkedinData').item.json.companyLinkedinOverview }}","companyRecentPosts":"={{ $('CompanyLinkedinData').item.json.recentPost }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","firstName":"={{ $('personalLinkedinData').item.json.firstName }}","lastName":"={{ $('personalLinkedinData').item.json.lastName }}","linkedinExperience":"={{ $('leadQualification').item.json.linkedinExperience }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinUrl","displayName":"companyLinkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[11160,840],"id":"f3270cb0-a810-40ac-8981-839dca449be5","name":"Update Raw Tab - Company not in benefits industry","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"content":"Send  companies too large to seprate sheet for my future outreach"},"type":"n8n-nodes-base.stickyNote","position":[11380,1080],"typeVersion":1,"id":"f6b4f277-e977-4141-bb79-fa958053335c","name":"Sticky Note6"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful and intelligent search assistant.","role":"system"},{"content":"=Your task is to go through the Google search results and find the correct company website for this lead:\n\nCompany Name: {{ $('Search Terms').item.json.companyName }}\nLead Name: {{ $('Search Terms').item.json.fullName }}\nTitle: {{ $('Search Terms').item.json.title }}\n\n\nRules:\n- Return 1 clean URL for the homepage without /path\n- It must not be Linkedin, Facebook, or other social platform.\n- If none can be found, output searchURL as  \"None\"\n- Provide a confidence score from 1-10, with 10 being 100% confident.\n\n\n- Always output in this formant\n\n{\"website\":\"URL goes here\", \"confidenceScore\":\"1-10\", \"reason\":\"1 sentence reason including the website position in serp\"}\n\n\n"},{"content":"=Google Search Results:\n\n{{ \n  $json.results.map(result => \n    `Title: ${result.title}\\nURL: ${result.url}\\nDescription: ${result.description}`\n  ).join('\\n\\n') \n}}"}]},"jsonOutput":true,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[6260,740],"id":"7b9692bf-791c-4d5b-9586-fbc2d6bd061b","name":"Relevant Google Result","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/563JCPLOqM1kMmbbP/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_0JMczG9Mud0RKCpIcA5p8HQQWhb37N3mBzny"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"country\": \"US\",\n    \"keyword\": \"linkedin {{ $json.companyName }} {{ $('personalLinkedinData').item.json.fullName }}\",\n    \"limit\": \"10\",\n    \"page\": 1\n}","options":{"redirect":{"redirect":{}},"timeout":40000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4440,720],"id":"7187b4fb-7596-4cf3-b485-e4492e9e9afb","name":"Apify - Google Linkedin Company","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/563JCPLOqM1kMmbbP/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_0JMczG9Mud0RKCpIcA5p8HQQWhb37N3mBzny"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"country\": \"US\",\n    \"keyword\": \"{{ $json.fullName }} {{ $json.companyName }}\",\n    \"limit\": \"10\",\n    \"page\": 1\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6060,740],"id":"5bdcc95e-9b1a-477b-8631-5ace10631f54","name":"Apify - Google Company Website"},{"parameters":{"assignments":{"assignments":[{"id":"7901250e-9efb-42ac-9fa8-71a9fe7649ae","name":"fullName","value":"={{ $('personalLinkedinData').item.json.fullName }}","type":"string"},{"id":"84656888-f174-4996-9e2c-1440c3b813f5","name":"companyName","value":"={{ $('leadQualification').item.json.companyName }}","type":"string"},{"id":"2efdf2ac-3b7d-4d5e-b935-77f19c04ff72","name":"title","value":"={{ $('Edit Fields').item.json.title }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5840,740],"id":"fea5ae4e-4dc4-4813-aa74-f65a0823129b","name":"Search Terms"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.message.content.confidenceScore }}","rightValue":8,"operator":{"type":"number","operation":"gte"},"id":"9edb5a57-7f29-4e5b-b9da-179bab88eb58"}],"combinator":"and"},"renameOutput":true,"outputKey":"8+"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"119445ce-4ace-4ca3-ac5c-b499a60b5c55","leftValue":"={{ $json.message.content.confidenceScore }}","rightValue":7,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"renameOutput":true,"outputKey":"<7"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[6660,740],"id":"53d9bc73-95fd-4e80-b690-46eb15485a9f","name":"Website Confidence Score"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"No Fit","leadScore":"={{ $('leadQualification').item.json.leadScore }}","reason":"=Company Linkedin and website not found","firstName":"={{ $('personalLinkedinData').item.json.firstName }}","lastName":"={{ $('personalLinkedinData').item.json.lastName }}","title":"={{ $('Apify - Personal Linkedin').item.json.basic_info.headline }}","description":"={{ $('personalLinkedinData').item.json.about }}","companyName":"={{ $('leadQualification').item.json.companyName }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","about":"={{ $('personalLinkedinData').item.json.about }}","linkedinExperience":"={{ $('leadQualification').item.json.linkedinExperience }}","timeStamp":"={{ $now }}","companyLinkedinUrl":"={{ $json.companyLinkedinUrl }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinUrl","displayName":"companyLinkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[7360,840],"id":"9c50fe8c-d24a-4004-8fa0-81c9cca0a870","name":"Update Raw Tab - No company Linkedin or website","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"url":"={{ $json.message.content.website }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"9a8d2e0b-8ac6-4b6b-b693-9d477c8ddc2b","name":"Scrape Company Homepage","type":"n8n-nodes-base.httpRequest","position":[6920,600],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b6568805-6de4-4f3f-9b9a-e917475cad6b","leftValue":"={{ $json.error }}","rightValue":"ERR","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7360,600],"id":"6aa279e3-535a-42a5-96ed-726ecdc1d960","name":"Home Scrape Success"},{"parameters":{"jsCode":"const data = $json.homepageScrape;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  if (typeof html !== 'string') {\n    return '';\n  }\n  return html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nlet extractedText = extractTextFromHTML(data);\n\n// Limit to 4000 words\nconst words = extractedText.split(' ');\nif (words.length > 4000) {\n  extractedText = words.slice(0, 4000).join(' ');\n}\n\nreturn { text: extractedText };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7620,600],"id":"5f053634-9965-4faf-a07b-b18e4f68b578","name":"Text extract (<4k words)1","alwaysOutputData":false,"retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"788072cc-ddb8-4500-8e69-5bf2fa82ce33","name":"homepageScrape","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[7140,600],"id":"bbea4602-7884-4a8f-9c03-e2076069460d","name":"Company Homepage Scrape"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are an intelligent and  helpful business analyst.","role":"system"},{"content":"Based on the company homepage text provided output the following data:\n\n\n#Workflow\n1. What is the company name. Output as \"companyName\"\n\n2. Understand if the company is in the group benefits industry (ideally an agency or broker) and score from 1–10 — with 10 being a perfect fit and 1 being minimally relevant. Note: The company should not be tech vendor or insurance carrier.\n\n3. Estimate the size of the company in terms of number of employees. Use context clues like the language, services, tone, location, and other indicators. Output the estimated company size as a range (choose from: 1–10, 11–50, 51–200, 201–500, 501–1000, 1000+). \n\n4. If size is 51+ output \"companyTooBig\" as \"True\"\n\n5. Rate your confidence in this estimate on a scale from 1 (very uncertain) to 10 (very confident)\n\n6. Briefly explain your reasoning.\n\n\n#Guidelines\nPay close attention to indicators like:\n- Named individuals (e.g., \"About Our Founder\")\n- Appointment-only language\n- No mention of team size or multiple offices\n- Use of platforms like WordPress\n- Note the tone of the content — if it feels informal, founder-driven, or personalized rather than corporate or institutional, that often signals a smaller company.\n- If signals are mixed or ambiguous, err on the side of choosing the smaller company size.\n\n\n#Rules\n- The confidenceScore must be a number from 1 to 10, with no decimals or extra characters.\n\n\n#Output\nAlways output in the following JSON format:\n\n{\n  \"companyName\": \"Company name goes here\",\n  \"benefitsIndustry\": \"Score from 1-10\",\n  \"companySize\": \"range goes here\",\n  \"companyTooBig\": \"True or False\",\n  \"confidenceScore\": \"Score from 1-10\",\n  \"reason\": \"1 sentence reason for score\"\n}\n"},{"content":"=#Company homepage text\n {{ $json.text }}"}]},"jsonOutput":true,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[7820,600],"id":"33eb551c-dee9-4c90-b3a7-933cd14382f5","name":"Company Homepage Research","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"efd7e881-5934-4e6c-a5e5-cfc2e6a67e92","name":"companyName","value":"={{ $json.message.content.companyName }}","type":"string"},{"id":"6db04941-640e-4309-ba3b-991e747c3f25","name":"benefitsIndustry","value":"={{ $json.message.content.benefitsIndustry }}","type":"number"},{"id":"e78af10e-129a-4630-ae4f-df33f599e775","name":"companySize","value":"={{ $json.message.content.companySize }}","type":"string"},{"id":"8556b9fd-18b2-4fae-b13c-eb905e78909b","name":"companyTooBig","value":"={{ $json.message.content.companyTooBig }}","type":"string"},{"id":"7c90a0ac-e03c-4ec4-8128-068edb071eb7","name":"confidenceScore","value":"={{ $json.message.content.confidenceScore }}","type":"number"},{"id":"dd853b21-4ecd-480f-954d-345de1f8ac14","name":"reason","value":"={{ $json.message.content.reason }}","type":"string"},{"id":"d0dad9fa-e472-4ebd-b06c-28116c5f2972","name":"hompageScrape","value":"={{ $('Text extract (<4k words)1').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[8180,600],"id":"d37a3fe9-ec43-4272-81c9-ab1e988521a3","name":"Company Homepage Insights"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e91f9b71-fa1d-4c35-9ecd-952a2b3d6aed","leftValue":"={{ $json.companyTooBig }}","rightValue":"True","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8680,600],"id":"fa1efdde-f506-4992-b25c-3a4eb9522204","name":"Company Size 50+1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.benefitsIndustry }}","rightValue":8,"operator":{"type":"number","operation":"gte"},"id":"9edb5a57-7f29-4e5b-b9da-179bab88eb58"}],"combinator":"and"},"renameOutput":true,"outputKey":"8+ Fit"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"119445ce-4ace-4ca3-ac5c-b499a60b5c55","leftValue":"={{ $json.benefitsIndustry }}","rightValue":7,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"renameOutput":true,"outputKey":"<7 No Fit"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[8420,600],"id":"89219cd0-dc4b-4b40-a599-dbd825d335ed","name":"In benefits industry1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"No Fit","reason":"=Company not in benefits industry","leadScore":"0","timeStamp":"={{ $now }}","companyName":"={{ $('Company Homepage Insights').item.json.companyName }}","companySize":"={{ $json.companySize }}","website":"={{ $('Website Confidence Score').item.json.message.content.website }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","firstName":"={{ $('personalLinkedinData').item.json.firstName }}","lastName":"={{ $('personalLinkedinData').item.json.lastName }}","linkedinExperience":"={{ $('leadQualification').item.json.linkedinExperience }}","companyHomepage":"={{ $json.hompageScrape }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinUrl","displayName":"companyLinkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyHomepage","displayName":"companyHomepage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[8420,840],"id":"bed5f5f3-050e-47d0-bc8f-171b3fd4fd64","name":"Update Raw Tab - Company not in benefits industry1","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"No Fit","reason":"=Company too big: {{ $json.companySize }}","leadScore":"0","timeStamp":"={{ $now }}","companyName":"={{ $('Company Homepage Insights').item.json.companyName }}","companySize":"={{ $json.companySize }}","website":"={{ $('Website Confidence Score').item.json.message.content.website }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","firstName":"={{ $('personalLinkedinData').item.json.firstName }}","lastName":"={{ $('personalLinkedinData').item.json.lastName }}","linkedinExperience":"={{ $('leadQualification').item.json.linkedinExperience }}","companyHomepage":"={{ $json.hompageScrape }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinUrl","displayName":"companyLinkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyHomepage","displayName":"companyHomepage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[8680,840],"id":"7137e55a-8de6-45ac-b7bc-eeaf8120e5a8","name":"Update Raw Tab - Company too big","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[11940,580],"id":"3409318d-ed95-4d38-9d8a-24287bdabe3a","name":"Execute Workflow"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[11680,840],"id":"546e7b07-0465-4caa-8a25-5527bb5dcb75","name":"End"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"Qualified - Email Not Found","reason":"={{ $('leadQualification').item.json.leadQualificationReason }}","timeStamp":"={{ $now }}","companyName":"={{ $('Company Homepage Insights').item.json.companyName }}","website":"={{ $('Website Confidence Score').item.json.message.content.website }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","firstName":"={{ $('personalLinkedinData').item.json.firstName }}","lastName":"={{ $('personalLinkedinData').item.json.lastName }}","linkedinExperience":"={{ $('leadQualification').item.json.linkedinExperience }}","leadScore":"={{ $('leadQualification').item.json.leadScore }}","companyHomepage":"={{ $('Company Homepage Insights').item.json.hompageScrape }}","companySize":"={{ $('Company Homepage Insights').item.json.companySize }}","companyFollowers":"Page not found","companySubtitle":"Page not found","companyLinkedinOverview":"Page not found","companyRecentPosts":"Page not found","companyLinkedinUrl":"Page not found"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinUrl","displayName":"companyLinkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyHomepage","displayName":"companyHomepage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[8920,600],"id":"b347f386-c0ad-4d98-a0af-72d22a7765d1","name":"Update Raw Tab - Lead Qualified1","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[9180,600],"id":"08a553b2-55bb-44cf-b372-1ad6fd660377","name":"Execute Workflow1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[8940,840],"id":"7a8fe81d-5b7f-4a00-a14f-68d4e97f6f98","name":"End1"},{"parameters":{"content":"## Find & scrape company homepage","height":560,"width":3620,"color":7},"type":"n8n-nodes-base.stickyNote","position":[5780,460],"typeVersion":1,"id":"e1124805-87c7-483b-a7c0-ebb66efc7e9b","name":"Sticky Note11"},{"parameters":{"content":"Update keywrord with commpanys with 100+ employees"},"type":"n8n-nodes-base.stickyNote","position":[1280,280],"typeVersion":1,"id":"8283e425-94be-4787-aadc-6e42bf1c7052","name":"Sticky Note5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"0c30795a-4246-4e07-b7a2-377739875e4c","leftValue":"={{ $json.companyLinkedinUrl }}","rightValue":"None","operator":{"type":"string","operation":"notContains"}},{"id":"a8052a6c-800c-4cdb-a258-36fd5aa10e7d","leftValue":"={{ $json.confidenceScore }}","rightValue":8,"operator":{"type":"number","operation":"gte"}},{"id":"8ec144a4-41ed-4360-9491-1207296a7e03","leftValue":"={{$json[\"companyLinkedinUrl\"].includes('/company/')}}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5200,720],"id":"df1e6668-5c3c-4160-99b8-6b2801bb2bc7","name":"Company Linkedin URL Confidence Score"},{"parameters":{"content":"Update keywrord with commpanys with 100+ employees"},"type":"n8n-nodes-base.stickyNote","position":[8720,1160],"typeVersion":1,"id":"e9914515-3590-440a-b83d-28697cd46cc0","name":"Sticky Note10"},{"parameters":{"content":"Pre filter  - benefit/s in title or description. Check previous  qualifoed leads"},"type":"n8n-nodes-base.stickyNote","position":[1600,260],"typeVersion":1,"id":"8c3b6d07-41f0-4e8c-9857-a01138954bdf","name":"Sticky Note12"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"Error","leadScore":"={{ $json.leadScore }}","reason":"=Apify - Google search error","firstName":"={{ $('Apify - Personal Linkedin').item.json.basic_info.first_name }}","lastName":"={{ $('Apify - Personal Linkedin').item.json.basic_info.last_name }}","title":"={{ $('Apify - Personal Linkedin').item.json.basic_info.headline }}","description":"={{ $('Apify - Personal Linkedin').item.json.basic_info.about }}","companyName":"={{ $json.companyName }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","about":"={{ $('personalLinkedinData').item.json.about }}","linkedinExperience":"={{ $json.linkedinExperience }}","timeStamp":"={{ $now }}","companyLinkedinUrl":"={{ $json.companyLinkedinUrl }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinUrl","displayName":"companyLinkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyHomepage","displayName":"companyHomepage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4640,840],"id":"43bbd10b-388a-47bf-a722-5d0868c6125e","name":"Update Raw Tab - Appify Error","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"0c30795a-4246-4e07-b7a2-377739875e4c","leftValue":"={{ $json.companyLinkedinUrl }}","rightValue":"None","operator":{"type":"string","operation":"notContains"}},{"id":"8ec144a4-41ed-4360-9491-1207296a7e03","leftValue":"={{$json[\"companyLinkedinUrl\"].includes('/company/')}}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}},{"id":"ce4eeaec-67f2-4972-b347-d4f4d40bc5a4","leftValue":"={{ $json.companyLinkedinUrl }}","rightValue":"http","operator":{"type":"string","operation":"contains"}},{"id":"7438296b-9098-422b-a9ee-088b6efb8fc5","leftValue":"={{ $json.companyLinkedinUrl }}","rightValue":"search","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3580,280],"id":"c19463f1-9907-49a5-a2ce-ee592ff7c152","name":"Company Linkedin URL Confidence Score1"}],"connections":{"Filter":{"main":[[{"node":"DELETE","type":"main","index":0}]]},"DELETE":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Keyword Filter":{"main":[[{"node":"Apify - Personal Linkedin","type":"main","index":0}],[{"node":"Update Raw Tab - No Fit2","type":"main","index":0}]]},"Apify - Personal Linkedin":{"main":[[{"node":"personalLinkedinData","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Update Raw Tab - Processing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Keyword Filter","type":"main","index":0}]]},"Company Exists":{"main":[[{"node":"Text extract (<4k words)","type":"main","index":0}],[{"node":"Update Raw Tab - Company Linkedin URL not valid","type":"main","index":0}]]},"personalLinkedinData":{"main":[[{"node":"Personal Linkedin Exists","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Apify - Google Linkedin Company","type":"main","index":0}],[{"node":"Update Raw Tab - No Fit","type":"main","index":0}]]},"Email from (Name/Company)":{"main":[[{"node":"Email Found2","type":"main","index":0}]]},"Email from (LinkedIn URL)":{"main":[[{"node":"Linkedin URL Sent","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Pull raw leads","type":"main","index":0}]]},"Pull raw leads":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Email Found2":{"main":[[],[]]},"Update Raw Tab - No Fit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Text extract (<4k words)":{"main":[[{"node":"Extract company LinkedIn data","type":"main","index":0}]]},"Extract company LinkedIn data":{"main":[[{"node":"CompanyLinkedinData","type":"main","index":0}]]},"Schedule Trigger":{"main":[[]]},"Linkedin URL Sent":{"main":[[],[{"node":"Update Raw Tab - Error sending to FindyMail","type":"main","index":0}]]},"Update Raw Tab - Processing":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Personal Linkedin Exists":{"main":[[{"node":"Profile contains \"benefit\"","type":"main","index":0}],[{"node":"Update Raw Tab - 404","type":"main","index":0}]]},"Update Raw Tab - 404":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"CompanyLinkedinData":{"main":[[{"node":"Valid LinkedIn Page","type":"main","index":0}]]},"Valid LinkedIn Page":{"main":[[{"node":"In benefits industry","type":"main","index":0}],[{"node":"Update Raw Tab - Company Linkedin URL not valid","type":"main","index":0}]]},"Company Size 50+":{"main":[[{"node":"Update Raw Tab - Lead Qualified","type":"main","index":0}],[{"node":"Update Raw Tab - Company Too Big","type":"main","index":0}]]},"Update Raw Tab - Company Too Big":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update Raw Tab - No Fit2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Lead Qualification AI":{"main":[[{"node":"leadQualification","type":"main","index":0}]]},"Update Raw Tab - Error sending to FindyMail":{"main":[[]]},"Profile contains \"benefit\"":{"main":[[{"node":"Lead Qualification AI","type":"main","index":0}],[{"node":"Update Raw Tab - \"benefit\" keyword not found","type":"main","index":0}]]},"Update Raw Tab - \"benefit\" keyword not found":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"leadQualification":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Find Relevant Google Result":{"main":[[{"node":"companyLinkedinUrl","type":"main","index":0}]]},"companyLinkedinUrl":{"main":[[{"node":"Company Linkedin URL Confidence Score","type":"main","index":0}]]},"Send URL to web scraper":{"main":[[{"node":"Scrape Company Linkedin","type":"main","index":0}]]},"Scrape Company Linkedin":{"main":[[{"node":"Company Exists","type":"main","index":0}]]},"Update Raw Tab - Company Linkedin URL not valid":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update Raw Tab - Lead Qualified":{"main":[[{"node":"End","type":"main","index":0}]]},"In benefits industry":{"main":[[{"node":"Company Size 50+","type":"main","index":0}],[{"node":"Update Raw Tab - Company not in benefits industry","type":"main","index":0}]]},"Update Raw Tab - Company not in benefits industry":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Relevant Google Result":{"main":[[{"node":"Website Confidence Score","type":"main","index":0}]]},"Apify - Google Linkedin Company":{"main":[[{"node":"Find Relevant Google Result","type":"main","index":0}],[{"node":"Update Raw Tab - Appify Error","type":"main","index":0}]]},"Apify - Google Company Website":{"main":[[{"node":"Relevant Google Result","type":"main","index":0}]]},"Search Terms":{"main":[[{"node":"Apify - Google Company Website","type":"main","index":0}]]},"Website Confidence Score":{"main":[[{"node":"Scrape Company Homepage","type":"main","index":0}],[{"node":"Update Raw Tab - No company Linkedin or website","type":"main","index":0}]]},"Update Raw Tab - No company Linkedin or website":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Scrape Company Homepage":{"main":[[{"node":"Company Homepage Scrape","type":"main","index":0}]]},"Home Scrape Success":{"main":[[{"node":"Text extract (<4k words)1","type":"main","index":0}],[{"node":"Update Raw Tab - No company Linkedin or website","type":"main","index":0}]]},"Text extract (<4k words)1":{"main":[[{"node":"Company Homepage Research","type":"main","index":0}]]},"Company Homepage Scrape":{"main":[[{"node":"Home Scrape Success","type":"main","index":0}]]},"Company Homepage Research":{"main":[[{"node":"Company Homepage Insights","type":"main","index":0}]]},"Company Size 50+1":{"main":[[{"node":"Update Raw Tab - Lead Qualified1","type":"main","index":0}],[{"node":"Update Raw Tab - Company too big","type":"main","index":0}]]},"In benefits industry1":{"main":[[{"node":"Company Size 50+1","type":"main","index":0}],[{"node":"Update Raw Tab - Company not in benefits industry1","type":"main","index":0}]]},"Company Homepage Insights":{"main":[[{"node":"In benefits industry1","type":"main","index":0}]]},"Update Raw Tab - Company not in benefits industry1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update Raw Tab - Company too big":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"End":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update Raw Tab - Lead Qualified1":{"main":[[{"node":"End1","type":"main","index":0}]]},"End1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Company Linkedin URL Confidence Score":{"main":[[{"node":"Send URL to web scraper","type":"main","index":0}],[{"node":"Search Terms","type":"main","index":0}]]},"Update Raw Tab - Appify Error":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Company Linkedin URL Confidence Score1":{"main":[[],[]]}},"settings":{},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"09357b97-244e-4243-9405-48c352a0a499","triggerCount":0,"tags":[{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"},{"createdAt":"2025-05-31T13:54:34.864Z","updatedAt":"2025-05-31T13:54:34.864Z","id":"0izNGdR9nZqKab3U","name":"EB3"}]}