-eb3---enrich-+-qualify-(v2)-delete-X14TlU2iB1gHchtH.json
{"createdAt":"2025-06-06T09:14:09.540Z","updatedAt":"2025-06-07T08:14:59.254Z","id":"X14TlU2iB1gHchtH","name":"3 // EB3 - Enrich + Qualify (v2) DELETE","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5fa77e43-c7c6-4ac2-87b6-5640ed93b29e","leftValue":"={{ $json.status }}","rightValue":"=Enrich + Qualify","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[320,260],"id":"56486214-f4c3-4dd3-b12a-282ead648b03","name":"Filter"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[560,120],"id":"66a3ce67-97bd-4d2c-b9c6-aa96c2b8349c","name":"DELETE"},{"parameters":{"jsCode":"const keywords = [\n  // Carriers\n  \"UnitedHealthcare\", \"UHC\", \"Cigna\", \"Aetna\", \"Blue Cross\", \"BCBS\", \"Guardian\", \"MetLife\", \n  \"Humana\", \"Anthem\", \"Kaiser\", \"CBIZ\", \"Lincoln Financial\", \"Sun Life\", \"Hartford\", \n  \"Assurant\", \"Ameritas\",\n\n  // Vendors\n  \"Gusto\", \"Zenefits\", \"Rippling\", \"Ease\", \"Namely\", \"Employee Navigator\", \"Paychex\", \n  \"ADP\", \"Benefitfocus\", \"Workday\", \"BambooHR\", \"TriNet\", \"Justworks\", \"Insperity\", \n  \"UKG\", \"Ceridian\", \"Paylocity\", \"Paycor\", \"Bswift\", \"Businessolver\",\n\n  // Industry descriptors\n  \"carrier\", \"insurance provider\", \"benefits platform\", \"HRIS\", \"HR platform\", \"payroll provider\",\n\n  // General categories\n  \"retired\", \"stay at home\", \"homemaker\", \"freelancer\", \"self-employed\"\n];\n\nfor (const item of items) {\n  const title = (item.json.title || \"\").toLowerCase();\n  const description = (item.json.description || \"\").toLowerCase();\n\n  const matchedKeyword = keywords.find(keyword => {\n    const lowerKeyword = keyword.toLowerCase();\n    return title.includes(lowerKeyword) || description.includes(lowerKeyword);\n  });\n\n  if (matchedKeyword) {\n    throw new Error(`Disqualified due to keyword match: \"${matchedKeyword}\" in \"${item.json.title}\"`);\n  }\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,560],"id":"338b5836-b85f-43c2-8ef3-c1289b36b84e","name":"Keyword Filter","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/VhxlqQXRwhW8H5hNV/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_0JMczG9Mud0RKCpIcA5p8HQQWhb37N3mBzny"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"username\": \"{{ $json.linkedinUrl }}\"\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,580],"id":"8095975f-ac5d-449b-a795-a47cef9d94c3","name":"Apify - Personal Linkedin"},{"parameters":{"url":"={{ $json.companyLinkedinUrl }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"25cb29f1-44bf-45bd-930d-7c3a1d3ebec2","name":"Company Linkedin1","type":"n8n-nodes-base.httpRequest","position":[4300,580],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"content":"## Scrape Company LinkedIn profile","height":560,"width":2520},"type":"n8n-nodes-base.stickyNote","position":[3900,460],"typeVersion":1,"id":"c3815ec5-8e73-4245-b338-e8c716181a4f","name":"Sticky Note7"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[800,260],"id":"fcaf70d9-a7d9-4b15-afe6-2bc26373e9b1","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"ada4cf12-5ca0-43db-9e9b-87b6454f9080","name":"title","value":"={{ $('Loop Over Items').item.json.title }}","type":"string"},{"id":"2882a166-d8e0-4d3e-bce2-05212bb8b67f","name":"description","value":"={{ $('Loop Over Items').item.json.description }}","type":"string"},{"id":"d362ff3f-5645-45eb-a8fc-7c35e63877ec","name":"linkedinUrl","value":"={{ $('Loop Over Items').item.json.linkedinUrl }}","type":"string"},{"id":"79c04d5c-bb4a-431f-84e3-183dbcfb4449","name":"linkedIdPath","value":"={{ $json.linkedIdPath }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,560],"id":"5cee538d-4c6c-408b-a58d-65cef141e799","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6568805-6de4-4f3f-9b9a-e917475cad6b","leftValue":"={{ $json.error.code }}","rightValue":"ERR","operator":{"type":"number","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4540,580],"id":"aa508f46-28d4-4858-92ef-ad5cdcbcfc1b","name":"Company Exists"},{"parameters":{"content":"## Scrape lead profile","height":560,"width":2160,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1640,460],"typeVersion":1,"id":"aaa52b1f-8ffe-491b-a79a-a3285ae8436e","name":"Sticky Note"},{"parameters":{"content":"## Qualify Lead","height":520,"width":660,"color":5},"type":"n8n-nodes-base.stickyNote","position":[760,1100],"typeVersion":1,"id":"559a0323-c9f3-4171-a616-f746d2349432","name":"Sticky Note8"},{"parameters":{"assignments":{"assignments":[{"id":"b2ac9506-b03a-4108-b3f9-6fdad33c469e","name":"firstName","value":"={{ $json.basic_info.first_name }}","type":"string"},{"id":"ac5a0efc-c7ee-4590-b06e-c3017a18fab9","name":"lastName","value":"={{ $json.basic_info.last_name }}","type":"string"},{"id":"ff07bf69-ef91-4547-ba50-283ae4b52c04","name":"fullName","value":"={{ $json.basic_info.fullname }}","type":"string"},{"id":"9d5dfdab-8b56-419b-8c05-3d0c02536373","name":"about","value":"={{ $json.basic_info.about }}","type":"string"},{"id":"b6aaa9ae-4c9a-4d12-aa2f-e4de725c24c3","name":"linkedinUrl","value":"={{ $('Edit Fields').item.json.linkedinUrl }}","type":"string"},{"id":"c4616f7a-97d0-4423-83d0-1ac868b5d945","name":"linkedIdPath","value":"={{ $('Edit Fields').item.json.linkedIdPath }}","type":"string"},{"id":"64b6f1c3-073f-4064-8ef8-dc98881104cf","name":"personalLinkedinInfo","value":"={{ Object.entries($json.basic_info).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"7c935c46-35c4-4f72-9aac-609f87792cfb","name":"companyLinkedinUrlCurrent","value":"={{ $json.basic_info.current_company_url }}","type":"string"},{"id":"34563b47-133c-49e4-91be-43aea1afe6a3","name":"linkedinExperience0","value":"={{ Object.entries($json.experience[0]).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"b3847017-ebc1-4dab-98fc-6c14abc0c60d","name":"companyLinkedinUrl0","value":"={{ $json.experience[0].company_linkedin_url }}","type":"string"},{"id":"129dcb32-dbab-44a5-b08a-31cf4638eb5d","name":"linkedinExperience1","value":"={{ Object.entries($json.experience[1]).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"deb710e4-621a-4d06-a440-387e63455edf","name":"companyLinkedinUrl1","value":"={{ $json.experience[1].company_linkedin_url }}","type":"string"},{"id":"e59192ca-a7cf-4f3f-be8a-927e3e20334f","name":"=linkedinExperience2","value":"={{ Object.entries($json.experience[2]).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"0974cca0-1476-4956-9dc3-a6b3725512ac","name":"companyLinkedinUrl2","value":"={{ $json.experience[2].company_linkedin_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1960,580],"id":"ac1ab005-c3df-4485-abbc-95f4f9e32e1f","name":"personalLinkedinData"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.message.content.leadScore }}","rightValue":7,"operator":{"type":"number","operation":"gte"},"id":"9edb5a57-7f29-4e5b-b9da-179bab88eb58"}],"combinator":"and"},"renameOutput":true,"outputKey":"7+ Fit"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"119445ce-4ace-4ca3-ac5c-b499a60b5c55","leftValue":"={{ $json.message.content.leadScore }}","rightValue":6,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"renameOutput":true,"outputKey":"<6 No Fit"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1160,1180],"id":"cce819ed-a2a1-4ed1-af3e-bfbfb28c586d","name":"Switch"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"No Fit","leadScore":"={{ $json.message.content.leadScore }}","reason":"={{ $json.message.content.leadQualificationReason }}","firstName":"={{ $('Apify - Personal Linkedin').item.json.basic_info.first_name }}","lastName":"={{ $('Apify - Personal Linkedin').item.json.basic_info.last_name }}","followers":"={{ $('Send to qualification 2').item.json.linkedinFollowers }}","title":"={{ $('Apify - Personal Linkedin').item.json.basic_info.headline }}","description":"={{ $('Apify - Personal Linkedin').item.json.basic_info.about }}","companyName":"={{ $('Company Relevance').item.json.message.content.companyName }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","about":"={{ $('personalLinkedinData').item.json.about }}","linkedinExperience":"={{ $('Company Relevance').item.json.message.content.linkedinExperience }}","website":"=","companySize":"={{ $('Send to qualification 2').item.json.companySize }}","companyFollowers":"={{ $('Send to qualification 2').item.json.linkedinFollowers }}","companySubtitle":"={{ $('Send to qualification 2').item.json.companySubtitle }}","companyLinkedinOverview":"={{ $('Send to qualification 2').item.json.companyLinkedinOverview }}","companyRecentPosts":"={{ $('Send to qualification 2').item.json.recentPost }}","timeStamp":"={{ $now }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1160,1440],"id":"0db612a6-4b83-4674-a6ee-ac2fb58b80cd","name":"Update Raw Tab - No Fit","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2440,1440],"id":"6b0930fc-2d7f-4981-8fd3-e3f61729fb78","name":"Wait","webhookId":"7b27ff8d-1196-4561-a0e2-ce17701f9991"},{"parameters":{"content":"## Send Linkedin URL to find email","height":520,"width":1160,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1520,1100],"typeVersion":1,"id":"1b311828-6503-4019-8a30-81a04d2156b6","name":"Sticky Note15"},{"parameters":{"content":"Future: Add domain only seach from findymail?","height":240,"width":560},"type":"n8n-nodes-base.stickyNote","position":[1600,2880],"typeVersion":1,"id":"fa48b00e-852c-41c6-9c9c-854747f1a857","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"https://app.findymail.com/api/search/name","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer AOWzuUkSYe1V6uzquaTGZcyTp08y5LuUx1aAep048ce22042"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('personalLinkedinData').item.json.fullName }}"},{"name":"domain","value":"={{ $('Company Relevance').item.json.message.content.companyName }}"},{"name":"webhook_url","value":"=https://primary-production-5653.up.railway.app/webhook/findymail-callback?{{ $('Edit Fields').item.json.linkedIdPath }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,2940],"id":"6b79d0dd-fd1e-4ba4-a2d9-59f2baf9f20d","name":"Email from (Name/Company)"},{"parameters":{"method":"POST","url":"https://app.findymail.com/api/search/linkedin","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer AOWzuUkSYe1V6uzquaTGZcyTp08y5LuUx1aAep048ce22042"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"linkedin_url","value":"={{ $('personalLinkedinData').item.json.linkedinUrl }}"},{"name":"webhook_url","value":"=https://primary-production-5653.up.railway.app/webhook/findymail-callback?{{ $('Edit Fields').item.json.linkedIdPath }}"},{"name":"linkedinIdPath","value":"={{ $('personalLinkedinData').item.json.linkedIdPath }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1640,1180],"id":"5022972f-bf30-421f-a2e6-790b7283c2c8","name":"Email from (LinkedIn URL)"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-120,140],"id":"a7d68bd7-6bd0-4124-ae57-886403a9e554","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[100,260],"id":"c98e9efb-affb-4df7-994f-88bb4e950633","name":"Pull raw leads","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful and intelligent lead processing assistant","role":"system"},{"content":"=Your task is to use the lead data provided and determine which company is most relevant for group insurance benefits industry, ideally an agency.\n\n#Guidelines\n- Our leads are from SMB.\n- Your \"reason\" should be 1 sentence, short and concise referencing both the company and url.\n- Ideally then url path should be the relevant company name, not random numbers or search string\n\n\n#Rules\n- The Linkedin Company URL path should be exact page, not a search string\n- For the relevant company, include an exact copy of their Linkedin Experience but in a string without \\n.\n- If the relevant URL contain a path with a search string, output \"companyLinkedinUrl\" as \"None\"\n\n#Output\nAlways output in JSON format:\n\n{\n\"companyName\":\"\",\n\"linkedinExperience\":\"\",\n\"companyLinkedinUrl\":\"\",\n\"reason\":\"\"\n}"},{"content":"=Lead Data:\n\n\nLinkedin Experience 0\n{{ $('personalLinkedinData').item.json.linkedinExperience0 }}\n\nLinkedin Company URL: {{ $('personalLinkedinData').item.json.companyLinkedinUrl0 }} or {{ $json.companyLinkedinUrlCurrent }}\n\n\n\nLinkedin Experience 1\n{{ $('personalLinkedinData').item.json.linkedinExperience1 }}\n\nLinkedin Company URL: {{ $('personalLinkedinData').item.json.companyLinkedinUrl1 }}\n\n\n\nLinkedin Experience 2\n{{ $('personalLinkedinData').item.json.linkedinExperience2 }}\n\nLinkedin Company URL: {{ $('personalLinkedinData').item.json.companyLinkedinUrl2 }}\n"}]},"jsonOutput":true,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2940,660],"id":"a33d65b0-dbdb-44a9-b119-a6d6fea975f9","name":"Company Relevance","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"63822095-9d69-4dfa-8383-138b3106e8ab","leftValue":"={{ $json.companyLinkedinUrl }}","rightValue":"None","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3560,600],"id":"43a6e363-8f42-4506-b636-0d232a7c9852","name":"Relevant Linkedin URL"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d4f2d13-8834-4971-8ab6-39a9016ba729","leftValue":"={{ $json.status }}","rightValue":"success","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,2940],"id":"00a68bd4-cdc8-4af5-8dca-34ff958a5b98","name":"Email Found2"},{"parameters":{"content":"## Pre-Filter","height":560,"width":800,"color":3},"type":"n8n-nodes-base.stickyNote","position":[760,460],"typeVersion":1,"id":"07559f28-5f6d-47be-ae25-ec2178f858cf","name":"Sticky Note3"},{"parameters":{"jsCode":"const data = $json.data;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  if (typeof html !== 'string') {\n    return '';\n  }\n  return html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nlet extractedText = extractTextFromHTML(data);\n\n// Limit to 4000 words\nconst words = extractedText.split(' ');\nif (words.length > 4000) {\n  extractedText = words.slice(0, 4000).join(' ');\n}\n\nreturn { text: extractedText };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4780,580],"id":"8c29859a-edfa-489f-9a1a-f93cd1f042b1","name":"Text extract (<4k words)","alwaysOutputData":false,"retryOnFail":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're a helpful, intelligent website scraping assistant.","role":"system"},{"content":"=You're provided a scrape of a LinkedIn company page. Your task is to extract the following information.\n\nReturn in this JSON format:\n{\"companyName\":\"company name goes here\"}\n{\"companySubtitle\":\"subtitle below company name goes here\"}\n{\"companySize:\":\"Company size goes here\"}\n{\"companyTooBig\":\"True or False\"}\n{\"linkedinFollowers\":\"followers count goes here\"}\n{\"companyWebsite\":\"company website goes here\"}\n{\"companyLinkedinOverview\":\"company overview goes here\"}\n{\"recentPost\":\"Posts and content goes here\"}\n{\"validLinkedinPage\":\"True or False\"}\n\nRules:\n- If any companyLinkedin or recentPost has no data, then output \"No content (Valid Page)\"\n- If company size is 51 people or bigger, then output \"companyTooBig\" as \"True\". Anything smaller is \"False\"\n- If the page is not from a profile, as as 404, login page, etc then output \"validLinkedinPage\" as \"False\"\n- Output \"companyWebsite\" with full domain including http or https\n- Post must be no older than 4 weeks old from todays date: {{ $now }}\n- Include date with and posts or content\n\nLinkedIn Company Page: \n{{ $json.text }}"}]},"jsonOutput":true,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[4980,580],"id":"1947e7d1-5a84-4b40-9412-974e36ea0edd","name":"Extract company LinkedIn data","retryOnFail":true,"credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe386e71-beca-424f-a292-c92e539635de","name":"companyLinkedinUrlCurrent","value":"={{ $json.companyLinkedinUrlCurrent }}","type":"string"},{"id":"4f96165e-3773-475f-bade-85f7ecd81eb4","name":"urlValid","value":"True","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2680,520],"id":"5b5bfb66-2ba8-4fee-995a-d30d7a1e0e6e","name":"Valid Current Company LinkedIn Url"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-120,380],"id":"d36e3edf-281f-454d-acc6-b3a2a5feecf7","name":"Schedule Trigger"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('personalLinkedinData').item.json.linkedIdPath }}","status":"Qualified - Email Not Found","reason":"={{ $('Lead Qualification AI').item.json.message.content.leadQualificationReason }}","leadScore":"={{ $('Lead Qualification AI').item.json.message.content.leadScore }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","about":"={{ $('personalLinkedinData').item.json.about }}","linkedinExperience":"={{ $('Company Relevance').item.json.message.content.linkedinExperience }}","firstName":"={{ $('personalLinkedinData').item.json.firstName }}","lastName":"={{ $('personalLinkedinData').item.json.lastName }}","companySize":"={{ $('Send to qualification 2').item.json.companySize }}","companyFollowers":"={{ $('Send to qualification 2').item.json.linkedinFollowers }}","companySubtitle":"={{ $('Send to qualification 2').item.json.companySubtitle }}","companyLinkedinOverview":"={{ $('Send to qualification 2').item.json.companyLinkedinOverview }}","companyRecentPosts":"={{ $('Send to qualification 2').item.json.recentPost }}","website":"={{ $('Send to qualification 2').item.json.companyWebsite }}","companyName":"={{ $('Company Relevance').item.json.message.content.companyName }}","timeStamp":"={{ $now }}","emailStatus":"1/3 - No email (Linkedin URL)"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2100,1180],"id":"12388c01-7533-44e7-93bd-6a88ea9db88c","name":"Update Raw Tab - Success (email not found)","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d4f2d13-8834-4971-8ab6-39a9016ba729","leftValue":"={{ $json.status }}","rightValue":"success","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1860,1180],"id":"4a1fa879-8843-478f-84cc-2024e56d4cd9","name":"Linkedin URL Sent"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $json.linkedIdPath }}","status":"Processing..."},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[860,560],"id":"ec8b9c62-f058-468b-8743-3642d95d9d2b","name":"Update Raw Tab - Processing","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"Error","reason":"=Personal Linkedin 404","leadScore":"0","timeStamp":"={{ $now }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2200,840],"id":"a474f402-a32a-4fa8-86a0-9dcb90f78d02","name":"Update Raw Tab - 404","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d205698b-4064-4c78-ac7d-eaf6df1e1ac7","leftValue":"={{ $json.firstName }}","rightValue":"null ,","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"d409bcb2-20a6-4fde-b70f-99d3978b6426","leftValue":"={{ $json.lastName }}","rightValue":"null ,","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2180,580],"id":"e74604ce-9d3a-4955-8090-8f14901ce06f","name":"Personal Linkedin Exists"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"20f00387-654c-4881-98b2-dd64cfda1fdd","leftValue":"={{ $json[\"companyLinkedinUrlCurrent\"] && $json[\"companyLinkedinUrlCurrent\"].toLowerCase() !== \"null\" && $json[\"companyLinkedinUrlCurrent\"].match(/^https?:\\/\\/[^\\s/$.?#].[^\\s]*$/i) !== null }}","rightValue":"=true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2420,640],"id":"5c23e638-e4e0-4b2b-b166-80f30bbfd579","name":"Valid Company URL"},{"parameters":{"assignments":{"assignments":[{"id":"616b7dca-f3c5-4bf7-9237-151199c38f0f","name":"companyName","value":"={{ $json.message.content.companyName }}","type":"string"},{"id":"bd252d5c-870e-456a-bb61-6a62e441a344","name":"linkedinExperience","value":"={{ $json.message.content.linkedinExperience }}","type":"string"},{"id":"f07d67c2-8d9c-493f-b7e3-f87edb50457c","name":"companyLinkedinUrl","value":"={{ $json.message.content.companyLinkedinUrl }}","type":"string"},{"id":"d63714a8-b6a8-459e-8f2b-6e545c1d1b76","name":"companyRelevanceReason","value":"={{ $json.message.content.reason }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3320,600],"id":"fff2b96f-beac-477c-be64-4b8456c2b509","name":"Company Relevance AI"},{"parameters":{"assignments":{"assignments":[{"id":"68c04b89-fde2-4482-87f8-64fb70244f08","name":"companyLinkedinUrl","value":"={{ $('Company Relevance AI').item.json.companyLinkedinUrl }}","type":"string"},{"id":"1dafd5d1-e51c-494d-a344-e4009681c0d1","name":"companyName","value":"={{ $json.message.content.companyName }}","type":"string"},{"id":"55afccf0-c84c-4d3f-9a0c-77fac36ef8af","name":"companySubtitle","value":"={{ $json.message.content.companySubtitle }}","type":"string"},{"id":"cd763458-3186-41e0-bcc7-966fedbe123e","name":"companySize","value":"={{ $json.message.content.companySize }}","type":"string"},{"id":"45d28614-b15c-4c39-ac58-01419523112c","name":"companyTooBig","value":"={{ $json.message.content.companyTooBig }}","type":"string"},{"id":"41b494e7-b5f7-4bf1-911c-bf95590a4bd6","name":"linkedinFollowers","value":"={{ $json.message.content.linkedinFollowers }}","type":"string"},{"id":"c8d62176-9455-42f8-9554-089ffb283dc9","name":"companyWebsite","value":"={{ $json.message.content.companyWebsite }}","type":"string"},{"id":"680f5bcd-0ec7-419f-b83e-e1903e659c01","name":"companyLinkedinOverview","value":"={{ $json.message.content.companyLinkedinOverview }}","type":"string"},{"id":"8c661797-09cc-4c04-a3b4-e707562206a0","name":"recentPost","value":"={{ $json.message.content.recentPost }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[5600,580],"id":"c8a3d9d1-5965-4aed-8a82-7d6eb6edbf1b","name":"CompanyLinkedinData","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8abf1b41-b3b2-45cd-80ae-5b9705dcee42","leftValue":"={{ $json.message.content.validLinkedinPage }}","rightValue":"False","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5340,580],"id":"d2e3a142-a7ad-4a78-b47f-ed0055ca360a","name":"Valid LinkedIn Page"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e91f9b71-fa1d-4c35-9ecd-952a2b3d6aed","leftValue":"={{ $json.companyTooBig }}","rightValue":"True","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5820,580],"id":"185e341e-5486-415c-937d-92ef35fc1ec2","name":"Company Size 50+"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"No Fit","reason":"=Company too big: {{ $json.companySize }}","leadScore":"0","timeStamp":"={{ $now }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[6120,580],"id":"39362e75-dd3f-4e5f-98d9-758833877185","name":"Update Raw Tab - Company Too Big","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6180,840],"id":"7de8d742-8ca6-4f9c-b6bb-8b1d7a50bdf8","name":"Back to loop"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5860,840],"id":"d3ec1ff5-d0b4-4b87-9629-1b52d8da8097","name":"Send to qualification 2"},{"parameters":{"assignments":{"assignments":[{"id":"55afccf0-c84c-4d3f-9a0c-77fac36ef8af","name":"companySubtitle","value":"=N/A","type":"string"},{"id":"cd763458-3186-41e0-bcc7-966fedbe123e","name":"companySize","value":"=N/A","type":"string"},{"id":"45d28614-b15c-4c39-ac58-01419523112c","name":"companyTooBig","value":"=N/A","type":"string"},{"id":"41b494e7-b5f7-4bf1-911c-bf95590a4bd6","name":"linkedinFollowers","value":"=N/A","type":"string"},{"id":"c8d62176-9455-42f8-9554-089ffb283dc9","name":"companyWebsite","value":"=N/A","type":"string"},{"id":"680f5bcd-0ec7-419f-b83e-e1903e659c01","name":"companyLinkedinOverview","value":"=N/A","type":"string"},{"id":"8c661797-09cc-4c04-a3b4-e707562206a0","name":"recentPost","value":"=N/A","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4300,840],"id":"eac2e96e-a208-4a59-958e-e1033be0b816","name":"CompanyLinkedinData - None","alwaysOutputData":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"No Fit","reason":"=Keyword match: {{ $json.error }}","leadScore":"0","timeStamp":"={{ $now }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1300,840],"id":"741b8a2c-98ae-4267-a1ad-3999e822c948","name":"Update Raw Tab - No Fit2","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful and intelligent lead sorting assistant","role":"system"},{"content":"On a score out of 10, rate the likelyhood that this lead is a decision maker working in a small (<15 people) group benefit agency.\n\nGenerate a score from 1 - 10. With 10 being perfect fit and 1 being no fit. Include a short and concise reason for your score, with evidence.\n\n#Decision Makers include:\n- CEO\n- Founder\n- Owner\n- Director\n- Principal\n- President\n- VP\n- COO\n- Operations manager\n- Managing partner\n- Or they could be a self-employed consultant or advisor\n\n\n#Rules\n- If company data is not available then disregard size and qualify lead on their personal Linkedin data, particularly in their bio and experience.\n- If there's no mention of anything benefits related, \"leadScore\" is 0\n- They should not be a carrier or a vendor.\n- Always output in JSON format:\n\n{\"leadScore\":\"1-10\", \"leadQualificationReason\":\"\"}"},{"content":"=Lead Data:\n\n\n#Company Linkedin Data:\n\n{{ $('Send to qualification 2').item.json.companyName }}\n{{ $('Send to qualification 2').item.json.companySubtitle }}\n{{ $('Send to qualification 2').item.json.companySize }}\n{{ $('Send to qualification 2').item.json.companyLinkedinOverview }}\n\n\n------\n\n\n#Personal Linkedin Data: \n\nBasic info\n{{ $('personalLinkedinData').item.json.personalLinkedinInfo }}\n\nExperience 0\n{{ $('personalLinkedinData').item.json.linkedinExperience0 }}\n\nExperience 1\n{{ $('personalLinkedinData').item.json.linkedinExperience1 }}\n\nExperience 2\n{{ $('personalLinkedinData').item.json.linkedinExperience2 }}"}]},"jsonOutput":true,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[800,1180],"id":"183d57e0-2330-49a3-b32d-94e1a2ffb9ad","name":"Lead Qualification AI","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('personalLinkedinData').item.json.linkedIdPath }}","status":"Qualified - Error sending to FindyMail","reason":"={{ $('Lead Qualification AI').item.json.message.content.leadQualificationReason }}","leadScore":"={{ $('Lead Qualification AI').item.json.message.content.leadScore }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","about":"={{ $('personalLinkedinData').item.json.about }}","linkedinExperience":"={{ $('Company Relevance').item.json.message.content.linkedinExperience }}","firstName":"={{ $('personalLinkedinData').item.json.firstName }}","lastName":"={{ $('personalLinkedinData').item.json.lastName }}","companySize":"={{ $('Send to qualification 2').item.json.companySize }}","companyFollowers":"={{ $('Send to qualification 2').item.json.linkedinFollowers }}","companySubtitle":"={{ $('Send to qualification 2').item.json.companySubtitle }}","companyLinkedinOverview":"={{ $('Send to qualification 2').item.json.companyLinkedinOverview }}","companyRecentPosts":"={{ $('Send to qualification 2').item.json.recentPost }}","website":"={{ $('Send to qualification 2').item.json.companyWebsite }}","companyName":"={{ $('Company Relevance').item.json.message.content.companyName }}","timeStamp":"={{ $now }}","emailStatus":"Error sending to FindyMail"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2100,1380],"id":"5f27d86c-68a3-4563-85b9-5dd2f629a06d","name":"Update Raw Tab - Error sending to FindyMail","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","companyName":"={{ $json.companyName }}","firstName":"={{ $('personalLinkedinData').item.json.firstName }}","lastName":"={{ $('personalLinkedinData').item.json.lastName }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailStatus","displayName":"emailStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3560,820],"id":"bdd842ac-39df-4048-84e4-3a1c04004380","name":"Update Raw Tab - Company Name","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"content":"Keywords Filter id \"benefit/s\" not contained in personal linkedin data","color":7},"type":"n8n-nodes-base.stickyNote","position":[1920,340],"typeVersion":1,"id":"4e3d80df-7637-4ff0-974e-fe934a882102","name":"Sticky Note1"},{"parameters":{"content":"The sheets are updated with \"email not found\" - if the webhook returns with valid email this will be overwritten"},"type":"n8n-nodes-base.stickyNote","position":[2380,1160],"typeVersion":1,"id":"9a37ade8-3543-4248-b258-eb7104c10b34","name":"Sticky Note4"},{"parameters":{"content":"DO google search to finsd company (don't rely on right url from personal profile)","color":3},"type":"n8n-nodes-base.stickyNote","position":[3920,180],"typeVersion":1,"id":"a1426fcb-df20-4711-88d6-317f5f83c0d9","name":"Sticky Note5"},{"parameters":{"content":"Have off shoot when compay qualifed, but not person. "},"type":"n8n-nodes-base.stickyNote","position":[480,1180],"typeVersion":1,"id":"163c8df8-ee15-4048-8540-0a5618fa0fb6","name":"Sticky Note6"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/563JCPLOqM1kMmbbP/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_0JMczG9Mud0RKCpIcA5p8HQQWhb37N3mBzny"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"country\": \"US\",\n    \"keyword\": \"{{ $json.fullName }} {{ $json.companyName }}\",\n    \"limit\": \"20\",\n    \"page\": 1\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3700,240],"id":"b3dcef1c-7dc2-438d-8dd8-3e10e6b4af46","name":"Apify - Google Company Search"},{"parameters":{"content":"Update: Ask if this person has experences in benefits in a position of x, y, z\n\nIf yes, google company linkedin for company size.\n\nDuplicate workflow and simplify","height":220,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","position":[2900,280],"typeVersion":1,"id":"cf0a490f-495e-4171-8c99-cf200cecfd5a","name":"Sticky Note9"}],"connections":{"Filter":{"main":[[{"node":"DELETE","type":"main","index":0}]]},"DELETE":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Keyword Filter":{"main":[[{"node":"Apify - Personal Linkedin","type":"main","index":0}],[{"node":"Update Raw Tab - No Fit2","type":"main","index":0}]]},"Apify - Personal Linkedin":{"main":[[{"node":"personalLinkedinData","type":"main","index":0}]]},"Company Linkedin1":{"main":[[{"node":"Company Exists","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Update Raw Tab - Processing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Keyword Filter","type":"main","index":0}]]},"Company Exists":{"main":[[{"node":"Text extract (<4k words)","type":"main","index":0}],[{"node":"CompanyLinkedinData - None","type":"main","index":0}]]},"personalLinkedinData":{"main":[[{"node":"Personal Linkedin Exists","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Email from (LinkedIn URL)","type":"main","index":0}],[{"node":"Update Raw Tab - No Fit","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Email from (Name/Company)":{"main":[[{"node":"Email Found2","type":"main","index":0}]]},"Email from (LinkedIn URL)":{"main":[[{"node":"Linkedin URL Sent","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Pull raw leads","type":"main","index":0}]]},"Pull raw leads":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Company Relevance":{"main":[[{"node":"Company Relevance AI","type":"main","index":0}]]},"Relevant Linkedin URL":{"main":[[{"node":"Company Linkedin1","type":"main","index":0}],[{"node":"CompanyLinkedinData - None","type":"main","index":0}]]},"Email Found2":{"main":[[],[]]},"Update Raw Tab - No Fit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Text extract (<4k words)":{"main":[[{"node":"Extract company LinkedIn data","type":"main","index":0}]]},"Extract company LinkedIn data":{"main":[[{"node":"Valid LinkedIn Page","type":"main","index":0}]]},"Valid Current Company LinkedIn Url":{"main":[[{"node":"Company Relevance","type":"main","index":0}]]},"Schedule Trigger":{"main":[[]]},"Update Raw Tab - Success (email not found)":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Linkedin URL Sent":{"main":[[{"node":"Update Raw Tab - Success (email not found)","type":"main","index":0}],[{"node":"Update Raw Tab - Error sending to FindyMail","type":"main","index":0}]]},"Update Raw Tab - Processing":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Personal Linkedin Exists":{"main":[[{"node":"Valid Company URL","type":"main","index":0}],[{"node":"Update Raw Tab - 404","type":"main","index":0}]]},"Valid Company URL":{"main":[[{"node":"Valid Current Company LinkedIn Url","type":"main","index":0}],[{"node":"Company Relevance","type":"main","index":0}]]},"Company Relevance AI":{"main":[[{"node":"Relevant Linkedin URL","type":"main","index":0},{"node":"Update Raw Tab - Company Name","type":"main","index":0}]]},"Update Raw Tab - 404":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"CompanyLinkedinData":{"main":[[{"node":"Company Size 50+","type":"main","index":0}]]},"Valid LinkedIn Page":{"main":[[{"node":"CompanyLinkedinData","type":"main","index":0}],[{"node":"CompanyLinkedinData - None","type":"main","index":0}]]},"Company Size 50+":{"main":[[{"node":"Update Raw Tab - Company Too Big","type":"main","index":0}],[{"node":"Send to qualification 2","type":"main","index":0}]]},"Update Raw Tab - Company Too Big":{"main":[[{"node":"Back to loop","type":"main","index":0}]]},"Back to loop":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send to qualification 2":{"main":[[{"node":"Lead Qualification AI","type":"main","index":0}]]},"CompanyLinkedinData - None":{"main":[[{"node":"Send to qualification 2","type":"main","index":0}]]},"Update Raw Tab - No Fit2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Lead Qualification AI":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Update Raw Tab - Error sending to FindyMail":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":{},"versionId":"01a73a57-802e-4e3c-aa8b-f9ce0f35835a","triggerCount":0,"tags":[{"createdAt":"2025-05-31T13:54:34.864Z","updatedAt":"2025-05-31T13:54:34.864Z","id":"0izNGdR9nZqKab3U","name":"EB3"},{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"}]}