-email-duplicates-checker-tUDwC8nLBWCQfMLT.json
{"createdAt":"2025-05-12T09:46:56.752Z","updatedAt":"2025-05-12T17:40:48.133Z","id":"tUDwC8nLBWCQfMLT","name":"1. APOLLO // Email Duplicates Checker","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Initialize a map to track all emails\nconst emailMap = new Map();\nconst duplicates = [];\nconst allItems = [];\nlet totalProcessed = 0;\nlet duplicatesFound = 0;\n\n// Assume we have input from multiple sources merged together\n// Each item in the input array contains lead data including an email field\nconst items = $input.all();\n\n// First pass: Register all emails in the map\nitems.forEach(itemObj => {\n  const item = itemObj.json;\n  const source = item.source || itemObj.source || itemObj.json?.source || \"Unknown\";\n  const leadData = item.data || item;\n  const leadsToProcess = Array.isArray(leadData) ? leadData : [leadData];\n\n  leadsToProcess.forEach(lead => {\n    const email = lead.email || lead.Email || lead.emailAddress || lead.email_address;\n    if (!email) return;\n\n    const normalizedEmail = email.toLowerCase().trim();\n    lead.source = source;\n\n    if (emailMap.has(normalizedEmail)) {\n      emailMap.get(normalizedEmail).duplicateCount++;\n      emailMap.get(normalizedEmail).sources.push(source);\n    } else {\n      emailMap.set(normalizedEmail, {\n        email: normalizedEmail,\n        originalEmail: email,\n        sources: [source],\n        duplicateCount: 0,\n        firstLead: lead\n      });\n    }\n\n    totalProcessed++;\n  });\n});\n\n// Second pass: Mark all items with duplicate status and collect results\nitems.forEach(itemObj => {\n  const item = itemObj.json;\n  const source = item.source || itemObj.source || itemObj.json?.source || \"Unknown\";\n  const leadData = item.data || item;\n  const leadsToProcess = Array.isArray(leadData) ? leadData : [leadData];\n\n  leadsToProcess.forEach(lead => {\n    const email = lead.email || lead.Email || lead.emailAddress || lead.email_address;\n    if (!email) return;\n\n    const normalizedEmail = email.toLowerCase().trim();\n    const emailData = emailMap.get(normalizedEmail);\n    lead.source = source;\n\n    if (emailData.duplicateCount > 0) {\n      lead.isDuplicate = true;\n      lead.status = \"Duplicate\";\n      lead.duplicateCount = emailData.duplicateCount;\n      lead.duplicateSources = emailData.sources.filter(s => s !== source);\n      duplicatesFound++;\n      duplicates.push(lead);\n    } else {\n      lead.isDuplicate = false;\n      lead.status = \"Unique\";\n    }\n\n    allItems.push(lead);\n  });\n});\n\n// Return output without summary\nreturn [\n  {\n    json: {\n      results: {\n        allItems,           // All leads with duplicate status marked\n        duplicates,         // Only the duplicates\n        uniqueItems: allItems.filter(item => !item.isDuplicate) // Only unique items\n      },\n      processedItems: allItems // Each item including status and source\n    }\n  }\n];\n"},"name":"Check Duplicates","type":"n8n-nodes-base.code","typeVersion":1,"position":[1080,180],"id":"32208d47-a656-4c99-a9dd-94a204bd25f9"},{"parameters":{},"name":"Workflow Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-300,180],"id":"cd4db824-bbd1-4f1d-a11e-0f0be2ed64d7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cae6390b-571a-4814-be1d-7c7239a7a66a","leftValue":"={{ $json.validEmail }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"1a64e91c-e37b-472c-9680-c13d080d42c7","leftValue":"={{ $json.emailValid }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[280,-160],"id":"cd791287-37fa-4852-b609-585cce8f85a9","name":"Filter"},{"parameters":{"documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[60,-160],"id":"7ae4c3b1-0ec3-478e-a048-37d088354519","name":"Main CRM","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":524787101,"mode":"list","cachedResultName":"Logistics","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=524787101"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[60,60],"id":"59e55eda-8d55-4531-9307-028f11abbf26","name":"Apollo - Logistics","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7de44ef0-197d-48e9-97d0-22c689cf6986","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"ee836a19-a5cc-4260-a029-9344322b878a","leftValue":"={{ $json['ELV Result'] }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[280,60],"id":"bc0cb2fa-3fe4-47d4-86b9-e5e98760f228","name":"Filter1"},{"parameters":{"documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":288784284,"mode":"list","cachedResultName":"Finance","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=288784284"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[60,280],"id":"56338bfa-f9e5-4004-a4b6-d170e7b5c309","name":"Apollo - Finance","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[880,160],"id":"bdac3c7b-9285-4d4f-81d7-3da10c2376c8","name":"Merge"},{"parameters":{"documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1333475617,"mode":"list","cachedResultName":"Coaches","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1333475617"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[60,500],"id":"c74e3fec-dbe9-4c83-85ab-52c77d5526b8","name":"Apollo - Coaches","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7de44ef0-197d-48e9-97d0-22c689cf6986","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"ee836a19-a5cc-4260-a029-9344322b878a","leftValue":"={{ $json['ELV Result'] }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[280,500],"id":"2fe26da0-962f-4c14-a14e-64369c5ac164","name":"Filter3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7de44ef0-197d-48e9-97d0-22c689cf6986","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"ee836a19-a5cc-4260-a029-9344322b878a","leftValue":"={{ $json['ELV Result'] }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[280,280],"id":"6150ec33-6316-4d6b-b81b-8a20355a4eb6","name":"Filter2"},{"parameters":{"assignments":{"assignments":[{"id":"2ab03587-c49f-4bce-955b-ca2941aca38a","name":"idPath","value":"={{ $json.idPath }}","type":"string"},{"id":"b7a64cc6-7cec-49dd-9184-bbc921d62b8f","name":"email","value":"={{ $json.validEmail }}","type":"string"},{"id":"3e79fefd-7d81-4325-87a2-3726130fe970","name":"source","value":"Main CRM","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,-160],"id":"2e39f08f-045e-4bd0-8fb3-c4ec4732919e","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"af23750d-6c9e-4454-bab7-4400007b1d14","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"10489fe4-1a2e-4a6d-a790-b57349a5c378","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"4f4352bd-d71f-4dd8-ad3f-a2c4c2f9655d","name":"source","value":"Apollo - Logistics","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,60],"id":"e792c61e-6f34-43fd-ac88-ffa3a23d953a","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"af23750d-6c9e-4454-bab7-4400007b1d14","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"10489fe4-1a2e-4a6d-a790-b57349a5c378","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"0e48a8ed-a78b-4029-a5f8-968d8f383d95","name":"source","value":"Apollo - Finance","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,280],"id":"08307f4e-f646-4a3f-acb2-5dd595889212","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"af23750d-6c9e-4454-bab7-4400007b1d14","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"10489fe4-1a2e-4a6d-a790-b57349a5c378","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"269e2e4a-9f81-4e39-92d8-7fd173a7fb79","name":"source","value":"Apollo - Coaches","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,500],"id":"cc4cb3f2-33ea-43ef-8f9c-ee24ea33add5","name":"Edit Fields3"},{"parameters":{"fieldToSplitOut":"results.allItems","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1260,180],"id":"e3049ec1-077e-4e16-a336-7ea1c26d0a0a","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1700,180],"id":"7de8bd27-1145-4fcb-849d-90ed1edea29f","name":"Batch 1 (TEST)"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d3a6a62-66f0-4f82-9f6b-ee868a09c8a1","leftValue":"={{ $json.source }}","rightValue":"Main CRM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CRM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.source }}","rightValue":"Apollo - Logistics","operator":{"type":"string","operation":"equals"},"id":"1fbc391d-465c-4bac-9bc3-abfc94b48911"}],"combinator":"and"},"renameOutput":true,"outputKey":"Logistics"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1d639f90-9e4c-4e14-90a8-1011f69971a3","leftValue":"={{ $json.source }}","rightValue":"Apollo - Finance","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Finance"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a2b3b4e-c19c-498f-a8df-2eb2ee16e814","leftValue":"={{ $json.source }}","rightValue":"Apollo - Coaches","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Coaches"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1920,280],"id":"bca07b01-89f8-4211-876b-c5b94e198f30","name":"Switch","onError":"continueErrorOutput"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":524787101,"mode":"list","cachedResultName":"Logistics","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=524787101"},"columns":{"mappingMode":"defineBelow","value":{"status":"Duplicate","id":"={{ $json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"icebreaker","displayName":"icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estimated_num_employees","displayName":"estimated_num_employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2200,100],"id":"70597e6f-7182-4363-9166-d5bcc56ce113","name":"Update: Logistics","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":288784284,"mode":"list","cachedResultName":"Finance","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=288784284"},"columns":{"mappingMode":"defineBelow","value":{"status":"Duplicate","id":"={{ $json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"icebreaker","displayName":"icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estimated_num_employees","displayName":"estimated_num_employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2200,280],"id":"09054b5b-481e-40fb-9c10-7295eac0c0bb","name":"Update: Finances","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2580,820],"id":"2ae40114-e338-4985-8dc8-efd3c849808c","name":"Wait 2-sec","webhookId":"07878225-d62e-4765-bd33-9a0e254330e4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"470cb913-43cd-407e-9750-b6adba50dd2b","leftValue":"={{ $json.isDuplicate }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1480,180],"id":"9b1c3191-589e-4f8a-aad2-8280ad6447f0","name":"Filter4"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2200,-60],"id":"cfbbd10e-d055-41df-ad4a-9db55fa76eff","name":"Main CRM1","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2200,680],"id":"bcfe682e-576b-4539-9b00-cfb13529f7f6","name":"Error","alwaysOutputData":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1333475617,"mode":"list","cachedResultName":"Coaches","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1333475617"},"columns":{"mappingMode":"defineBelow","value":{"id":"{{ $json.id }}","status":"Duplicate"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"icebreaker","displayName":"icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estimated_num_employees","displayName":"estimated_num_employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2200,500],"id":"231e34ef-f843-47bb-a501-2ebe6bd73bb2","name":"Update: Coaches","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}}],"connections":{"Workflow Trigger":{"main":[[{"node":"Main CRM","type":"main","index":0},{"node":"Apollo - Logistics","type":"main","index":0},{"node":"Apollo - Finance","type":"main","index":0},{"node":"Apollo - Coaches","type":"main","index":0}]]},"Check Duplicates":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Main CRM":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Apollo - Logistics":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Apollo - Finance":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Apollo - Coaches":{"main":[[{"node":"Filter3","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Check Duplicates","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Edit Fields3":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Split Out":{"main":[[{"node":"Filter4","type":"main","index":0}]]},"Batch 1 (TEST)":{"main":[[],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Main CRM1","type":"main","index":0}],[{"node":"Update: Logistics","type":"main","index":0}],[{"node":"Update: Finances","type":"main","index":0}],[{"node":"Update: Coaches","type":"main","index":0}],[{"node":"Error","type":"main","index":0}]]},"Update: Finances":{"main":[[{"node":"Wait 2-sec","type":"main","index":0}]]},"Update: Logistics":{"main":[[{"node":"Wait 2-sec","type":"main","index":0}]]},"Wait 2-sec":{"main":[[{"node":"Batch 1 (TEST)","type":"main","index":0}]]},"Filter4":{"main":[[{"node":"Batch 1 (TEST)","type":"main","index":0}]]},"Main CRM1":{"main":[[{"node":"Wait 2-sec","type":"main","index":0}]]},"Error":{"main":[[{"node":"Wait 2-sec","type":"main","index":0}]]},"Update: Coaches":{"main":[[{"node":"Wait 2-sec","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"45b32ed0-41e9-4879-9367-7272887bc813","triggerCount":0,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"},{"createdAt":"2025-05-08T16:20:55.248Z","updatedAt":"2025-05-08T16:20:55.248Z","id":"KPOFVI2VTTHvP5On","name":"Apollo"}]}