-email-validation-wVOimJgl482r2qKt.json
{"createdAt":"2025-03-23T15:39:08.344Z","updatedAt":"2025-05-02T16:43:07.465Z","id":"wVOimJgl482r2qKt","name":"4 | COLD EMAIL // Email Validation","active":false,"isArchived":false,"nodes":[{"parameters":{"functionCode":"const emails = [\n    $json[\"mainEmail\"],\n    $json[\"thirdPartyEmail01\"],\n    $json[\"thirdPartyEmail02\"],\n    $json[\"thirdPartyEmail03\"],\n    $json[\"thirdPartyEmail04\"]\n].filter(email => email && email.trim() !== \"\").map(email => email.toLowerCase().trim()); // Normalize emails\n\nconst uniqueEmails = [...new Set(emails)]; // Remove duplicates\n\nreturn uniqueEmails.map(email => ({ json: { email } }));\n"},"name":"Extract Emails","type":"n8n-nodes-base.function","typeVersion":1,"position":[900,440],"id":"d3a5fd55-05ef-4ef1-a246-accdd447a99a","alwaysOutputData":false},{"parameters":{"url":"https://api.emaillistverify.com/api/verifyEmail","responseFormat":"string","options":{"timeout":10000},"queryParametersUi":{"parameter":[{"name":"secret","value":"9Qjdnf4u2vzAYYygU451p"},{"name":"email","value":"={{ $('Extract Emails').item.json.email }}"}]}},"name":"Verify Email","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1600,360],"id":"ba8f3a87-706a-4c32-b1a3-2c7adbf5defd","retryOnFail":false,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Verify Email').item.json.data }}","value2":"ok"}]}},"name":"Check Validity","type":"n8n-nodes-base.if","typeVersion":1,"position":[1820,360],"id":"5a53a1b2-db9d-4e58-80a1-77281f21ab20"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"columns":{"mappingMode":"defineBelow","value":{"leadStatus":"Draft Email","lastUpdate":"={{ $now }}","validEmail":"={{ $node[\"Loop 2 (1 per time)\"].json.email }}","emailValid":"ok","memberId":"={{ $node[\"Limit 1\"].json.memberId }}"},"matchingColumns":["memberId"],"schema":[{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadStatus","displayName":"leadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"idPath","displayName":"idPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"memberId","displayName":"memberId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastUpdate","displayName":"lastUpdate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadTitle","displayName":"leadTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchPosition","displayName":"searchPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadDescription","displayName":"leadDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedinFullName","displayName":"LinkedinFullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadQualified","displayName":"leadQualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qualificationReason","displayName":"qualificationReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinHeadline","displayName":"linkedinHeadline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinSummary","displayName":"linkedinSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompany","displayName":"currentCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompanyPosition","displayName":"currentCompanyPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"positionDescription1","displayName":"positionDescription1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website1","displayName":"website1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website2","displayName":"website2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mainEmail","displayName":"mainEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail01","displayName":"thirdPartyEmail01","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail02","displayName":"thirdPartyEmail02","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail03","displayName":"thirdPartyEmail03","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail04","displayName":"thirdPartyEmail04","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"validEmail","displayName":"validEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emailValid","displayName":"emailValid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"iceBreaker","displayName":"iceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pain","displayName":"pain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"elevatorPitch","displayName":"elevatorPitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cta","displayName":"cta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ps","displayName":"ps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"businessSummary","displayName":"businessSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2160,260],"id":"55a1ffe3-4730-453e-a5b2-7c5a6c3f3ca7","name":"Valid Email","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"columns":{"mappingMode":"defineBelow","value":{"memberId":"={{ $node[\"Limit 1\"].json.memberId }}","leadStatus":"Send LinkedIn Request","lastUpdate":"={{ $now }}","emailValid":"no","notes":"Invalid Email"},"matchingColumns":["memberId"],"schema":[{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadStatus","displayName":"leadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"idPath","displayName":"idPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"memberId","displayName":"memberId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadQualified","displayName":"leadQualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qualificationReason","displayName":"qualificationReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastUpdate","displayName":"lastUpdate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadTitle","displayName":"leadTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchPosition","displayName":"searchPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadDescription","displayName":"leadDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedinFullName","displayName":"LinkedinFullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinHeadline","displayName":"linkedinHeadline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinSummary","displayName":"linkedinSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompany","displayName":"currentCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompanyPosition","displayName":"currentCompanyPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"positionDescription1","displayName":"positionDescription1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website1","displayName":"website1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website2","displayName":"website2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mainEmail","displayName":"mainEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail01","displayName":"thirdPartyEmail01","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail02","displayName":"thirdPartyEmail02","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail03","displayName":"thirdPartyEmail03","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail04","displayName":"thirdPartyEmail04","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"validEmail","displayName":"validEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailValid","displayName":"emailValid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"iceBreaker","displayName":"iceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pain","displayName":"pain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"elevatorPitch","displayName":"elevatorPitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cta","displayName":"cta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ps","displayName":"ps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"businessSummary","displayName":"businessSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2220,1900],"id":"310c3564-41e3-465a-8c3c-9124d5eca907","name":"Invalid Email","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1160,440],"id":"ecd8f0aa-03df-4b6d-bec9-7b9a78f506aa","name":"Loop 2 (1 per time)","executeOnce":false},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[440,440],"id":"fa0db796-8229-40f3-918b-1658a9a627e5","name":"Limit 1"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-460,440],"id":"f0105f76-5a57-4959-a6be-82e1955596d5","name":"Schedule Trigger"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"columns":{"mappingMode":"defineBelow","value":{"memberId":"={{ $node[\"Limit 1\"].json.memberId }}","lastUpdate":"={{ $now }}","emailValid":"no","notes":"No Email","leadStatus":"Send LinkedIn Request"},"matchingColumns":["memberId"],"schema":[{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadStatus","displayName":"leadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"idPath","displayName":"idPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"memberId","displayName":"memberId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadQualified","displayName":"leadQualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qualificationReason","displayName":"qualificationReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastUpdate","displayName":"lastUpdate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadTitle","displayName":"leadTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchPosition","displayName":"searchPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadDescription","displayName":"leadDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedinFullName","displayName":"LinkedinFullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinHeadline","displayName":"linkedinHeadline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinSummary","displayName":"linkedinSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompany","displayName":"currentCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompanyPosition","displayName":"currentCompanyPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"positionDescription1","displayName":"positionDescription1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website1","displayName":"website1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website2","displayName":"website2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mainEmail","displayName":"mainEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail01","displayName":"thirdPartyEmail01","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail02","displayName":"thirdPartyEmail02","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail03","displayName":"thirdPartyEmail03","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail04","displayName":"thirdPartyEmail04","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"validEmail","displayName":"validEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailValid","displayName":"emailValid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"iceBreaker","displayName":"iceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pain","displayName":"pain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"elevatorPitch","displayName":"elevatorPitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cta","displayName":"cta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ps","displayName":"ps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"businessSummary","displayName":"businessSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2080,840],"id":"bdc76fa6-b6e1-4203-a17e-707053212414","name":"No Email","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2040,440],"id":"2d800f78-534c-4407-86aa-df6b1db0d04e","name":"Wait 3 Sec","webhookId":"d013b426-00ff-4e1b-8a9a-db98f39f74a0"},{"parameters":{"content":"- Test with nested loop again (with option > reset toggle on)\n\n- If no valid email, first check summary, about, bio, etc. If found then validate\n\n- Create notfication when email credits run low","height":240,"width":440},"type":"n8n-nodes-base.stickyNote","position":[-80,-300],"typeVersion":1,"id":"48f05cdb-393f-49ac-b89d-e58762f50929","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"571b8f50-6c8b-4c18-bfeb-1b274eddea13","leftValue":"={{ $json.memberId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,440],"id":"d1a5a4a2-27e6-4ae8-bdb3-8794d41fc7da","name":"memberId"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"columns":{"mappingMode":"defineBelow","value":{"lastUpdate":"={{ $now }}","idPath":"={{ $json.idPath }}","notes":"No Member ID","leadStatus":"Send LinkedIn Request"},"matchingColumns":["idPath"],"schema":[{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadStatus","displayName":"leadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"idPath","displayName":"idPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"memberId","displayName":"memberId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadQualified","displayName":"leadQualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qualificationReason","displayName":"qualificationReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastUpdate","displayName":"lastUpdate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadTitle","displayName":"leadTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchPosition","displayName":"searchPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadDescription","displayName":"leadDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedinFullName","displayName":"LinkedinFullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinHeadline","displayName":"linkedinHeadline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinSummary","displayName":"linkedinSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompany","displayName":"currentCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompanyPosition","displayName":"currentCompanyPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"positionDescription1","displayName":"positionDescription1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website1","displayName":"website1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website2","displayName":"website2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mainEmail","displayName":"mainEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail01","displayName":"thirdPartyEmail01","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail02","displayName":"thirdPartyEmail02","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail03","displayName":"thirdPartyEmail03","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail04","displayName":"thirdPartyEmail04","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"validEmail","displayName":"validEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailValid","displayName":"emailValid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"iceBreaker","displayName":"iceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pain","displayName":"pain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"elevatorPitch","displayName":"elevatorPitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cta","displayName":"cta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ps","displayName":"ps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"businessSummary","displayName":"businessSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2080,1040],"id":"6c6463b3-e5ed-4ea3-b613-f5728d9cf536","name":"No Member ID","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://api.emaillistverify.com/api/findContact","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"x-api-key","value":"iBAn4tEIYz5DpqOaE9PBe"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"firstName","value":"={{ $node[\"Limit 1\"].json.firstName }}"},{"name":"lastName","value":"={{ $node[\"Limit 1\"].json.lastName }}"},{"name":"domain","value":"={{ $json.message.content.cleanedUrl }}"}]},"options":{"timeout":20000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2500,1360],"id":"4b8b5149-ec80-4a6f-9415-4eeccd03cfe5","name":"findContact","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9c5dadf0-f769-4d1c-8405-d97c82dfce11","leftValue":"={{ $json.mainEmail }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"d439bbbf-e6d0-4501-9454-0ec0df19fc06","leftValue":"={{ $json.thirdPartyEmail01 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"3cc0db3e-9048-4b36-817b-b0c58cb81d55","leftValue":"={{ $json.thirdPartyEmail02 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"033cd20c-4476-4e68-88ee-5933be910885","leftValue":"={{ $json.thirdPartyEmail03 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"cae91296-8aa0-4984-b16f-a340778a25e7","leftValue":"={{ $json.thirdPartyEmail04 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,440],"id":"6082b480-474b-4dea-b07c-d89551729c90","name":"Email Exists"},{"parameters":{"documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"filtersUI":{"values":[{"lookupColumn":"leadStatus","lookupValue":"Validate Email Address"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-240,440],"id":"5671341d-f30e-4ca7-b581-6b8a802946a7","name":"Status: Validate Email Address","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44787652-1539-4e0a-bddc-c8e73a39399f","leftValue":"={{ $('Limit 1').item.json.website1 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"51483169-84e5-4efb-be00-5a54c9c26c49","leftValue":"={{ $('Limit 1').item.json.website2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1400,1580],"id":"73b1ca52-4e63-452c-a910-022c965b3bd8","name":"Website Exists","executeOnce":true},{"parameters":{"options":{"reset":true}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1900,1360],"id":"bc5f094d-abf0-49c4-906b-e77bbc7efe25","name":"Loop Over 1","executeOnce":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful and intelligent assistant.","role":"system"},{"content":"Your job is to clean up the URL provided.\n\n#Examples\n\nExamples Input:\nhttps://www.hello.com/es\nhttps://hello.com/es\nwww.hello.com\n\nExamples Output:\nhello.com\nhello.com\nhello.com\n\n#Output\nIn JSON format, item called \"cleanedUrl\""},{"content":"=URL to clean: {{ $json.website }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2140,1360],"id":"072e2821-75fb-4d2e-97fa-bfc2d5fc4ec5","name":"Clean Domain","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"jsCode":"const websites = [\n    $node[\"Limit 1\"].json[\"website1\"],\n    $node[\"Limit 1\"].json[\"website2\"]\n].filter(website => website); // Remove empty or undefined values\n\nconst uniqueWebsites = [...new Set(websites)]; // Remove duplicates\n\nreturn uniqueWebsites.map(website => ({ json: { website } }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,1400],"id":"8422bdbf-0bf1-46cf-a7a9-7d0842de3d89","name":"Code"},{"parameters":{"url":"https://api.emaillistverify.com/api/verifyEmail","responseFormat":"string","options":{"timeout":300000},"queryParametersUi":{"parameter":[{"name":"secret","value":"9Qjdnf4u2vzAYYygU451p"},{"name":"email","value":"={{ $json.email }}"}]}},"name":"Verify Email1","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[3020,1220],"id":"dba5eeb0-2028-45ad-9889-8d12e19b024c","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.data }}","value2":"ok"}]}},"name":"Check Validity1","type":"n8n-nodes-base.if","typeVersion":1,"position":[3280,1220],"id":"af38c304-87a4-4200-b205-22196fb81d43"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3540,1560],"id":"61f42bbe-dce7-4c77-ace2-3f9aab4d6ded","name":"Wait 3 sec","webhookId":"2539cd9a-9629-466b-a8d2-8ced8c1617c3","executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"61b60aab-412d-4585-ba28-fac35fe42ba3","leftValue":"={{ $json.confidence }}","rightValue":"high","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e9b19201-db0b-4081-be2a-3f75fc67e55e","leftValue":"={{ $json.confidence }}","rightValue":"medium","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2720,1360],"id":"e517d65e-93a7-46db-bed6-0d625ad1e458","name":"Confidence"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"columns":{"mappingMode":"defineBelow","value":{"leadStatus":"Draft Email","lastUpdate":"={{ $now }}","validEmail":"={{ $('Confidence').item.json.email }}","emailValid":"ok","memberId":"={{ $node[\"Limit 1\"].json.memberId }}"},"matchingColumns":["memberId"],"schema":[{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadStatus","displayName":"leadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"idPath","displayName":"idPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"memberId","displayName":"memberId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadQualified","displayName":"leadQualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qualificationReason","displayName":"qualificationReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastUpdate","displayName":"lastUpdate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadTitle","displayName":"leadTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchPosition","displayName":"searchPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadDescription","displayName":"leadDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedinFullName","displayName":"LinkedinFullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinHeadline","displayName":"linkedinHeadline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinSummary","displayName":"linkedinSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompany","displayName":"currentCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompanyPosition","displayName":"currentCompanyPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"positionDescription1","displayName":"positionDescription1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website1","displayName":"website1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website2","displayName":"website2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mainEmail","displayName":"mainEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail01","displayName":"thirdPartyEmail01","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail02","displayName":"thirdPartyEmail02","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail03","displayName":"thirdPartyEmail03","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail04","displayName":"thirdPartyEmail04","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"validEmail","displayName":"validEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"emailValid","displayName":"emailValid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"iceBreaker","displayName":"iceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pain","displayName":"pain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"elevatorPitch","displayName":"elevatorPitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cta","displayName":"cta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ps","displayName":"ps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"businessSummary","displayName":"businessSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3580,1220],"id":"ae43ffb2-567a-4323-adcd-853e8f8766a6","name":"Valid Email1","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"content":"## Find Contact from domain","height":860,"width":2480,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1320,1260],"typeVersion":1,"id":"79064420-25d2-4834-b3d2-a98be67f9c2d","name":"Sticky Note1"},{"parameters":{"content":"## Validate Scraped Email\nCount 3 attempts with HTTP request timeout, then try next email address","height":900,"width":1240},"type":"n8n-nodes-base.stickyNote","position":[840,80],"typeVersion":1,"id":"f7575f91-3d90-4745-be18-01d97acc2262","name":"Sticky Note2"},{"parameters":{"content":"- Need to limit results\n- Choose best fit (ai?)\n- Update all valid to sheet?"},"type":"n8n-nodes-base.stickyNote","position":[3560,1000],"typeVersion":1,"id":"ef0dda2e-cafe-4943-8e63-6083d96a00ac","name":"Sticky Note3"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"columns":{"mappingMode":"defineBelow","value":{"lastUpdate":"={{ $now }}","memberId":"={{ $node[\"Limit 1\"].json.memberId }}","leadStatus":"Email findContact Error"},"matchingColumns":["memberId"],"schema":[{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadStatus","displayName":"leadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"idPath","displayName":"idPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"memberId","displayName":"memberId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadQualified","displayName":"leadQualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qualificationReason","displayName":"qualificationReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastUpdate","displayName":"lastUpdate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadTitle","displayName":"leadTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchPosition","displayName":"searchPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadDescription","displayName":"leadDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedinFullName","displayName":"LinkedinFullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinHeadline","displayName":"linkedinHeadline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinSummary","displayName":"linkedinSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompany","displayName":"currentCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompanyPosition","displayName":"currentCompanyPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"positionDescription1","displayName":"positionDescription1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website1","displayName":"website1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website2","displayName":"website2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mainEmail","displayName":"mainEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail01","displayName":"thirdPartyEmail01","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail02","displayName":"thirdPartyEmail02","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail03","displayName":"thirdPartyEmail03","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail04","displayName":"thirdPartyEmail04","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"validEmail","displayName":"validEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailValid","displayName":"emailValid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"iceBreaker","displayName":"iceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pain","displayName":"pain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"elevatorPitch","displayName":"elevatorPitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cta","displayName":"cta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ps","displayName":"ps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"businessSummary","displayName":"businessSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3280,1020],"id":"56eed1d0-6013-4208-8ea7-5ed7daad4cc6","name":"VerifyEmailList Error1","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1680,680],"id":"fc0f632a-b88b-4deb-9292-bdca43b5ed21","name":"Limit"},{"parameters":{"amount":6},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1560,-60],"id":"757d9277-f9b3-4a0d-969e-e30992f85aa9","name":"Wait 6sec","webhookId":"e22bbe74-ead5-457e-9ffb-699601ea6943"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"columns":{"mappingMode":"defineBelow","value":{"memberId":"={{ $node[\"Limit 1\"].json.memberId }}","lastUpdate":"={{ $now }}","leadStatus":"Email verifyEmail Error","notes":"Verify email timeout error"},"matchingColumns":["memberId"],"schema":[{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadStatus","displayName":"leadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"idPath","displayName":"idPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"memberId","displayName":"memberId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadQualified","displayName":"leadQualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qualificationReason","displayName":"qualificationReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastUpdate","displayName":"lastUpdate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadTitle","displayName":"leadTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchPosition","displayName":"searchPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadDescription","displayName":"leadDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedinFullName","displayName":"LinkedinFullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinHeadline","displayName":"linkedinHeadline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinSummary","displayName":"linkedinSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompany","displayName":"currentCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompanyPosition","displayName":"currentCompanyPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"positionDescription1","displayName":"positionDescription1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website1","displayName":"website1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website2","displayName":"website2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mainEmail","displayName":"mainEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail01","displayName":"thirdPartyEmail01","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail02","displayName":"thirdPartyEmail02","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail03","displayName":"thirdPartyEmail03","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail04","displayName":"thirdPartyEmail04","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"validEmail","displayName":"validEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailValid","displayName":"emailValid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"iceBreaker","displayName":"iceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pain","displayName":"pain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"elevatorPitch","displayName":"elevatorPitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cta","displayName":"cta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ps","displayName":"ps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"businessSummary","displayName":"businessSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2160,20],"id":"b0f21410-6eb0-4709-be2f-28581067a9f6","name":"Time Out Error","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"options":{"reset":true}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-40,780],"id":"debd3ab9-1f76-4a5b-9df7-5e9c8a6ed80d","name":"Batch 1","executeOnce":false},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2500,1060],"id":"a6c3e020-4061-4f71-a035-6d8dba9a7de1","name":"Wait 2 sec","webhookId":"22d2727d-59f2-4379-9be9-65582a80a941","executeOnce":true,"alwaysOutputData":true}],"connections":{"Extract Emails":{"main":[[{"node":"Loop 2 (1 per time)","type":"main","index":0}]]},"Verify Email":{"main":[[{"node":"Check Validity","type":"main","index":0}],[{"node":"Time Out Error","type":"main","index":0}]]},"Check Validity":{"main":[[{"node":"Valid Email","type":"main","index":0}],[{"node":"Wait 3 Sec","type":"main","index":0}]]},"Loop 2 (1 per time)":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Verify Email","type":"main","index":0}]]},"Limit 1":{"main":[[{"node":"Email Exists","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Status: Validate Email Address","type":"main","index":0}]]},"Wait 3 Sec":{"main":[[{"node":"Loop 2 (1 per time)","type":"main","index":0}]]},"memberId":{"main":[[{"node":"Limit 1","type":"main","index":0}],[{"node":"No Member ID","type":"main","index":0}]]},"Email Exists":{"main":[[{"node":"Extract Emails","type":"main","index":0}],[{"node":"No Email","type":"main","index":0}]]},"Status: Validate Email Address":{"main":[[{"node":"memberId","type":"main","index":0}]]},"Website Exists":{"main":[[{"node":"Code","type":"main","index":0}],[]]},"Loop Over 1":{"main":[[{"node":"Invalid Email","type":"main","index":0}],[{"node":"Clean Domain","type":"main","index":0}]]},"Clean Domain":{"main":[[{"node":"findContact","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over 1","type":"main","index":0}]]},"findContact":{"main":[[{"node":"Confidence","type":"main","index":0}],[{"node":"VerifyEmailList Error1","type":"main","index":0}]]},"Verify Email1":{"main":[[{"node":"Check Validity1","type":"main","index":0}],[{"node":"VerifyEmailList Error1","type":"main","index":0}]]},"Check Validity1":{"main":[[{"node":"Valid Email1","type":"main","index":0}],[{"node":"Wait 3 sec","type":"main","index":0}]]},"Wait 3 sec":{"main":[[{"node":"Loop Over 1","type":"main","index":0}]]},"Confidence":{"main":[[{"node":"Verify Email1","type":"main","index":0}],[{"node":"Wait 3 sec","type":"main","index":0}]]},"Valid Email1":{"main":[[]]},"Limit":{"main":[[{"node":"No Email","type":"main","index":0}]]},"Wait 6sec":{"main":[[]]},"No Email":{"main":[[]]},"Valid Email":{"main":[[]]},"Time Out Error":{"main":[[]]},"No Member ID":{"main":[[]]},"Batch 1":{"main":[[],[]]},"Wait 2 sec":{"main":[[{"node":"Batch 1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Zurich","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8xhzkyv362CgoE4n"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c0a7112a-632f-4a69-9983-6acd166a4116","triggerCount":1,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"}]}