-email-reply---write-draft-BDCJVsi3jaUbKGgC.json
{"createdAt":"2025-03-23T15:36:54.414Z","updatedAt":"2025-05-02T09:08:39.238Z","id":"BDCJVsi3jaUbKGgC","name":"7 | COLD EMAIL // Email Reply - Write draft","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"91ca1d8e-2fb3-427b-a8b5-87c4979d2955","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[740,0],"id":"dd6aabf3-2462-4b34-a6e1-91e8b981fddc","name":"Loop Over Items"},{"parameters":{"operation":"removeLabels","messageId":"={{ $json.message.threadId }}","labelIds":["Label_1618551244319322660"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1560,0],"id":"55bdc189-19cc-48b0-a5df-c8c7392596c2","name":"Remove Label: 'Draft'","webhookId":"25fac0a9-7876-46c8-bf90-6ba61c99dc38","credentials":{"gmailOAuth2":{"id":"aGIhhmwmH2VK328i","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are an intelligent and helpful writing assistant.","role":"system"},{"content":"Your task is to write a draft email.\n\nYou'll do this by taking, as input, the email snippet and responding using the examples provided.\n\n#Context\nThis is similar to the original cold email that was sent to the lead:\nSubject Line: \"hey {firstName}, think I have something for you re: {thingAboutThem}\" \n\nIcebreaker: \"I know you're doing {thing} and I've been {followingInterested} in {relatedThing} for a while so I figured it made sense to chat.\"\n\nPain: “Curious - do you have old {leads}, who didn’t convert to your high ticket offer? Like webinar attendees, low-ticket customers, or other campaigns.\n\nElevator Pitch: \"The TLDR: I think I can convert them into 10-40 qualified appts every 7 days to {BoostRevenueLessTime} with a few automated systems.\"\n\nCall to Action: \"Just did this for a very similar {Industry} company and they do {relatedThing} and got great results, so am very confident this would work for you.\n\nIf it’s not a fit in 30 days, you don’t pay.”\n\nPS: \"even if we just chat I'd love to hear about what you're doing with {thing}\"\n\n\n\n#Important Links\nCall booking link: https://cal.com/northflow/high-ticket-coaches-and-consultants\nLanding page with more info: https://northflowai.webflow.io/high-ticket\n\n\n#Lead Process\nGuage where the lead is at and, if they're interested, these key steps to move forward:\n- Qualify (rough number of old contacts)\n- Move to demo asap\n\n\n#Rules\n- Reply with the lead name\n- Your tone of voice should be \"casual bar conversation\" and very spartan. No fancy language.\n- Use the ACA framework: Acknowledge, compliment, ask\n- Avoid using ™, ©, or other signs that look copy and pasted.\n- Never use — (em dash)\n- Respond in JSON using this format:\n\n{\"draftReply\":\"\"}\n"},{"content":"=#Examples\nBelow you will find the examples, formatted in:\n- Email Snippet\n- Draft Reply\n\n\n----------------\n\n\nEmail Snippet:\n\n\"I'm open to chat\"\n\n\nDraft Reply:\n\nThat sounds great {name]! Feel free to book a time that works best for you:\n\nhttps://cal.com/northflow/high-ticket-coaches-and-consultants\n\nLet me know if you have any questions - looking forward to chatting soon.\n\n\n----------------\n\n\nEmail Snippet:\n\n\"Hello Rich,\nWe would like to learn more.  Can you please send links to video, terms, etc. in advance of scheduling a call?\"\n\n\nDraft Reply:\n\nHi {name},\n\nNo problem - here’s a quick overview of what we’re doing: https://northflowai.webflow.io/high-ticket\n\nSince every business is different, we customize the automation to fit your needs so our terms depend on a few things, including:\n\n* How many past leads you have\n* If you have phone numbers and/or emails\n* Will the system be evergreen or a one-off campaign\n* Any software we may need to integrate with\n\nMost of our partners start seeing qualified appointments within a few days of going live and positive ROI within the first few weeks.\n\nThat said, if it's not working in 30 days, you'll get a full refund. \n\nIf you like, I can put together a custom demo so you can see exactly how it would work for {company}?\n\n\n\n\n----------------\n\n\nEmail Snippet:\n\n\"Good morning and thank you for your email Rich,\n\nI’m gonna pass at this time… I’m blessed to have a full active client list and a full waiting list of prospects interested in working with me.\n\nI will keep your information and contact you in the future if anything changes\n\nBest wishes!\n\nBrett\"\n\n\n\nDraft Reply:\n\nThat’s amazing to hear, Brett! \n\nAppreciate you letting me know. \n\nIf anything changes, or if you're thinking to launch an online course and want to drive traffic and book calls on autopilot - without hiring more people, then it might be worth a quick chat.\n\nThanks!\nRich\n\n\n------------------\n\n\nEmail Snippet:\n\n\"Hello Rich,\n\nPlease tell me a little more about your business, and how you heard about ours.\"\n\n\nDraft Reply:\n\nI found you on LinkedIn but hit my connection limit - drives me crazy!\n\nI used to be in the coaching space, so I know how hard it is to stay consistent with outreach, follow ups, booking calls, and upsells while juggling everything else. That’s exactly what we solve.\n\nWe handle all of the repetitive, time consuming work, and we turn old leads (like webinar attendees, past inquiries, and low-ticket buyers) into qualified, booked, high-ticket sales calls - so all you or your closer need to do is show up.\n\nWould love to see if this could be a fit.\n\nAre you fully booked right now or looking to bring on more high-ticket clients?\n\n\n----------------\n\n\nEmail Snippet:\n\n\"Oh understood.  Well, this is Kimberly, Ms. Hicks' assistant. I will certainly forward your email to her.  Just to let you know, we generally get our business through referrals so to my knowledge having an appointment setter isn't something we are usually in need of. \"\n\n\nDraft Reply:\n\nAwesome, thanks Kimberly - I appreciate it.\n\nMany of our partners also rely on referrals but have found that having a system in place to engage and follow up with potential clients helps them maximize opportunities.\n\nIt really just comes down to whether there’s capacity to take on more work.\n\nThanks again for your time!\n\nRich\n\n\n----------------\n\n\nEmail Thread Snippet 01:\n\n\"No we're good, thanks\"\n\n\nDraft Reply:\n\nNo problem {name}, thanks for letting me know.\n\nIf you don’t mind sharing, are you fully booked, or is there another reason this isn’t the right fit right now?\n\n\n\nEmail Thread Snippet 02:\n\n\"Fully booked\"\n\n\nDraft Reply:\n\nAwesome to hear! Thanks\n{Add something about future… increase revenue with increasing work/team}\n\n\n\nEmail Thread Snippet 03:\n\n\"Actually, we still have some slots available for this program\"\n\n\nDraft Reply:\n\nThanks for sharing the link - looks like a great offer!\n\nIf you’re looking to fill up the program, then it could be worth running a campaign.\n\nDo you have a rough idea of how many past contacts you have from low-ticket customers, webinars, or ad campaigns?\n\nIf you’re curious, I can send over a short  demo video so you can see how it would work or hop on a quick call - whichever you prefer.\n\n\n\nEmail Thread Snippet 04:\n\n\"Nope.. Never did SMS because I am with clients.  May try it with AI in the future.\n\nJoe\"\n\n\nDraft Reply:\n\nMakes sense, thanks for the update.\n\nEmail works great too - we just ran an email campaign that generated 48 new clients from 948 old webinar leads.\n\nWe’re signing up a few more partners before rolling out a new setup fee next month. If you wanted to run a test, I can get you in under the current terms - but no pressure if now isn’t the right time.\n\nIf you're curious, I can send over a quick demo video for you?\n\nRich\n\n\n\nEmail Thread Snippet 05:\n\n\"Send me over the investment rates..\"\n\n\nDraft Reply:\n\nStarting next month, the setup fee will range from $3K-$10K, depending on the complexity of the automation.\n\nRight now, there’s no setup fee - we just charge $450/month for managing and optimizing the system, plus a 20-40% commission, depending on the complexity.\n\nLooking at your {training/program/offer} sales page, the easiest way to track conversions would be with a custom coupon at checkout.\n\nDo you know roughly how many contacts are on your email list?\n\n{If mentioning price, mention benefit - done for you, support, 24/7 operation, scaling revenue with growing team, spending less time}"},{"content":"=Email snippet: {{ $json.snippet }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[960,0],"id":"b318bead-8fed-4429-a2af-117e0cf83fa8","name":"Draft Email Writer","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"resource":"draft","subject":"=Re: {{ $('Loop Over Items').item.json.Subject }}","message":"={{ $json.message.content.draftReply }}","options":{"threadId":"={{ $('Loop Over Items').item.json.threadId }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1340,0],"id":"899e6f3e-4d73-4181-9019-f7acbf8773ca","name":"Create Draft","webhookId":"39e08174-a157-41dc-8029-2e6b46b74efc","credentials":{"gmailOAuth2":{"id":"aGIhhmwmH2VK328i","name":"Gmail account"}}},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"labelIds":["Label_8481291354287330772"]}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[220,0],"id":"4c2e55f5-1eb4-4fd3-b72a-26fa19e5cf88","name":"Filter Coach/Consultant","webhookId":"35db1cc8-ab49-4210-8255-63f706010001","credentials":{"gmailOAuth2":{"id":"aGIhhmwmH2VK328i","name":"Gmail account"}}},{"parameters":{"operation":"getAll","filters":{"labelIds":["Label_1618551244319322660"]}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[520,0],"id":"5910274f-cf8d-4688-9f5f-fb46d9288c42","name":"Filter: Draft","webhookId":"35db1cc8-ab49-4210-8255-63f706010001","credentials":{"gmailOAuth2":{"id":"aGIhhmwmH2VK328i","name":"Gmail account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Filter Coach/Consultant","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Draft Email Writer","type":"main","index":0}]]},"Draft Email Writer":{"main":[[{"node":"Create Draft","type":"main","index":0}]]},"Create Draft":{"main":[[{"node":"Remove Label: 'Draft'","type":"main","index":0}]]},"Remove Label: 'Draft'":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter Coach/Consultant":{"main":[[{"node":"Filter: Draft","type":"main","index":0}]]},"Filter: Draft":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Zurich","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8xhzkyv362CgoE4n"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8f68c0d1-0c8c-406c-aede-2e992deb9c53","triggerCount":1,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"}]}