-generate-serp-string-p7Ns0Fa6kkLfeSZn.json
{"createdAt":"2025-05-04T12:56:37.519Z","updatedAt":"2025-05-04T16:36:42.541Z","id":"p7Ns0Fa6kkLfeSZn","name":"1.1 | COLD EMAIL // Generate SERP String","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":293223305,"mode":"list","cachedResultName":"URL Strings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=293223305"},"event":"rowUpdate","options":{"columnsToWatch":["status"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-120,460],"id":"4167a846-8e97-4a80-9e59-50093c2e9748","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"tREYvs7IdQO92OC6","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5fa77e43-c7c6-4ac2-87b6-5640ed93b29e","leftValue":"={{ $json.status }}","rightValue":"=Generate String","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[60,460],"id":"45ffef12-2a1b-4794-b959-02b5e96aa0fe","name":"Filter"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1060,440],"id":"4c2e399a-f753-41c1-96ea-63f39866f905","name":"5 sec","webhookId":"00b7020f-1aa9-45c1-9298-79b535dc76bb"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're an intelligent and helpful assistant.","role":"system"},{"content":"You're task is to take the input variables and create a valid Google Search String.\n\n\nExample:\n\nVariables:\n- Country: UK\n- City: London\n- Niche: Health Insurance\n- Keywords: CEO, Director, Principal, Managing Director\n\nGoogle Search String {searchURL}: \nsite:uk.linkedin.com/in (\"CEO\" OR \"Director\" OR \"Principal\" OR \"Managing Director\") \"Health Insurance\" \"London\"\n\n\nRules:\nIf the country is UK then search: uk.linkedin.com/in\nIf the country is US then search: linkedin.com/in\n\nEnsure the spelling and keyword/phrases are correct for the country. (e.g. UK often us \"S\" and US \"Z\")\n\nAlways output valid JSON as: {\"searchURL\":\"Google Search String\"}"},{"content":"=Variables:\n- Country: {{ $json.country }}\n- City: {{ $json.city }}\n- Niche: {{ $json.niche }}\n- Keywords: {{ $json.keywords }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[500,380],"id":"30a406ac-f21b-400f-8cac-d92d30c2e8e6","name":"Generate string","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[260,460],"id":"d313f539-ca65-4e96-9527-b742ac874a9c","name":"Batch 1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":293223305,"mode":"list","cachedResultName":"URL Strings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=293223305"},"columns":{"mappingMode":"defineBelow","value":{"searchUrl":"={{ $json.message.content.searchURL }}","status":"Start Scrape","ID":"={{ $('Batch 1').item.json.ID }}"},"matchingColumns":["ID"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Follower","displayName":"Follower","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tag","displayName":"tag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchUrl","displayName":"searchUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[840,380],"id":"8768c171-3c40-4d91-9f6d-12f32d8d66d8","name":"Update: URL String","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"5 sec":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"Generate string":{"main":[[{"node":"Update: URL String","type":"main","index":0}]]},"Batch 1":{"main":[[],[{"node":"Generate string","type":"main","index":0}]]},"Update: URL String":{"main":[[{"node":"5 sec","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Zurich","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8xhzkyv362CgoE4n"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","sheetId":293223305,"lastRevision":9459,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc&revision=9459&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"720a812c-394a-4c97-a82d-ab68ce0b2869","triggerCount":1,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"}]}