-google-serp-scraper-(apify)-NnkiwoI2SLw9l53i.json
{"createdAt":"2025-05-02T08:52:21.395Z","updatedAt":"2025-05-07T12:49:02.402Z","id":"NnkiwoI2SLw9l53i","name":"1 | LINKEDHELPER // Google SERP Scraper (Apify)","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ","mode":"list","cachedResultName":"LinkedHelper | Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1505911218,"mode":"list","cachedResultName":"LinkedHelper | URL Strings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ/edit#gid=1505911218"},"event":"rowUpdate","options":{"columnsToWatch":["status"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[60,460],"id":"30f61d51-e6e1-453f-8d5d-595d83ecc205","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"tREYvs7IdQO92OC6","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5fa77e43-c7c6-4ac2-87b6-5640ed93b29e","leftValue":"={{ $json.status }}","rightValue":"=Start Scrape","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[240,460],"id":"2c73f37d-82d4-4993-afa7-3574b2642135","name":"Filter"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/nFJndFXA5zjCTuudP/runs","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"forceExactMatch\": false,\n    \"includeIcons\": false,\n    \"includeUnfilteredResults\": false,\n    \"maxPagesPerQuery\": 20,\n    \"mobileResults\": false,\n    \"queries\": {{ JSON.stringify($json.searchUrl) }},\n    \"resultsPerPage\": 50,\n    \"saveHtml\": false,\n    \"saveHtmlToKeyValueStore\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,600],"id":"3ba6eeda-0879-4aba-83c7-c112a00b4e7a","name":"Run Apify Actor","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"waitForFinish","value":"60"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,600],"id":"f12cca7f-12e3-40c9-ae45-831e18cf7d52","name":"Get Actor Run","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,600],"id":"ae5f82ad-bcd5-4197-a45d-8fdb73ed1638","name":"get Dataset","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"fieldToSplitOut":"organicResults","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1260,600],"id":"f478619e-e7b2-4085-9c30-78f98f6d856d","name":"Split Out"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ","mode":"list","cachedResultName":"LinkedHelper | Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":422849710,"mode":"list","cachedResultName":"LinkedHelper | CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ/edit#gid=422849710"},"columns":{"mappingMode":"defineBelow","value":{"linkedinUrl":"={{ $json.url }}","leadStatus":"Qualify Lead (Manual)","idPath":"={{ $json.idPath }}","lastUpdate":"={{ $now }}","leadTitle":"={{ $json.title }}","searchPosition":"={{ $json.position }}","followers":"={{ $json.message.content.convertedFollowers }}","leadDescription":"={{ $json.description }}","country":"={{ $('Limit 1').item.json.country }}","state":"={{ $('Limit 1').item.json.state }}","city":"={{ $('Limit 1').item.json.city }}","niche":"={{ $('Limit 1').item.json.niche }}","keywords":"={{ $('Limit 1').item.json.keywords }}"},"matchingColumns":[],"schema":[{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadStatus","displayName":"leadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"uniqueID","displayName":"uniqueID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"idPath","displayName":"idPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastUpdate","displayName":"lastUpdate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadTitle","displayName":"leadTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"searchPosition","displayName":"searchPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadDescription","displayName":"leadDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedinFullName","displayName":"LinkedinFullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post01Text","displayName":"post01Text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post01Type","displayName":"post01Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post01Time","displayName":"post01Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post01Url","displayName":"post01Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post02Text","displayName":"post02Text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post02Type","displayName":"post02Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post02Time","displayName":"post02Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post02Url","displayName":"post02Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"iceBreaker","displayName":"iceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1540,1040],"id":"b48a4534-3a26-4509-9ace-8d054e6cc7c9","name":"Update CRM","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"batchSize":30,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[100,1000],"id":"a0f0a2f4-6110-4581-832b-8eb51177cba7","name":"Loop Batch 30"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"idPath","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1140,1040],"id":"9cd3a5b0-57ca-4115-9b03-83e59f25f1c6","name":"Remove Duplicates: Current","notesInFlow":false,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","dedupeValue":"={{ $('Extract idPath').item.json.idPath }}","options":{"scope":"workflow","historySize":100000}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1340,1040],"id":"b47e57b2-9b17-40db-9593-a4f1833b70aa","name":"Remove Duplicates: Previous","alwaysOutputData":true},{"parameters":{"content":"## Clear Duplicate Database","height":400,"width":340,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-140,-200],"typeVersion":1,"id":"3f2c52ba-740a-4299-9308-0a6121625658","name":"Sticky Note"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ","mode":"list","cachedResultName":"LinkedHelper | Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1505911218,"mode":"list","cachedResultName":"LinkedHelper | URL Strings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ/edit#gid=1505911218"},"columns":{"mappingMode":"defineBelow","value":{"status":"Complete","searchUrl":"={{ $('Limit 1').item.json.searchUrl }}"},"matchingColumns":["searchUrl"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"urlResults","displayName":"urlResults","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"filteredResults","displayName":"filteredResults","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchUrl","displayName":"searchUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[500,860],"id":"6bc1aec4-cee9-4718-94ad-7d830c3a3cbe","name":"Update: URL Strings","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[420,460],"id":"9758775b-23e1-49a2-8725-8454a7d9fbf4","name":"Limit 1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1740,1120],"id":"c0f6f681-d709-4028-a445-fbdf3428515c","name":"5 sec","webhookId":"1318cb90-232b-4b2f-abee-4e18f33c08ae"},{"parameters":{"assignments":{"assignments":[{"id":"26997506-ffd6-4fdb-9eaa-6d024b14ea15","name":"idPath","value":"={{ $json.url.split('/in/')[1].split('/')[0] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,600],"id":"beb598d6-12ae-43ea-b25d-12aaebe3e373","name":"Extract idPath"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"idPath","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1280,-60],"id":"dff2290e-2a9a-4c19-8282-7b10ffe86785","name":"Remove Duplicates: Current1","notesInFlow":false,"alwaysOutputData":true},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","dedupeValue":"={{ $json.idPath }}","options":{"scope":"workflow","historySize":100000}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1480,-60],"id":"ace5696a-dc00-400c-a6cd-8756e4d16d8f","name":"Remove Duplicates: Previous1","alwaysOutputData":true},{"parameters":{"documentId":{"__rl":true,"value":"1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ","mode":"list","cachedResultName":"LinkedHelper | Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":422849710,"mode":"list","cachedResultName":"LinkedHelper | CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ/edit#gid=422849710"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,-60],"id":"39b5ea2e-23f2-4a90-897a-7aa049b2c0b7","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"045dbfb9-cf50-43e7-ab61-5a278fdf5186","leftValue":"={{ $json.idPath }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[800,-60],"id":"082c1291-b15c-40ee-bed1-657ece45b004","name":"Filter1"},{"parameters":{"batchSize":50,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1060,-60],"id":"9fddf157-fd3f-47f0-9893-05f6f5fff1da","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[440,-60],"id":"1778921b-a251-4a59-882a-0605d1fc4222","name":"When clicking ‘Test workflow’"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[300,860],"id":"ff020af9-7f6d-4a33-b27f-0a4322e2e5f2","name":"Limit"},{"parameters":{"operation":"clearDeduplicationHistory","options":{"scope":"workflow"}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-40,-40],"id":"f41ac17b-9c94-4c22-8ac7-542d1f4939c0","name":"Clear History"},{"parameters":{"content":"## Rebuild duplicate database","height":400,"width":1520,"color":5},"type":"n8n-nodes-base.stickyNote","position":[260,-200],"typeVersion":1,"id":"b1ce010a-eb1b-4386-8a16-a83bc8a31696","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"9a1772c2-5422-4144-bc12-bfce5df9788d","leftValue":"={{ $json.message.content.convertedFollowers }}","rightValue":10000,"operator":{"type":"number","operation":"gt"}},{"id":"a76ccf33-00e8-4b6f-9de0-94f524b6682f","leftValue":"={{ $json.message.content.convertedFollowers }}","rightValue":70000,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[920,1040],"id":"22d53ffd-f663-4fb3-b7b6-306c989742fb","name":"10k-70k Followers","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1380,1360],"id":"e506a76f-f661-4307-83ee-74fe044e59ad","name":"No idPath"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"You are a helpful and intelligent assistant.","role":"system"},{"content":"Your task is to convert the followersAmount into a valid number format.\n\nExamples:\n\n345+ followers = 345\n\n5K+ followers = 5000\n\n24.9k followers = 24900\n\n\nRules:\n\nAlways output in JSON format: {idPath: \"\", convertedFollowers: \"\"}"},{"content":"=idPath: {{ $json.idPath }}\nfollowersAmount:  {{ $json.followersAmount }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[300,1140],"id":"d076e266-0375-4119-a12f-ef5ad21e08b0","name":"Follower Conversion","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[680,1040],"id":"05d0438c-53b6-400a-bcab-8073839cf6dd","name":"Merge"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Limit 1","type":"main","index":0}]]},"Run Apify Actor":{"main":[[{"node":"Get Actor Run","type":"main","index":0}]]},"Get Actor Run":{"main":[[{"node":"get Dataset","type":"main","index":0}]]},"get Dataset":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Extract idPath","type":"main","index":0}]]},"Update CRM":{"main":[[{"node":"5 sec","type":"main","index":0}]]},"Loop Batch 30":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Follower Conversion","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Remove Duplicates: Current":{"main":[[{"node":"Remove Duplicates: Previous","type":"main","index":0}],[{"node":"No idPath","type":"main","index":0}]]},"Remove Duplicates: Previous":{"main":[[{"node":"Update CRM","type":"main","index":0}]]},"Limit 1":{"main":[[{"node":"Run Apify Actor","type":"main","index":0}]]},"5 sec":{"main":[[{"node":"Loop Batch 30","type":"main","index":0}]]},"Extract idPath":{"main":[[{"node":"Loop Batch 30","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Remove Duplicates: Current1":{"main":[[{"node":"Remove Duplicates: Previous1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Remove Duplicates: Current1","type":"main","index":0}]]},"Remove Duplicates: Previous1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Update: URL Strings","type":"main","index":0}]]},"10k-70k Followers":{"main":[[{"node":"Remove Duplicates: Current","type":"main","index":0}]]},"Follower Conversion":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"10k-70k Followers","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Zurich","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8xhzkyv362CgoE4n"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","sheetId":293223305,"lastRevision":9459,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc&revision=9459&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"366e2388-d468-45d4-aeb0-c1cce5ab91d6","triggerCount":1,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:51:51.885Z","updatedAt":"2025-05-02T08:51:51.885Z","id":"wZCP1OBnOaDaUxGo","name":"Linked-Helper"}]}