-google-serp-scraper-(apify)-IifA3KkflyUDxjPU.json
{"createdAt":"2025-03-23T15:41:08.845Z","updatedAt":"2025-05-07T10:30:06.955Z","id":"IifA3KkflyUDxjPU","name":"1.2 | COLD EMAIL // Google SERP Scraper (Apify)","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":293223305,"mode":"list","cachedResultName":"Coach - URL Strings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=293223305"},"event":"rowUpdate","options":{"columnsToWatch":["status"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-120,460],"id":"931ab802-0f8a-40c3-a975-6afade18414e","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"tREYvs7IdQO92OC6","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5fa77e43-c7c6-4ac2-87b6-5640ed93b29e","leftValue":"={{ $json.status }}","rightValue":"=Start Scrape","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[60,460],"id":"e5ba9b09-8851-436f-91ee-2af14b6a5c6e","name":"Filter"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/nFJndFXA5zjCTuudP/runs","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"forceExactMatch\": false,\n    \"includeIcons\": false,\n    \"includeUnfilteredResults\": false,\n    \"maxPagesPerQuery\": 20,\n    \"mobileResults\": false,\n    \"queries\": {{ JSON.stringify($json.searchUrl) }},\n    \"resultsPerPage\": 50,\n    \"saveHtml\": false,\n    \"saveHtmlToKeyValueStore\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,600],"id":"8a93b71c-93fd-4d3e-b475-a23931166ac9","name":"Run Apify Actor","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"waitForFinish","value":"60"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,600],"id":"13fbead6-f408-4771-ba8a-c9fd80b28982","name":"Get Actor Run","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,600],"id":"54dde13e-74ec-4f29-94c6-52ebb077c733","name":"get Dataset","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"fieldToSplitOut":"organicResults","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1080,600],"id":"ca424a65-6b19-4bb1-8b56-f089126f875f","name":"Split Out"},{"parameters":{"content":"- Check larger Aplify batches are still good results.\n\n- URL Strings not updating with  'Complete'\n\n- How to loop over initial URL strings pulled from google sheets? YouTube...","height":280},"type":"n8n-nodes-base.stickyNote","position":[2700,-60],"typeVersion":1,"id":"a8c40b34-c41a-490f-9775-6da31266ad66","name":"Sticky Note2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"columns":{"mappingMode":"defineBelow","value":{"linkedinUrl":"={{ $json.url }}","leadTitle":"={{ $json.title }}","searchPosition":"={{ $json.position }}","leadDescription":"={{ $json.description }}","followers":"={{ $json.message.content.convertedFollowers }}","country":"={{ $('Google Sheets Trigger').item.json.country }}","keywords":"={{ $('Google Sheets Trigger').item.json.keywords }}","state":"={{ $('Google Sheets Trigger').item.json.state }}","niche":"={{ $('Google Sheets Trigger').item.json.niche }}","city":"={{ $('Google Sheets Trigger').item.json.city }}","leadStatus":"New Lead","lastUpdate":"={{ $now}}","idPath":"={{ $json.idPath }}","tag":"={{ $json.message.content.tag }}"},"matchingColumns":["linkedinUrl"],"schema":[{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadStatus","displayName":"leadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"idPath","displayName":"idPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"tag","displayName":"tag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"memberId","displayName":"memberId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastUpdate","displayName":"lastUpdate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadTitle","displayName":"leadTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"searchPosition","displayName":"searchPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadDescription","displayName":"leadDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LinkedinFullName","displayName":"LinkedinFullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadQualified","displayName":"leadQualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qualificationReason","displayName":"qualificationReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinHeadline","displayName":"linkedinHeadline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinSummary","displayName":"linkedinSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompany","displayName":"currentCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompanyPosition","displayName":"currentCompanyPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"positionDescription1","displayName":"positionDescription1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website1","displayName":"website1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website2","displayName":"website2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mainEmail","displayName":"mainEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail01","displayName":"thirdPartyEmail01","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail02","displayName":"thirdPartyEmail02","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail03","displayName":"thirdPartyEmail03","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail04","displayName":"thirdPartyEmail04","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"validEmail","displayName":"validEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailValid","displayName":"emailValid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"iceBreaker","displayName":"iceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pain","displayName":"pain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"elevatorPitch","displayName":"elevatorPitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cta","displayName":"cta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ps","displayName":"ps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"businessSummary","displayName":"businessSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1940,960],"id":"638bfc6f-b43a-467a-8878-b392177e8b20","name":"Update CRM","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"batchSize":30,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[520,1020],"id":"f1219fe4-26c7-4875-8ac4-38d85e952b10","name":"Loop Batch 30"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"idPath","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1500,600],"id":"e5f128c9-dfea-4e99-a17f-28a6b054569c","name":"Remove Duplicates: Current","notesInFlow":false},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","dedupeValue":"={{ $('Extract idPath').item.json.idPath }}","options":{"scope":"workflow","historySize":100000}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1740,600],"id":"abc4c2e7-58bd-447e-bd83-dd826469341b","name":"Remove Duplicates: Previous"},{"parameters":{"content":"## Clear Duplicate Database","height":400,"width":340,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-140,-200],"typeVersion":1,"id":"3687ba7f-6d4b-4862-862f-f5f45e4683ed","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[240,460],"id":"365930f2-d9b5-495a-b646-f3879d71affd","name":"Limit 1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2180,1300],"id":"6b4ac905-f5b8-42e9-98d8-c9bfd2e8e613","name":"5 sec","webhookId":"8d2a1fff-192c-43c3-8a72-ef505bce69c4"},{"parameters":{"assignments":{"assignments":[{"id":"26997506-ffd6-4fdb-9eaa-6d024b14ea15","name":"idPath","value":"={{ $json.url.split('/in/')[1].split('/')[0] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1260,600],"id":"85d48be1-7dcd-46c3-988c-7c2d0c03d285","name":"Extract idPath"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"idPath","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1340,-60],"id":"937b5933-a12a-412b-9fb8-2746307d985b","name":"Remove Duplicates: Current1","notesInFlow":false,"alwaysOutputData":true},{"parameters":{"operation":"removeItemsSeenInPreviousExecutions","dedupeValue":"={{ $json.idPath }}","options":{"scope":"workflow","historySize":100000}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[1540,-60],"id":"e9039901-483b-4dab-b2a5-1e6847aa5f8e","name":"Remove Duplicates: Previous1","alwaysOutputData":true},{"parameters":{"documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[680,-60],"id":"f1403dc5-3273-4561-b913-0153a0242c73","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"045dbfb9-cf50-43e7-ab61-5a278fdf5186","leftValue":"={{ $json.idPath }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[860,-60],"id":"bef27ea2-6c1d-4190-b8c2-96cad0e63636","name":"Filter1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[400,-60],"id":"d479907f-b788-42af-886d-298d001b3f54","name":"When clicking ‘Test workflow’"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[820,900],"id":"7e253330-fe71-43da-a274-7fc1722281e4","name":"Limit"},{"parameters":{"operation":"clearDeduplicationHistory","options":{"scope":"workflow"}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-40,-40],"id":"c6b6c036-515f-40ba-9962-a2e785ffe929","name":"Clear History"},{"parameters":{"content":"## Rebuild duplicate database","height":400,"width":1520,"color":5},"type":"n8n-nodes-base.stickyNote","position":[260,-200],"typeVersion":1,"id":"6e4ff5d1-90d5-4e88-876f-dea632ba5516","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"9a1772c2-5422-4144-bc12-bfce5df9788d","leftValue":"={{ $json.convertedFollowers }}","rightValue":2000,"operator":{"type":"number","operation":"gt"}},{"id":"a76ccf33-00e8-4b6f-9de0-94f524b6682f","leftValue":"={{ $json.convertedFollowers }}","rightValue":70000,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1680,860],"id":"e607ae5d-601a-4171-b02f-f859e2d8023b","name":"2k-70k Followers","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content.tag }}","rightValue":"Coach","operator":{"type":"string","operation":"equals"},"id":"c5556c52-0e8d-49f7-8a97-bafe6dddbbf5"}],"combinator":"and"},"renameOutput":true,"outputKey":"Coach"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4838d3c2-a13a-4223-8b58-da884ad22993","leftValue":"={{ $json.message.content.tag }}","rightValue":"Broker","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Broker"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1440,1060],"id":"9344e58a-a464-49d8-a3dc-23c60be62861","name":"Niche","onError":"continueErrorOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"You are a helpful and intelligent assistant.","role":"system"},{"content":"Your task is to convert the followersAmount into a valid number format.\n\nExamples:\n\n345+ followers = 345\n\n5K+ followers = 5000\n\n24.9k followers = 24900\n\n\nRules:\n\nAlways output in JSON format: {idPath: \"\", convertedFollowers: \"\", tag: \"\"}"},{"content":"=idPath: {{ $json.idPath }}\nfollowersAmount:  {{ $json.followersAmount }}\ntag: {{ $('Limit 1').item.json.tag }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[820,1180],"id":"e77bf8cb-ce9d-4471-aa00-68afb50ecba1","name":"Follower Conversion","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"9a1772c2-5422-4144-bc12-bfce5df9788d","leftValue":"={{ $json.message.content.convertedFollowers }}","rightValue":500,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1680,1060],"id":"0d9fe70b-3eb6-428f-a145-8d3659751afb","name":"500+ Followers","alwaysOutputData":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":293223305,"mode":"list","cachedResultName":"URL Strings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=293223305"},"columns":{"mappingMode":"defineBelow","value":{"searchUrl":"={{ $node[\"Limit 1\"].json.searchUrl }}","status":"Complete"},"matchingColumns":["searchUrl"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Follower","displayName":"Follower","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tag","displayName":"tag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchUrl","displayName":"searchUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1020,900],"id":"02ac0e79-f43e-4543-9643-6b47ef4526e3","name":"Update: Status","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1240,1060],"id":"40b79f13-b889-4135-b5d9-a33a6b570181","name":"Merge"},{"parameters":{"batchSize":100,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1120,-60],"id":"03375e90-e739-4414-9cd3-9b2f26b59c8c","name":"Batch 100"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":293223305,"mode":"list","cachedResultName":"URL Strings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=293223305"},"columns":{"mappingMode":"defineBelow","value":{"searchUrl":"={{ $node[\"Limit 1\"].json.searchUrl }}","status":"Error - No Tags"},"matchingColumns":["searchUrl"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Follower","displayName":"Follower","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tag","displayName":"tag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchUrl","displayName":"searchUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1680,1260],"id":"11710b37-f919-4913-bb3b-0b46ca5265c6","name":"Update: Error - no tags","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Limit 1","type":"main","index":0}]]},"Run Apify Actor":{"main":[[{"node":"Get Actor Run","type":"main","index":0}]]},"Get Actor Run":{"main":[[{"node":"get Dataset","type":"main","index":0}]]},"get Dataset":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Extract idPath","type":"main","index":0}]]},"Update CRM":{"main":[[{"node":"5 sec","type":"main","index":0}]]},"Loop Batch 30":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Follower Conversion","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Remove Duplicates: Current":{"main":[[{"node":"Remove Duplicates: Previous","type":"main","index":0}]]},"Remove Duplicates: Previous":{"main":[[]]},"Limit 1":{"main":[[{"node":"Run Apify Actor","type":"main","index":0}]]},"5 sec":{"main":[[{"node":"Loop Batch 30","type":"main","index":0}]]},"Extract idPath":{"main":[[{"node":"Loop Batch 30","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Batch 100","type":"main","index":0}]]},"Remove Duplicates: Current1":{"main":[[{"node":"Remove Duplicates: Previous1","type":"main","index":0}]]},"Remove Duplicates: Previous1":{"main":[[{"node":"Batch 100","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Update: Status","type":"main","index":0}]]},"2k-70k Followers":{"main":[[{"node":"Update CRM","type":"main","index":0}]]},"Niche":{"main":[[{"node":"2k-70k Followers","type":"main","index":0}],[{"node":"500+ Followers","type":"main","index":0}],[{"node":"Update: Error - no tags","type":"main","index":0}]]},"Follower Conversion":{"main":[[{"node":"Merge","type":"main","index":1}]]},"500+ Followers":{"main":[[{"node":"Update CRM","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Niche","type":"main","index":0}]]},"Batch 100":{"main":[[],[{"node":"Remove Duplicates: Current1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Zurich","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8xhzkyv362CgoE4n"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","sheetId":293223305,"lastRevision":9459,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc&revision=9459&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"962d73b5-7e2e-4032-87c2-f8abdcc495d6","triggerCount":1,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"}]}