-logistics---(website-scrape)-icebreaker-system-oYzF0cuuCSjlycPU.json
{"createdAt":"2025-05-08T16:20:11.819Z","updatedAt":"2025-05-17T08:46:40.537Z","id":"oYzF0cuuCSjlycPU","name":"2.1 APOLLO // Logistics - (Website Scrape) Icebreaker System","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"83e73434-3af7-4e10-9e46-a7ae044a4043","name":"Remove Duplicate URLs","type":"n8n-nodes-base.removeDuplicates","position":[2260,300],"typeVersion":1.1},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-780,80],"id":"bdda92c7-cf01-4128-b48b-6a1c5f08f6eb","name":"When clicking ‘Test workflow’"},{"parameters":{"fieldToSplitOut":"links","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[980,200],"id":"ce800f74-da82-4214-8452-ee32fdc0c6fa","name":"Split Out","alwaysOutputData":true},{"parameters":{"url":"={{ $('Batch 1').item.json.organization_website_url }}{{ $json.cleanLink }}","options":{}},"id":"49dc1b87-8baa-4150-a6e7-9121bc2f850c","name":"Request web page for URL","type":"n8n-nodes-base.httpRequest","position":[2500,300],"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"html":"={{ $json.data ? $json.data : \"<div>empty</div>\" }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[2700,300],"id":"1e4124ab-fe74-4036-af5e-e040e539be57","name":"Markdown"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're a helpful, intelligent website scraping assistant.","role":"system"},{"content":"You're provided a Markdown scrape of a website page. Your task is to provide a two-paragraph abstract of what this page is about.\n\nReturn in this JSON format:\n\n{\"abstract\":\"your abstract goes here\"}\n\nRules:\n- Your extract should be comprehensive—similar level of detail as an abstract to a published paper.\n- Use a straightforward, spartan tone of voice.\n- If it's empty, just say \"no content\"."},{"content":"={{ $json.data }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2880,300],"id":"207a6276-1ac4-4dc6-93f6-0a5fe022cf89","name":"Summarize Website Page","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"url":"={{ $json.organization_website_url }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"c9dddedf-54b1-45ea-b673-1cba0d58813d","name":"Scrape Home","type":"n8n-nodes-base.httpRequest","position":[380,200],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"message.content.abstract"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3240,300],"id":"175cf258-5280-4997-aade-df072f147f00","name":"Aggregate"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/jljBwyyQakqrL1wae/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_dU25BFJr2bBW36ZQRKMi8w26Rk8bKf2IwUkf"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"getPersonalEmails\": true,\n    \"getWorkEmails\": true,\n    \"totalRecords\": 500,\n    \"url\": \"{{ $json.URL }}\"\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,-420],"id":"5986a854-780f-4f6e-bb13-693900191da1","name":"Call Apify Scraper"},{"parameters":{"assignments":{"assignments":[{"id":"04f91b88-bb42-46d3-8695-4694bd1cec72","name":"id","value":"={{ $('Apollo - Logistics').item.json.id }}","type":"string"},{"id":"e7737c7a-b5b6-44a1-9f0d-361f0ac7a459","name":"first_name","value":"={{ $('Lead Filter').item.json.first_name }}","type":"string"},{"id":"e867e03d-60e6-4dee-b1ac-12c517fd8d6c","name":"last_name","value":"={{ $('Lead Filter').item.json.last_name }}","type":"string"},{"id":"9ccf7442-97cc-4840-aff0-7919e4119027","name":"title","value":"={{ $('Lead Filter').item.json.title }}","type":"string"},{"id":"d522ec31-e21e-417e-ab78-f4a49019e544","name":"email","value":"={{ $('Lead Filter').item.json.email }}","type":"string"},{"id":"8f1ddf8d-7df8-433e-a687-c1a81cced4e1","name":"website_url","value":"={{ $('Lead Filter').item.json.organization_website_url }}","type":"string"},{"id":"40fd7130-c65d-4826-a713-ecca24d23b07","name":"links","value":"={{ $json.links }}","type":"array"},{"id":"d2eb1588-87d2-43b2-8356-7bfe754c7707","name":"location","value":"={{ $('Lead Filter').item.json.city }} {{ $('Lead Filter').item.json.country }}","type":"string"},{"id":"b9ca5dad-9733-4b62-aeb8-c5675bc423d9","name":"organization_name","value":"={{ $('Lead Filter').item.json.organization_name }}","type":"string"},{"id":"ecd11fc8-130e-498e-8b0b-c995d37e963e","name":"industry","value":"={{ $('Lead Filter').item.json.industry }}","type":"string"},{"id":"5d583ba4-4d9a-481d-af5b-b6f423e61fb3","name":"organization_linkedin_url","value":"={{ $('Lead Filter').item.json.organization_linkedin_url }}","type":"string"},{"id":"bd23f72f-2077-4307-a5bd-5a4166deee4c","name":"estimated_num_employees","value":"={{ $('Lead Filter').item.json.estimated_num_employees }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,200],"id":"d383a68f-15da-4ede-9a72-e86972f0444e","name":"Edit Fields"},{"parameters":{"content":"Modify to run Apollo scraper from here (need Apify subscription)","height":280,"width":280},"type":"n8n-nodes-base.stickyNote","position":[-20,-520],"typeVersion":1,"id":"3e8703d2-3438-4680-ab4a-8fc5ee313be1","name":"Sticky Note"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":524787101,"mode":"list","cachedResultName":"Logistics","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=524787101"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('Batch 1').item.json.email }}","status":"Proof Read Email","subjectLine":"={{ $json.message.content.subjectLine }}","emailBody":"={{ $json.message.content.emailBody }}"},"matchingColumns":["email"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailBody","displayName":"emailBody","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estimated_num_employees","displayName":"estimated_num_employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3800,300],"id":"82b45138-7ca7-420f-92d4-b91d8e01ef08","name":"Update Row","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"eb5ae341-0082-47fc-bebe-1c799770a162","name":"cleanLink","value":"={{ $json.message.content.cleanLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2040,300],"id":"74a986d0-199d-48ba-b9a4-9a26bb40603c","name":"Edit Fields1"},{"parameters":{"documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":524787101,"mode":"list","cachedResultName":"Logistics","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=524787101"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-560,80],"id":"db90bb63-c0d1-4584-b5e6-baee1db5f58f","name":"Apollo - Logistics","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc44a289-8c50-4682-8b50-c2e63cfc6514","leftValue":"={{ $json.organization_website_url }}","rightValue":"/","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f8e675e8-99cc-4c30-92e3-e08a659cff9b","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"b8cd2584-c38a-4b2d-840b-a46fde6fa884","leftValue":"={{ $json['ELV Result'] }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5fcae317-58b4-4c2d-bd03-16da74bd0c0b","leftValue":"={{ $json.status }}","rightValue":"Email Address Valid","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-340,80],"id":"fd3e0f70-4115-4eec-82d3-c53c7e4fabb7","name":"Lead Filter"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":524787101,"mode":"list","cachedResultName":"Logistics","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=524787101"},"columns":{"mappingMode":"defineBelow","value":{"status":"Scrape LinkedIn Business","email":"={{ $('Batch 1').item.json.email }}"},"matchingColumns":["email"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailBody","displayName":"emailBody","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estimated_num_employees","displayName":"estimated_num_employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2120,600],"id":"b7492c92-1b9d-47d0-a2a1-f2ecec20a98d","name":"Status: Scrape LinkedIn Business","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[140,80],"id":"bda9f518-1b7a-4c3c-96a4-7d10ea561811","name":"Batch 1"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"links","cssSelector":"a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true,"cleanUpText":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[580,200],"id":"dbc76445-226a-4b82-bf2b-a931868146ce","name":"Scrape Links"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful and intelligent writing assistant. ","role":"system"},{"content":"=Using the provided lead data, your task is to return a subject line and email boy in a JSON format using the templates below.\n\n\nTemplates:\n\n{\"subjectLine\": \"hey {firstName}, think I have something for you re: {thingAboutThem}\"\n\n{\"emailBody\":\"Love {thing} - also {doing/like/a fan} of {otherThing}. Wanted to run something by you.\n\nI hope you don't mind, but I've been digging into {shortenedCompany}, and saw you're {shortenedLowercasePosition/Title}. Also noticed that {anotherThing} is important to you guys.\n\nLong story short, I recently built a system that can convert your old leads, quotes, and RFPs into new sales oppertunites. It can handle outreach, qualification, objections, appt booking and live transfers - automatically 24/7.\n\nBasically, you can recover lost revenue without lifting a finger.\n\njust did this for a similar {paraphraseCompanyIndustry} company and they also do {relatedThing} and it pulled in an extra $25k revenue from old leads in just the first month.\n\nI know this is out of left field, but you were one of the first people I came across. Would this be of any value to you at all?\n\nWouldn't cost you anything, I'd pay for it myself upfront - if it works then when can sort out a deal later (but up to you).\n\nLet me know you think when you have a sec!}\"\n\n\n\nGuidelines:\n- Look for plausible (but vague) connections wherever possible.\n- When possible try to connect the subjectLine to the iceBreaker to make the email flow naturally.\n- For your variables, focus on small, non-obvious things to paraphrase. The idea is to make people think we *really* dove deep into their website, so don't use something obvious. Do not say cookie-cutter stuff like \"Love your website!\" or \"Love your take on marketing!\".\n\n\nNotes:\n- Always avoid using — (em dash)\n\n\nRules:\n- Avoid changing the core 'subjectLine' from the template, make sure {thingAboutThem} is about them (not generic or about 'old leads', etc.)\n- Use their real first name (e.g \"Cap't Jim = jim\", \"Iron Mike = mike\"\n- Your tone of voice should be \"casual bar conversation\" and very spartan. No fancy language.\n- Make sure to use the above format when constructing your icebreakers. We wrote it this way on purpose.\n- Shorten the company name wherever possible (say, \"XYZ\" instead of \"XYZ Agency\"). More examples: \"Love AMS\" instead of \"Love AMS Professional Services\", \"Love Mayo\" instead of \"Love Mayo Inc.\", etc.\n- Do the same with locations. \"San Fran\" instead of \"San Francisco\", \"BC\" instead of \"British Columbia\", etc.\n- Do not just repeat the input data verbatim. Paraphrase, so they think a human wrote it.\n- Make sure the \"subjectLine\" is non-capitalized, even if it’s grammatically incorrect. This makes the email seem more human.\n- Avoid using superscript, subscript or ™, ©, ;, and other signs that look copy and pasted.\n- Avoid suggesting we should have a \"call\"\n- Use shortened abbreviation and lowercase for {Position/Title} (e.g. Director of Business Development = director of BD. CEO = ceo)\n\n"},{"content":"=Lead Data:\n\nProfile: {{ $('Batch 1').item.json.first_name }}{{ $('Batch 1').item.json.last_name }}, {{ $('Batch 1').item.json.title }} - {{ $('Batch 1').item.json.headline }}\n\nCompany: {{ $('Batch 1').item.json.organization_name }}\n\nLocation: {{ $('Batch 1').item.json.city }}, {{ $('Batch 1').item.json.country }}\n\nWebsite: {{ $json.abstract.join(\"/n\") }}\n\n"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3440,300],"id":"563f43b4-eebf-4f1e-9caf-9dd14e066fc6","name":"SubjectLine + icebreaker","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"You are an intelligent and helpful assistant.","role":"system"},{"content":"You're task is to take the links and extract only the relative URL.\n\nExample: \n\nInput: https://www.patriotfreightgroup.com/customers/\nOutput: /customers\n\nInput: /\nOutput: /\n\nInput: #content\nOutput: Null\n\nRules:\n- Always output in JSON format in this format: \"cleanLink\":\"output\"\n- If input is a single / then output a single /\n- Remove the trailing /\n- Only \"error\" if there are 0 items in the \"success branch\""},{"content":"={{ $json.links }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1660,300],"id":"f011ed5b-ca35-4a5f-844a-e0a01f0a4b44","name":"Clean up links | 3.5 Turbo","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cbe6415-5a55-43b1-95b4-9f67ca3adf2d","leftValue":"={{ $json.subjectLine }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"d23ec040-25b6-43d7-bf6a-a1f1117b2065","leftValue":"={{ $json.emailBody }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[360,-20],"id":"5d581c17-dc06-43c4-a80b-fe3a912198c3","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":524787101,"mode":"list","cachedResultName":"Logistics","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=524787101"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('Batch 1').item.json.email }}","status":"Proof Read Email","subjectLine":"={{ $json.subjectLine }}","emailBody":"={{ $json.emailBody }}"},"matchingColumns":["email"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailBody","displayName":"emailBody","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estimated_num_employees","displayName":"estimated_num_employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[600,-100],"id":"d039447b-7b26-45a3-a194-4e9dd0e58ab9","name":"Update Row1","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"maxItems":15},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1460,300],"id":"97769dfc-e28d-4049-9edd-f0c0ebdcf233","name":"15 Links Only"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-120,80],"id":"3ad2c124-b503-4185-a423-9c753cbd5ff2","name":"Limit 10 Results"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Apollo - Logistics","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"15 Links Only","type":"main","index":0}]]},"Request web page for URL":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Remove Duplicate URLs":{"main":[[{"node":"Request web page for URL","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Summarize Website Page","type":"main","index":0}]]},"Summarize Website Page":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Scrape Home":{"main":[[{"node":"Scrape Links","type":"main","index":0}],[{"node":"Status: Scrape LinkedIn Business","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"SubjectLine + icebreaker","type":"main","index":0}]]},"Call Apify Scraper":{"main":[[]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Update Row":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Remove Duplicate URLs","type":"main","index":0}]]},"Apollo - Logistics":{"main":[[{"node":"Lead Filter","type":"main","index":0}]]},"Lead Filter":{"main":[[{"node":"Limit 10 Results","type":"main","index":0}]]},"Batch 1":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Scrape Home","type":"main","index":0}]]},"Scrape Links":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Status: Scrape LinkedIn Business":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"SubjectLine + icebreaker":{"main":[[{"node":"Update Row","type":"main","index":0}]]},"Clean up links | 3.5 Turbo":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Status: Scrape LinkedIn Business","type":"main","index":0}]]},"If":{"main":[[{"node":"Update Row1","type":"main","index":0}]]},"15 Links Only":{"main":[[{"node":"Clean up links | 3.5 Turbo","type":"main","index":0}]]},"Limit 10 Results":{"main":[[{"node":"Batch 1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cc445bc4-5f0e-4d67-a6de-3bfdacbdb547","triggerCount":0,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"},{"createdAt":"2025-05-08T16:20:55.248Z","updatedAt":"2025-05-08T16:20:55.248Z","id":"KPOFVI2VTTHvP5On","name":"Apollo"}]}