-scrape-linkedin-posts-ivOkBgzm3dIhMg4m.json
{"createdAt":"2025-04-15T14:28:22.751Z","updatedAt":"2025-05-06T15:19:50.133Z","id":"ivOkBgzm3dIhMg4m","name":"2 | LINKEDHELPER // Scrape LinkedIn Posts","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ","mode":"list","cachedResultName":"LinkedHelper | Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":422849710,"mode":"list","cachedResultName":"LinkedHelper | CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ/edit#gid=422849710"},"event":"rowUpdate","options":{"columnsToWatch":["leadStatus"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[1740,100],"id":"0bc30ad0-2151-4880-afad-ecc0551d97b8","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"tREYvs7IdQO92OC6","name":"Google Sheets Trigger account"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/LQQIXN9Othf8f7R5n/runs","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"limit\": 2,\n    \"username\": \"{{ $json.linkedinUrl }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2520,0],"id":"e5f6a7ad-c2fb-4bca-bcf1-54aab989a5a1","name":"Run Apify Actor","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"waitForFinish","value":"60"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2720,0],"id":"635424f6-402f-44f4-863f-c464cff48826","name":"Get Actor Run","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2900,0],"id":"7e4a5a74-6a18-44c1-9283-640be6e9997b","name":"get Dataset","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2160,100],"id":"dd5b4de4-8513-4bda-996d-64d9fb44aa5c","name":"Batch 1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3820,280],"id":"3d590240-74fe-4173-a2a2-199eff99c4c1","name":"Wait 2sec","webhookId":"a030b3ab-bf51-486d-87b7-0544dfdb61df"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5fa77e43-c7c6-4ac2-87b6-5640ed93b29e","leftValue":"={{ $json.leadStatus }}","rightValue":"=Scrape LinkedIn Posts","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1920,100],"id":"36394b7b-d9eb-4308-bfed-7ed21adf95c9","name":"Filter: Scrape LinkedIn Posts"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ","mode":"list","cachedResultName":"LinkedHelper | Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":422849710,"mode":"list","cachedResultName":"LinkedHelper | CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lk07cJ1osS41LKC24tIqq1X1b8ej3yq7yUG7W7yyqQQ/edit#gid=422849710"},"columns":{"mappingMode":"defineBelow","value":{"leadStatus":"Draft DM","lastUpdate":"={{$now}}","post01Text":"={{ $json.post1Text }}","post01Type":"={{ $json.post1Type }}","post01Time":"={{ $json.post1Date }}","post01Url":"={{ $json.post1Url }}","post02Text":"={{ $json.post2Text }}","post02Type":"={{ $json.post2Type }}","post02Time":"={{ $json.post2Date }}","post02Url":"={{ $json.post2Url }}","uniqueID":"={{ $json.uniqueID }}"},"matchingColumns":["uniqueID"],"schema":[{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadStatus","displayName":"leadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"uniqueID","displayName":"uniqueID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"idPath","displayName":"idPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"memberId","displayName":"memberId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastUpdate","displayName":"lastUpdate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadTitle","displayName":"leadTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchPosition","displayName":"searchPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadDescription","displayName":"leadDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedinFullName","displayName":"LinkedinFullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadQualified","displayName":"leadQualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qualificationReason","displayName":"qualificationReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinHeadline","displayName":"linkedinHeadline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinSummary","displayName":"linkedinSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompany","displayName":"currentCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompanyPosition","displayName":"currentCompanyPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"positionDescription1","displayName":"positionDescription1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website1","displayName":"website1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website2","displayName":"website2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post01Text","displayName":"post01Text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post01Type","displayName":"post01Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post01Time","displayName":"post01Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post01Url","displayName":"post01Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post02Text","displayName":"post02Text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post02Type","displayName":"post02Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post02Time","displayName":"post02Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"post02Url","displayName":"post02Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"iceBreaker","displayName":"iceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"dm01","displayName":"dm01","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"dm02","displayName":"dm02","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"dm03","displayName":"dm03","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3580,220],"id":"3fc94299-dd2d-4705-9e71-eb92c7371e5d","name":"Update: Recent Posts","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const post1 = items[0]?.json || {};\nconst post2 = items[1]?.json || {};\n\n// Log the raw objects for debugging\nconsole.log('Post1:', JSON.stringify(post1, null, 2));\nconsole.log('Post2:', JSON.stringify(post2, null, 2));\n\nreturn [{\n  json: {\n    leadName: $json.leadName, // from outer loop\n    post1Text: post1.text || '',\n    post1Date: post1.posted_at?.date || 'No date available', // Corrected to use posted_at.date\n    post1Type: post1.post_type || 'No type available', // Corrected to use post_type\n    post1Url: post1.url || 'No URL available', // Added URL field for post1\n    post2Text: post2.text || '',\n    post2Date: post2.posted_at?.date || 'No date available', // Corrected to use posted_at.date\n    post2Type: post2.post_type || 'No type available', // Corrected to use post_type\n    post2Url: post2.url || 'No URL available', // Added URL field for post2\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,0],"id":"347f1fe7-f1ab-44ce-aae8-bddb5c5e59c1","name":"Code"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3360,220],"id":"6cafa514-7211-4e8c-bc45-cebfae394a3d","name":"Merge"},{"parameters":{"fieldToSplitOut":"uniqueID","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2520,240],"id":"66244a1c-0ae4-43ea-b04f-378d98fdffdc","name":"Split Out"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Filter: Scrape LinkedIn Posts","type":"main","index":0}]]},"Run Apify Actor":{"main":[[{"node":"Get Actor Run","type":"main","index":0}]]},"Get Actor Run":{"main":[[{"node":"get Dataset","type":"main","index":0}]]},"get Dataset":{"main":[[{"node":"Code","type":"main","index":0}]]},"Batch 1":{"main":[[],[{"node":"Run Apify Actor","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"Wait 2sec":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"Filter: Scrape LinkedIn Posts":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"Update: Recent Posts":{"main":[[{"node":"Wait 2sec","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Update: Recent Posts","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Zurich","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8xhzkyv362CgoE4n"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cd950953-2bfc-4727-87fb-e367e5ea539b","triggerCount":1,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:51:51.885Z","updatedAt":"2025-05-02T08:51:51.885Z","id":"wZCP1OBnOaDaUxGo","name":"Linked-Helper"}]}