-send-to-instantly-(check-limits-first)-Y0nOmoyjRpgZbPTM.json
{"createdAt":"2025-03-23T15:39:39.868Z","updatedAt":"2025-05-07T08:56:02.545Z","id":"Y0nOmoyjRpgZbPTM","name":"6 | COLD EMAIL // Send to Instantly (CHECK LIMITS FIRST)","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"event":"rowUpdate","options":{"columnsToWatch":["leadStatus"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[140,0],"id":"59dbcd58-118c-4497-a977-5c80811f9f6e","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"tREYvs7IdQO92OC6","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"287e45f5-0877-4b66-b847-820f4a7e1b35","leftValue":"={{ $json.leadStatus }}","rightValue":"SEND to Instantly","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[380,0],"id":"4836a390-5a48-479e-be89-7f132ecb2942","name":"Status: Send to Instantly"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a3d50ea8-8dd2-48c2-aa5b-d12bd9ce746b","leftValue":"={{ $json.validEmail }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"f8ebd14a-dcbb-4899-9af2-a022a398c668","leftValue":"={{ $json.emailValid }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[860,0],"id":"625e2f75-ad98-4651-b861-7d127dda5f3d","name":"Email Valid"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"373fe4e9-cb51-45dd-8b68-c70047062bcd","leftValue":"={{ $json.subjectLine }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"2e49ca2d-7cca-4ec6-8c75-7eae0ec214e9","leftValue":"={{ $json.iceBreaker }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"29537c0d-5355-4ede-94b5-8728751b72d7","leftValue":"={{ $json.pain }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"85029c49-b61a-4eb4-9f45-08813d3440ee","leftValue":"={{ $json.cta }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"2a17eb7b-8ba4-4cb4-b1a7-351c3e284546","leftValue":"={{ $json.businessSummary }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"e3cfb7bc-0876-4bb8-8ce5-f2f852fac0fe","leftValue":"={{ $json.travelOffer }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1100,0],"id":"2c287b00-07c2-4266-a4ee-63c2bd70d902","name":"Data Valid"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"columns":{"mappingMode":"defineBelow","value":{"memberId":"={{ $('Google Sheets Trigger').item.json.memberId }}","leadStatus":"Email Error"},"matchingColumns":["memberId"],"schema":[{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadStatus","displayName":"leadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"idPath","displayName":"idPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"memberId","displayName":"memberId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastUpdate","displayName":"lastUpdate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadTitle","displayName":"leadTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchPosition","displayName":"searchPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadDescription","displayName":"leadDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedinFullName","displayName":"LinkedinFullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadQualified","displayName":"leadQualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qualificationReason","displayName":"qualificationReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinHeadline","displayName":"linkedinHeadline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinSummary","displayName":"linkedinSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompany","displayName":"currentCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompanyPosition","displayName":"currentCompanyPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"positionDescription1","displayName":"positionDescription1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website1","displayName":"website1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website2","displayName":"website2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mainEmail","displayName":"mainEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail01","displayName":"thirdPartyEmail01","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail02","displayName":"thirdPartyEmail02","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail03","displayName":"thirdPartyEmail03","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail04","displayName":"thirdPartyEmail04","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"validEmail","displayName":"validEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailValid","displayName":"emailValid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"iceBreaker","displayName":"iceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pain","displayName":"pain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"elevatorPitch","displayName":"elevatorPitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cta","displayName":"cta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ps","displayName":"ps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"businessSummary","displayName":"businessSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1040,220],"id":"16cb0150-7729-458e-821b-8358ce4189e4","name":"Email Error","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"columns":{"mappingMode":"defineBelow","value":{"memberId":"={{ $('Google Sheets Trigger').item.json.memberId }}","leadStatus":"Data Missing"},"matchingColumns":["memberId"],"schema":[{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadStatus","displayName":"leadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"idPath","displayName":"idPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"memberId","displayName":"memberId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastUpdate","displayName":"lastUpdate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadTitle","displayName":"leadTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchPosition","displayName":"searchPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadDescription","displayName":"leadDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedinFullName","displayName":"LinkedinFullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadQualified","displayName":"leadQualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qualificationReason","displayName":"qualificationReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinHeadline","displayName":"linkedinHeadline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinSummary","displayName":"linkedinSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompany","displayName":"currentCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompanyPosition","displayName":"currentCompanyPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"positionDescription1","displayName":"positionDescription1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website1","displayName":"website1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website2","displayName":"website2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mainEmail","displayName":"mainEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail01","displayName":"thirdPartyEmail01","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail02","displayName":"thirdPartyEmail02","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail03","displayName":"thirdPartyEmail03","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail04","displayName":"thirdPartyEmail04","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"validEmail","displayName":"validEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailValid","displayName":"emailValid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"iceBreaker","displayName":"iceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pain","displayName":"pain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"elevatorPitch","displayName":"elevatorPitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cta","displayName":"cta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ps","displayName":"ps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"businessSummary","displayName":"businessSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1300,240],"id":"82bc67ac-a92d-4313-a9f0-0b64fe28519e","name":"Data Missing","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2420,300],"id":"1247300f-0ff4-447b-b4bf-4e9d92d5ac4f","name":"Wait 1 sec","webhookId":"28eb4af2-585e-42b5-9ecd-1c58bc50a8b3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Loop Over 1').item.json.state }}","rightValue":"New York State","operator":{"type":"string","operation":"equals"},"id":"0a0858ff-86d7-4bb6-a2ca-b9678808199d"}],"combinator":"and"},"renameOutput":true,"outputKey":"New York State"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"adf2c6aa-debc-4ec1-84a7-3cbafb6e7fa9","leftValue":"={{ $('Loop Over 1').item.json.state }}","rightValue":"California","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"California"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"38346406-1fa2-495a-8e7d-38f92709bccb","leftValue":"={{ $('Loop Over 1').item.json.state }}","rightValue":"Florida","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Florida"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3df3ae95-58a2-456d-a324-eb6e45bf5999","leftValue":"={{ $('Loop Over 1').item.json.state }}","rightValue":"Texas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texas"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1600,-380],"id":"0c8e40d2-c813-427f-9fc6-e13912c1fd1a","name":"State"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[620,0],"id":"67ee3b4f-848c-45ca-b3b0-58a369baa54a","name":"Loop Over 1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Loop Over 1').item.json.country }}","rightValue":"US","operator":{"type":"string","operation":"equals"},"id":"19b8b8f6-3511-4382-a1eb-134eae28e1c5"}],"combinator":"and"},"renameOutput":true,"outputKey":"US"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6d643c6-71ab-4a7f-ae25-b59e1a673b9d","leftValue":"={{ $('Loop Over 1').item.json.country }}","rightValue":"UK","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"UK"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1320,-100],"id":"d6d82efc-03c5-4e87-995e-e8e2ff5b987d","name":"Country"},{"parameters":{"method":"POST","url":"https://api.instantly.ai/api/v2/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ZDU3MjhiZjQtMDdlYS00NjlkLWFjNTgtZTBhZWM1ZWM5ZWQ5OmNNVGNoR3dOWFhZcg=="}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"campaign\": \"f17f6520-9d00-42a6-87c2-5c022bf9c1fc\",\n  \"email\": \"{{ $json.validEmail }}\",\n  \"first_name\": \"{{ $json.firstName }}\",\n  \"last_name\": \"{{ $json.lastName }}\",\n  \"company_name\": \"{{ $json.currentCompany }}\",\n  \"custom_variables\": {\n    \"subjectLine\": \"{{ $json.subjectLine }}\",\n    \"iceBreaker\": \"{{ $json.iceBreaker }}\",\n    \"pain\": \"{{ $json.pain }}\",\n    \"elevatorPitch\": \"{{ $json.elevatorPitch }}\",\n    \"cta\": \"{{ $json.cta }}\",\n    \"ps\": \"{{ $json.ps }}\",\n    \"businessSummary\": \"{{ $json.businessSummary }}\",\n    \"travelOffer\": \"{{ $json.travelOffer }}\",\n    \"country\": \"{{ $json.country }}\",\n    \"state\": \"{{ $json.state }}\",\n    \"city\": \"{{ $json.city }}\"\n  }\n}\n","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,-660],"id":"7e8a7da6-69ac-48c9-8c7c-1cb79ba71192","name":"New York State","retryOnFail":true,"waitBetweenTries":5000,"executeOnce":true},{"parameters":{"method":"POST","url":"https://api.instantly.ai/api/v2/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ZDU3MjhiZjQtMDdlYS00NjlkLWFjNTgtZTBhZWM1ZWM5ZWQ5OmNNVGNoR3dOWFhZcg=="}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"campaign\": \"42f03642-d736-449a-b557-d78e4dde59ce\",\n  \"email\": \"{{ $json.validEmail }}\",\n  \"first_name\": \"{{ $json.firstName }}\",\n  \"last_name\": \"{{ $json.lastName }}\",\n  \"company_name\": \"{{ $json.currentCompany }}\",\n  \"custom_variables\": {\n    \"subjectLine\": \"{{ $json.subjectLine }}\",\n    \"iceBreaker\": \"{{ $json.iceBreaker }}\",\n    \"pain\": \"{{ $json.pain }}\",\n    \"elevatorPitch\": \"{{ $json.elevatorPitch }}\",\n    \"cta\": \"{{ $json.cta }}\",\n    \"ps\": \"{{ $json.ps }}\",\n    \"businessSummary\": \"{{ $json.businessSummary }}\",\n    \"travelOffer\": \"{{ $json.travelOffer }}\",\n    \"country\": \"{{ $json.country }}\",\n    \"state\": \"{{ $json.state }}\",\n    \"city\": \"{{ $json.city }}\"\n  }\n}\n","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,-460],"id":"58eedb88-bdd3-444c-b762-098ecc99b25b","name":"California","retryOnFail":true,"waitBetweenTries":5000,"executeOnce":true},{"parameters":{"method":"POST","url":"https://api.instantly.ai/api/v2/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ZDU3MjhiZjQtMDdlYS00NjlkLWFjNTgtZTBhZWM1ZWM5ZWQ5OmNNVGNoR3dOWFhZcg=="}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"campaign\": \"53ebb286-a6b2-4672-b928-da70714bd5c3\",\n  \"email\": \"{{ $json.validEmail }}\",\n  \"first_name\": \"{{ $json.firstName }}\",\n  \"last_name\": \"{{ $json.lastName }}\",\n  \"company_name\": \"{{ $json.currentCompany }}\",\n  \"custom_variables\": {\n    \"subjectLine\": \"{{ $json.subjectLine }}\",\n    \"iceBreaker\": \"{{ $json.iceBreaker }}\",\n    \"pain\": \"{{ $json.pain }}\",\n    \"elevatorPitch\": \"{{ $json.elevatorPitch }}\",\n    \"cta\": \"{{ $json.cta }}\",\n    \"ps\": \"{{ $json.ps }}\",\n    \"businessSummary\": \"{{ $json.businessSummary }}\",\n    \"travelOffer\": \"{{ $json.travelOffer }}\",\n    \"country\": \"{{ $json.country }}\",\n    \"state\": \"{{ $json.state }}\",\n    \"city\": \"{{ $json.city }}\"\n  }\n}\n","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,160],"id":"805b7fc1-5a32-4aab-94e3-fca105a93f69","name":"UK","retryOnFail":true,"waitBetweenTries":5000,"executeOnce":true},{"parameters":{"method":"POST","url":"https://api.instantly.ai/api/v2/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ZDU3MjhiZjQtMDdlYS00NjlkLWFjNTgtZTBhZWM1ZWM5ZWQ5OmNNVGNoR3dOWFhZcg=="}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"campaign\": \"4d34f3e1-d8a6-4a21-b29f-e48557e6f7e6\",\n  \"email\": \"{{ $json.validEmail }}\",\n  \"first_name\": \"{{ $json.firstName }}\",\n  \"last_name\": \"{{ $json.lastName }}\",\n  \"company_name\": \"{{ $json.currentCompany }}\",\n  \"custom_variables\": {\n    \"subjectLine\": \"{{ $json.subjectLine }}\",\n    \"iceBreaker\": \"{{ $json.iceBreaker }}\",\n    \"pain\": \"{{ $json.pain }}\",\n    \"elevatorPitch\": \"{{ $json.elevatorPitch }}\",\n    \"cta\": \"{{ $json.cta }}\",\n    \"ps\": \"{{ $json.ps }}\",\n    \"businessSummary\": \"{{ $json.businessSummary }}\",\n    \"travelOffer\": \"{{ $json.travelOffer }}\",\n    \"country\": \"{{ $json.country }}\",\n    \"state\": \"{{ $json.state }}\",\n    \"city\": \"{{ $json.city }}\"\n  }\n}\n","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,-280],"id":"a1b90eaf-4360-43c7-a4ae-b1b7a2ad838b","name":"Florida","retryOnFail":true,"waitBetweenTries":5000,"executeOnce":true},{"parameters":{"method":"POST","url":"https://api.instantly.ai/api/v2/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ZDU3MjhiZjQtMDdlYS00NjlkLWFjNTgtZTBhZWM1ZWM5ZWQ5OmNNVGNoR3dOWFhZcg=="}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"campaign\": \"24b9e43b-15b3-4b1a-a97a-71d0e615e69e\",\n  \"email\": \"{{ $json.validEmail }}\",\n  \"first_name\": \"{{ $json.firstName }}\",\n  \"last_name\": \"{{ $json.lastName }}\",\n  \"company_name\": \"{{ $json.currentCompany }}\",\n  \"custom_variables\": {\n    \"subjectLine\": \"{{ $json.subjectLine }}\",\n    \"iceBreaker\": \"{{ $json.iceBreaker }}\",\n    \"pain\": \"{{ $json.pain }}\",\n    \"elevatorPitch\": \"{{ $json.elevatorPitch }}\",\n    \"cta\": \"{{ $json.cta }}\",\n    \"ps\": \"{{ $json.ps }}\",\n    \"businessSummary\": \"{{ $json.businessSummary }}\",\n    \"travelOffer\": \"{{ $json.travelOffer }}\",\n    \"country\": \"{{ $json.country }}\",\n    \"state\": \"{{ $json.state }}\",\n    \"city\": \"{{ $json.city }}\"\n  }\n}\n","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1920,-100],"id":"7b5c93cb-414b-4523-8199-b9d8b7d1a2b7","name":"Texas","retryOnFail":true,"waitBetweenTries":5000,"executeOnce":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"columns":{"mappingMode":"defineBelow","value":{"memberId":"={{ $('Google Sheets Trigger').item.json.memberId }}","leadStatus":"Sent to Instantly"},"matchingColumns":["memberId"],"schema":[{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadStatus","displayName":"leadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"idPath","displayName":"idPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"memberId","displayName":"memberId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastUpdate","displayName":"lastUpdate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadTitle","displayName":"leadTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchPosition","displayName":"searchPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadDescription","displayName":"leadDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedinFullName","displayName":"LinkedinFullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadQualified","displayName":"leadQualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qualificationReason","displayName":"qualificationReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinHeadline","displayName":"linkedinHeadline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinSummary","displayName":"linkedinSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompany","displayName":"currentCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompanyPosition","displayName":"currentCompanyPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"positionDescription1","displayName":"positionDescription1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website1","displayName":"website1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website2","displayName":"website2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mainEmail","displayName":"mainEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail01","displayName":"thirdPartyEmail01","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail02","displayName":"thirdPartyEmail02","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail03","displayName":"thirdPartyEmail03","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail04","displayName":"thirdPartyEmail04","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"validEmail","displayName":"validEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailValid","displayName":"emailValid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"iceBreaker","displayName":"iceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pain","displayName":"pain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"elevatorPitch","displayName":"elevatorPitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cta","displayName":"cta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ps","displayName":"ps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"businessSummary","displayName":"businessSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[860,-200],"id":"b5bac654-c86e-4dda-807e-f53e422e8789","name":"Update: Status","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Status: Send to Instantly","type":"main","index":0}]]},"Status: Send to Instantly":{"main":[[{"node":"Loop Over 1","type":"main","index":0}]]},"Email Valid":{"main":[[{"node":"Data Valid","type":"main","index":0}],[{"node":"Email Error","type":"main","index":0}]]},"Data Valid":{"main":[[{"node":"Country","type":"main","index":0}],[{"node":"Data Missing","type":"main","index":0}]]},"Wait 1 sec":{"main":[[{"node":"Loop Over 1","type":"main","index":0}]]},"State":{"main":[[{"node":"New York State","type":"main","index":0}],[{"node":"California","type":"main","index":0}],[{"node":"Florida","type":"main","index":0}],[{"node":"Texas","type":"main","index":0}]]},"Loop Over 1":{"main":[[{"node":"Update: Status","type":"main","index":0}],[{"node":"Email Valid","type":"main","index":0}]]},"Country":{"main":[[{"node":"State","type":"main","index":0}],[{"node":"UK","type":"main","index":0}]]},"New York State":{"main":[[{"node":"Wait 1 sec","type":"main","index":0}]]},"California":{"main":[[{"node":"Wait 1 sec","type":"main","index":0}]]},"UK":{"main":[[{"node":"Wait 1 sec","type":"main","index":0}]]},"Florida":{"main":[[{"node":"Wait 1 sec","type":"main","index":0}]]},"Texas":{"main":[[{"node":"Wait 1 sec","type":"main","index":0}]]},"Update: Status":{"main":[[]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Zurich","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8xhzkyv362CgoE4n"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","sheetId":1431579973,"lastRevision":9424,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc&revision=9424&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cafe7c82-1bf6-41e3-8ece-eb2e6c2bf05e","triggerCount":1,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"}]}