-smartlead-webhook:-interested-leads-YbXasvZtV3TLgyL6.json
{"createdAt":"2025-06-19T10:16:05.586Z","updatedAt":"2025-06-26T12:12:42.931Z","id":"YbXasvZtV3TLgyL6","name":"EB3 // Smartlead Webhook: Interested leads","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"smartlead-eb3","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-160,0],"id":"67886e79-6741-455c-8821-80c38fc8e707","name":"Webhook","webhookId":"19293b77-badf-45f7-912c-672d270f99c8"},{"parameters":{"content":"- Update webhook in smartlead\n- Set wrokflow to 'Active'\n\n- Test\n\n- Update 'send lead' details (rich email + Joe bcc)\n\n- workflow to update crm?","height":260,"width":300},"type":"n8n-nodes-base.stickyNote","position":[-220,-320],"typeVersion":1,"id":"701e57f5-c2d7-4d37-a811-84237ccbdac9","name":"Sticky Note"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":906209972,"mode":"list","cachedResultName":"interested","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=906209972"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $json.body.lead_data.email }}","status":"Review","firstName":"={{ $json.body.lead_data.first_name }}","lastName":"={{ $json.body.lead_data.last_name }}","category":"={{ $json.body.lead_data.category.name }}","thread":"={{ $json.body.history }}","leadReply":"={{$json.body.history.filter(item => item.type === 'REPLY').pop()?.email_body}}","sent":"={{$json.body.history.filter(item => item.type === 'SENT').pop()?.email_body}}","timeStamp":"={{$now}}"},"matchingColumns":["email"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sent","displayName":"sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadReply","displayName":"leadReply","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thread","displayName":"thread","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[60,0],"id":"14f6702f-874c-4d66-a6fd-054e398e237d","name":"Send to 'interested'","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"sendAndWait","sendTo":"hello@emmerson.studio","subject":"EB3 - Review New Lead","message":"=Lead:\n{{ $json.firstName }} {{ $json.lastName }}\n{{ $json.email }}\n\nCategory: {{ $json.category }}\nStatus: {{ $json.status }}\n\nSent:\n{{ $('Webhook').item.json.body.history[0].email_body }}\n\nReplied:\n{{ $('Webhook').item.json.body.last_reply.email_body }}\n\n","approvalOptions":{"values":{"approvalType":"double"}},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[280,0],"id":"e5a89513-233c-474e-af6c-ddb19f337e0f","name":"Wait for feedback","webhookId":"a3ab268a-75fd-4817-865c-2ed46b9f4903","credentials":{"gmailOAuth2":{"id":"aGIhhmwmH2VK328i","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d732fc12-d4d2-4d80-adf2-d6ec71e9cf7f","leftValue":"={{ $json.data.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[500,0],"id":"92ec4098-359d-4d25-abdf-289b6165d958","name":"Approved?"},{"parameters":{"sendTo":"Rich@ebthree.com","subject":"=New lead interested | {{ $('Send to \\'interested\\'').item.json.firstName }} {{ $('Send to \\'interested\\'').item.json.lastName }} - {{ $('Send to \\'interested\\'').item.json.email }}","message":"=You have a new lead interested!<br><br>\n<b>Lead Details</b><br>\n{{ $('Send to \\'interested\\'').item.json.firstName }} {{ $('Send to \\'interested\\'').item.json.lastName }}<br>\n{{ $('Send to \\'interested\\'').item.json.email }}<br><br>\n\n<b>Sent</b><br>\n{{ $('Send to \\'interested\\'').item.json.thread[0].email_body }}\n<br>\n<b>Lead Reply</b><br>\n{{ $('Send to \\'interested\\'').item.json.thread[1].email_body }}\n\n\n","options":{"appendAttribution":false,"bccList":"joe@ebthree.com","ccList":"hello@emmerson.studio","senderName":"NorthFlow"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[740,-120],"id":"35fef0c6-9ef2-45f9-989d-8939559c4683","name":"Send lead to EB3","webhookId":"63511d5d-8e37-464f-9d9b-02dae2f74f31","credentials":{"gmailOAuth2":{"id":"aGIhhmwmH2VK328i","name":"Gmail account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":906209972,"mode":"list","cachedResultName":"interested","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=906209972"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('Send to \\'interested\\'').item.json.email }}","status":"Complete","timeStamp":"={{$now}}"},"matchingColumns":["email"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sent","displayName":"sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadReply","displayName":"leadReply","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thread","displayName":"thread","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[960,-120],"id":"a9e1cbcd-e952-4a9d-853e-caa17f7de8cc","name":"Update lead as 'Complete'","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":906209972,"mode":"list","cachedResultName":"interested","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=906209972"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('Send to \\'interested\\'').item.json.email }}","status":"Not Approved","timeStamp":"={{$now}}"},"matchingColumns":["email"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sent","displayName":"sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadReply","displayName":"leadReply","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thread","displayName":"thread","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timeStamp","displayName":"timeStamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[740,120],"id":"6723d5e8-e9d2-428a-b8ed-93abdc425dc0","name":"Update lead as 'Not Approved'","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Send to 'interested'","type":"main","index":0}]]},"Send to 'interested'":{"main":[[{"node":"Wait for feedback","type":"main","index":0}]]},"Wait for feedback":{"main":[[{"node":"Approved?","type":"main","index":0}]]},"Approved?":{"main":[[{"node":"Send lead to EB3","type":"main","index":0}],[{"node":"Update lead as 'Not Approved'","type":"main","index":0}]]},"Send lead to EB3":{"main":[[{"node":"Update lead as 'Complete'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8xhzkyv362CgoE4n"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Send to 'interested'":[{"json":{"email":"test@gmail.com","status":"Review","firstName":"Bob","lastName":"Jon","category":"Interested","thread":[{"stats_id":"id","type":"SENT","message_id":"<id@five2one.com.au>","time":"2023-08-25T08:28:06.619Z","email_body":"the last sent email","subject":"Test Email 1"},{"stats_id":"id","type":"REPLY","message_id":"<id@mail.gmail.com>","time":"2023-08-25T08:32:45.000Z","email_body":"Testing email"}],"leadReply":"Testing email","sent":"the last sent email"}}]},"versionId":"4a424c55-61c9-4eb8-80df-dbc32a3e3d39","triggerCount":1,"tags":[{"createdAt":"2025-05-31T13:54:34.864Z","updatedAt":"2025-05-31T13:54:34.864Z","id":"0izNGdR9nZqKab3U","name":"EB3"},{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"}]}