-sync-linkerhelper-csv-to-sheets-crm-pGgPMGqCaSjo4AP6.json
{"createdAt":"2025-03-23T15:40:33.337Z","updatedAt":"2025-05-02T09:20:14.568Z","id":"pGgPMGqCaSjo4AP6","name":"2 | COLD EMAIL // Sync LinkerHelper CSV to sheets CRM","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"columns":{"mappingMode":"defineBelow","value":{"leadStatus":"Lead Qualification","followers":"={{ $('Loop Over 8').item.json.followers }}","lastUpdate":"={{ $now }}","mainEmail":"={{ $('Loop Over 8').item.json.email }}","thirdPartyEmail01":"={{ $('Loop Over 8').item.json.third_party_email_1 }}","thirdPartyEmail02":"={{ $('Loop Over 8').item.json.third_party_email_2 }}","thirdPartyEmail03":"={{ $('Loop Over 8').item.json.third_party_email_3 }}","linkedinHeadline":"={{ $('Loop Over 8').item.json.headline }}","linkedinSummary":"={{ $('Loop Over 8').item.json.summary }}","currentCompany":"={{ $('Loop Over 8').item.json.current_company }}","currentCompanyPosition":"={{ $('Loop Over 8').item.json.current_company_position }}","positionDescription1":"={{ $('Loop Over 8').item.json.position_description_1 }}","memberId":"={{ $('Loop Over 8').item.json.member_id }}","LinkedinFullName":"={{ $json.full_name }}","website1":"={{ $('Loop Over 8').item.json.website_1 }}","website2":"={{ $('Loop Over 8').item.json.website_2 }}","thirdPartyEmail04":"={{ $('Loop Over 8').item.json.third_party_email_4 }}","idPath":"={{ $json.id }}","firstName":"={{ $json.first_name }}","lastName":"={{ $json.last_name }}"},"matchingColumns":["idPath"],"schema":[{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadStatus","displayName":"leadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"idPath","displayName":"idPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"memberId","displayName":"memberId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastUpdate","displayName":"lastUpdate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadTitle","displayName":"leadTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchPosition","displayName":"searchPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadDescription","displayName":"leadDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedinFullName","displayName":"LinkedinFullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadQualified","displayName":"leadQualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qualificationReason","displayName":"qualificationReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinHeadline","displayName":"linkedinHeadline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedinSummary","displayName":"linkedinSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"currentCompany","displayName":"currentCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"currentCompanyPosition","displayName":"currentCompanyPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"positionDescription1","displayName":"positionDescription1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website1","displayName":"website1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website2","displayName":"website2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mainEmail","displayName":"mainEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thirdPartyEmail01","displayName":"thirdPartyEmail01","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thirdPartyEmail02","displayName":"thirdPartyEmail02","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thirdPartyEmail03","displayName":"thirdPartyEmail03","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thirdPartyEmail04","displayName":"thirdPartyEmail04","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"validEmail","displayName":"validEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailValid","displayName":"emailValid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"iceBreaker","displayName":"iceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pain","displayName":"pain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"elevatorPitch","displayName":"elevatorPitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cta","displayName":"cta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ps","displayName":"ps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"businessSummary","displayName":"businessSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[880,0],"id":"b1a008ea-bdbb-4402-bfdb-40d926cb003f","name":"Update Lead","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1T0zw7v6det1_y7DCIMu4TLrlRlVIVLyL","mode":"list","cachedResultName":"LinkedHelper CSV Export","cachedResultUrl":"https://drive.google.com/drive/folders/1T0zw7v6det1_y7DCIMu4TLrlRlVIVLyL"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"ddf06e0a-a4e3-4bc1-8cf4-bcd6caa0d344","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"K0oaCO8spccPVyav","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.webViewLink }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[180,0],"id":"61924da8-07ae-483c-9156-ecad6f9d7ef2","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"K0oaCO8spccPVyav","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[380,0],"id":"43474b97-12e6-46f5-8700-b702f8f2890e","name":"Extract from File"},{"parameters":{"batchSize":8,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[640,0],"id":"fd950ada-e999-43e0-982f-258446894fad","name":"Loop Over 8"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1320,100],"id":"f1a245c1-e7ab-4a55-8047-cdd6a93707ba","name":"Wait 10 sec","webhookId":"51df0fbc-6a7a-495a-a996-0fcf218829da"},{"parameters":{"content":"- Create error node if no match\n\n- Convert emojis into valid URL (different workflow?)\n\nconst inputUrl = \"https://linkedin.com/barrie-🏉-mcdermott-530b45b1\";\n\n// Parse the URL\nconst url = new URL(inputUrl);\nurl.pathname = url.pathname.split('/').map(encodeURIComponent).join('/');\n\n// Return the updated URL\nreturn { json: { encodedUrl: url.toString() } };\n","height":340,"width":560},"type":"n8n-nodes-base.stickyNote","position":[760,-540],"typeVersion":1,"id":"c8046f51-7f4b-42ec-ac1e-83cdcfb90991","name":"Sticky Note"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","mode":"list","cachedResultName":"Linkedin Lead Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1431579973,"mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc/edit#gid=1431579973"},"columns":{"mappingMode":"defineBelow","value":{"leadStatus":"Profile Not Found","lastUpdate":"={{ $now }}","idPath":"={{ $json.id }}"},"matchingColumns":["idPath"],"schema":[{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadStatus","displayName":"leadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"idPath","displayName":"idPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"memberId","displayName":"memberId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"notes","displayName":"notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastUpdate","displayName":"lastUpdate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"leadTitle","displayName":"leadTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchPosition","displayName":"searchPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"niche","displayName":"niche","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadDescription","displayName":"leadDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedinFullName","displayName":"LinkedinFullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadQualified","displayName":"leadQualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"qualificationReason","displayName":"qualificationReason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinHeadline","displayName":"linkedinHeadline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinSummary","displayName":"linkedinSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompany","displayName":"currentCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"currentCompanyPosition","displayName":"currentCompanyPosition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"positionDescription1","displayName":"positionDescription1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website1","displayName":"website1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website2","displayName":"website2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mainEmail","displayName":"mainEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail01","displayName":"thirdPartyEmail01","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail02","displayName":"thirdPartyEmail02","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail03","displayName":"thirdPartyEmail03","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"thirdPartyEmail04","displayName":"thirdPartyEmail04","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"validEmail","displayName":"validEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emailValid","displayName":"emailValid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"iceBreaker","displayName":"iceBreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pain","displayName":"pain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"elevatorPitch","displayName":"elevatorPitch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cta","displayName":"cta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ps","displayName":"ps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"businessSummary","displayName":"businessSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1320,-100],"id":"460ee796-870a-4327-8db4-b3090867a990","name":"Profile Not Found","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"content":"Upload CSV to this folder: https://drive.google.com/drive/u/0/folders/1T0zw7v6det1_y7DCIMu4TLrlRlVIVLyL","height":80,"width":560,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-20,-180],"typeVersion":1,"id":"c40ecd75-d42f-45d7-b8d3-82c03d8a5dc9","name":"Sticky Note1"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Loop Over 8","type":"main","index":0}]]},"Update Lead":{"main":[[{"node":"Wait 10 sec","type":"main","index":0}],[{"node":"Profile Not Found","type":"main","index":0}]]},"Loop Over 8":{"main":[[],[{"node":"Update Lead","type":"main","index":0}]]},"Wait 10 sec":{"main":[[{"node":"Loop Over 8","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Zurich","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8xhzkyv362CgoE4n"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7f75842a-1097-4ae4-8bfe-a52dd696f440","triggerCount":0,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"}]}