-sync-contact-to-crm-qsGvMBCAlRyjoItf.json
{"createdAt":"2025-04-06T13:24:55.495Z","updatedAt":"2025-05-02T09:08:27.652Z","id":"qsGvMBCAlRyjoItf","name":"8 | COLD EMAIL // Sync contact to CRM","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[320,0],"id":"ddcbe7c8-5928-42b9-add5-3e776006c00a","name":"Schedule Trigger"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"You are an intelligent and helpful assistant","role":"system"},{"content":"Your task:\nAnalyze the sentiment of the email and classify it as positive, neutral, or negative.\n\nGuidelines:\n\nPositive: The message expresses interest, curiosity, or openness (e.g., “Tell me more,” “Sounds interesting”).\n\nNeutral: The message is unclear, non-committal, or factual (e.g., “Thanks,” “I’ll think about it”).\n\nNegative: The message contains rejection, dismissal, or clear disinterest (e.g., “Not interested,” “Stop messaging me”).\n\nIgnore variations in politeness (e.g., \"No thanks\" and \"Please stop\" are both negative).\n\nShort messages like 'OK' should default to Neutral unless there's strong sentiment.\n\nOutput JSON:\n{\n  \"sentiment\": \"positive/neutral/negative\"\n}\n"},{"content":"=Email: {{ $('Loop Over Items1').item.json.snippet }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[980,-460],"id":"750da5ed-ba5c-4e2d-8d8d-e1b4f2249f9f","name":"Sentiment Analysis","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1000,0],"id":"821107d7-0a58-4978-8bee-defe8f4f212d","name":"Loop Over Items1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c46b3d69-3e50-4a78-934e-de63aa329f38","leftValue":"={{ $json.property_email }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"New Lead"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.property_email }}","rightValue":"={{ $('Loop Over Items1').item.json.From }}","operator":{"type":"string","operation":"exists","singleValue":true},"id":"2a413c9f-d326-462d-8130-b523c5e75158"}],"combinator":"and"},"renameOutput":true,"outputKey":"Existing Lead"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1820,0],"id":"48876b11-54a3-4747-978c-18be5ae0a5df","name":"Switch","alwaysOutputData":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content.sentiment }}","rightValue":"positive","operator":{"type":"string","operation":"equals"},"id":"01844ea2-546b-41d5-9aeb-f26a59f4e38b"}],"combinator":"and"},"renameOutput":true,"outputKey":"Positive"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c93fd35d-6ca2-4e52-ba6c-c12bebde5aaf","leftValue":"={{ $json.message.content.sentiment }}","rightValue":"neutral","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Neutral"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"668b8c52-3559-475f-8cf3-6b7e39b832ea","leftValue":"={{ $json.message.content.sentiment }}","rightValue":"negative","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Negative"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1340,-460],"id":"84a8631d-0a94-48d4-90da-2d1889dc114e","name":"Sentiment Result","executeOnce":false},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2100,120],"id":"ae396ff7-13a1-49d9-ba5c-d09d072ac44b","name":"Update contact"},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"labelIds":["Label_1681880752514729508"]}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[540,0],"id":"c6e28c55-44df-4751-9f6e-ea0b96ab1917","name":"Filter: Coach/Consultant - Interested","webhookId":"fb9265df-4be0-42c8-ab9a-624abd415f84","credentials":{"gmailOAuth2":{"id":"aGIhhmwmH2VK328i","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful and intelligent assistant.","role":"system"},{"content":"=You will complete your job by extracting the name and email from the provided information.\n\n#Example\n\nRich Emmerson <hello@emmerson.studio>\n\nName: Rich Emmerson\nEmail: hello@emmerson.studio\n\n#Output\nAlways output in JSON:\n\nName\nEmail"},{"content":"=Extraction data:\n{{ $json.From }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1240,0],"id":"f2f7bc3a-dbd8-406e-8905-fb8c5cbf402c","name":"Extract name and email","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"https://www.notion.so/6eb72ad002214c56b5b848e956e7fcff?v=6209663e64cd4fd4bf0f8f312031904a","mode":"url"},"returnAll":true,"filterType":"manual","filters":{"conditions":[{"key":"Email|email","condition":"equals","emailValue":"={{ $json.message.content.Email }}"},{"key":"Company|title","condition":"equals","titleValue":"={{ $json.message.content.Name }}"},{"key":"Contact Name|rich_text","condition":"equals","richTextValue":"={{ $json.message.content.Name }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1600,0],"id":"cff8459b-cec9-4051-a0c3-04a2e15aa173","name":"Search for contact","alwaysOutputData":true,"credentials":{"notionApi":{"id":"H2t4YmT12hT01wje","name":"Notion - Internal"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2360,300],"id":"a24bfaf0-9ffd-43ee-bbee-067c95628c57","name":"Wait 1 sec","webhookId":"3a6f1651-c437-43b7-be18-eafc6a912662"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"6eb72ad0-0221-4c56-b5b8-48e956e7fcff","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://www.notion.so/6eb72ad002214c56b5b848e956e7fcff"},"title":"={{ $('Extract name and email').item.json.message.content.Name }}","propertiesUi":{"propertyValues":[{"key":"Email|email","emailValue":"={{ $('Extract name and email').item.json.message.content.Email }}"},{"key":"Last Contact|date","date":"={{ $now }}"},{"key":"Industry|multi_select","multiSelectValue":["Coaches & Consultants"]},{"key":"Source|rich_text","textContent":"Instantly cold email"},{"key":"Lead Status|select","selectValue":"Interested"},{"key":"Next contact note|rich_text","textContent":"New lead: Update ASAP"}]},"blockUi":{"blockValues":[{"textContent":"=From: {{ $('Extract name and email').item.json.message.content.Name }}"},{"textContent":"=Message: {{ $('Loop Over Items1').item.json.snippet }}"},{"textContent":"-"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2100,-120],"id":"b4b485fb-b093-4705-88bc-365e37313d73","name":"Add lead to CRM","credentials":{"notionApi":{"id":"H2t4YmT12hT01wje","name":"Notion - Internal"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ef639ce-a509-4ad6-9a55-30c66cedbe02","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[760,0],"id":"260e8db3-721a-4819-919d-b3c6a69c0f07","name":"Filter"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Filter: Coach/Consultant - Interested","type":"main","index":0}]]},"Sentiment Analysis":{"main":[[{"node":"Sentiment Result","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Extract name and email","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Add lead to CRM","type":"main","index":0}],[{"node":"Update contact","type":"main","index":0}]]},"Sentiment Result":{"main":[[],[],[]]},"Filter: Coach/Consultant - Interested":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Extract name and email":{"main":[[{"node":"Search for contact","type":"main","index":0}]]},"Search for contact":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Update contact":{"main":[[{"node":"Wait 1 sec","type":"main","index":0}]]},"Wait 1 sec":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Add lead to CRM":{"main":[[{"node":"Wait 1 sec","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Zurich","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8xhzkyv362CgoE4n"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"004c7e44-fd6d-4b71-a7a7-60e9194186b6","triggerCount":1,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"}]}