cal.com-booking-1A9YoQDo1COtDvue.json
{"createdAt":"2025-06-27T08:52:44.223Z","updatedAt":"2025-06-28T13:52:52.982Z","id":"1A9YoQDo1COtDvue","name":"Cal.com booking","active":true,"isArchived":false,"nodes":[{"parameters":{"events":["BOOKING_CREATED"],"options":{}},"type":"n8n-nodes-base.calTrigger","typeVersion":2,"position":[-1400,-100],"id":"d1447b04-f63c-4d27-98a5-4003004a50cf","name":"Cal.com Trigger","webhookId":"0da0817d-c2a1-4d21-9b77-ff2ae7a6e055","credentials":{"calApi":{"id":"RGTjySuk4bqaYcpy","name":"Cal account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7175ba69-2811-4c98-9eaf-b6a064ea3ca5","leftValue":"={{ $json.message }}","rightValue":"Not in CRM","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-740,-100],"id":"19b24918-342a-4b20-a9b3-96f4729a8a17","name":"In CRM?"},{"parameters":{"jsCode":"const items = $input.all();\nconst output = items.map((item) => {\n  if (Object.keys(item?.json).length === 0) {\n    return { message: \"Not in CRM\" };\n  }\n  return item;\n});\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,-100],"id":"18638e13-df72-4572-985f-0ebf40287282","name":"Check if item is empty"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appjL8npjjAXSREaJ","mode":"list","cachedResultName":"NorthFlow CRM","cachedResultUrl":"https://airtable.com/appjL8npjjAXSREaJ"},"table":{"__rl":true,"value":"tblZlAcevMv5oyJzu","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appjL8npjjAXSREaJ/tblZlAcevMv5oyJzu"},"filterByFormula":"={Email Address}=\"{{ $json.organizer.email }}\"","returnAll":false,"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1180,-100],"id":"0a02c4e6-0e44-4b4f-96f8-72888fed8b46","name":"Search Email Address","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"TIgbpUAIHwmlxLOW","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appjL8npjjAXSREaJ","mode":"list","cachedResultName":"NorthFlow CRM","cachedResultUrl":"https://airtable.com/appjL8npjjAXSREaJ"},"table":{"__rl":true,"value":"tblZlAcevMv5oyJzu","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appjL8npjjAXSREaJ/tblZlAcevMv5oyJzu"},"columns":{"mappingMode":"defineBelow","value":{"Start Lead Enrichment":false,"id":"={{ $('Search Email Address').item.json.id }}","Lead Status":"Meeting Booked","Google Meet URL":"={{ $('Cal.com Trigger').item.json.metadata.videoCallUrl }}","Meeting Date":"={{ $('Cal.com Trigger').item.json.startTime }}","Email Address":"={{ $('Cal.com Trigger').item.json.attendees[0].email }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Start Lead Enrichment","displayName":"Start Lead Enrichment","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Lead Status","displayName":"Lead Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yet to Be Enriched","value":"Yet to Be Enriched"},{"name":"Cold","value":"Cold"},{"name":"Warm","value":"Warm"},{"name":"Meeting Booked","value":"Meeting Booked"},{"name":"Proposal Sent","value":"Proposal Sent"},{"name":"Partner Closed","value":"Partner Closed"},{"name":"Lost","value":"Lost"}],"readOnly":false,"removed":false},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Time at Company","displayName":"Time at Company","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Raw Company Name","displayName":"Raw Company Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Cleaned Company Name","displayName":"Cleaned Company Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Construction/trade SaaS ","value":"Construction/trade SaaS "}],"readOnly":false,"removed":true},{"id":"Company Location","displayName":"Company Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Personal LinkedIn URL","displayName":"Personal LinkedIn URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Company Linkedin URL","displayName":"Company Linkedin URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Company Website","displayName":"Company Website","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Meeting Date","displayName":"Meeting Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Google Meet URL","displayName":"Google Meet URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Lead Summary","displayName":"Lead Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Personalization","displayName":"Personalization","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Email Campaign ID","displayName":"Email Campaign ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Date Lead Enriched","displayName":"Date Lead Enriched","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-520,-200],"id":"874bec25-fb96-458c-af1e-ffaf72b830ef","name":"Update Lead: Meeting Booked","credentials":{"airtableTokenApi":{"id":"TIgbpUAIHwmlxLOW","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appjL8npjjAXSREaJ","mode":"list","cachedResultName":"NorthFlow CRM","cachedResultUrl":"https://airtable.com/appjL8npjjAXSREaJ"},"table":{"__rl":true,"value":"tblZlAcevMv5oyJzu","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appjL8npjjAXSREaJ/tblZlAcevMv5oyJzu"},"columns":{"mappingMode":"defineBelow","value":{"Start Lead Enrichment":false,"Email Address":"={{ $('Cal.com Trigger').item.json.attendees[0].email }}","Lead Status":"Meeting Booked","Raw Company Name":"={{ $('Cal.com Trigger').item.json.responses[\"Company-Name\"].value }}","Google Meet URL":"={{ $('Cal.com Trigger').item.json.metadata.videoCallUrl }}","Title":"={{ $('Cal.com Trigger').item.json.responses[\"Your-position\"].value }}","Meeting Date":"={{ $('Cal.com Trigger').item.json.startTime }}","Company Website":"={{ $('Cal.com Trigger').item.json.responses.website.value }}","Full Name":"={{ $('Cal.com Trigger').item.json.attendees[0].name }}"},"matchingColumns":[],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Start Lead Enrichment","displayName":"Start Lead Enrichment","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Lead Status","displayName":"Lead Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Yet to Be Enriched","value":"Yet to Be Enriched"},{"name":"Cold","value":"Cold"},{"name":"Warm","value":"Warm"},{"name":"Meeting Booked","value":"Meeting Booked"},{"name":"Proposal Sent","value":"Proposal Sent"},{"name":"Partner Closed","value":"Partner Closed"},{"name":"Lost","value":"Lost"}],"readOnly":false,"removed":false},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Time at Company","displayName":"Time at Company","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Raw Company Name","displayName":"Raw Company Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cleaned Company Name","displayName":"Cleaned Company Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Construction/trade SaaS ","value":"Construction/trade SaaS "}],"readOnly":false,"removed":true},{"id":"Company Location","displayName":"Company Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Personal LinkedIn URL","displayName":"Personal LinkedIn URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Company Linkedin URL","displayName":"Company Linkedin URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Company Website","displayName":"Company Website","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Meeting Date","displayName":"Meeting Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Google Meet URL","displayName":"Google Meet URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Lead Summary","displayName":"Lead Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Personalization","displayName":"Personalization","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Email Campaign ID","displayName":"Email Campaign ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Date Lead Enriched","displayName":"Date Lead Enriched","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-520,0],"id":"ee80ab1a-1212-4ce8-bc3e-121959b21458","name":"Creat Lead: Meeting Booked New Lead","credentials":{"airtableTokenApi":{"id":"TIgbpUAIHwmlxLOW","name":"Airtable Personal Access Token account"}}},{"parameters":{"amount":8,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-40,-80],"id":"ed9a05ea-fad2-4626-bf51-0fa2e5cfe7c7","name":"Wait","webhookId":"a25c4e85-ff76-45a4-a9bd-1d70792a1725"},{"parameters":{"otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[180,-80],"id":"f4137dce-be89-446b-bae4-2a0b568b1f65","name":"Slack","webhookId":"4d6364de-e4dd-41be-bf53-57af064a37c9"},{"parameters":{"resource":"draft","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,-80],"id":"a1a514ba-a098-48fa-a2b9-4d5dc417f609","name":"Gmail","webhookId":"ee5ebbdf-9653-4e4d-8cff-dc9093e0aa8a","credentials":{"gmailOAuth2":{"id":"aGIhhmwmH2VK328i","name":"Gmail account"}}},{"parameters":{"content":"Future: Send confirmation message","height":480,"width":740,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-100,-280],"typeVersion":1,"id":"08bafd2c-8a00-471b-8891-cbd5565d256d","name":"Sticky Note"}],"connections":{"Cal.com Trigger":{"main":[[{"node":"Search Email Address","type":"main","index":0}]]},"Check if item is empty":{"main":[[{"node":"In CRM?","type":"main","index":0}]]},"Search Email Address":{"main":[[{"node":"Check if item is empty","type":"main","index":0}]]},"In CRM?":{"main":[[{"node":"Update Lead: Meeting Booked","type":"main","index":0}],[{"node":"Creat Lead: Meeting Booked New Lead","type":"main","index":0}]]},"Update Lead: Meeting Booked":{"main":[[]]},"Creat Lead: Meeting Booked New Lead":{"main":[[]]},"Wait":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Slack":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Cal.com Trigger":{"webhookId":"0ea3f0f1-e344-4d35-95ed-8ec472da6836"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Cal.com Trigger":[{"json":{"triggerEvent":"BOOKING_CREATED","createdAt":"2025-06-28T08:52:15.318Z","bookerUrl":"https://cal.com","title":"Intro Call between Rich Emmerson and Rich Emmerson","startTime":"2025-06-30T10:30:00Z","endTime":"2025-06-30T11:00:00Z","additionalNotes":"","type":"intro-call","description":"Quick chat to see if we're a fit.<br><br>****Note:**** Due to high demand and a focus on delivering results, we're currently partnering exclusively with established B2B businesses generating over $30,000 in monthly revenue.<br>","eventTypeId":2715071,"hideCalendarNotes":false,"hideCalendarEventDetails":false,"hideOrganizerEmail":false,"schedulingType":null,"seatsPerTimeSlot":null,"seatsShowAttendees":true,"seatsShowAvailabilityCount":true,"customReplyToEmail":null,"organizer":{"id":1380793,"name":"Rich Emmerson","email":"hello@emmerson.studio","username":"northflow","timeZone":"Europe/Rome","language":{"locale":"en"},"timeFormat":"h:mma","utcOffset":120},"attendees":[{"email":"hello@emmerson.studio","name":"Rich Emmerson","firstName":"","lastName":"","timeZone":"Europe/Rome","language":{"locale":"en"},"utcOffset":120}],"customInputs":{},"responses":{"attendeePhoneNumber":{"label":"phone_number","isHidden":true},"name":{"label":"your_name","value":"Rich Emmerson","isHidden":false},"email":{"label":"email_address","value":"hello@emmerson.studio","isHidden":false},"location":{"label":"location","value":{"value":"integrations:google:meet","optionValue":""},"isHidden":false},"guests":{"label":"additional_guests","value":[],"isHidden":false},"rescheduleReason":{"label":"reason_for_reschedule","isHidden":false},"title":{"label":"what_is_this_meeting_about","isHidden":true},"Company-Name":{"label":"Company Name","value":"testing","isHidden":false},"website":{"label":"Company Website","value":"testing.com","isHidden":false},"Your-position":{"label":"Your position/title","value":"testing","isHidden":false},"ideal-outcome":{"label":"What would your ideal outcome be for this call?","value":"testing","isHidden":false},"monthly-revenue":{"label":"What is your current monthly revenue?","value":"Under 10K","isHidden":false},"bookings":{"label":"How many extra bookings can you handle in the next 30 days?","value":"5-20","isHidden":false},"partnership-structure":{"label":"What's your preferred partnership structure?","value":"Guaranteed Pipeline (Monthly Retainer)","isHidden":false},"time-confirmation":{"label":"Are you 100% certain you'll be available at the time you've selected? If not, please select a different time, or don't schedule.","value":"Yes","isHidden":false},"notes":{"label":"additional_notes","isHidden":false}},"userFieldsResponses":{"Company-Name":{"label":"Company Name","value":"testing","isHidden":false},"website":{"label":"Company Website","value":"testing.com","isHidden":false},"Your-position":{"label":"Your position/title","value":"testing","isHidden":false},"ideal-outcome":{"label":"What would your ideal outcome be for this call?","value":"testing","isHidden":false},"monthly-revenue":{"label":"What is your current monthly revenue?","value":"Under 10K","isHidden":false},"bookings":{"label":"How many extra bookings can you handle in the next 30 days?","value":"5-20","isHidden":false},"partnership-structure":{"label":"What's your preferred partnership structure?","value":"Guaranteed Pipeline (Monthly Retainer)","isHidden":false},"time-confirmation":{"label":"Are you 100% certain you'll be available at the time you've selected? If not, please select a different time, or don't schedule.","value":"Yes","isHidden":false}},"location":"integrations:google:meet","destinationCalendar":[{"id":483878,"integration":"google_calendar","externalId":"hello@emmerson.studio","primaryEmail":"hello@emmerson.studio","userId":1380793,"eventTypeId":null,"credentialId":793603,"delegationCredentialId":null,"domainWideDelegationCredentialId":null}],"iCalUID":"2fMXFRLwXCvL2NBbsahkFM@Cal.com","iCalSequence":0,"requiresConfirmation":false,"oneTimePassword":null,"uid":"2fMXFRLwXCvL2NBbsahkFM","conferenceData":{"createRequest":{"requestId":"8a0ce172-f69a-51b5-8481-93feb73d58e2"}},"appsStatus":[{"appName":"google-calendar","type":"google_calendar","success":1,"failures":0,"errors":[],"warnings":[]},{"appName":"Google Meet","type":"conferencing","success":1,"failures":0,"errors":[]}],"eventTitle":"Intro Call","eventDescription":"Quick chat to see if we're a fit.<br><br>****Note:**** Due to high demand and a focus on delivering results, we're currently partnering exclusively with established B2B businesses generating over $30,000 in monthly revenue.<br>","price":0,"currency":"usd","length":30,"bookingId":8891447,"metadata":{"videoCallUrl":"https://meet.google.com/ivt-vdzf-bmm"},"status":"ACCEPTED"}}]},"versionId":"055a1d6a-ca10-4fac-8e9f-66a742d9cd38","triggerCount":1,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-03-23T15:44:22.440Z","updatedAt":"2025-03-23T15:44:22.440Z","id":"nPE42Vkiq42TPmfL","name":"Operations"}]}