deep-research-+-email-assistant-dF5Bz4cJMqhYvjNq.json
{"createdAt":"2025-05-20T09:52:35.660Z","updatedAt":"2025-05-27T09:25:49.362Z","id":"dF5Bz4cJMqhYvjNq","name":"Deep Research + Email Assistant","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/VhxlqQXRwhW8H5hNV/runs","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"username\": \"{{ $json.linkedin_url }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,-1400],"id":"66cc2c99-971c-4b5c-bda9-5934542d391c","name":"Run Apify Actor","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"waitForFinish","value":"60"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,-1400],"id":"73a86f36-7aa0-467c-80cb-29bcdc39cbce","name":"Get Actor Run","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,-1400],"id":"4f526574-c293-4006-a085-a7772d8ede1d","name":"get Dataset","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1340,-1200],"id":"1a9c36ce-bd4c-4720-aa5c-7fcdd0375e86","name":"Batch 1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1cosT4NxlB67jA0UCHbHQZP1CiF55YAK1uD0MfZihRTw","mode":"list","cachedResultName":"Demo - Deep Research Assistant","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cosT4NxlB67jA0UCHbHQZP1CiF55YAK1uD0MfZihRTw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Demo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cosT4NxlB67jA0UCHbHQZP1CiF55YAK1uD0MfZihRTw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('Batch 1').item.json.email }}","status":"Review","companyLinkedinAbout":"={{ $('Edit Fields3').item.json.companyLinkedinAbout }}","companyHomepage":"={{ $('Edit Fields3').item.json.companyHomepage }}","leadResearch":"={{ $('leadResearch').item.json.leadResearch }}","subjectLine":"={{ $json.output.subjectLine }}","emailBody":"={{ $json.output.emailBody }}","leadSummary":"={{ $json.output.leadSummary }}"},"matchingColumns":["email"],"schema":[{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadResearch","displayName":"leadResearch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailBody","displayName":"emailBody","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadSummary","displayName":"leadSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"personalLinkedinAbout","displayName":"personalLinkedinAbout","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyHomepage","displayName":"companyHomepage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinAbout","displayName":"companyLinkedinAbout","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4500,-1000],"id":"38f74011-3f44-4100-914a-79b210b4ff86","name":"Update: Recent Posts","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":5,"options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3080,-1040],"id":"c35e07fe-c338-49cd-8a19-a44ba4ea23ee","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc44a289-8c50-4682-8b50-c2e63cfc6514","leftValue":"={{ $json.organization_website_url }}","rightValue":"/","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f8e675e8-99cc-4c30-92e3-e08a659cff9b","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"b8cd2584-c38a-4b2d-840b-a46fde6fa884","leftValue":"={{ $json['ELV Result'] }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5fcae317-58b4-4c2d-bd03-16da74bd0c0b","leftValue":"={{ $json.status }}","rightValue":"Start Research","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[820,-1200],"id":"d58607e6-2cda-4df0-994c-94a50adc7ac8","name":"Lead Filter"},{"parameters":{"url":"={{ $json.organization_linkedin_url }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"f18be1ae-a88a-4f2a-9187-27ff7016f723","name":"Company Linkedin","type":"n8n-nodes-base.httpRequest","position":[1780,-1020],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"content":"Personal LinkedIn profile","height":320,"width":920,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1700,-1500],"typeVersion":1,"id":"ed766101-c858-4131-aea1-010027589bd2","name":"Sticky Note"},{"parameters":{"content":"Company LinkedIn profile","height":320,"width":920,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1700,-1120],"typeVersion":1,"id":"4a3f0b3d-7f15-40cb-806f-cf4b76392774","name":"Sticky Note3"},{"parameters":{"content":"Company website","height":320,"width":920,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1700,-740],"typeVersion":1,"id":"31ca1a2b-e42c-484b-9cc0-179879e1aa30","name":"Sticky Note4"},{"parameters":{"url":"={{ $json.organization_website_url }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"5bdc3205-4d14-4994-b81e-9ac37e305672","name":"Scrape Home","type":"n8n-nodes-base.httpRequest","position":[1780,-620],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're a helpful, intelligent website scraping assistant.","role":"system"},{"content":"=You're provided a scrape of a LinkedIn company page. Your task is to extract the \"About Us\" section and any posts or content from the last 2 weeks.\n\nReturn in this JSON format:\n\n{\"companyLinkedin\":\"about goes here\"}\n{\"recentPost\":\"Posts and content goes here\"}\n\nRules:\n- If either is companyLinkedin or recentPost has no data, then output \"no content\"\n- Include date with and posts or content\n\nLinkedIn Company Page: \n{{ $json.text }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2280,-1020],"id":"ccbe7306-854b-47a2-86f4-a405370a75f3","name":"Extract company LinkedIn data","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're a helpful, intelligent website scraping assistant.","role":"system"},{"content":"=You're provided a scrape of a company homepage. Your task is to extract the content in a clear and easy to read format.\n\nGuidelines\n- Remove repetaive content\n- Focus on core sections\n\n\nRules:\n- If empty, just output \"no content\".\n\n\nHomepage Content:\n{{ $json.text }}\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2280,-620],"id":"c1cbab28-7e7f-4a8e-a74b-5e8486ce1034","name":"Extract company homepage data","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4920,580],"id":"b41413dc-05b5-4fab-a24a-067a11f316a2","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"7dfc456e-3637-4f12-8d9b-7f7278d4ace1","name":"leadResearch","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3880,-1000],"id":"d8ecb71a-f185-499d-afd8-06582cc91174","name":"leadResearch"},{"parameters":{"jsCode":"const data = $json.data;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  // Remove script, style, and other non-visible tags\n  const cleanedHTML = html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '') // Remove script tags\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')   // Remove style tags\n    .replace(/<[^>]+>/g, '')                            // Remove all other HTML tags\n    .replace(/\\s+/g, ' ')                               // Replace multiple spaces with a single space\n    .trim();                                            // Trim leading and trailing spaces\n  return cleanedHTML;\n}\n\n// Extract text from the input HTML\nlet extractedText = extractTextFromHTML(data);\n\n// Limit to 4000 words\nconst words = extractedText.split(' ');\nif (words.length > 4000) {\n  extractedText = words.slice(0, 4000).join(' ');\n}\n\n// Log or return the extracted text for debugging\nconsole.log(extractedText);\n\n// Return the extracted text as output\nreturn { text: extractedText };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2040,-620],"id":"179ef9fd-90f0-4181-a775-a092502c67a1","name":"Text extract (<4k words)"},{"parameters":{"jsCode":"const data = $json.data;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  // Remove script, style, and other non-visible tags\n  const cleanedHTML = html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '') // Remove script tags\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')   // Remove style tags\n    .replace(/<[^>]+>/g, '')                            // Remove all other HTML tags\n    .replace(/\\s+/g, ' ')                               // Replace multiple spaces with a single space\n    .trim();                                            // Trim leading and trailing spaces\n  return cleanedHTML;\n}\n\n// Extract text from the input HTML\nlet extractedText = extractTextFromHTML(data);\n\n// Limit to 4000 words\nconst words = extractedText.split(' ');\nif (words.length > 4000) {\n  extractedText = words.slice(0, 4000).join(' ');\n}\n\n// Log or return the extracted text for debugging\nconsole.log(extractedText);\n\n// Return the extracted text as output\nreturn { text: extractedText };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2040,-1020],"id":"2f1c125c-d61b-4cdf-9768-d1922996ac0f","name":"Text extract (<4k words)1"},{"parameters":{"promptType":"define","text":"=Your task is to support the outbound sales/marketing team by conducting deep-dive research into assigned leads to uncover relevant, timely, and personalized insights that can be used to tailor cold outreach.\n\n\n#Our offer\n{{ $json.prospectOffer }}\n\n\n#Workflow\n1. Review lead data sources.\n\n2. Identify compelling details that show we’ve “done our homework” and will help connect the lead to our offer in a natural way.\n\n3. Provide a highly detailed report in bullet points of the best ways to connect with the lead. It must show that we understand them as a person, the business, and position us as an ally. This may include:\n- Compelling insights\n- Any quotes\n- Powerful angles to frame our offer\n- Tap into the lead's pain points\n- Align with their beliefs\n- Personal likes/dislikes, hobbies and lifestyle\n\n\n#Guidelines: \n- Each key insight should be concise and include brief context, details, and why it would be valuable in our outreach.\n- Keep each insight actionable, and relevant. Prioritize recency, relevance, and uniqueness.\n- Your context should explain the insight, quote and why it matters for outreach.\n- If/when referencing \"Current experience\" ensure \n that \"Current Experience\":\"True\" (not \"False\")\n\n\n\n#Rules:\n- Include small, non-obvious things to paraphrase. The idea is to make people think we *really* dove deep into their LinkedIn and company, so don't use something obvious.\n- Prioritize recent posts from the (last 30–60 days) over older posts\n- Avoid stating if something is \"new\" or \"recent\" unless it is explicitly under 3 months old.\n- Only include info that is genuinely useful for personalizing a message\n- Avoid fluff (e.g. “loves dogs” from LinkedIn bio, unless it's genuinely relevant)\n\n \n\n\n#Output\n- Provide 4-6 insights in a formatted document:\n- Then at the bottom of the document inlcude:\n  - \"Personal Lead Insights\" \n  - \"Recommendations\"\n\n\n\n#Lead Research: (Lead Name goes here)\n\n#Insight#: (distilled, accurate and valuable insights with context goes here.)\nRelevance: (Relevance tag - \"high\", \"medium\", \"low\" goes here)\nSource: (Source tags - \"Personal bio\", \"company website\", \"company Linkedin\", etc goes here)\n\n#Personal Lead Insights: (Speciifc insights about the lead we can use to build rapport.)\n\n#Recommendations: (How best to connect with lead)\n\n(Don't add example hook)\n\n\n\n<#Relevance examples>\n\nBelow are some examples of how the insights should be ranked for relevance.\n\nHigh Relevance:\n- Promotion/new job (Must be under <3 months to state it's \"new\" or  \"recent\")\n- Launched a new initiative\n- Has the pain points we solve\n- Lead change and adoption of new tech, process, mindset\n- Hiring highly relevant department such as sales, marketing, customer service, etc\n\n\nMedium Relevance:\n- Got award\n- Long time in the job (10+ years)\n- Family owned\n- Based in X location\n- Loves dogs\n- Has a specific hobby\n\n\nLow Relevance:\n- Does team training\n- Good at customer service\n- Hiring in unreleated departments \n\n</examples>\n\n\n\n\n\n#Lead Data Sources\n\nName: {{ $('Batch 1').item.json.first_name }} {{ $('Batch 1').item.json.last_name }}\n\nTitle: {{ $('Batch 1').item.json.title }}\n\nHeadline: {{ $('Batch 1').item.json.headline }}\n\nOrganization: {{ $('Batch 1').item.json.organization_name }}\n\n--\n\n#Lead Personal LinkedIn\nBasic Info:\n{{ $json.basic_info }}\n\nExperience0:\n{{ $json.experience[0] }}\n\nExperience1:\n{{ $json.experience[0] }}\n\n\n--\n\n\n#Company Linkedin: \n{{ $json.companyLinkedinAbout }}\n\n#Recent Company Posts: \n{{ $json.companyLinkedinRecentPost }}\n\n\n--\n\n#Company Website:\n\nHomepage: \n{{ $json.companyHomepage }}\n\nAbstract of Additioanl Website Pages:\n{{ $json.websiteAbstract }}\n\n","hasOutputParser":true,"options":{"systemMessage":"You are a helpful and intelligent Personalization Research Specialist with a background in business and psychology."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[3520,-1000],"id":"e420e05e-6827-4578-af76-796f87874a62","name":"Research Specialist"},{"parameters":{"model":"deepseek-reasoner","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[3480,-780],"id":"be00218e-a34d-4eab-9665-858824244d00","name":"DeepSeek R1","credentials":{"deepSeekApi":{"id":"iaFBuMVfZL8OMDAx","name":"DeepSeek account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1040,-1200],"id":"a1647c65-28a5-41d7-b0b4-ab605552434e","name":"Limit 1 Results"},{"parameters":{"content":"Website Stats (SimilarWeb)","height":320,"width":1120,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1740,1440],"typeVersion":1,"id":"42e87ae7-c256-4978-83e6-75202bcaab43","name":"Sticky Note5"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/yzajVNNlRgva1QBU4/runs","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"websites\": [\n        \"{{ $json.organization_website_url }}\"\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1820,1540],"id":"97c9791f-08e7-4a60-afb0-e3872ac0edc4","name":"Run Apify Actor1","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"waitForFinish","value":"60"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2020,1540],"id":"79f47671-0897-4bd1-831e-4430523b3f9a","name":"Get Actor Run1","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,1540],"id":"827ce8c2-29a6-4f20-af72-58675427750f","name":"get Dataset1","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"documentId":{"__rl":true,"value":"1cosT4NxlB67jA0UCHbHQZP1CiF55YAK1uD0MfZihRTw","mode":"list","cachedResultName":"Demo - Deep Research Assistant","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cosT4NxlB67jA0UCHbHQZP1CiF55YAK1uD0MfZihRTw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Demo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cosT4NxlB67jA0UCHbHQZP1CiF55YAK1uD0MfZihRTw/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[600,-1200],"id":"419de0f0-1d3d-4e53-91e8-f93e026c18ae","name":"Apollo - Deep Research Assistant","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[340,-1300],"id":"b7809903-f1fc-406b-91ed-2157b2da5169","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"a8f63b65-810b-4709-a7fa-e1035ee8722b","name":"","value":"={{    $json[\"data\"].map(item =>      `Website: ${item.name}\\nTitle: ${item.title}\\nDescription: ${item.description}\\nURL: ${item.url}`   ).join(\"\\n\\n---\\n\\n\")  }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2440,1540],"id":"7f393dab-88ac-4bbf-aeff-05dde7ff11a7","name":"Edit Fields"},{"parameters":{},"id":"e4acba9c-dabd-4a04-ae42-df306f9e42cf","name":"Remove Duplicate URLs","type":"n8n-nodes-base.removeDuplicates","position":[2620,60],"typeVersion":1.1},{"parameters":{"fieldToSplitOut":"links","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2420,-200],"id":"3ef69588-c5fa-446e-93a7-238bfb7c5675","name":"Split Out","alwaysOutputData":true},{"parameters":{"url":"={{ $('Batch 1').item.json.organization_website_url }}{{ $json.cleanLink }}","options":{}},"id":"edc6a545-bf9b-4d73-aa67-0a416a4c4ea2","name":"Request web page for URL","type":"n8n-nodes-base.httpRequest","position":[1860,300],"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"html":"={{ $json.data ? $json.data : \"<div>empty</div>\" }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[2080,300],"id":"86d8abd7-075d-4446-9095-b8653aaecb1d","name":"Markdown"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're a helpful, intelligent website scraping assistant.","role":"system"},{"content":"=You're provided a Markdown scrape of a website page. Your task is to provide a two-paragraph abstract of what this page is about.\n\n\n#Output\nReturn in this JSON format:\n\n{\"abstract\":\"your abstract goes here\"}\n\n\n#Rules:\n- Include speficic details about {{ $('Batch 1').item.json.first_name }} {{ $('Batch 1').item.json.last_name }}, that could be used personalization to indicate that we know them well.\n- Your extract should be comprehensive—similar level of detail as an abstract to a published paper.\n- Use a straightforward, spartan tone of voice.\n- If it's empty, just say \"no content\"."},{"content":"={{ $json.data }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2280,300],"id":"d9718b74-9656-4f01-b476-9fca1b28faff","name":"Summarize Website Page","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"message.content.abstract","renameField":true,"outputFieldName":"websiteAbstract"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2640,300],"id":"ca97ec9b-a1c1-4bb2-beac-708f1d0e2782","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"eb5ae341-0082-47fc-bebe-1c799770a162","name":"cleanLink","value":"={{ $json.message.content.cleanLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2420,60],"id":"1833411b-cfa4-4d95-aff0-1edd913b5fc5","name":"Edit Fields1"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"links","cssSelector":"a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true,"cleanUpText":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[2020,-200],"id":"5c44e384-4054-4055-90e2-7da6c175ed5f","name":"Scrape Links"},{"parameters":{"maxItems":15},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1840,60],"id":"75cf5241-eed7-4316-9d10-d9986fad0a01","name":"15 Links Only"},{"parameters":{"url":"={{ $('Batch 1').item.json.organization_website_url }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"cfbdcd5c-75f4-4ed0-83c7-9d943a70273c","name":"Scrape Home1","type":"n8n-nodes-base.httpRequest","position":[1820,-200],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"40fd7130-c65d-4826-a713-ecca24d23b07","name":"links","value":"={{ $json.links }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2220,-200],"id":"1c4467b9-eb6d-4cb6-897e-5ae8594e1e90","name":"Edit Fields2"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are an intelligent and helpful assistant.","role":"system"},{"content":"You're task is to take the links and extract only the relative URL.\n\n#Examples: \n\nInput: https://www.patriotfreightgroup.com/customers/\nOutput: /customers\n\nInput: /\nOutput: /\n\nInput: #content\nOutput: Null\n\nInput: https://www.ebthree.com/signup/enterprise+-101\nOutput: /signup\n\n\n#Rules:\n- Always output in JSON format in this format: \"cleanLink\":\"output\"\n- If input is a single / then output a single /\n- Remove the trailing /\n- Only \"error\" if there are 0 items in the \"success branch\""},{"content":"={{ $json.links }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2040,60],"id":"e1d3275b-093b-4a8c-be0f-402070eb05f0","name":"Clean up links","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"Company Website","height":860,"width":1120,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1700,-320],"typeVersion":1,"id":"20781b25-cef4-4eac-88b4-8fe909eeb484","name":"Sticky Note6"},{"parameters":{"jsonSchemaExample":"{\n\t\"subjectLine\": \"\",\n\t\"emailBody\": \"\",\n\t\"leadSummary\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[4300,-780],"id":"0a41a734-9661-4b35-aba2-436042caa981","name":"Structured Output Parser1"},{"parameters":{"content":"## Prospect Offer: Update","height":320,"width":920},"type":"n8n-nodes-base.stickyNote","position":[1700,-1880],"typeVersion":1,"id":"b4126ab4-2a84-4a9b-bb2a-bdd44266a724","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"aace4e97-ee03-4062-b207-7b84ec87cb14","name":"prospectOffer","value":"EB3 (Employee Benefits Booklet Builder) is a cloud-based platform designed to help employee benefits agencies and brokers efficiently create professional, customized benefit booklets and compliance documents for their clients.  \n\n- An intuitive process to build benefit booklets and over 20 compliance documents, including WRAP SPDs, POP documents, and broker compensation forms. \n\n- Features: Pre-built templates for various insurance coverages (e.g., health, dental, vision), customizable color schemes matching client branding, and options to add professional cover pages and themes.  \n\n- Automation Tools: Features like SBC data scraping, employee deduction calculators, dynamic tables of contents, and automatic formatting to reduce manual data entry and formatting time. \n\n- Multilingual Support: One-click Spanish translation to cater to diverse employee populations. \n\n- Flexible Output Options: Export booklets as PDFs, links, QR codes, or digital flipbooks for easy distribution.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1800,-1760],"id":"abf863ea-d816-4d6d-ac4d-0aee98b8d296","name":"prospectOffer"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2400,-1760],"id":"4457a27f-ad43-4a63-b59d-836b189a247a","name":"No Op","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"=Your task is to use the lead research and templates provided to create cold emails that feel personal, relevant, and authentic, just for them.\n\n\n#Workflow:\n1. Review lead research\n2. Use the provided cold email templates as a baseline\n3. Adapt to match the lead’s persona and insights. Ensure every email feels personal and relevant - no lazy “just reaching out” vibes\n4. Output in JSON format:\n\n{\"subjectLine\":\"\", \"emailBody\":\"\", \"leadSummary\":\"\"}\n\n\n\n#Templates:\n\n{\"subjectLine\": \"hey {firstName}, think I have something for you re: {businessThingTheyCareAbout}\"\n\n{\"emailBody\": \"I know you're doing {thingIdeaInsight}, {and/plus} {love/saw} {otherThingIdeaInsight} - figured it made sense to chat.\n\nCurious, do you have {relevantPainPoint} at {shortenedLowercaseCompanyName}? \n\nWe can help {compellingOffer (Based on lead reseach and our offer} - no contracts or start up fees. Could be {relevantBusinessBenefitTheyCareAbout(ideally revenue or sales related.)}\n\njust helped a similar {genericProspectNiche} generate {solution}\n\nI know this is out of left field, but would this be of any value to you?\n\nPs - even if we just chat I'd love to hear about {somethingSpecific - personalThing/Insight,Interest,TheyMentioned, Lifestyle, Hobby}\"}\n\n\n{\"leadSummary\":\"Either way, love {specificThingBeliefIdeaInsightTheyHave}\"}\n\n\n#Notes:\n- Non-Negotiable: Never use — (em dash)\n- The email should feel genuinely personal and tightly relevant\n- Your tone of voice should be \"casual bar conversation\" and very spartan. No fancy language.\n- Keep variables SHORT and punchy\n- Never mention \"database\"\n- Don't change 'subjectLine' from the template, make sure {thingAboutThem} is about them and KEEP the \"re:\" (Don't reference the sound salesy or generic)\n\n#Guidelines:\n- Personalization should be tight, but not creepy.\n- Try to connect the subjectLine to the intro so the email flows naturally.\n- Prioritize higher-relevance insights for variables\n- Try and avoid low relevance insights \n- {personalThing} should be something unique about them them or their life ideally from \"Personal Bio\"\n- \"leadSummary\" is a used in a follow up email and should stand out and being highly personal and relevant.\n- Weave in multiple insights from the lead research\n- Try avoid using the same insight more than twice in the \"emailBody\"\n- The \"Ps\" should be simple, direct and avoid complicated play on words and generic fluff. \n\n\n#Rules:\n- Make sure to use the above templates when constructing your the email. We wrote it this way on purpose.\n- Shorten the company name wherever possible (say, \"XYZ\" instead of \"XYZ Agency\"). More examples: \"Love AMS\" instead of \"Love AMS Professional Services\", \"Love Mayo\" instead of \"Love Mayo Inc\", \"Claremont\" insted of \"Claremont Insurance Services\" etc.\n- Do the same with locations. \"San Fran\" instead of \"San Francisco\", \"BC\" instead of \"British Columbia\", etc.\n- Do not just repeat the input data verbatim. Paraphrase, so they think a human wrote it.\n- Make sure the \"subjectLine\" is non-capitalized, even if it’s grammatically incorrect. This makes the email seem more human.\n- Avoid using superscript, subscript or ™, ©, ;, and other signs that look copy and pasted.\n- Avoid suggesting we should have a \"call\"\n- Use shortened abbreviation and lowercase for {Position/Title} (e.g. Director of Business Development = director of BD. CEO = CEO)\n- Avoid congratulations for promotions, unless it was less than 3 months ago.\n- Avoid calculating potentional savings and sales.\n\n\n#Our offer (for context)\n{{ $('Edit Fields3').item.json.prospectOffer }}\n\n\n#Lead Research:\n\nTodays Date: {{ $now }}\n\nName: {{ $('Batch 1').item.json.first_name }} {{ $('Batch 1').item.json.last_name }}\n\nTitle: {{ $('Batch 1').item.json.title }}\n\nHeadline: {{ $('Batch 1').item.json.headline }}\n\nOrganization: {{ $('Batch 1').item.json.organization_name }}\n\n{{ $json.leadResearch }}\n\n","hasOutputParser":true,"options":{"systemMessage":"You are a Cold Email Writing Specialist with expertise in business, sales persuasion, and psycology."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[4080,-1000],"id":"51fda88d-3485-4e83-aae3-4eee97a6b081","name":"Cold Email Specialist"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[340,-1060],"id":"c24ebc93-fe04-4eb1-9c59-94130dc61d55","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"54bcecb6-3f64-4881-a563-18b2ce198221","name":"prospectOffer","value":"={{ $json.prospectOffer }}","type":"string"},{"id":"d54a1a8a-8345-4f28-89e2-729dd9c9dd2a","name":"basic_info","value":"={{ Object.entries($json.basic_info).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"0b89eacf-a0e7-4e19-a6d1-e1ca7578eb1a","name":"experience[0]","value":"={{ Object.entries($json.experience[0]).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"f97ca959-457e-4e8f-a0e0-b7eeaa317d28","name":"experience[1]","value":"={{ Object.entries($json.experience[1]).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"b145142c-d6ae-48e6-83c5-370c73b627a8","name":"companyHomepage","value":"={{ $json.message.content }}","type":"string"},{"id":"6f636fff-f186-47e5-8fa3-57883d8eb17d","name":"companyLinkedinAbout","value":"={{ $('Extract company LinkedIn data').item.json.message.content.companyLinkedin }}","type":"string"},{"id":"a2a45dd3-651d-4d64-a1b3-d79748044059","name":"companyLinkedinRecentPost","value":"={{ $('Extract company LinkedIn data').item.json.message.content.recentPost }}","type":"string"},{"id":"6c00f863-4e3a-4e6e-b369-6c5b876f80e7","name":"websiteAbstract","value":"={{ $json.websiteAbstract }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3300,-1000],"id":"6fe0b5c4-5a0a-4876-9b63-1d689a54c9fa","name":"Edit Fields3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[4040,-780],"id":"2cf3ee9d-8b8a-4b35-b7b8-889767960b2f","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"iaFBuMVfZL8OMDAx","name":"DeepSeek account"}}}],"connections":{"Run Apify Actor":{"main":[[{"node":"Get Actor Run","type":"main","index":0}]]},"Get Actor Run":{"main":[[{"node":"get Dataset","type":"main","index":0}]]},"get Dataset":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Batch 1":{"main":[[],[{"node":"Run Apify Actor","type":"main","index":0},{"node":"Scrape Home","type":"main","index":0},{"node":"Company Linkedin","type":"main","index":0},{"node":"prospectOffer","type":"main","index":0}]]},"Update: Recent Posts":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Lead Filter":{"main":[[{"node":"Limit 1 Results","type":"main","index":0}]]},"Company Linkedin":{"main":[[{"node":"Text extract (<4k words)1","type":"main","index":0}]]},"Extract company LinkedIn data":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Scrape Home":{"main":[[{"node":"Text extract (<4k words)","type":"main","index":0},{"node":"Scrape Home1","type":"main","index":0}]]},"Extract company homepage data":{"main":[[{"node":"Merge","type":"main","index":3}]]},"No Operation, do nothing":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"leadResearch":{"main":[[{"node":"Cold Email Specialist","type":"main","index":0}]]},"Text extract (<4k words)":{"main":[[{"node":"Extract company homepage data","type":"main","index":0}]]},"Text extract (<4k words)1":{"main":[[{"node":"Extract company LinkedIn data","type":"main","index":0}]]},"Research Specialist":{"main":[[{"node":"leadResearch","type":"main","index":0}]]},"DeepSeek R1":{"ai_languageModel":[[{"node":"Research Specialist","type":"ai_languageModel","index":0}]]},"Limit 1 Results":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"Run Apify Actor1":{"main":[[{"node":"Get Actor Run1","type":"main","index":0}]]},"Get Actor Run1":{"main":[[{"node":"get Dataset1","type":"main","index":0}]]},"get Dataset1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Apollo - Deep Research Assistant":{"main":[[{"node":"Lead Filter","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Apollo - Deep Research Assistant","type":"main","index":0}]]},"Remove Duplicate URLs":{"main":[[{"node":"Request web page for URL","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"15 Links Only","type":"main","index":0}]]},"Request web page for URL":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Summarize Website Page","type":"main","index":0}]]},"Summarize Website Page":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Remove Duplicate URLs","type":"main","index":0}]]},"Scrape Links":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"15 Links Only":{"main":[[{"node":"Clean up links","type":"main","index":0}]]},"Scrape Home1":{"main":[[{"node":"Scrape Links","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Clean up links":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Cold Email Specialist","type":"ai_outputParser","index":0}]]},"prospectOffer":{"main":[[{"node":"No Op","type":"main","index":0}]]},"No Op":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Cold Email Specialist":{"main":[[{"node":"Update: Recent Posts","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Apollo - Deep Research Assistant","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Research Specialist","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"Cold Email Specialist","type":"ai_languageModel","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a4d25486-771d-4a38-b6d9-604aa14b2fd7","triggerCount":1,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-04-26T13:52:22.913Z","updatedAt":"2025-04-26T13:52:22.913Z","id":"uxCYnplZq3MMS6JY","name":"Demo"}]}