delete:-dealerships-original-version-wY3LbReo6TN8VjEn.json
{"createdAt":"2025-05-22T17:12:14.737Z","updatedAt":"2025-06-05T15:42:33.858Z","id":"wY3LbReo6TN8VjEn","name":"DELETE: Dealerships Original Version","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/VhxlqQXRwhW8H5hNV/runs","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"username\": \"{{ $json.linkedin_url }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,-1060],"id":"71b369b4-0ceb-439c-8527-58a1c28df4d0","name":"Run Apify Actor","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"waitForFinish","value":"60"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,-1060],"id":"7c3f4010-5cc1-40c9-8d43-818d0e64ff2e","name":"Get Actor Run","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2120,-1060],"id":"bb96d5f8-61bf-4d74-9017-7600183295b4","name":"get Dataset","credentials":{"httpHeaderAuth":{"id":"nwjqs0kjn5RM34Zs","name":"Apify"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1340,-1200],"id":"8ee09205-b584-456e-b994-631dfd7bf277","name":"Batch 1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1537180211,"mode":"list","cachedResultName":"Dealerships","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1537180211"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('Batch 1').item.json.email }}","status":"Proof Read Email","subjectLine":"={{ $json.output.subjectLine }}","emailBody":"={{ $json.output.emailBody }}","personalLinkedinAbout":"={{ $('linkedinAbout').item.json.linkedinAbout }}","companyLinkedinAbout":"={{ $('companyLinkedin').item.json.companyLinkedinAbout }}","companyHomepage":"={{ $('companyHomepage').item.json.companyHomepage }}","leadResearch":"={{ $('leadResearch').item.json.leadResearch }}","leadSummary":"={{ $json.output.leadSummary }}"},"matchingColumns":["email"],"schema":[{"id":"ELV Result","displayName":"ELV Result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"emailBody","displayName":"emailBody","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadSummary","displayName":"leadSummary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadResearch","displayName":"leadResearch","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"personalLinkedinAbout","displayName":"personalLinkedinAbout","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization_name","displayName":"organization_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization_website_url","displayName":"organization_website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyHomepage","displayName":"companyHomepage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinAbout","displayName":"companyLinkedinAbout","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4140,-680],"id":"9a14de16-24b1-4b37-8e1b-f6a630a389be","name":"Update: Recent Posts","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2960,-680],"id":"6080c5be-75e7-4be0-8983-50c55bcdea03","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc44a289-8c50-4682-8b50-c2e63cfc6514","leftValue":"={{ $json.organization_website_url }}","rightValue":"/","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"f8e675e8-99cc-4c30-92e3-e08a659cff9b","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"b8cd2584-c38a-4b2d-840b-a46fde6fa884","leftValue":"={{ $json['ELV Result'] }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"5fcae317-58b4-4c2d-bd03-16da74bd0c0b","leftValue":"={{ $json.status }}","rightValue":"Email Address Valid","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[820,-1200],"id":"63c20e34-2c53-4fdb-9b3e-be0639c20166","name":"Lead Filter"},{"parameters":{"documentId":{"__rl":true,"value":"13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w","mode":"list","cachedResultName":"Apollo Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1537180211,"mode":"list","cachedResultName":"Dealerships","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13rhpb41j8OvZYzBWnJzNO-xVs5qlVQPq-XZ8A8u_I-w/edit#gid=1537180211"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[600,-1200],"id":"5cbd12fa-c5f0-45db-867b-d032576932f0","name":"Apollo - Dealerships","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"2f205017-90ef-4103-a042-90699bab3883","name":"linkedinAbout","value":"={{ $json.basic_info.about }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2340,-1060],"id":"7e44fdee-f968-47f3-b1e8-98f67e802e37","name":"linkedinAbout"},{"parameters":{"url":"={{ $json.organization_linkedin_url }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"6fa6e54d-4380-46fb-8ecd-4fa5c374d084","name":"Company Linkedin","type":"n8n-nodes-base.httpRequest","position":[1700,-680],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"content":"Scrape PERSONAL LinkedIn profile","height":320,"width":1120,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1620,-1160],"typeVersion":1,"id":"41171497-88f5-4f7f-b5f2-63de6f52b2bb","name":"Sticky Note"},{"parameters":{"content":"Scrape COMPANY LinkedIn profile","height":320,"width":1120,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1620,-780],"typeVersion":1,"id":"3ab5d6d6-3936-4582-b8b1-3791bf50a1c8","name":"Sticky Note3"},{"parameters":{"content":"Scrape COMPANY website","height":320,"width":1120,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1620,-400],"typeVersion":1,"id":"3ba2ba38-7670-4755-bcdd-51ebf94106d9","name":"Sticky Note4"},{"parameters":{"url":"={{ $json.organization_website_url }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"a416933c-f62a-4d7e-8e58-b093cf6f5900","name":"Scrape Home","type":"n8n-nodes-base.httpRequest","position":[1700,-280],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're a helpful, intelligent website scraping assistant.","role":"system"},{"content":"=You're provided a scrape of a LinkedIn company page. Your task is to extract the \"About Us\" section and any posts or content from the last 2 weeks.\n\nReturn in this JSON format:\n\n{\"companyLinkedin\":\"about goes here\"}\n{\"recentPost\":\"Posts and content goes here\"}\n\nRules:\n- If either is companyLinkedin or recentPost has no data, then output \"no content\"\n- Include date with and posts or content\n\nLinkedIn Company Page: \n{{ $json.text }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2200,-680],"id":"a408422b-ff3c-4e91-b2b6-abfd8e9ed654","name":"Extract company LinkedIn data","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're a helpful, intelligent website scraping assistant.","role":"system"},{"content":"=You're provided a scrape of a company homepage. Your task is to extract the content in a clear and easy to read format.\n\nGuidelines\n- Remove repetaive content\n- Focus on core sections\n\n\nRules:\n- If empty, just output \"no content\".\n\n\nHomepage Content:\n{{ $json.text }}\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2180,-280],"id":"230b303a-7d4c-4a29-a0e6-444e271727a6","name":"Extract company homepage data","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4520,-20],"id":"dc7bf42a-1a9e-4338-b6d3-4627acb41179","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"7dfc456e-3637-4f12-8d9b-7f7278d4ace1","name":"leadResearch","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3500,-680],"id":"64c04d3a-e7fe-43ea-a094-67be77a32ca9","name":"leadResearch"},{"parameters":{"assignments":{"assignments":[{"id":"22f43a5c-31a7-4a7c-a8f3-01ae2cebb6bf","name":"companyLinkedinAbout","value":"={{ $json.message.content.companyLinkedin }}","type":"string"},{"id":"a5cfacb1-1a96-492c-a1f3-57c2292235f6","name":"companyRecentPost","value":"={{ $json.message.content.recentPost }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,-680],"id":"91c5df0e-1614-400b-a4c0-738ab1ac12bb","name":"companyLinkedin"},{"parameters":{"assignments":{"assignments":[{"id":"86f14217-33b7-4559-ab1d-9e304c0eeb1c","name":"companyHomepage","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2540,-280],"id":"d054c4d1-3744-4ef3-bc83-608f13c1413c","name":"companyHomepage"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"You are a helpful and intelligent Personalization Research Specialist with a background in business and psychology.","role":"system"},{"content":"Your task is to support the outbound sales/marketing team by conducting deep-dive research into assigned leads to uncover relevant, timely, and personalized insights that can be used to tailor cold outreach.\n\n\n#Context:\nWe're reaching out to car dealerships and helping  themturn their old leads into new sales using AI + SMS automation.\n\nThis means:\n- Recovering lost revenue from leads they already paid for\n- Reducing their need to keep buying new leads\n- Freeing up time for their sales and marketing team by automating follow-ups\n\nYour job is to help us personalize each outreach email by finding compelling, relevant details about the dealership or key contact — things that show we've done our homework and understand their business.\n\nThe better your research, the more likely our email is to be opened, read, and taken seriously.\n\n\n#Workflow\n1. Review lead data sources, including Personal Bio, Company About, Recent Company Posts, Company Homepage and anything else provided.\n\n2. Identify compelling details that show we’ve “done our homework” and will help connect the lead to our offer in a natural way.\n\n3. Rank each insight with relevance score (high, medium, low)\n\n4. Organize findings clear document with your key insights, including context, quotes, relevance score, and source:\n\n5. Provide a detailed \"Recommendation\" section in bullet points of the best ways to connect with the lead. This may include compelling insights, powerful angles to frame the offer, connect to the lead's pain points and beliefs, show that we understand them (any quotes), the business, and we're an ally. - Include \"insight#\" for easy reference.\n- Do not mention AI+SMS, instead refer to it as the offer\n\n\n#Guidelines: \n- Look for plausible (but vague) connections wherever possible, but do not reference specific location names.\n- Each key insight should be a few sentences long and provide detailed information so the copywriter does not need to refer to the source material.\n- Keep each insight actionable, and relevant. Prioritize recency, relevance, and uniqueness.\n- Your context should explain the insight, quote and why it matters for outreach.\n- Tags should be short, and accurately label the key insight for the copywriter to quickly reference. No more than 3 tags per insight.\n- If/when referencing \"Current experience\" ensure \n that \"Current Experience\":\"True\" (not \"False\")\n\n\n\n#Rules:\n- Include small, non-obvious things to paraphrase. The idea is to make people think we *really* dove deep into their LinkedIn and company, so don't use something obvious.\n- Prioritize recent posts from the (last 30–60 days) over older posts\n- Only include info that is genuinely useful for personalizing a message\n- Avoid fluff (e.g., “loves dogs” from LinkedIn bio, unless it's genuinely relevant)\n- Provide 10-15 insights per lead depending on length of lead data sources\n- Output clearly formatted document with the layout below:\n\n\nLead Research: (Name)\n\nRecommendation: (Detailed bullet list with top 4-6 points. Do not mention AI+SMS)\n\nInsight #\nOverview: \nContext: Include why it's relevant for our cold outreach\nQuote: \"Exact quote from source material\"\nRelevance Score: low, medium, high\nTags: \nSource: Personal Bio, Company About, Recent Company Posts, Company Homepage\n\n\n\n"},{"content":"<examples>\n\n#Relevance examples\nBelow are some examples of how the insights should be ranked for relevance.\n\nHigh Relevance:\n- Opportunities for hyper-personalized outreach \n- Got a promotion\n- Launched a new initiative\n- Has the pain points we solve\n\n\nMedium Relevance:\n- Got award\n- Long time in the job (10+ years)\n- Family owned\n- Based in X location\n- Loves dogs\n- Has a specific hobby\n\n\nLow Relevance:\n- Does team training\n- Good at customer service\n\n</examples>\n"},{"content":"=#Lead data sources\n\nName: {{ $('Batch 1').item.json.first_name }} {{ $('Batch 1').item.json.last_name }}\n\nTitle: {{ $('Batch 1').item.json.title }}\n\nHeadline: {{ $('Batch 1').item.json.headline }}\n\nOrganization: {{ $('Batch 1').item.json.organization_name }}\n\n--\n\nCurrent Experience: {{ $('get Dataset').item.json.experience[0].is_current }}\nTitle: {{ $('get Dataset').item.json.experience[0].title }}\nCompany: {{ $('get Dataset').item.json.experience[0].company }}\nDuration: {{ $('get Dataset').item.json.experience[0].duration }}\n\n--\n\nCurrent Experience: {{ $('get Dataset').item.json.experience[1].is_current }}\nTitle: {{ $('get Dataset').item.json.experience[1].title }}\nCompany: {{ $('get Dataset').item.json.experience[1].company }}\nDuration: {{ $('get Dataset').item.json.experience[1].duration }}\n\n--\n\n#Personal Bio: \n{{ $json.linkedinAbout }}\n\n#Company About: \n{{ $json.companyLinkedinAbout }}\n\n#Recent Company Posts: \n{{ $json.companyRecentPost }}\n\n#Company Homepage: \n{{ $json.companyHomepage }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3200,600],"id":"c23fc489-c3dc-49c5-a269-17b2919cbd42","name":"Original: Personalization Research Specialist","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"content":"Super in depth","height":300,"width":320},"type":"n8n-nodes-base.stickyNote","position":[3180,460],"typeVersion":1,"id":"ac5a2d5b-fbc4-4b9d-b2d4-8499496e7a3c","name":"Sticky Note9"},{"parameters":{"jsCode":"const data = $json?.data || '';  // fallback to empty string if undefined\n\nfunction extractTextFromHTML(html) {\n  const cleanedHTML = html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '') // Remove script tags\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')   // Remove style tags\n    .replace(/<[^>]+>/g, '')                             // Remove all other HTML tags\n    .replace(/\\s+/g, ' ')                                // Replace multiple spaces with a single space\n    .trim();                                             // Trim leading and trailing spaces\n  return cleanedHTML;\n}\n\nlet extractedText = extractTextFromHTML(data);\n\n// Limit to 4000 words\nconst words = extractedText.split(' ');\nif (words.length > 4000) {\n  extractedText = words.slice(0, 4000).join(' ');\n}\n\nconsole.log(extractedText);\n\nreturn [{ text: extractedText }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1960,-280],"id":"01d02023-89b8-46db-80e3-c9fca4e4d4f6","name":"Text extract (<4k words)"},{"parameters":{"jsCode":"const data = $json.data;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  // Remove script, style, and other non-visible tags\n  const cleanedHTML = html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '') // Remove script tags\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')   // Remove style tags\n    .replace(/<[^>]+>/g, '')                            // Remove all other HTML tags\n    .replace(/\\s+/g, ' ')                               // Replace multiple spaces with a single space\n    .trim();                                            // Trim leading and trailing spaces\n  return cleanedHTML;\n}\n\n// Extract text from the input HTML\nlet extractedText = extractTextFromHTML(data);\n\n// Limit to 4000 words\nconst words = extractedText.split(' ');\nif (words.length > 4000) {\n  extractedText = words.slice(0, 4000).join(' ');\n}\n\n// Log or return the extracted text for debugging\nconsole.log(extractedText);\n\n// Return the extracted text as output\nreturn { text: extractedText };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1960,-680],"id":"60b2f192-2f8b-45bd-9005-49c1e3b9175c","name":"Text extract (<4k words)1"},{"parameters":{"content":"19.00 - 02.00\n75% off R1\n50% off V3","height":100},"type":"n8n-nodes-base.stickyNote","position":[3160,-820],"typeVersion":1,"id":"d322e42c-544d-4d8d-a023-b26166752182","name":"Sticky Note8"},{"parameters":{"promptType":"define","text":"=Your task is to support the outbound sales/marketing team by conducting deep-dive research into assigned leads to uncover relevant, timely, and personalized insights that can be used to tailor cold outreach.\n\n\n#Context:\nWe're reaching out to car dealerships and helping  themturn their old leads into new sales using AI + SMS automation.\n\nThis means:\n- Recovering lost revenue from leads they already paid for\n- Reducing their need to keep buying new leads\n- Freeing up time for their sales and marketing team by automating follow-ups\n\nYour job is to help us personalize each outreach email by finding compelling, relevant details about the dealership or key contact — things that show we've done our homework and understand their business.\n\nThe better your research, the more likely our email is to be opened, read, and taken seriously.\n\n\n#Workflow\n1. Review lead data sources, including Personal Bio, Company About, Recent Company Posts, Company Homepage and anything else provided.\n\n2. Identify compelling details that show we’ve “done our homework” and will help connect the lead to our offer in a natural way.\n\n3. Provide a highly detailed report in bullet points of the best ways to connect with the lead. It must show that we understand them as a person, the business, and position us as an ally. This may include:\n- Compelling insights\n- Any quotes\n- Powerful angles to frame our offer\n- Tap into the lead's pain points\n- Align with their beliefs\n- Do not explicitly reference AI+SMS, instead refer to it as the offer\n\n\n#Guidelines: \n- Each key insight should be concise and include brief context, details, and why it would be valuable in our outreach.\n- Keep each insight actionable, and relevant. Prioritize recency, relevance, and uniqueness.\n- Your context should explain the insight, quote and why it matters for outreach.\n- If/when referencing \"Current experience\" ensure \n that \"Current Experience\":\"True\" (not \"False\")\n\n\n\n#Rules:\n- Include small, non-obvious things to paraphrase. The idea is to make people think we *really* dove deep into their LinkedIn and company, so don't use something obvious.\n- Prioritize recent posts from the (last 30–60 days) over older posts\n- Avoid stating if something is \"new\" or \"recent\" unless it is explicitly under 3 months old.\n- Only include info that is genuinely useful for personalizing a message\n- Avoid fluff (e.g. “loves dogs” from LinkedIn bio, unless it's genuinely relevant)\n\n \n\n\n#Output\n- Provide 4-5 insights in a formatted document:\n\n\n#Lead Research: (Lead Name goes here)\n\nInsight: (distilled, accurate and valuable insights with context goes here.)\nRelevance: (Relevance tag - \"high\", \"medium\", \"low\" goes here)\nSource: (Source tags - \"Personal bio\", \"company website\", \"company Linkedin\", etc goes here)\n\n\n\n<examples>\n\n#Relevance examples\nBelow are some examples of how the insights should be ranked for relevance.\n\nHigh Relevance:\n- Promotion/new job (Must be under <3 months to state it's \"new\" or  \"recent\")\n- Launched a new initiative\n- Has the pain points we solve\n- Lead change and adoption of new tech, process, mindset\n- Hiring highly relevant department such as sales, marketing, customer service, etc\n\n\nMedium Relevance:\n- Got award\n- Long time in the job (10+ years)\n- Family owned\n- Based in X location\n- Loves dogs\n- Has a specific hobby\n\n\nLow Relevance:\n- Does team training\n- Good at customer service\n- Hiring in unreleated departments \n\n</examples>\n\n\n\n\n\n#Lead data sources\n\nToday's Date: {{ $now }}\n\nName: {{ $('Batch 1').item.json.first_name }} {{ $('Batch 1').item.json.last_name }}\n\nTitle: {{ $('Batch 1').item.json.title }}\n\nHeadline: {{ $('Batch 1').item.json.headline }}\n\nOrganization: {{ $('Batch 1').item.json.organization_name }}\n\n--\n\nCurrent Experience: {{ $('get Dataset').item.json.experience[0].is_current }}\nTitle: {{ $('get Dataset').item.json.experience[0].title }}\nCompany: {{ $('get Dataset').item.json.experience[0].company }}\nDuration: {{ $('get Dataset').item.json.experience[0].duration }}\n\n--\n\nCurrent Experience: {{ $('get Dataset').item.json.experience[1].is_current }}\nTitle: {{ $('get Dataset').item.json.experience[1].title }}\nCompany: {{ $('get Dataset').item.json.experience[1].company }}\nDuration: {{ $('get Dataset').item.json.experience[1].duration }}\n\n--\n\n#Personal Bio: \n{{ $json.linkedinAbout }}\n\n#Company About: \n{{ $json.companyLinkedinAbout }}\n\n#Recent Company Posts: \n{{ $json.companyRecentPost }}\n\n#Company Website Homepage: \n{{ $json.companyHomepage }}\n\n","options":{"systemMessage":"You are a helpful and intelligent Personalization Research Specialist with a background in business and psychology."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[3160,-680],"id":"292596cd-8521-4f15-81c3-cd91b32aa5ca","name":"Research Specialist"},{"parameters":{"jsonSchemaExample":"{\n\t\"subjectLine\": \"\",\n\t\"emailBody\": \"\",\n\t\"leadSummary\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3920,-480],"id":"27720dcf-6b9a-4c81-b8f9-cab36197bbf3","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Your task is to use the lead research and templates provided to create cold emails that feel personal, relevant, and authentic, just for them.\n\n\n#Workflow:\n1. Review lead research\n2. Use the provided cold email templates as a baseline\n3. Adapt to match the lead’s persona and insights. Ensure every email feels personal and relevant - no lazy “just reaching out” vibes\n4. Output in JSON format:\n\n{\"subjectLine\":\"\", \"emailBody\":\"\", \"leadSummary\":\"\"}\n\n\n\n#Templates:\n\n{\"subjectLine\": \"hey {firstName}, think I have something for you re: {businessThingTheyCareAbout(NOTLeadsOrAI+SMS)}\"\n\n{\"emailBody\": \"I know you're doing {thingIdeaInsight}, {and/plus} {love/saw} {otherThingIdeaInsight} - figured it made sense to chat.\n\nCurious, do have any old leads at {shortenedLowercaseCompanyName} who fell through the cracks and didn't buy? \n\nTLDR: We can re-engage them 24/7 and hand you back qualified buyers and booked appts with a few automations - no extra effort from your team. Could be {relevantBusinessBenefitTheyCareAbout(ideally revenue or sales related. If nothing more relevant then use fallback: \"Easy way to recover lost sales on autopilot\")}\n\njust helped a similar {genericDealershipNiche} generate 116 extra appts last month + saved over 200 hours of follow up time for the sales team.\n\nI know this is out of left field, but would this be of any value to you?\n\nWouldn't cost you anything upfront, I'd cover costs myself - if it works then when can sort out a deal later (but no pressure).\n\nPs - even if we just chat I'd love to hear about {somethingSpecific - personalThing/Insight,Interest,TheyMentioned, Lifestyle, Hobby}\"}\n\n\n{\"leadSummary\":\"Either way, love {specificThingBeliefIdeaInsightTheyHave}\"}\n\n\n#Notes:\n- Non-Negotiable: Never use — (em dash)\n- The email should feel genuinely personal and tightly relevant\n- Your tone of voice should be \"casual bar conversation\" and very spartan. No fancy language.\n- Keep variables SHORT and punchy\n- Never mention \"database\"\n- Don't change 'subjectLine' from the template, make sure {thingAboutThem} is about them and KEEP the \"re:\" (Don't reference the offer or sound salesy - such as, \"leads\", \"AI\", \"SMS\",\"follow-ups\" etc.)\n\n\n#Guidelines:\n- Personalization should be tight, but not creepy.\n- Try to connect the subjectLine to the intro so the email flows naturally.\n- Prioritize higher-relevance insights for variables\n- Try and avoid low relevance insights \n- {personalThing} should be something unique about them them or their life ideally from \"Personal Bio\"\n- \"leadSummary\" is a used in a follow up email and should stand out and being highly personal and relevant.\n- Weave in multiple insights from the lead research\n- Try avoid using the same insight more than twice in the \"emailBody\"\n- The \"Ps\" should be simple, direct and avoid complicated play on words and generic fluff. \n\n\n#Rules:\n- Make sure to use the above templates when constructing your the email. We wrote it this way on purpose.\n- Shorten the company name wherever possible (say, \"XYZ\" instead of \"XYZ Agency\"). More examples: \"Love AMS\" instead of \"Love AMS Professional Services\", \"Love Mayo\" instead of \"Love Mayo Inc\", \"Claremont\" insted of \"Claremont Insurance Services\" etc.\n- Do the same with locations. \"San Fran\" instead of \"San Francisco\", \"BC\" instead of \"British Columbia\", etc.\n- Do not just repeat the input data verbatim. Paraphrase, so they think a human wrote it.\n- Make sure the \"subjectLine\" is non-capitalized, even if it’s grammatically incorrect. This makes the email seem more human.\n- Avoid using superscript, subscript or ™, ©, ;, and other signs that look copy and pasted.\n- Avoid suggesting we should have a \"call\"\n- Use shortened abbreviation and lowercase for {Position/Title} (e.g. Director of Business Development = director of BD. CEO = CEO)\n- Avoid congratulations for promotions, unless it was less than 3 months ago.\n- Avoid calculating potentional savings and sales.\n\n\n#Lead Research:\n\nTodays Date: {{ $now }}\n\nName: {{ $('Batch 1').item.json.first_name }} {{ $('Batch 1').item.json.last_name }}\n\nTitle: {{ $('Batch 1').item.json.title }}\n\nHeadline: {{ $('Batch 1').item.json.headline }}\n\nOrganization: {{ $('Batch 1').item.json.organization_name }}\n\n{{ $json.leadResearch }}\n\n","hasOutputParser":true,"options":{"systemMessage":"You are a Cold Email Writing Specialist"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[3700,-680],"id":"a02f6fda-7ef5-4b84-9a8c-af63f5a06c46","name":"Cold Email Specialist"},{"parameters":{"model":"deepseek-reasoner","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[3120,-480],"id":"9b10b45f-5215-4799-af50-651e31571ad2","name":"DeepSeek R1","credentials":{"deepSeekApi":{"id":"iaFBuMVfZL8OMDAx","name":"DeepSeek account"}}},{"parameters":{"content":"Test giving AI more freedom with hook/intro (see demo template)","height":100},"type":"n8n-nodes-base.stickyNote","position":[3700,-840],"typeVersion":1,"id":"7646219c-4e68-4b4d-886a-b06635c00d55","name":"Sticky Note6"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1040,-1200],"id":"867d1658-4853-4404-92dd-be122abd8237","name":"Limit 10 Results"},{"parameters":{"content":"- great way to increase sales and boost revenue for {nextQuarter (Q1, Q2, etc) or relevantTimeOfYear (Christmas, season, festivities) }","height":240},"type":"n8n-nodes-base.stickyNote","position":[3780,-360],"typeVersion":1,"id":"d390a1f9-cf4f-40dd-bacc-ebab6d7ed2e8","name":"Sticky Note5"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[3660,-480],"id":"75c43280-eca2-4a63-8262-a4a44e99e2f5","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"iaFBuMVfZL8OMDAx","name":"DeepSeek account"}}},{"parameters":{"content":"Add qualification before sending research  agent","height":100},"type":"n8n-nodes-base.stickyNote","position":[2860,-960],"typeVersion":1,"id":"cb53ff07-7dd2-481f-91be-502f156dc3bb","name":"Sticky Note10"}],"connections":{"Run Apify Actor":{"main":[[{"node":"Get Actor Run","type":"main","index":0}]]},"Get Actor Run":{"main":[[{"node":"get Dataset","type":"main","index":0}]]},"get Dataset":{"main":[[{"node":"linkedinAbout","type":"main","index":0}]]},"Batch 1":{"main":[[],[{"node":"Run Apify Actor","type":"main","index":0},{"node":"Scrape Home","type":"main","index":0},{"node":"Company Linkedin","type":"main","index":0}]]},"Update: Recent Posts":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Research Specialist","type":"main","index":0}]]},"Lead Filter":{"main":[[{"node":"Limit 10 Results","type":"main","index":0}]]},"Apollo - Dealerships":{"main":[[{"node":"Lead Filter","type":"main","index":0}]]},"linkedinAbout":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Company Linkedin":{"main":[[{"node":"Text extract (<4k words)1","type":"main","index":0}]]},"Extract company LinkedIn data":{"main":[[{"node":"companyLinkedin","type":"main","index":0}]]},"Scrape Home":{"main":[[{"node":"Text extract (<4k words)","type":"main","index":0}]]},"Extract company homepage data":{"main":[[{"node":"companyHomepage","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"leadResearch":{"main":[[{"node":"Cold Email Specialist","type":"main","index":0}]]},"companyLinkedin":{"main":[[{"node":"Merge","type":"main","index":1}]]},"companyHomepage":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Text extract (<4k words)":{"main":[[{"node":"Extract company homepage data","type":"main","index":0}]]},"Text extract (<4k words)1":{"main":[[{"node":"Extract company LinkedIn data","type":"main","index":0}]]},"Research Specialist":{"main":[[{"node":"leadResearch","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Cold Email Specialist","type":"ai_outputParser","index":0}]]},"Cold Email Specialist":{"main":[[{"node":"Update: Recent Posts","type":"main","index":0}]]},"DeepSeek R1":{"ai_languageModel":[[{"node":"Research Specialist","type":"ai_languageModel","index":0}]]},"Limit 10 Results":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"Cold Email Specialist","type":"ai_languageModel","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3a2e1c92-f053-472d-b2a1-cbd73f2df8b0","triggerCount":1,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"},{"createdAt":"2025-05-08T16:20:55.248Z","updatedAt":"2025-05-08T16:20:55.248Z","id":"KPOFVI2VTTHvP5On","name":"Apollo"}]}