delete-ZJvPtBrHXSTocBvI.json
{"createdAt":"2025-06-11T16:13:49.042Z","updatedAt":"2025-06-11T16:13:49.042Z","id":"ZJvPtBrHXSTocBvI","name":"Delete","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"f85651de-3e51-422e-a669-8b519d16c4ee","name":"Remove Duplicate URLs","type":"n8n-nodes-base.removeDuplicates","position":[640,280],"typeVersion":1.1,"alwaysOutputData":true},{"parameters":{"fieldToSplitOut":"links","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[200,280],"id":"0da66d0b-1992-47bd-a2b4-d463554c716b","name":"Split Out1","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f3e7115-7523-4711-aad2-336d64968e19","leftValue":"={{ $json.links }}","rightValue":"=group","operator":{"type":"string","operation":"contains"}},{"id":"6fb04f84-b53e-4518-889d-f8b4d4c2a8f3","leftValue":"={{ $json.links }}","rightValue":"employee","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e1136bfd-9ac4-4291-8b50-de3c2c5aaa4e","leftValue":"={{ $json.links }}","rightValue":"benefit","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"06594bef-a94e-493b-a489-656b0a14485f","leftValue":"={{ $json.links }}","rightValue":"benefits","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"bb67823d-225c-43a0-9b1b-8f37d624f507","leftValue":"={{ $json.links }}","rightValue":"business","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[420,280],"id":"b614a96c-2cad-4ad5-8f1a-da3aec2ccea0","name":"Keywords in links"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"links"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[860,280],"id":"9501d690-d452-447f-847a-880f35b026d9","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"d962d4ef-afb9-4dae-89c0-713d8bad2688","name":"websiteLinks","value":"={{ $json.links }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1060,280],"id":"99706fdb-2790-4bff-b35f-93265b674f1a","name":"websiteLinks","alwaysOutputData":true}],"connections":{"Remove Duplicate URLs":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Keywords in links","type":"main","index":0}]]},"Keywords in links":{"main":[[{"node":"Remove Duplicate URLs","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"websiteLinks","type":"main","index":0}]]},"websiteLinks":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e0a69855-766d-4f5d-9804-d9e51facef22","triggerCount":0,"tags":[]}