enrich-new-leads-B0g95blz6LkJh6h2.json
{"createdAt":"2025-06-28T15:52:07.810Z","updatedAt":"2025-06-29T17:17:04.097Z","id":"B0g95blz6LkJh6h2","name":"Enrich New Leads","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[360,-80],"id":"290211b8-f3de-4ea2-baf3-a560eb71a1ae","name":"When clicking ‘Test workflow’"},{"parameters":{"base":{"__rl":true,"value":"appjL8npjjAXSREaJ","mode":"list","cachedResultName":"NorthFlow CRM","cachedResultUrl":"https://airtable.com/appjL8npjjAXSREaJ"},"table":{"__rl":true,"value":"tblZlAcevMv5oyJzu","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appjL8npjjAXSREaJ/tblZlAcevMv5oyJzu"},"id":"=","options":{}},"id":"8bfd69a9-9cd6-42a5-825f-984fcf1b3c6c","name":"Pull Lead From CRM","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[580,-80],"credentials":{"airtableTokenApi":{"id":"TIgbpUAIHwmlxLOW","name":"Airtable Personal Access Token account"}},"notes":"{{ $json.query.recordId }}"},{"parameters":{"workflowId":{"__rl":true,"value":"1kz0UKfQPdXGYniM","mode":"list","cachedResultName":"CRM Automation"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1700,0],"id":"675918ae-5223-46fa-9136-b16b78e2dd17","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,-80],"id":"34a83809-8591-413f-b861-b5b64bbb4e01","name":"Batch 1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1920,0],"id":"d7aedb6c-c595-42ec-a604-9c7a3ac602bd","name":"Wait 5sec","webhookId":"49329808-5ed3-42ea-b179-750aa21f8ec8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7279da5-c9be-4d22-be6e-396874b3a0ac","leftValue":"={{ $json.records[0].fields[\"Start Lead Enrichment\"] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[800,-80],"id":"6f0a68d9-72dc-4cfa-9ee6-1c093aa0ff6f","name":"Start Enrichment"},{"parameters":{"content":"Future - Send via webhook from Airtable (need business plan)\n\nAirtable Script:\n\nconst inputData = input.config()\n\nconst { recordId } = inputData;\n\nconst response = await fetch(“INPUT YOUR PRODUCTION WEBHOOK URL”+”?recordId=\"+recordId)\n\nconsole.log(response.status)\n\nNOTE: After pasting your webhook URL, manually remove the quotation marks and put them back. ","height":480,"width":600},"type":"n8n-nodes-base.stickyNote","position":[380,300],"typeVersion":1,"id":"22e60ecc-15a7-4577-a9d8-bb9f92824b1c","name":"Sticky Note"},{"parameters":{"fieldToSplitOut":"records","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1020,-80],"id":"cffa1e93-6c0e-4870-881c-6471bfe38270","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"e4bc7257-0bed-452e-b525-0e824c7c7501","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"38ce0096-cb49-448b-9944-cda8e515efd8","name":"lead","value":"={{ $json.fields }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1500,0],"id":"c17ded85-da8b-41f9-bf2d-f95405e44713","name":"Edit Fields"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Pull Lead From CRM","type":"main","index":0}]]},"Pull Lead From CRM":{"main":[[{"node":"Start Enrichment","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Wait 5sec","type":"main","index":0}]]},"Batch 1":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Wait 5sec":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"Start Enrichment":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6893e518-5dff-4e6b-9baa-332c51c84e43","triggerCount":0,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-03-23T15:44:22.440Z","updatedAt":"2025-03-23T15:44:22.440Z","id":"nPE42Vkiq42TPmfL","name":"Operations"}]}