g-map---generate-search-strings-2U6HlhTSJYD9e8OA.json
{"createdAt":"2025-05-31T13:54:37.343Z","updatedAt":"2025-06-02T17:02:43.712Z","id":"2U6HlhTSJYD9e8OA","name":"G Map - Generate Search Strings","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-300,100],"id":"65c6168e-6d9a-47cd-a9b5-9428adef161e","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"zips","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Generate String"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-20,0],"id":"c118bd6b-0ce2-45d5-b0d6-56ec8598ddbe","name":"Pull Zips","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[700,100],"id":"8f31288e-8de2-4f4b-b410-c49f958da677","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"357943de-f187-4859-915c-27af33028b46","name":"zipCode","value":"={{ $json.zipCode }}","type":"number"},{"id":"781216c6-5e29-47a9-bc09-2b4a6842b3dd","name":"city","value":"={{ $json.city }}","type":"string"},{"id":"32401305-39da-4988-b0d3-c723fa1fd06d","name":"state","value":"={{ $json.state }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,0],"id":"4d9e2b14-48df-43e7-8fdd-d0f7bb481c63","name":"Zip Code"},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":934365016,"mode":"list","cachedResultName":"leadSources","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=934365016"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-20,220],"id":"a6ef07b4-ff0a-4ad6-a652-42b359b855fb","name":"Pull searchTerms","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6b0c8c75-d51f-404b-86ad-7abf0c803865","name":"searchTerms","value":"={{ $json.gMapSearchTerms }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,220],"id":"11cb40a8-2144-4276-bf82-c15016355b9b","name":"searchTerm"},{"parameters":{"assignments":{"assignments":[{"id":"3119c000-2b23-495d-9ef9-314feead834b","name":"searchString","value":"={{ $json.searchTerms }} near {{ $json.zipCode }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,100],"id":"e423d81f-4fa3-4898-90b0-c2809b699b8e","name":"searchString"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":325547854,"mode":"list","cachedResultName":"strings","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=325547854"},"columns":{"mappingMode":"defineBelow","value":{"Status":"SERP Scrape","zipCode":"={{ $('Merge').item.json.zipCode }}","searchTerm":"={{ $('Merge').item.json.searchTerms }}","city":"={{ $('Pull Zips').item.json.city }}","state":"={{ $('Pull Zips').item.json.state }}","searchString":"={{ $json.searchString }}"},"matchingColumns":["zipCode"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"zipCode","displayName":"zipCode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"searchTerm","displayName":"searchTerm","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1180,-20],"id":"d941f4f2-9763-4606-98dd-d4eb58877a9b","name":"Update Strings","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"zips","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Status":"Complete","zipCode":"={{ $('Zip Code').item.json.zipCode }}"},"matchingColumns":["zipCode"],"schema":[{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"zipCode","displayName":"zipCode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lat","displayName":"lat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"long","displayName":"long","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1180,220],"id":"fd81ed47-c1ab-477a-beee-2eeb8b4ff0eb","name":"Update Zips","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"jsCode":"return items.filter(item => item.json['gMapSearchTerms']);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,220],"id":"080f3d08-9ede-4ecd-98a1-a3a4b7e71dc3","name":"Only cells w/data"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Pull Zips","type":"main","index":0},{"node":"Pull searchTerms","type":"main","index":0}]]},"Pull Zips":{"main":[[{"node":"Zip Code","type":"main","index":0}]]},"Zip Code":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Pull searchTerms":{"main":[[{"node":"Only cells w/data","type":"main","index":0}]]},"searchTerm":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"searchString","type":"main","index":0}]]},"searchString":{"main":[[{"node":"Update Strings","type":"main","index":0},{"node":"Update Zips","type":"main","index":0}]]},"Only cells w/data":{"main":[[{"node":"searchTerm","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ae2f4c08-55ee-4de1-abb8-ece5c8ee28b4","triggerCount":0,"tags":[{"createdAt":"2025-06-02T17:02:38.803Z","updatedAt":"2025-06-02T17:02:38.803Z","id":"VjBsjiE7pMz9l8pE","name":"Template"}]}