github-backup-new-QQ1LE6MGNbKc4YJv.json
{"createdAt":"2025-06-30T13:37:57.035Z","updatedAt":"2025-06-30T15:09:31.719Z","id":"QQ1LE6MGNbKc4YJv","name":"Github Backup NEW","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"25b16ed3-48fb-4cf8-a9ec-10e728ed1952","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-480,340]},{"parameters":{"options":{}},"id":"3710e3d6-2a2e-451b-93e5-ae3d514f6fc0","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-280,160]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"142d27b7-f108-43a8-a400-25920d6dafb7","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-80,160]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"5813c866-1d20-407e-934c-81d3cb8a436c","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[120,160]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/northflowai/northflowai-backups","mode":"url"},"repository":{"__rl":true,"value":"northflowai-backups","mode":"list","cachedResultName":"northflowai-backups","cachedResultUrl":"https://github.com/northflowai/northflowai-backups"},"filePath":"="},"id":"4a10c450-60c2-4185-9762-20aa7e09c1f8","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[320,160],"alwaysOutputData":true,"webhookId":"c3e9d073-cfcf-4ae2-a045-7680821d011f","credentials":{"githubOAuth2Api":{"id":"SwGhwXNHmJ0edERu","name":"GitHub Account (Working)"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"f33b9815-9c89-4360-95a9-5bf7f9e38eee","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[520,160]},{"parameters":{"filters":{},"requestOptions":{}},"id":"7f24dff6-7e2d-4e33-8404-c6ea14edf9f7","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[720,160],"credentials":{"n8nApi":{"id":"HsnwjMYLiIM5p1oY","name":"n8n API Account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"5562bc76-535b-4e1b-87b9-53730fb84929","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[920,160]},{"parameters":{"batchSize":1,"options":{}},"id":"8152b840-94e1-4a83-9237-5ab3e9792346","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1320,160]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"6cce96a4-7bb7-4d7f-bc5c-5a2fb57635e3","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1560,80]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/northflowai/northflowai-backups","mode":"url"},"repository":{"__rl":true,"value":"northflowai-backups","mode":"list","cachedResultName":"northflowai-backups","cachedResultUrl":"https://github.com/northflowai/northflowai-backups"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"04e2bd3f-e30c-4dbf-8c95-6af54540b7fe","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1960,-140],"webhookId":"19dcab47-e69d-47f4-b482-6ffc90027f93","credentials":{"githubOAuth2Api":{"id":"SwGhwXNHmJ0edERu","name":"GitHub Account (Working)"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/northflowai/northflowai-backups","mode":"url"},"repository":{"__rl":true,"value":"northflowai-backups","mode":"list","cachedResultName":"northflowai-backups","cachedResultUrl":"https://github.com/northflowai/northflowai-backups"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"75fb5606-c5e4-4a51-952b-28056ba8b255","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2000,260],"webhookId":"f07c9f43-6306-41b6-b989-a8c2292f8bf5","credentials":{"githubOAuth2Api":{"id":"SwGhwXNHmJ0edERu","name":"GitHub Account (Working)"}}},{"parameters":{"content":"Video tutorial: https://www.youtube.com/watch?v=wopQ84Iyw0o","height":80,"width":509},"id":"bf712670-e92a-4bfe-bf09-4fd601355fe9","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-520,-260]},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-480,160],"id":"64640ecc-5a63-4e22-982b-10fab03b0d80","name":"Schedule Trigger"},{"parameters":{"sendTo":"hello@emmerson.studio","subject":"n8n Workflow Backup Complete","message":"n8n workflows have finished backing up","options":{"appendAttribution":false,"senderName":"NorthFlow"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1540,260],"id":"789f478e-7b0e-4305-84d3-3091d7dd25e5","name":"Email confirmation","webhookId":"bc293d09-0a6b-4c77-9781-e48b93c1aa31","credentials":{"gmailOAuth2":{"id":"aGIhhmwmH2VK328i","name":"Gmail account"}}},{"parameters":{"jsCode":"// Add this as a \"Code\" node between \"Move JSON to binary\" and \"Split to single items\"\n// This will encode the JSON content in Base64 to bypass GitHub's secret scanning\n\nconst inputItem = $input.all()[0];\nconst binaryData = inputItem.binary.data;\n\n// Get the original JSON content\nconst originalContent = binaryData.data.toString();\n\n// Encode it in Base64\nconst base64Content = Buffer.from(originalContent).toString('base64');\n\n// Create new filename with .b64 extension\nconst newFileName = binaryData.fileName.replace('.json', '.json.b64');\n\nreturn [{\n  json: inputItem.json,\n  binary: {\n    data: {\n      data: Buffer.from(base64Content),\n      mimeType: 'text/plain',\n      fileName: newFileName\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,160],"id":"38e76cf6-fade-4f57-b9cf-a93fc7aeaef5","name":"Base 64 encode"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Base 64 encode","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}],[{"node":"Email confirmation","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Base 64 encode":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Rome","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8xhzkyv362CgoE4n"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4cee246e-d5a7-405d-bd43-0b730c8377f0","triggerCount":1,"tags":[{"createdAt":"2025-03-23T15:36:20.843Z","updatedAt":"2025-03-23T15:36:20.843Z","id":"MjPn795QzUgRGSp2","name":"NorthFlow"},{"createdAt":"2025-03-23T15:44:22.440Z","updatedAt":"2025-03-23T15:44:22.440Z","id":"nPE42Vkiq42TPmfL","name":"Operations"}]}