homepage-scrape)-delete-wZxVlqQkJpHVDw5s.json
{"createdAt":"2025-06-03T16:38:49.903Z","updatedAt":"2025-06-07T08:14:40.132Z","id":"wZxVlqQkJpHVDw5s","name":"3 // EB3 - Enrich + Qualify (v1 - w/homepage scrape) DELETE","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5fa77e43-c7c6-4ac2-87b6-5640ed93b29e","leftValue":"={{ $json.status }}","rightValue":"=Enrich + Qualify","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-100,-780],"id":"56486214-f4c3-4dd3-b12a-282ead648b03","name":"Filter"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[140,-780],"id":"66a3ce67-97bd-4d2c-b9c6-aa96c2b8349c","name":"DELETE"},{"parameters":{"jsCode":"const keywords = [\n  // Carriers\n  \"UnitedHealthcare\", \"UHC\", \"Cigna\", \"Aetna\", \"Blue Cross\", \"BCBS\", \"Guardian\", \"MetLife\", \n  \"Humana\", \"Anthem\", \"Kaiser\", \"CBIZ\", \"Lincoln Financial\", \"Sun Life\", \"Hartford\", \n  \"Assurant\", \"Ameritas\",\n\n  // Vendors\n  \"Gusto\", \"Zenefits\", \"Rippling\", \"Ease\", \"Namely\", \"Employee Navigator\", \"Paychex\", \n  \"ADP\", \"Benefitfocus\", \"Workday\", \"BambooHR\", \"TriNet\", \"Justworks\", \"Insperity\", \n  \"UKG\", \"Ceridian\", \"Paylocity\", \"Paycor\", \"Bswift\", \"Businessolver\",\n\n  // Industry descriptors\n  \"carrier\", \"insurance provider\", \"benefits platform\", \"HRIS\", \"HR platform\", \"payroll provider\",\n\n  // General categories\n  \"retired\", \"stay at home\", \"homemaker\", \"freelancer\", \"self-employed\"\n];\n\nfor (const item of items) {\n  const title = (item.json.title || \"\").toLowerCase();\n  const description = (item.json.description || \"\").toLowerCase();\n\n  const matchedKeyword = keywords.find(keyword => {\n    const lowerKeyword = keyword.toLowerCase();\n    return title.includes(lowerKeyword) || description.includes(lowerKeyword);\n  });\n\n  if (matchedKeyword) {\n    throw new Error(`Disqualified due to keyword match: \"${matchedKeyword}\" in \"${item.json.title}\"`);\n  }\n}\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1240,-720],"id":"338b5836-b85f-43c2-8ef3-c1289b36b84e","name":"Keyword Filter","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/VhxlqQXRwhW8H5hNV/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_0JMczG9Mud0RKCpIcA5p8HQQWhb37N3mBzny"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"username\": \"{{ $json.linkedinUrl }}\"\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,120],"id":"8095975f-ac5d-449b-a795-a47cef9d94c3","name":"Apify - Personal Linkedin"},{"parameters":{"url":"={{ $json.message.content.companyLinkedinUrl }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"25cb29f1-44bf-45bd-930d-7c3a1d3ebec2","name":"Company Linkedin1","type":"n8n-nodes-base.httpRequest","position":[1060,1040],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"content":"Scrape Company LinkedIn profile","height":460,"width":2300,"color":6},"type":"n8n-nodes-base.stickyNote","position":[920,900],"typeVersion":1,"id":"c3815ec5-8e73-4245-b338-e8c716181a4f","name":"Sticky Note7"},{"parameters":{"assignments":{"assignments":[{"id":"1dafd5d1-e51c-494d-a344-e4009681c0d1","name":"companyName","value":"={{ $json.message.content.companyName }}","type":"string"},{"id":"55afccf0-c84c-4d3f-9a0c-77fac36ef8af","name":"companySubtitle","value":"={{ $json.message.content.companySubtitle }}","type":"string"},{"id":"cd763458-3186-41e0-bcc7-966fedbe123e","name":"companySize","value":"={{ $json.message.content.companySize }}","type":"string"},{"id":"41b494e7-b5f7-4bf1-911c-bf95590a4bd6","name":"linkedinFollowers","value":"={{ $json.message.content.linkedinFollowers }}","type":"string"},{"id":"c8d62176-9455-42f8-9554-089ffb283dc9","name":"companyWebsite","value":"={{ $json.message.content.companyWebsite }}","type":"string"},{"id":"680f5bcd-0ec7-419f-b83e-e1903e659c01","name":"companyLinkedinOverview","value":"={{ $json.message.content.companyLinkedinOverview }}","type":"string"},{"id":"8c661797-09cc-4c04-a3b4-e707562206a0","name":"recentPost","value":"={{ $json.message.content.recentPost }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2380,1060],"id":"c8a3d9d1-5965-4aed-8a82-7d6eb6edbf1b","name":"CompanyLinkedinData","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[420,-780],"id":"fcaf70d9-a7d9-4b15-afe6-2bc26373e9b1","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"ada4cf12-5ca0-43db-9e9b-87b6454f9080","name":"title","value":"={{ $('Loop Over Items').item.json.title }}","type":"string"},{"id":"2882a166-d8e0-4d3e-bce2-05212bb8b67f","name":"description","value":"={{ $('Loop Over Items').item.json.description }}","type":"string"},{"id":"d362ff3f-5645-45eb-a8fc-7c35e63877ec","name":"linkedinUrl","value":"={{ $('Loop Over Items').item.json.linkedinUrl }}","type":"string"},{"id":"79c04d5c-bb4a-431f-84e3-183dbcfb4449","name":"linkedIdPath","value":"={{ $json.linkedIdPath }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,-720],"id":"5cee538d-4c6c-408b-a58d-65cef141e799","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6568805-6de4-4f3f-9b9a-e917475cad6b","leftValue":"={{ $json.error.code }}","rightValue":"ERR","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1280,1040],"id":"aa508f46-28d4-4858-92ef-ad5cdcbcfc1b","name":"Company Exists"},{"parameters":{"content":"Scrape lead profile","height":740,"width":1940},"type":"n8n-nodes-base.stickyNote","position":[740,0],"typeVersion":1,"id":"aaa52b1f-8ffe-491b-a79a-a3285ae8436e","name":"Sticky Note"},{"parameters":{"content":"Qualify Lead","height":620,"width":940,"color":4},"type":"n8n-nodes-base.stickyNote","position":[780,2240],"typeVersion":1,"id":"559a0323-c9f3-4171-a616-f746d2349432","name":"Sticky Note8"},{"parameters":{"assignments":{"assignments":[{"id":"b2ac9506-b03a-4108-b3f9-6fdad33c469e","name":"firstName","value":"={{ $json.basic_info.first_name }}","type":"string"},{"id":"ac5a0efc-c7ee-4590-b06e-c3017a18fab9","name":"lastName","value":"={{ $json.basic_info.last_name }}","type":"string"},{"id":"ff07bf69-ef91-4547-ba50-283ae4b52c04","name":"fullName","value":"={{ $json.basic_info.fullname }}","type":"string"},{"id":"9d5dfdab-8b56-419b-8c05-3d0c02536373","name":"about","value":"={{ $json.basic_info.about }}","type":"string"},{"id":"b6aaa9ae-4c9a-4d12-aa2f-e4de725c24c3","name":"linkedinUrl","value":"={{ $('Edit Fields').item.json.linkedinUrl }}","type":"string"},{"id":"c4616f7a-97d0-4423-83d0-1ac868b5d945","name":"linkedIdPath","value":"={{ $('Edit Fields').item.json.linkedIdPath }}","type":"string"},{"id":"64b6f1c3-073f-4064-8ef8-dc98881104cf","name":"personalLinkedinInfo","value":"={{ Object.entries($json.basic_info).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"7c935c46-35c4-4f72-9aac-609f87792cfb","name":"companyLinkedinUrlCurrent","value":"={{ $json.basic_info.current_company_url }}","type":"string"},{"id":"34563b47-133c-49e4-91be-43aea1afe6a3","name":"linkedinExperience0","value":"={{ Object.entries($json.experience[0]).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"b3847017-ebc1-4dab-98fc-6c14abc0c60d","name":"companyLinkedinUrl0","value":"={{ $json.experience[0].company_linkedin_url }}","type":"string"},{"id":"129dcb32-dbab-44a5-b08a-31cf4638eb5d","name":"linkedinExperience1","value":"={{ Object.entries($json.experience[1]).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"deb710e4-621a-4d06-a440-387e63455edf","name":"companyLinkedinUrl1","value":"={{ $json.experience[1].company_linkedin_url }}","type":"string"},{"id":"e59192ca-a7cf-4f3f-be8a-927e3e20334f","name":"=linkedinExperience2","value":"={{ Object.entries($json.experience[2]).map(([key, val]) => `${key}: ${val}`).join('\\n') }}","type":"string"},{"id":"0974cca0-1476-4956-9dc3-a6b3725512ac","name":"companyLinkedinUrl2","value":"={{ $json.experience[2].company_linkedin_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,120],"id":"ac1ab005-c3df-4485-abbc-95f4f9e32e1f","name":"personalLinkedinData"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful and intelligent lead sorting assistant","role":"system"},{"content":"On a score out of 10, rate the likelyhood that this lead is a decision maker working in a small (<15 people) group benefit agency.\n\nGenerate a score from 1 - 10. With 10 being perfect fit and 1 being no fit with a short 1 sentence reason for your score.\n\n#Decision Makers include:\n- CEO\n- Founder\n- Owner\n- Director\n- Principal\n- President\n- VP\n- COO\n- Operations manager\n- Managing partner\n- Or they could be a self-employed consultant or advisor\n\n\n#Rules\n- If company data is not available then disregard size and qualify lead on their personal Linkedin data.\n- If size is part of your reason, then reference company size\n- They should not be a carrier or a vendor.\n- Always output in JSON format:\n\n{\"leadScore\":\"1-10\", \"reason\":\"\"}"},{"content":"=Lead Data:\n\n\n#Company Linkedin Data:\n\nName: {{ $json.companyName }} - {{ $json.companySubtitle }}\nCompany Size: {{ $json.companySize }}\nCompany Overview: {{ $json.companyLinkedinOverview }}\n\n\n------\n\n\n#Personal Linkedin Data: \n\nBasic info\n{{ $('personalLinkedinData').item.json.personalLinkedinInfo }}\n\nExperience 0\n{{ $('personalLinkedinData').item.json.linkedinExperience0 }}\n\nExperience 1\n{{ $('personalLinkedinData').item.json.linkedinExperience1 }}\n\nExperience 2\n{{ $('personalLinkedinData').item.json.linkedinExperience2 }}"}]},"jsonOutput":true,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1100,2320],"id":"183d57e0-2330-49a3-b32d-94e1a2ffb9ad","name":"Lead Qualification","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.message.content.leadScore }}","rightValue":7,"operator":{"type":"number","operation":"gte"},"id":"9edb5a57-7f29-4e5b-b9da-179bab88eb58"}],"combinator":"and"},"renameOutput":true,"outputKey":"7+ Fit"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"119445ce-4ace-4ca3-ac5c-b499a60b5c55","leftValue":"={{ $json.message.content.leadScore }}","rightValue":6,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"renameOutput":true,"outputKey":"<6 No Fit"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1480,2320],"id":"cce819ed-a2a1-4ed1-af3e-bfbfb28c586d","name":"Switch"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"No Fit","leadScore":"={{ $json.message.content.leadScore }}","reason":"={{ $json.message.content.reason }}","firstName":"={{ $('Apify - Personal Linkedin').item.json.basic_info.first_name }}","lastName":"={{ $('Apify - Personal Linkedin').item.json.basic_info.last_name }}","followers":"={{ $('Apify - Personal Linkedin').item.json.basic_info.follower_count }}","title":"={{ $('Apify - Personal Linkedin').item.json.basic_info.headline }}","description":"={{ $('Apify - Personal Linkedin').item.json.basic_info.about }}","companyName":"={{ $('Company Relevance').item.json.message.content.companyName }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","about":"={{ $('personalLinkedinData').item.json.about }}","linkedinExperience":"={{ $('Company Relevance').item.json.message.content.linkedinExperience }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1480,2580],"id":"0db612a6-4b83-4674-a6ee-ac2fb58b80cd","name":"Update Raw Tab - No Fit","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"No Fit","reason":"={{ $json.error }}","leadScore":"0"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1480,-660],"id":"741b8a2c-98ae-4267-a1ad-3999e822c948","name":"Update Raw Tab - No Fit1","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3360,2980],"id":"6b0930fc-2d7f-4981-8fd3-e3f61729fb78","name":"Wait","webhookId":"7b27ff8d-1196-4561-a0e2-ce17701f9991"},{"parameters":{"content":"Find email","height":620,"width":620,"color":7},"type":"n8n-nodes-base.stickyNote","position":[1840,2240],"typeVersion":1,"id":"1b311828-6503-4019-8a30-81a04d2156b6","name":"Sticky Note15"},{"parameters":{"content":"Future: Add domain only seach from findymail?","height":80,"width":360},"type":"n8n-nodes-base.stickyNote","position":[1960,2520],"typeVersion":1,"id":"fa48b00e-852c-41c6-9c9c-854747f1a857","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"https://app.findymail.com/api/search/name","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer AOWzuUkSYe1V6uzquaTGZcyTp08y5LuUx1aAep048ce22042"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('personalLinkedinData').item.json.fullName }}"},{"name":"domain","value":"={{ $('Company Relevance').item.json.message.content.companyName }}"},{"name":"webhook_url","value":"=https://primary-production-5653.up.railway.app/webhook/findymail-callback?{{ $('Edit Fields').item.json.linkedIdPath }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,2660],"id":"6b79d0dd-fd1e-4ba4-a2d9-59f2baf9f20d","name":"Email from (Name/Company)"},{"parameters":{"method":"POST","url":"https://app.findymail.com/api/search/linkedin","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer AOWzuUkSYe1V6uzquaTGZcyTp08y5LuUx1aAep048ce22042"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"linkedin_url","value":"={{ $('personalLinkedinData').item.json.linkedinUrl }}"},{"name":"webhook_url","value":"=https://primary-production-5653.up.railway.app/webhook/findymail-callback?{{ $('Edit Fields').item.json.linkedIdPath }}"},{"name":"linkedinIdPath","value":"={{ $('personalLinkedinData').item.json.linkedIdPath }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,2320],"id":"5022972f-bf30-421f-a2e6-790b7283c2c8","name":"Email from (LinkedIn URL)"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-540,-900],"id":"a7d68bd7-6bd0-4124-ae57-886403a9e554","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-320,-780],"id":"c98e9efb-affb-4df7-994f-88bb4e950633","name":"Pull raw leads","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful and intelligent lead processing assistant","role":"system"},{"content":"=Your task is to use the lead data provided and determine which company is most relevant for group insurance benefits industry, ideally an agency.\n\n#Guidelines\n- Our leads are from SMB.\n- Your \"reason\" should be 1 sentence, short and concise referencing both the company and url.\n- Ideally then url path should be the relevant company name, not random numbers\n\n\n#Rules\n- The Linkedin Company URL path should be exact page, not a search string\n- For the relevant company, include an exact copy of their Linkedin Experience but in a string without \\n.\n\n#Output\nAlways output in JSON format:\n\n{\n\"companyName\":\"\",\n\"linkedinExperience\":\"\",\n\"companyLinkedinUrl\":\"\",\n\"reason\":\"\"\n}"},{"content":"=Lead Data:\n\n\nLinkedin Experience 0\n{{ $('personalLinkedinData').item.json.linkedinExperience0 }}\n\nLinkedin Company URL: {{ $('personalLinkedinData').item.json.companyLinkedinUrl0 }} or {{ $json.companyLinkedinUrlCurrent }}\n\n\n\nLinkedin Experience 1\n{{ $('personalLinkedinData').item.json.linkedinExperience1 }}\n\nLinkedin Company URL: {{ $('personalLinkedinData').item.json.companyLinkedinUrl1 }}\n\n\n\nLinkedin Experience 2\n{{ $('personalLinkedinData').item.json.linkedinExperience2 }}\n\nLinkedin Company URL: {{ $('personalLinkedinData').item.json.companyLinkedinUrl2 }}\n"}]},"jsonOutput":true,"options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1960,380],"id":"a33d65b0-dbdb-44a9-b119-a6d6fea975f9","name":"Company Relevance","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"63822095-9d69-4dfa-8383-138b3106e8ab","leftValue":"={{ $json.message.content.companyLinkedinUrl }}","rightValue":"None","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2440,440],"id":"43a6e363-8f42-4506-b636-0d232a7c9852","name":"Relevant Linkedin URL"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d4f2d13-8834-4971-8ab6-39a9016ba729","leftValue":"={{ $json.status }}","rightValue":"success","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2200,2660],"id":"00a68bd4-cdc8-4af5-8dca-34ff958a5b98","name":"Email Found2"},{"parameters":{"content":"Update sheets","height":620,"width":340,"color":7},"type":"n8n-nodes-base.stickyNote","position":[2600,2240],"typeVersion":1,"id":"56e793f2-6194-4c60-a328-8d26a8d9141f","name":"Sticky Note16"},{"parameters":{"content":"Pre-Filter","height":520,"width":1060,"color":7},"type":"n8n-nodes-base.stickyNote","position":[740,-860],"typeVersion":1,"id":"07559f28-5f6d-47be-ae25-ec2178f858cf","name":"Sticky Note3"},{"parameters":{"jsCode":"const data = $json.data;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  if (typeof html !== 'string') {\n    return '';\n  }\n  return html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nlet extractedText = extractTextFromHTML(data);\n\n// Limit to 4000 words\nconst words = extractedText.split(' ');\nif (words.length > 4000) {\n  extractedText = words.slice(0, 4000).join(' ');\n}\n\nreturn { text: extractedText };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,1040],"id":"8c29859a-edfa-489f-9a1a-f93cd1f042b1","name":"Text extract (<4k words)","alwaysOutputData":false,"retryOnFail":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're a helpful, intelligent website scraping assistant.","role":"system"},{"content":"=You're provided a scrape of a LinkedIn company page. Your task is to extract the relevant information.\n\nReturn in this JSON format:\n{\"companyName\":\"company name goes here\"}\n{\"companySubtitle\":\"subtitle below company name goes here\"}\n{\"companySize:\":\"Company size goes here\"}\n{\"linkedinFollowers\":\"followers count goes here\"}\n{\"companyWebsite\":\"company website goes here\"}\n{\"companyLinkedinOverview\":\"comapny overview goes here\"}\n{\"recentPost\":\"Posts and content goes here\"}\n{\"validLinkedinPage\":\"True or False\"}\n\nRules:\n- If either is companyLinkedin or recentPost has no data, then output \"no content\"\n- If the page is not from a profile, as as 404, login page, etc then output \"validLinkedinPage\" as \"False\"\n- Post must be no older than 4 weeks old from todays date: {{ $now }}\n- Include date with and posts or content\n\nLinkedIn Company Page: \n{{ $json.text }}"}]},"jsonOutput":true,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1740,1040],"id":"1947e7d1-5a84-4b40-9412-974e36ea0edd","name":"Extract company LinkedIn data","retryOnFail":true,"credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe386e71-beca-424f-a292-c92e539635de","name":"companyLinkedinUrlCurrent","value":"={{ $json.companyLinkedinUrlCurrent }}","type":"string"},{"id":"4f96165e-3773-475f-bade-85f7ecd81eb4","name":"urlValid","value":"True","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1780,180],"id":"5b5bfb66-2ba8-4fee-995a-d30d7a1e0e6e","name":"Valid Current Company LinkedIn Url"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[900,2320],"id":"795fbe66-00d7-4436-b8b2-7b591426bbcd","name":"Merge"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-540,-660],"id":"d36e3edf-281f-454d-acc6-b3a2a5feecf7","name":"Schedule Trigger"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('personalLinkedinData').item.json.linkedIdPath }}","status":"Qualified - Error sending to FindyMail","reason":"={{ $('Lead Qualification').item.json.message.content.reason }}","leadScore":"={{ $('Lead Qualification').item.json.message.content.leadScore }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","about":"={{ $('personalLinkedinData').item.json.about }}","linkedinExperience":"={{ $('Company Relevance').item.json.message.content.linkedinExperience }}","firstName":"={{ $('personalLinkedinData').item.json.firstName }}","lastName":"={{ $('personalLinkedinData').item.json.lastName }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2720,2600],"id":"1742773a-513a-4696-8b64-e1cb70ee79f8","name":"Update Raw Tab - Error","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('personalLinkedinData').item.json.linkedIdPath }}","status":"Qualified - Email Not Found","reason":"={{ $('Lead Qualification').item.json.message.content.reason }}","leadScore":"={{ $('Lead Qualification').item.json.message.content.leadScore }}","fullName":"={{ $('personalLinkedinData').item.json.fullName }}","about":"={{ $('personalLinkedinData').item.json.about }}","linkedinExperience":"={{ $('Company Relevance').item.json.message.content.linkedinExperience }}","firstName":"={{ $('personalLinkedinData').item.json.firstName }}","lastName":"={{ $('personalLinkedinData').item.json.lastName }}","companyName":"={{ $('Company Relevance').item.json.message.content.companyName }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2720,2320],"id":"12388c01-7533-44e7-93bd-6a88ea9db88c","name":"Update Raw Tab - Success (email not found)","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d4f2d13-8834-4971-8ab6-39a9016ba729","leftValue":"={{ $json.status }}","rightValue":"success","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2200,2320],"id":"4a1fa879-8843-478f-84cc-2024e56d4cd9","name":"Linkedin URL Sent"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $json.linkedIdPath }}","status":"Processing..."},"matchingColumns":["linkedIdPath"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[840,-720],"id":"ec8b9c62-f058-468b-8743-3642d95d9d2b","name":"Update Raw Tab - Processing","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('Edit Fields').item.json.linkedIdPath }}","status":"No Fit","reason":"=Personal Linkedin 404","leadScore":"0"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1260,460],"id":"a474f402-a32a-4fa8-86a0-9dcb90f78d02","name":"Update Raw Tab - 404","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d205698b-4064-4c78-ac7d-eaf6df1e1ac7","leftValue":"={{ $json.firstName }}","rightValue":"null ,","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"d409bcb2-20a6-4fde-b70f-99d3978b6426","leftValue":"={{ $json.lastName }}","rightValue":"null ,","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,120],"id":"e74604ce-9d3a-4955-8090-8f14901ce06f","name":"Personal Linkedin Exists"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"20f00387-654c-4881-98b2-dd64cfda1fdd","leftValue":"={{ $json[\"companyLinkedinUrlCurrent\"] && $json[\"companyLinkedinUrlCurrent\"].toLowerCase() !== \"null\" && $json[\"companyLinkedinUrlCurrent\"].match(/^https?:\\/\\/[^\\s/$.?#].[^\\s]*$/i) !== null }}","rightValue":"=true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1540,240],"id":"5c23e638-e4e0-4b2b-b166-80f30bbfd579","name":"Valid Company URL"},{"parameters":{"content":"Add manual filter if over X size company","color":6},"type":"n8n-nodes-base.stickyNote","position":[3260,1120],"typeVersion":1,"id":"b98c7fcc-384e-4e57-8379-e6a4c7ba8457","name":"Sticky Note1"},{"parameters":{"content":"Company website","height":380,"width":2440,"color":7},"type":"n8n-nodes-base.stickyNote","position":[780,1500],"typeVersion":1,"id":"1910ac7d-4dab-40a6-ac3d-45bd6548ac50","name":"Sticky Note4"},{"parameters":{"url":"={{ $json.message.content.searchURL }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"fe6e971b-e614-4f7d-8b0f-3b21623d0bd7","name":"Scrape Home","type":"n8n-nodes-base.httpRequest","position":[1840,1640],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You're a helpful, intelligent website scraping assistant.","role":"system"},{"content":"=You're provided a scrape of a company homepage. Your task is to extract the most likely email for: {{ $('personalLinkedinData').item.json.fullName }} who works at this company.\n\n\nRules:\n- Return a single email\n- If empty, just output \"no content\".\n\n\nHomepage Content:\n{{ $json.text }}\n"}]},"jsonOutput":true,"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2340,1640],"id":"c3755d57-1f26-4df9-86b9-b9f95cdec357","name":"Extract company homepage data","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"content":"Swap out with cheaper option: https://console.apify.com/actors/yZnhB5JewWf9xSmoM/\n\n$3 per 1k + gets company profile"},"type":"n8n-nodes-base.stickyNote","position":[820,-220],"typeVersion":1,"id":"119daa45-2d46-45f4-8239-b75041a3ac99","name":"Sticky Note5"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/563JCPLOqM1kMmbbP/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_0JMczG9Mud0RKCpIcA5p8HQQWhb37N3mBzny"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"country\": \"US\",\n    \"keyword\": \"{{ $('Edit Fields').item.json.title }}\",\n    \"limit\": \"20\",\n    \"page\": 1\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,1640],"id":"8b2c1fff-c207-4675-a85b-ac99bcf15230","name":"Apify - Google Company Search"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful and intelligent search assistant.","role":"system"},{"content":"=Your task is to go through the Google search results and find the correct company website for this lead:\n\nName: {{ $('personalLinkedinData').item.json.fullName }}\nTitle: {{ $('Edit Fields').item.json.title }}\nCompany: {{ $('Company Relevance').item.json.message.content.companyName }}\n\n\nRules:\n- Return 1 clean URL for the homepage without /path\n- It must not be Linkedin, Facebook, or other social platform.\n- If none can be found, output searchURL as  \"None\"\n- Always output in this formant\n\n{\"searchURL\":\"URL goes here\"}\n\n\n"},{"content":"=Google Search Results:\n\n{{ \n  $json.results.map(result => \n    `Title: ${result.title}\\nURL: ${result.url}\\nDescription: ${result.description}`\n  ).join('\\n\\n') \n}}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1140,1640],"id":"c6e85b25-34a5-4aa4-86e6-3a7cb3a09c44","name":"Relevant Google Result","credentials":{"openAiApi":{"id":"EtJ9FnxqrmpldhIX","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c30795a-4246-4e07-b7a2-377739875e4c","leftValue":"={{ $json.message.content.searchURL }}","rightValue":"None","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1500,1640],"id":"edc85b50-b93f-4b40-aacb-fa34ca4b3f40","name":"If"},{"parameters":{"content":"Or just create new Create new workflow thats triggered if lead is qualifed, no email exisitts (add 2min delay) so findymail can run. Setup later (not neccessary now)\n\nDUPLICATE FROM HISTORY?\n\nThink MVP\n\nSimplify back to no website scrape - was working well. Update SERP scrap to cheaper apify $1 per 1k","height":240,"color":7},"type":"n8n-nodes-base.stickyNote","position":[3280,1620],"typeVersion":1,"id":"8dba027b-f0af-4a7c-92b9-58779759f0c3","name":"Sticky Note6"},{"parameters":{"jsCode":"const data = $json.data;\n\n// Function to extract text from HTML while removing unnecessary spaces\nfunction extractTextFromHTML(html) {\n  // Remove script, style, and other non-visible tags\n  const cleanedHTML = html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '') // Remove script tags\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')   // Remove style tags\n    .replace(/<[^>]+>/g, '')                            // Remove all other HTML tags\n    .replace(/\\s+/g, ' ')                               // Replace multiple spaces with a single space\n    .trim();                                            // Trim leading and trailing spaces\n  return cleanedHTML;\n}\n\n// Extract text from the input HTML\nlet extractedText = extractTextFromHTML(data);\n\n// Limit to 5000 words\nconst words = extractedText.split(' ');\nif (words.length > 5000) {\n  extractedText = words.slice(0, 5000).join(' ');\n}\n\n// Log or return the extracted text for debugging\nconsole.log(extractedText);\n\n// Return the extracted text as output\nreturn { text: extractedText };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2100,1640],"id":"589359a7-721d-46e4-a72a-b770a7b12029","name":"Text extract (<5k words)"},{"parameters":{"assignments":{"assignments":[{"id":"4d927285-2ef7-4802-9fb3-7331297be90e","name":"emailFromWebsite","value":"={{ $json.message.content.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2700,1640],"id":"0fd96d2f-f9cf-4156-bf9c-4681325baf75","name":"Email From Website"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('personalLinkedinData').item.json.linkedIdPath }}","companySubtitle":"={{ $json.companySubtitle }}","companySize":"={{ $json.companySize }}","companyFollowers":"={{ $json.linkedinFollowers }}","website":"={{ $json.companyWebsite }}","companyLinkedinOverview":"={{ $json.companyLinkedinOverview }}","companyRecentPosts":"={{ $json.recentPost }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2640,1060],"id":"58668ab1-3767-47d7-aef5-71ad92a8f7da","name":"Update Raw Tab - companyLinkedinData","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1035816780,"mode":"list","cachedResultName":"raw","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1035816780"},"columns":{"mappingMode":"defineBelow","value":{"linkedIdPath":"={{ $('personalLinkedinData').item.json.linkedIdPath }}","email":"={{ $json.emailFromWebsite }}"},"matchingColumns":["linkedIdPath"],"schema":[{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"leadScore","displayName":"leadScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"serpRank","displayName":"serpRank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinUrl","displayName":"linkedinUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedIdPath","displayName":"linkedIdPath","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedinExperience","displayName":"linkedinExperience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySize","displayName":"companySize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyFollowers","displayName":"companyFollowers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companySubtitle","displayName":"companySubtitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLinkedinOverview","displayName":"companyLinkedinOverview","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyRecentPosts","displayName":"companyRecentPosts","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2940,1640],"id":"7f60fce8-cf72-4ab5-98ae-3cf65b9566fb","name":"Update Raw Tab - emailFromWebsite","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8abf1b41-b3b2-45cd-80ae-5b9705dcee42","leftValue":"={{ $json.message.content.validLinkedinPage }}","rightValue":"False","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2100,1040],"id":"df03e7d3-096c-41b4-a1ac-e4f558d75dbe","name":"If1"}],"connections":{"Filter":{"main":[[{"node":"DELETE","type":"main","index":0}]]},"DELETE":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Keyword Filter":{"main":[[{"node":"Apify - Personal Linkedin","type":"main","index":0}],[{"node":"Update Raw Tab - No Fit1","type":"main","index":0}]]},"Apify - Personal Linkedin":{"main":[[{"node":"personalLinkedinData","type":"main","index":0}]]},"Company Linkedin1":{"main":[[{"node":"Company Exists","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Update Raw Tab - Processing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Keyword Filter","type":"main","index":0}]]},"Company Exists":{"main":[[{"node":"Text extract (<4k words)","type":"main","index":0}],[{"node":"Apify - Google Company Search","type":"main","index":0}]]},"CompanyLinkedinData":{"main":[[{"node":"Merge","type":"main","index":2},{"node":"Update Raw Tab - companyLinkedinData","type":"main","index":0}]]},"personalLinkedinData":{"main":[[{"node":"Personal Linkedin Exists","type":"main","index":0}]]},"Lead Qualification":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Email from (LinkedIn URL)","type":"main","index":0}],[{"node":"Update Raw Tab - No Fit","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Email from (Name/Company)":{"main":[[{"node":"Email Found2","type":"main","index":0}]]},"Email from (LinkedIn URL)":{"main":[[{"node":"Linkedin URL Sent","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Pull raw leads","type":"main","index":0}]]},"Pull raw leads":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Company Relevance":{"main":[[{"node":"Relevant Linkedin URL","type":"main","index":0}]]},"Relevant Linkedin URL":{"main":[[{"node":"Company Linkedin1","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]},"Email Found2":{"main":[[],[]]},"Update Raw Tab - No Fit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Text extract (<4k words)":{"main":[[{"node":"Extract company LinkedIn data","type":"main","index":0}]]},"Extract company LinkedIn data":{"main":[[{"node":"If1","type":"main","index":0}]]},"Valid Current Company LinkedIn Url":{"main":[[{"node":"Company Relevance","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Lead Qualification","type":"main","index":0}]]},"Update Raw Tab - No Fit1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[]]},"Update Raw Tab - Error":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Update Raw Tab - Success (email not found)":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Linkedin URL Sent":{"main":[[{"node":"Update Raw Tab - Success (email not found)","type":"main","index":0}],[{"node":"Update Raw Tab - Error","type":"main","index":0}]]},"Update Raw Tab - Processing":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Personal Linkedin Exists":{"main":[[{"node":"Valid Company URL","type":"main","index":0}],[{"node":"Update Raw Tab - 404","type":"main","index":0}]]},"Valid Company URL":{"main":[[{"node":"Valid Current Company LinkedIn Url","type":"main","index":0}],[{"node":"Company Relevance","type":"main","index":0}]]},"Scrape Home":{"main":[[{"node":"Text extract (<5k words)","type":"main","index":0}]]},"Apify - Google Company Search":{"main":[[{"node":"Relevant Google Result","type":"main","index":0}]]},"Relevant Google Result":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Scrape Home","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Extract company homepage data":{"main":[[{"node":"Email From Website","type":"main","index":0}]]},"Text extract (<5k words)":{"main":[[{"node":"Extract company homepage data","type":"main","index":0}]]},"Email From Website":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Update Raw Tab - emailFromWebsite","type":"main","index":0}]]},"Update Raw Tab - 404":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If1":{"main":[[{"node":"CompanyLinkedinData","type":"main","index":0}],[{"node":"Apify - Google Company Search","type":"main","index":0}]]},"Update Raw Tab - emailFromWebsite":{"main":[[]]},"Update Raw Tab - companyLinkedinData":{"main":[[]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Zurich","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8xhzkyv362CgoE4n"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc","sheetId":293223305,"lastRevision":9459,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1D0V0Q1aF9_UqZnVwg7Ij3_9a1JRtx68ugvt6Gl56lKc&revision=9459&exportFormat=xlsx"},"node:Pull Raw Leads":{"documentId":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","sheetId":1035816780,"lastRevision":818,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA&revision=818&exportFormat=xlsx"},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2d1efa89-4da0-472a-9eac-2bb0ae37ecd1","triggerCount":1,"tags":[{"createdAt":"2025-05-02T08:48:30.160Z","updatedAt":"2025-05-02T08:48:30.160Z","id":"o94kWMLfcwoYeZvk","name":"Cold Email"},{"createdAt":"2025-05-31T13:54:34.864Z","updatedAt":"2025-05-31T13:54:34.864Z","id":"0izNGdR9nZqKab3U","name":"EB3"}]}