my-workflow-YUJLGhCnAbCcBfu1.json
{"createdAt":"2025-06-10T08:30:51.656Z","updatedAt":"2025-06-10T09:04:59.790Z","id":"YUJLGhCnAbCcBfu1","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-180,-100],"id":"3d8e76e4-4f4e-4606-a61c-bfb3077d2786","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":907693743,"mode":"list","cachedResultName":"clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=907693743"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[40,-100],"id":"58bc558a-abd7-4e01-8395-8b53bbebbff3","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"batchSize":25,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[520,-100],"id":"b5920a91-da1b-4af2-8545-3d42da906438","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"d5d2e27a-30eb-47a4-b1f7-75f4df433df8","name":"extractedDomain","value":"={{ $json[\"email\"].split(\"@\")[1] }}","type":"string"},{"id":"f763d8a9-013f-41fa-8196-4e63c0dda758","name":"email","value":"={{ $json.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,0],"id":"88619980-c22c-466f-a43f-42684196752f","name":"Edit Fields"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1180,0],"id":"2546ffcb-bddf-491a-b55b-dd3ff3362b4a","name":"Wait","webhookId":"ba501cdc-c774-4e2b-8cfc-bdf9f341bf59"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":907693743,"mode":"list","cachedResultName":"clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=907693743"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $json.email }}","website":"={{ $json.extractedDomain }}"},"matchingColumns":["email"],"schema":[{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"eb3CrmStatus","displayName":"eb3CrmStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[960,0],"id":"e82d15f0-6ca5-4aa2-b13d-9a59dc9d02e2","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e7801382-a839-436c-9f83-92d57cf90bb7","leftValue":"={{ $json.website }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[260,-100],"id":"2a406d2f-9502-45b9-bbb3-bfcfd97751eb","name":"No website"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"No website","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"No website":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c2fad69c-2466-46b6-935d-49d0768e00fe","triggerCount":0,"tags":[]}