my-workflow-3-MJo9bdxPoXH8uxhd.json
{"createdAt":"2025-06-15T10:23:05.464Z","updatedAt":"2025-06-15T10:23:05.464Z","id":"MJo9bdxPoXH8uxhd","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-280,740],"id":"a3d365ea-635f-4552-b491-43b0866e5ff3","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1617801136,"mode":"list","cachedResultName":"Google: Locations","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1617801136"},"filtersUI":{"values":[{"lookupColumn":"status","lookupValue":"Generate String"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[0,0],"id":"933b889c-37b3-42c5-89d9-304e4b09919a","name":"Pull Location","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1421262802,"mode":"list","cachedResultName":"Google: Keywords","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1421262802"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[0,280],"id":"857b2ff2-c587-448b-8de4-a58ded3b350b","name":"Pull Keywords","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e009845b-a828-4a7a-a8cc-966eeeba11b7","name":"location","value":"={{ $json.city }} {{ $json.stateId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,0],"id":"6f775077-8ba2-4db8-b179-bd836ffb1966","name":"location"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[480,140],"id":"057a39f3-6efc-4970-b8cc-65132b9ac8cc","name":"Batch 1"},{"parameters":{"assignments":{"assignments":[{"id":"c6760fe3-c95c-4dcb-8434-2f9a6612d1e2","name":"keyword","value":"={{ $json.keyword }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,280],"id":"ff5a1200-e7ca-4dce-9693-7b3453279b72","name":"keyword"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[440,740],"id":"3038da87-60a0-4e9d-97a0-e5c04f6df69e","name":"Combine Location with Keywords"},{"parameters":{"assignments":{"assignments":[{"id":"new-search-string","name":"searchString","value":"={{ $json.keyword }} {{ $json.location }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,740],"id":"529dbc4b-8753-4623-8335-059a1631e900","name":"Create Search Strings"},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1617801136,"mode":"list","cachedResultName":"Google: Locations","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1617801136"},"filtersUI":{"values":[{"lookupColumn":"status","lookupValue":"Generate String"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-40,600],"id":"c78ac679-46ac-4460-8287-82483d29ecbf","name":"Pull Location1","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA","mode":"list","cachedResultName":"EB3 CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1421262802,"mode":"list","cachedResultName":"Google: Keywords","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11migBK0MA3HMeTMEa22XW8mrDlN_uqV7YB8InlVsunA/edit#gid=1421262802"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-40,880],"id":"eb75aa22-1a42-47b4-82cf-eb8c1131490b","name":"Pull Keywords1","credentials":{"googleSheetsOAuth2Api":{"id":"RT7pubaolR1xajR0","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e009845b-a828-4a7a-a8cc-966eeeba11b7","name":"location","value":"={{ $json.city }} {{ $json.stateId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,600],"id":"eb02077d-ad73-4b8c-8e0e-79cf801144e0","name":"location1"},{"parameters":{"assignments":{"assignments":[{"id":"c6760fe3-c95c-4dcb-8434-2f9a6612d1e2","name":"keyword","value":"={{ $json.keyword }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,880],"id":"ded61cfa-a9d9-4e93-8195-c11e5d0fe602","name":"keyword1"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Pull Location1","type":"main","index":0},{"node":"Pull Keywords1","type":"main","index":0}]]},"Pull Location":{"main":[[{"node":"location","type":"main","index":0}]]},"Pull Keywords":{"main":[[{"node":"keyword","type":"main","index":0}]]},"location":{"main":[[{"node":"Batch 1","type":"main","index":0}]]},"keyword":{"main":[[{"node":"Batch 1","type":"main","index":1}]]},"Combine Location with Keywords":{"main":[[{"node":"Create Search Strings","type":"main","index":0}]]},"Pull Location1":{"main":[[{"node":"location1","type":"main","index":0}]]},"Pull Keywords1":{"main":[[{"node":"keyword1","type":"main","index":0}]]},"location1":{"main":[[{"node":"Combine Location with Keywords","type":"main","index":0}]]},"keyword1":{"main":[[{"node":"Combine Location with Keywords","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Pull Location":[{"json":{"row_number":2,"status":"Generate String","city":"Garland","stateId":"TX","stateName":"Texas","county":"Dallas","lat":32.91,"lng":-96.6304,"population":245298,"timeStamp":"","searchString":""}}],"Pull Keywords":[{"json":{"row_number":2,"keyword":"employee benefits insurance agency"}},{"json":{"row_number":3,"keyword":"employee benefits broker"}}],"location":[{"json":{"location":"Garland TX"}}],"location1":[{"json":{"location":"Garland TX"}}]},"versionId":"7a62eaa6-024d-40a8-9581-044277cd5354","triggerCount":0,"tags":[]}